/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Hero Home



Markup: ../../../templates/components/hero-home.html.twig

Style guide: components.hero-home
*/
.home-hero {
  &__image {
    img{
      width: 100%;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    }
  }
  &__title {
    margin-top: 2rem;
    @include heading-title($font-large, $maroon, 'left');
  }
  @include media-breakpoint-up(lg) {
    &__image {

    }
    &__intro {
      margin-top: 0;
      position: relative;
      margin-right: -8.4%;
      z-index: 1;
    }
    &__subhead {
      padding-right: 40%;
    }
  }
}