/**
 * @file
 * Visual styles for heros in Barrio.
 */
/* Homepage and Exec Ed page hero */
.home-hero {
  &__image {
    img{
      width: 100%;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    }
  }
  &__title {
    margin-top: 2rem;
    @include heading-title($font-large, $maroon, 'left');
  }
  &__subhead {
    margin-bottom: 3rem;
  }
  @include media-breakpoint-up(lg) {
    &__image {

    }
    &__intro {
      margin-top: 0;
      position: relative;
      margin-right: -8.4%;
      z-index: 1;
    }
    &__subhead {
      padding-right: 40%;
      margin-bottom: 0;
    }
  }
}
/* Program page hero */
.hero-program{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  .img-wrapper{
    background-color: transparent;
    padding: 0px;
    img{
      width: 100%;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    }
  }
  .content-wrapper{
    position: relative;
    padding: 15px 30px;
    background: transparent;
    h2{
      color: #363230;
      @include font-crimson-base();
      font-size: 3.8rem;
      font-weight: 400;
      line-height: 3.8rem;
      position: relative;
      margin-bottom: 30px;
      &:after{
        content: '';
        height: 2px;
        width: 100px;
        display: block;
        background: #7a0019;
      }
    }
    p{}
    .post-col{
      float: left;
      .date{
        font-weight: 700;
        color: #363230;
        @include font-lato-base();
        font-size: 16px;
        font-style: italic;
      }
      .author{
        font-weight: 400;
        color: #363230;
        @include font-lato-base();
        font-size: 16px;
        font-style: italic;
      }
    }
    .share-col{
      float: left;
      .share-this{
        color: #363230;
        @include font-lato-base();
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.78px;
      }
    }
  }
  .cta-wrapper{
    width: 100%;
    z-index: 100;
    min-height: 100px;
    position: relative;
    display: flex;
    .cta-container{
      background-color: #ffcc33;
      position: absolute;
      min-height: 100px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 133.33333%;
      padding: 15px 30px;
      background-image: url('../images/bg/hero_bg.png');
      background-size: contain;
      background-position: top left;
      background-repeat: no-repeat;
      a{
        color: #363230;
        @include font-lato-base();
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.78px;
      }
    }
  }
}

.basic-hero {
  &__img {
    margin-bottom: -5rem;
  }
  &__title {
    text-align: center;
    border-bottom: solid 1px #D8D8D8;
    h1 {
      margin-bottom: 2rem;
    }
  }
  &__title-inner{
    padding: 20px;
    background: $white;
  }
  &__pub {
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  &__share {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.78px;
  }
  @include media-breakpoint-up(md) {
    &__title {
      text-align: left;
    }
    &__title-inner {
      margin: 0 20px;
      padding: 20px 30px;
    }
    &__pub {
      text-align: left;

    }
    &__share {
      text-align: left;

    }
  }
}
