/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Hero Basic



Markup: ../../../templates/components/hero-basic.html.twig

Style guide: components.hero-basic
*/

.hero-basic{
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .img-wrapper{
      background-color: #d8d8d8;
      padding: 0px;
      margin-bottom: -75px;
      img{
        width: 100%;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
      }
    }
    .content-wrapper{
      padding: 15px 8.33333%;
      background: #fff;
      h2{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 3.8rem;
        position: relative;
        margin-bottom: 30px;
      }
      p{}
      .post-col{
        float: left;
        .date{
          font-weight: 700;
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          font-style: italic;
        }
        .author{
          font-weight: 400;
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          font-style: italic;
        }
      }
      .share-col{
        float: left;
        .share-this{
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.78px;
        }
      }
    }
  }
}
