/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Quote


Markup: ../../../templates/components/quote.html.twig

Style guide: components.quote
*/


// KSS override Quote
.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  .col-centered{

    .quote__img{}
    .quote__text{
      color: #363230;
      font-family: "Crimson Text";
      font-size: 36px;
      line-height: 44px;
    }
    .quote__source{
      color: #e6dbd6;
      font-family: "Lato";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
