
.sidebar-cta {
	background: $maroon;
	> div {

	}
	a {
		color: $white;
		text-transform: uppercase;
		font-size: 1.2rem;
	}
	.icon-attend {

	}
	.icon-apply {

	}
	.icon-request {

	}
	@include media-breakpoint-up(lg) {
		margin-right: 0px;
	}
}