/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Stats

Markup: ../../../templates/components/stats.html.twig

.stats  - This is a stats component

Style guide: components.stats
*/
.stats{
  background-image: linear-gradient(180deg, #f7f4f2 0%, #ffffff 100%);
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
        align-items: center;
text-align: center;
display: -ms-flexbox;
display: flex;

  h2{
    color: #363230;
  font-family: "Crimson Text";
  font-size: 48px;
  font-weight: 400;
  line-height: 42px;
  padding-top: 72px;
  padding-bottom: 50px;
  }
  .center-col{
      margin: 0 auto;
      padding-bottom: 50px;
  p{
    color: #363230;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  }
}
  .stats-col-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    div{
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 30px;
      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }
        .stats-col-container{
          box-shadow: 0 6px 30px rgba(230, 219, 214, 0.7);
          background-color: #f7f4f2;
          padding: 15px;
          min-height: 350px;
        h5{
          color: #7a0019;
          font-family: "Crimson Text";
          font-size: 80px;
          font-weight: 400;
          line-height: 60px;
          padding-bottom: 15px;
          &:after {
            content: '';
            height: 2px;
            width: 100px;
            display: block;
            background: #ffcc33;
            margin: 15px auto;
          }
        }
        p{
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}
