// MIXINS

@mixin focus-visible() {
  outline: 0;
  box-shadow: $focus-visible-box-shadow;
}

@mixin focus-visible-rounded() {
  @include focus-visible();
  border-radius: 2px;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin sr-only-table {
  @include sr-only;
  * {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// Font mixins embellished headings
@mixin heading-title(
  $size: $font-medium,
  $color: $gold,
  $align: "center",
  $include_after: "true"
) {
  //@include font-newsreader-base();
  @include font-base-heading($font-large-mobile);

  word-break: break-word;
  font-size: $font-large-mobile;
  //line-height: 110%;
  @include media-breakpoint-up(md) {
    font-size: $size;
    //line-height: 110%;
  }

  position: relative;
  margin-bottom: 15px;

  @if ($color != "none" and $include_after != "false") {
    &::after {
      content: "";
      height: 2px;
      width: 100px;
      display: block;
      background: $color;

      @if ($align == "center") {
        margin: 2.4rem auto 0;
      } @else {
        margin-top: 1.6rem;
      }
    }
  }
}

@mixin font-newsreader-base() {
  font-family: $font-family-serif;
}

@mixin font-open-sans-base() {
  font-family: $font-family-sans-serif;
}

@mixin font-sans-serif-base() {
  @include font-open-sans-base();
}

@mixin sans-serif-font($size) {
  @include font-open-sans-base();

  font-size: $font-large-mobile;
  line-height: $font-large-mobile;

  @include media-breakpoint-up(lg) {
    font-size: $size;
    line-height: $size;
  }
}

@mixin serif-font($size) {
  @include font-newsreader-base();

  font-size: $font-large-mobile;
  line-height: $font-large-mobile;

  @include media-breakpoint-up(lg) {
    font-size: $size;
    line-height: $size;
  }
}

@mixin font-base-heading($size: 6rem) {
  font-family: $font-family-serif;
  font-size: $size;
  line-height: 1.15em;
  font-weight: 300;
}

@mixin font-base-call-out() {
  font-family: $font-family-sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  letter-spacing: 1.6px;
  font-weight: 600;
  text-transform: capitalize;
}

// Legacy bootstrap button variants
// @mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
//   color: color-yiq($background);
//   @include gradient-bg($background);
//   border-color: $border;

//   &:hover {
//     color: color-yiq($hover-background);
//     @include gradient-bg($hover-background);
//     border-color: $hover-border;
//   }

//   &:focus {
//     color: color-yiq($hover-background);
//     @include gradient-bg($hover-background);
//     border-color: $hover-border;
//   }

//   // Disabled comes first so active can properly restyle
//   &.disabled,
//   &:disabled {
//     color: color-yiq($background);
//     background-color: $background;
//     border-color: $border;
//     // Remove CSS gradients if they're enabled
//     @if $enable-gradients {
//       background-image: none;
//     }
//   }

//   &:not(:disabled):not(.disabled):active,
//   &:not(:disabled):not(.disabled).active,
//   .show > &.dropdown-toggle {
//     color: color-yiq($active-background);
//     background-color: $active-background;
//     border-color: $active-border;
//   }
// }

// @mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
//   color: $color;
//   border-color: $color;

//   &:hover {
//     color: $color-hover;
//     background-color: $active-background;
//     border-color: $active-border;
//   }

//   &:focus {
//     box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
//   }

//   &:focus-visible {
//     outline: 0;
//     border-radius: 2px;
//     box-shadow:
//       0 0 0 1px $white,
//       0 0 0 2px $cyan,
//       0 0 0 calc(2px + 0.35rem) rgba($cyan, 0.4);
//   }

//   &.disabled,
//   &:disabled {
//     color: $color;
//     background-color: transparent;
//   }

//   &:not(:disabled):not(.disabled):active,
//   &:not(:disabled):not(.disabled).active,
//   .show > &.dropdown-toggle {
//     color: color-yiq($active-background);
//     background-color: $active-background;
//     border-color: $active-border;
//   }
// }

// Inner page width settings for narrow and wide insets
@mixin page-inset($inset) {
  max-width: $inset;

  @include media-breakpoint-up(lg) {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin bold_link($font-size: "initial", $color: $maroon) {
  @include font-sans-serif-base();

  font-weight: 700;
  letter-spacing: 1.78px;
  color: $color;
  text-transform: capitalize;

  @if ($font-size != "initial") {
    font-size: $font-size;
  }
}

@mixin accordion-icon($icon, $color) {
  @include carlson-icons($icon);

  color: $color;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  position: absolute;
  background: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  left: 2.5rem;
  top: unset;

  @include media-breakpoint-down(md) {
    left: 1.25rem;
  }
}

// Icon font
@mixin carlson-icons($icon) {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;
}

// Targetting only IE11 https://gist.github.com/tcrammond/99fd936007685dba97b7
@mixin target-metro {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

//Override of the rfs mixin to set a max font size
// Responsive font size mixin
@mixin rfs($fs, $important: false) {
  // Cache $fs unit
  $fs-unit: if(type-of($fs) == "number", unit($fs), false);

  // Add !important suffix if needed
  $rfs-suffix: if($important, " !important", "");

  // If $fs isn't a number (like inherit) or $fs has a unit (not px or rem, like 1.5em) or $ is 0, just print the value
  @if not $fs-unit or $fs-unit != "" and $fs-unit != "px" and $fs-unit != "rem" or $fs == 0 {
    font-size: #{$fs}#{$rfs-suffix};
  }
  @else {
    // Remove unit from $fs for calculations
    @if $fs-unit == "px" {
      $fs: divide($fs, $fs * 0 + 1);
    }
    @else if $fs-unit == "rem" {
      $fs: divide($fs, divide($fs * 0 + 1, $rfs-rem-value));
    }

    // Set default font size
    $rfs-static: if($rfs-font-size-unit == rem, #{divide($fs, $rfs-rem-value)}rem, #{$fs}px);

    // Only add the media query if the font size is bigger than the minimum font size
    @if $fs <= $rfs-base-font-size or not $enable-responsive-font-sizes {
      font-size: #{$rfs-static}#{$rfs-suffix};
    }
    @else {
      // Calculate the minimum font size for $fs
      $fs-min: $rfs-base-font-size + divide($fs - $rfs-base-font-size, $rfs-factor);

      // Calculate difference between $fs and the minimum font size
      $fs-diff: $fs - $fs-min;

      // Base font-size formatting
      $min-width: if($rfs-font-size-unit == rem, #{divide($fs-min, $rfs-rem-value)}rem, #{$fs-min}px);

      // Use `vmin` if two-dimensional is enabled
      $variable-unit: if($rfs-two-dimensional, vmin, vw);

      // Calculate the variable width between 0 and $rfs-breakpoint
      $variable-width: #{divide($fs-diff * 100, $rfs-breakpoint)}#{$variable-unit};

      // Set the calculated font-size
      $rfs-fluid: calc(#{$min-width} + #{$variable-width}) #{$rfs-suffix};

      // Breakpoint formatting
      $mq-value: if($rfs-breakpoint-unit == px, #{$rfs-breakpoint}px, #{divide($rfs-breakpoint, $rfs-rem-value)}#{$rfs-breakpoint-unit});

      @include _rfs-disable-class {
        font-size: #{$rfs-static}#{$rfs-suffix};
      }

      @include _rfs-media-query($mq-value) {
        @include _rfs-enable-class {
          font-size: $rfs-fluid;
        }

        // Include safari iframe resize fix if needed
        min-width: if($rfs-safari-iframe-resize-bug-fix, (0 * 1vw), null);
      }
    }
  }
}
