// TYPOGRAPHY

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
  list-style-type: disc;
}

ul,
ol {
  li {
    margin-bottom: 1rem;
  }
}

a {
  font-weight: 600;

  p {
    font-weight: 400;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  line-height: 1.2;

  a {
    font-weight: 300;
  }
}

h1,
.h1 {
  //@include rfs($h1-font-size);
  font-size: 5rem;
  font-size: Min(5rem, calc(1.625rem + 4.03286vw));
}

h2,
.h2 {
  //@include rfs($h2-font-size);
  font-size: 4.2rem;
  font-size: Min(4.2rem, calc(1.545rem + 3.17252vw));
}

h3,
.h3 {
  //@include rfs($h3-font-size);
  font-size: 3.4rem;
  font-size: Min(3.4rem, calc(1.465rem + 2.31217vw));
}

h4,
.h4 {
  //@include rfs($h4-font-size);
  font-size: 2.5rem;
  font-size: Min(2.5rem, calc(1.375rem + 1.34429vw));
}

h5,
.h5 {
  //@include rfs($h5-font-size);
  font-size: 2rem;
  font-size: Min(2rem, calc(1.325rem + 0.80657vw));
}
h6,
.h6 {
  //@include rfs($h6-font-size);
  font-size: 1.6rem;
  font-size: Min(1.6rem, calc(1.285rem + 0.3764vw));
}
