// TYPOGRAPHY

a {
  font-weight: 600;
  p {
    font-weight: normal;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  a {
    font-weight: $headings-font-weight;
  }
}

//p, a {
//  line-height: 1.4em;
//  @include font-sans-serif-base();
//  font-size: $font-base-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-base;
//  }
//}
a:hover, a:focus {
  color: $maroon;
}
//h1,
//h1 a {
//  @include font-newsreader-base();
//  font-size: $font-large-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-large;
//  }
//}
//
//h2,
//h2 a{
//  @include font-newsreader-base();
//  font-size: $font-medium-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-medium;
//  }
//}
//
//h3,
//h3 a {
//  @include font-newsreader-base();
//  font-size: $font-small-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-small;
//  }
//}
//h4,
//h4 a {
//  @include font-newsreader-base();
//  font-size: $font-smaller-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-smaller;
//  }
//}
//h5,h6,
//h5 a, h6 a {
//  @include font-newsreader-base();
//  font-size: $font-base-mobile;
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-base;
//  }
//}
