/* VARIABLES */
// Colors
$red:               #dc3545;
$centennial-red:    #cc2027;
$yellow:            #ffc107;
$light-yellow:      #ffe7a7;
$cyan:              #17a2b8;
$dark-blue:         #1798af;
$blue:              #2bc;
$mid-blue:          #68c8e2;
$mid-blue-2:        #76cfe5;
$mid-blue-3:        #6cf;
$light-blue:        #b4d8e2;
$light-blue:        #73b5b2;
$green:             #28a745;
$light-green:       #dbeabd;
$orange:            #e37222;
$mid-orange:        #ef8b44;
$light-orange:      #edc6a6;
$black:             #000;
$white:             #fff;
$white-90:          rgba($white, 0.9);

// Maroon
$maroon:            #7a0019;
//$maroon-light:      #8d0428;
$maroon-light:      #900021;
$maroon-light-2:    #98002e;
$burgundy:          $maroon-light;
$light-maroon:      #973c49;

// Gold
$gold:              #fc3;
$submit-gold:       $gold;
$centennial-gold:   #fec057;

// UMN gold styles
$gold-dark:         #ffb71e;
$gold-light:        #ffde7a;
$gold-header:       #ffd75f;
$gold-alt:          #fec057;

// Ivory
$ivory:             #e6e0d2;
$light-warm-ivory:  #eae7e2;
$light-ivory:       #f7f0df;
$light-grayish-orange: #f7f4f2;
$light-light-ivory: #f9f5f4;

// Slate
$slate:             #404d5b;
$slate:             #363230;
$gray-800:          #343a40 !default;
$light-slate:       #eaecef;
$mid-slate:         #6c7077;
$mid-slate-2:       #878b92;
$light-slate-2:     #b9bdc0;

// Neutral blue and grays for text
$soft-black:        #1a1a1a;
$dark-dark-gray:    #212529;
$dark-gray:         #303030;
$darkgray:          #333;
$mid-gray:          #575757;
$darkmedgray:       #535353;
//$dark-gray:         #5a5450;
//$dark-gray:         #5a5a5a;
$header-dark-gray:  #8a8a8a;

// Neutral grays for backgrounds
$mediumgray:        #ccc;
$header-gray:       #dbdbdb;
$light-gray:        #e6d8d6;
$border-gray:       #D5D6D2;
$warm-gray:         $light-gray;
$another-gray:      #e6dbd6;
$gray:              #ededed;
$lightgray:         #f0efee;
$lightergray:       #f0f0f0;
$centennial-light-gray: #f5f5f5;
$gray-100:          #f8f9fa !default;

// Navigation
$hamburger-grey:    $dark-gray;
$menu-gold:         $gold;
$menu-grey:         $slate;
$menu-line-grey:  #d8d8d8;

$maroon-accent-light:  lighten($maroon, 37%);
$maroon-accent-dark:   darken($maroon, 12%);

$theme-colors: (
  primary: $maroon,
  secondary: $gold,
  success: $green,
  info: $light-blue,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
  white-90: $white-90,
  gold: $gold,
  ivory: $ivory,
  light-blue: $light-blue,
  gray: $gray,
  black: $black,
);
$primary:  map-get($theme-colors, "primary");

$code-color: #dc0477;

// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $dark-dark-gray;
//$inverse-color: $gray-lighter;

// Links
//
// Style anchor elements.
$link-color: $maroon;
$link-decoration: none;
$link-hover-color: $maroon-accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

/* Icon font paths */
$icomoon-font-path: "../carlson-icons/fonts";

/* Google Fonts */
// @import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,400i,700,700i|Lato:300,400,400i,700,700i,900,900i|Montserrat:300,300i,400,400i,600,600i&display=swap');
/**/

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-responsive-font-sizes: true;
$enable-caret: false;

/* Font families */
$font-lato: 'Lato', Arial, Verdana, sans-serif;
// $font-crimson: 'Crimson Pro', serif;
// $font-montserrat: 'Montserrat', sans-serif;
$font-neutraface: 'Neutraface Text', sans-serif;
$font-newsreader: 'Newsreader', serif;
$font-open-sans: 'Open Sans', sans-serif;

$headings-font-family: $font-newsreader;
$font-family-sans-serif: $font-open-sans;
$font-family-serif: $font-newsreader;

/* Font sizes */
$font-xlarge: 7.3rem;
$font-large: 6rem;
$font-medium: 4.2rem;
$font-small: 3.4rem;
$font-smaller: 2.5rem;
$font-base: 1.6rem;

$font-size-default:           1rem;
$font-size-base:              1.6rem;
$h1-font-size:                $font-size-default * 5;
$h2-font-size:                $font-size-default * 4.2;
$h3-font-size:                $font-size-default * 3.4;
$h4-font-size:                $font-size-default * 2.5;
$h5-font-size:                $font-size-default * 1.6;
$h6-font-size:                $font-size-default * 1.6;
$small-font-size:             1.4rem !default;

/* Font weight */
$headings-font-weight: 300;

/* Mobile font sizes */
$font-large-mobile: 3.4rem;
$font-medium-mobile: 2.8rem;
$font-small-mobile: 2.0rem;
$font-smaller-mobile: 1.6rem;
$font-base-mobile: 1.4rem;

$base-font-family: $font-family-sans-serif;
$base-line-height: 1.5;
$base-border: 1px solid $light-gray;

/* Widths for page components that vary */
$inset-narrow: 1060px;
$inset-wide: 1330px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1340px,
  xxl: 1400px,
) !default;

$rfs-breakpoint: 1339px !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1340px,
  xxl: 1340.001px,
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           50px;
$grid-gutter-half-width:      $grid-gutter-width * 0.5;
$grid-padding-x:              $grid-gutter-width;
$grid-padding-half-x:         $grid-padding-x * 0.5;
$grid-row-columns:            6 !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
      0: 0,
      1: $spacer * .5,
      2: $spacer * 1,
      3: $spacer * 1.5,
      4: $spacer * 2,
      5: $spacer * 2.5,
      6: $spacer * 3,
      7: $spacer * 3.5,
      8: $spacer * 4,
      9: $spacer * 4.5,
      10: $spacer * 5,
      11: $spacer * 5.5,
      12: $spacer * 6,
      20: $spacer * 10,
      24: $spacer * 12,
      31: $spacer * 15.5,
    ),
    $spacers
);

$embed-responsive-aspect-ratios: () !default;
$embed-responsive-aspect-ratios: join(
      (
          (21 9),
          (16 9),
          (4 3),
          (1 1),
          (3 4),
          (11 7),
          (5 7),
          (3 2),
      ),
    $embed-responsive-aspect-ratios
);

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         $spacer * 1;
$input-btn-padding-x:         $spacer * 4;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-weight:             600 !default;
$btn-focus-box-shadow:        none !default;
$btn-active-box-shadow:       none !default;

$btn-padding-y-sm: 0.3em;
$btn-padding-x-sm: 0.6em;
$btn-line-height-sm: 1.2em;

// Breadcrumbs
$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-divider:                quote("|") !default;
$breadcrumb-item-padding:           1.5rem !default;

// Navs

$nav-tabs-border-color:             $gold;
$nav-tabs-border-width:             10px;
$nav-tabs-border-radius:            0;
$nav-tabs-link-hover-border-color:  $gold;
$nav-tabs-link-active-color:        $black;
$nav-tabs-link-active-bg:           $gold;
$nav-tabs-link-active-border-color: $gold;

$nav-link-padding-y: 1.4rem;
$nav-link-padding-x: 2.5rem;
$navbar-nav-link-padding-x: 2.5rem;

$zindex-sticky: 500;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

// Navbar dark
$navbar-dark-color: $white;
$navbar-dark-bg-color: transparent;
$navbar-dark-text-decoration: none;
$navbar-dark-hover-color: $white;
$navbar-dark-hover-bg-color: $light-maroon; //$burgundy;
$navbar-dark-hover-text-decoration: none;
$navbar-dark-active-color: $black;
$navbar-dark-active-bg-color: $ivory;
$navbar-dark-active-text-decoration: underline;
$navbar-dark-show-color: $black;
$navbar-dark-show-bg-color: $ivory;
$navbar-dark-show-text-decoration: none;
$navbar-dark-disabled-color: rgba($white, 0.5);
$navbar-dark-disabled-bg-color: transparent;
$navbar-dark-disabled-text-decoration: none;

// Navbar light
$navbar-light-color: $black;
$navbar-light-bg-color: transparent;
$navbar-light-text-decoration: none;
$navbar-light-hover-color: $black;
$navbar-light-hover-bg-color: $light-ivory;
$navbar-light-hover-text-decoration: none;
$navbar-light-active-color: $black;
$navbar-light-active-bg-color: transparent;
$navbar-light-active-text-decoration: underline;
$navbar-light-show-color: $black;
$navbar-light-show-bg-color: $light-ivory;
$navbar-light-show-text-decoration: none;
$navbar-light-disabled-color: rgba($black, 0.5);
$navbar-light-disabled-bg-color: transparent;
$navbar-light-disabled-text-decoration: none;

// Navbar brand
$navbar-brand-padding-y: 13px;
$navbar-brand-padding-x: 14px;
$navbar-brand-font-size: 1.8rem;

// Navbar dropdowns (assume navbar light)
$dropdown-bg: $ivory;
$dropdown-color: $black;
$dropdown-font-size: 18px;
$dropdown-item-padding-y: 16px;
$dropdown-item-padding-x: 24px;
$dropdown-link-hover-bg: $light-ivory;
$dropdown-link-active-color: $black;
$dropdown-link-active-bg: $light-ivory;
$dropdown-spacer: 0;
