ul.paragraphs-add-dialog-list {
  column-count: 1;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 480px) {
  ul.paragraphs-add-dialog-list {
    column-count: 2;
  }
}

@media screen and (min-width: 880px) {
  ul.paragraphs-add-dialog-list {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  ul.paragraphs-add-dialog-list {
    column-count: 4;
  }
}
