.speaker {
  &__bio {
    &--name {
      @include serif-font(3.4rem);
    }

    &--title {
      @include font-sans-serif-base();

      letter-spacing: 1.39px;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
      }
    }
  }

  &__social {
    margin-top: 1rem;
    font-weight: 700;
    line-height: 2.4rem;

    a {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
