@import "../abstracts/import";

.dropdown {
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 120ms ease-out 0ms;
    background-color: $light-ivory;
  }

  &:has(.dropdown-toggle:hover)::before {
    height: 0.4rem;
  }

  &:has(.dropdown-toggle:hover),
  &:has(.dropdown-toggle:focus-visible) {
    &,
    > .nav-button,
    > .nav-link {
      background-color: $light-ivory;
    }
  }
}

.dropdown-toggle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }

  &:hover,
  &:focus {
    color: $soft-black;

    &::before {
      border-color: currentColor;
    }
  }
}

.dropdown-menu {
  min-width: 22rem;
}

.dropdown-list-item {
  background-color: $light-ivory;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown-item {
  &:hover,
  &:focus,
  &.is-active {
    text-decoration: underline;
  }

  &.in-active-trail {
    font-weight: 700;
  }
}

.dropdown--mega-menu {
  position: initial;
}

.dropdown-menu--mega-menu {
  background-color: $ivory;
  left: 0;
  right: 0;
}

.site-nav__li.show:has(.dropdown-toggle),
.site-nav__li.show:has(.dropdown-toggle) > .site-nav__sl-btn,
.site-nav__li.show:has(.dropdown-toggle) > .site-nav__sl-lnk,
.site-nav__li.show:has(.dropdown-toggle:hover),
.site-nav__li.show:has(.dropdown-toggle:hover) > .site-nav__sl-btn,
.site-nav__li.show:has(.dropdown-toggle:hover) > .site-nav__sl-lnk,
.site-nav__li.show:has(.dropdown-toggle:focus-visible),
.site-nav__li.show:has(.dropdown-toggle:focus-visible) > .site-nav__sl-btn,
.site-nav__li.show:has(.dropdown-toggle:focus-visible) > .site-nav__sl-lnk {
  background-color: $light-ivory;
}

@include media-breakpoint-up(xl) {
  .dropdown-animate .mega-menu-layout__main {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  .dropdown-slide .mega-menu-layout__main {
    animation-name: slide-in;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
