@import "../abstracts/import";
@import "../abstracts/extensions";

// Hub Post Teaser Compact styles
.hub-post-items {
  &__item {
    margin-bottom: 2rem;

    &--title {
      @include font-sans-serif-base();

      line-height: 2rem;
      font-size: 1.6rem;
      font-weight: 700;
    }

    &--link {
      @include bold_link();
    }
  }
}
