@import "../abstracts/import";
@import "../abstracts/extensions";

// News Teaser Compact styles
.news-items__item {
  a {
    display: block;
    width: 100%;
    height: 100%;

    h4.news-items__item--title {
      @include font-sans-serif-base();

      line-height: 150%;
      font-size: 1.6rem;
      font-weight: 700;
      color: $darkgray;
    }

    &:hover,
    &:focus {
      h4.news-items__item--title {
        text-decoration: none !important;
      }
    }

    span.news-items__item--link {
      @include bold_link();
    }
  }
}
