@import "../abstracts/import";

.share-this {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: .25rem 0;

  &__heading {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    background: $gray-200;
    border-radius: 50%;
    display: inline-block;
    line-height: 1;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $light-gray;
    }
  }

  svg {
    vertical-align: bottom;
  }
}

