@import "../abstracts/import";
@import "../abstracts/extensions";

.webform-element-help {
  background: transparent;
  border: 1px solid $border-gray;
  color: currentColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    border-color: $gold;
    background: $gold;
    border-width: 1px;
    color: $maroon;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 0 0 0.1rem $white,
      0 0 0 0.2rem $focus-ring-color;
  }
}
