/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Home Video

Markup: ../../../templates/components/home-video.html.twig

.home-video  - This is a news item

Style guide: components.home-video
*/
.home-video{}
#video-modal{
  z-index: 999;
}
.modal-backdrop {
  display: none;
}
