/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Home Upcoming Events

Markup: ../../../templates/components/home-upcoming-events.html.twig

.home-upcoming-events  - This is a news item

Style guide: components.home-upcoming-events
*/


.home-upcoming-events{
  h2{
    color: #363230;
    font-family: "Crimson Text";
    font-size: 48px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .event-wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:before{
      content: '\25CF';
      margin-right: 10px;
      font-size: 20px;
      color: #fff;
      position: absolute;
      text-shadow: -1px 0 #e6dbd6, 0 1px #e6dbd6, 1px 0 #e6dbd6, 0 -1px #e6dbd6;
      left: 0;
      line-height: 0px;
      z-index: 100;
      transition: all 0.3s ease-in-out;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    &:after{
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      // border-left: 2px solid #e6dbd6;
      margin-left: 5px;
      height: 100%;
      width: 2px;
      background: #e6dbd6;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    &:first-of-type:after {
      // top: 50%;
    }
    &:nth-last-child(2):after {
      content: "";
      // top: -50%;
      background: linear-gradient(#e6dbd6, transparent);
    }
    &:hover{
      &:before{
        color: #ffcc33;
      }
    }
    .event-container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 1px solid #e6dbd6;
      margin-bottom: 15px;
      transition: all 0.3s ease-in-out;
      width: 98%;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      &:hover{
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      }
      .date-wrapper{
        border-bottom: 2px solid #ffcc33;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        @include media-breakpoint-down(sm) {
          flex: 0 0 16.66667% !important;
          max-width: 16.66667% !important;
          padding-top: 7px;
          padding-bottom: 7px;
        }
        .date-container{
          margin-bottom: 0;
          .day-post{
            color: #7a0019;
            font-family: "Crimson Text";
            font-size: 80px;
            font-weight: 400;
            line-height: 60px;
            @include media-breakpoint-down(sm) {
              font-size: 60px;
            }
          }
          .month-post{
            color: #e6dbd6;
            font-family: "Lato";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.56px;
            // position: absolute;
            @include media-breakpoint-down(sm) {
              font-size: 10px;
            }
          }
        }
      }
      .content-wrapper{
        @include media-breakpoint-down(sm) {
          flex: 0 0 83.33333% !important;
          max-width: 83.33333% !important;
        }
        p{
          color: #363230;
          font-family:"Lato";
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
        }
        a{
          color: #7a0019;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.78px;
          &:hover, &:focus, &:active{
            text-decoration: none;
          }
        }
      }
    }
  }
  .see-all-wrapper{
    margin-top: 45px;
    .see-all{
      display: inline-block;
      color: #7a0019;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.78px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #7a0019;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover, &:focus, &:active{
        text-decoration: none;
        &:before {
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
        }
      }
    }
  }
}
