@charset "UTF-8";




body {
  background-color : #fefefe;
}
html,body {
  min-height : 100vh;
}

.container {
}


.btn {
  white-space : normal;
}

.btn-secondary {
  background-color : #600012;
  border-color: #600012;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fff;
  color : #600012;
  border-color : #600012;
}

.btn-outline-secondary {
  background-color : #fff;
  border-color : #600012;
  color: #600012;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-primary:hover,.btn-primary:focus {
  background-color : #600012;
  color : #fff;
  border-color: #600012;
}

.btn-primary {
  background-color : #fff;
  border-color : #600012;
  color: #600012;
}




/* mba stuff */
body#html-campaign--summer {
  font-family : 'Lato';
  font-weight : 400 !important;
}
#html-campaign--summer .mba--header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdbf4c+0,faa41b+100 */
  background: #fdbf4c; /* Old browsers */
  background: -moz-linear-gradient(left,  #fdbf4c 0%, #faa41b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fdbf4c 0%,#faa41b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fdbf4c 0%,#faa41b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbf4c', endColorstr='#faa41b',GradientType=1 ); /* IE6-9 */
}
#html-campaign--summer .mba--header2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#411f1f+0,971b31+100 */
background: #411f1f; /* Old browsers */
background: -moz-linear-gradient(left,  #411f1f 0%, #971b31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #411f1f 0%,#971b31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #411f1f 0%,#971b31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#411f1f', endColorstr='#971b31',GradientType=1 ); /* IE6-9 */
min-height : 50px;
}
@media (min-width: 768px) {
#html-campaign--summer .mba--header2--bgimg {
  background-image: url("../../images/html_campaign/mba-img1.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size : contain;
}
}

#html-campaign--summer .factoid-number {
  height : 90px;
  width : 90px;
  font-size : 53px;
  padding-top : 11px;
  background-color : #fff;
  border: 5px solid #7a0019 /*f4f1ee*/;
  font-weight : 900;
  display : block;
  border-radius : 50%;
  margin : 0 auto;
  color : #900021;
  line-height : 100%;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(66,63,61,.1);
  box-shadow: 5px 5px 15px 0 rgba(66,63,61,.3);
}
#html-campaign--summer .factoid-copy {
  font-style: italic;
  font-size : 1.1rem !important;
  line-height : 125%;
  color : #600012;
  margin : 10px auto 0 auto;
}
@media (min-width: 992px) {
  #html-campaign--summer .factoid-number {
    height : 115px;
    width : 115px;
    font-size : 70px;
    padding-top : 13px;
}
  #html-campaign--summer .factoid-copy {
    font-size : 1.125rem;
}
}
#html-campaign--summer .mba-cta {
  background-image: url("../../images/html_campaign/program-finder_bg.png");
  background-color : #FFCC33;
  background-position: top left;
	background-repeat: no-repeat;
}
#html-campaign--summer .mba-copy {
  font-size : .925rem;
  line-height : 140%;
}
@media (min-width: 768px) {
  #html-campaign--summer .mba-copy {
    font-size : 1.125rem;
    line-height : 160%;
  }
}
#html-campaign--summer .mba-copy p {
  margin : 0px;
}
#html-campaign--summer .mba-copy h2 {
  font-family : 'Crimson Text';
  font-size : 1.8rem;
  line-height : 105%;
  font-weight : 400 !important;
  margin : 0 0 1.75rem 0;
  border-bottom : 1px solid #ffde7a;
}
@media (min-width: 576px) {
  #html-campaign--summer .mba-copy h2 {
    font-size : 1.6rem;
}
}
@media (min-width: 768px) {
  #html-campaign--summer .mba-copy h2 {
    font-size : 2.5rem;
  }
}
#html-campaign--summer .mba-cta h2 {
  font-size : 2rem;
  font-family : 'Crimson Text';
  font-style: italic;
}
@media (min-width: 992px) {
  #html-campaign--summer .mba-cta h2 {
    font-size : 2.5rem;
}
}
#html-campaign--summer .mba-cta-bottom {
  background: #ffde7a; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffcc33 0%, #ffde7a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffcc33 0%,#ffde7a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffcc33 0%,#ffde7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc33', endColorstr='#ffde7a',GradientType=1 ); /* IE6-9 */
-webkit-box-shadow: 0 0 10px 0 rgba(66,63,61,.1);
box-shadow: 0 0 10px 0 rgba(66,63,61,.3);
-webkit-transition: all 2s ease-in;
-moz-transition: all 2s ease-in;
-ms-transition: all 2s ease-in;
-o-transition: all 2s ease-in;
transition: all 2s ease-in;
}
#html-campaign--summer .mba-cta button,
#html-campaign--summer .mba-cta .btn {
  border-radius : 15px !important;
  position: relative;
  font-weight : 400;
}
#html-campaign--summer .mba-cta button span,
#html-campaign--summer .mba-cta .btn span {
  position:relative;
  display: block;
  font-weight : 900;
}
#html-campaign--summer .mba-cta button span:after,
#html-campaign--summer .mba-cta .btn span:after {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
  font-size : 40px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 40px;
  transition: 0.5s;
}
#html-campaign--summer .mba-cta button:hover span,
#html-campaign--summer .mba-cta .btn:hover span {
  padding-right: 0px;
}

#html-campaign--summer .mba-cta button:hover span:after,
#html-campaign--summer .mba-cta .btn:hover span:after {
  opacity: 1;
  right: -25px;
}
#html-campaign--summer a.mba-btn-cta {
  color : #000 !important;
  font-size : 1.5rem;
}
#html-campaign--summer #mba--cta-collapse {
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      min-height : 70vh;
    }
@media (min-width: 992px) {
  #html-campaign--summer #mba--cta-collapse {
        min-height : auto;
        -webkit-box-shadow: 0 -15px 30px 0 rgba(0,0,0,.15);
        box-shadow: 0 -15px 30px 0 rgba(0,0,0,.15);
          }
    }
#html-campaign--summer .btn-bigtext {
  font-size : 160%;
  font-weight : 900;
}
@media (min-width: 992px) {
  #html-campaign--summer .btn-bigtext {
    font-size : 180%;
  }
}






#html-campaign--summer .modal-full {
    min-width: 100%;
    margin: 0;
}

#html-campaign--summer .modal-full .modal-content {
    min-height: 100vh;
}

@media (min-width: 1200px) {
  body {
  }
#html-campaign--summer .mba-cta {
  left : 0;
  width : 100%;
}
}



#html-campaign--summer #umnhf-f.umnhf {
  border-color: transparent;
}



#html-campaign--summer .logo-at-bottom {
  position : relative;
  top : 54%;
}


.mba--btn {
  background-color:#7a0019;
  color:#fff;
}
.mba--btn:hover,
.mba--btn:focus {
  background-color : #900021;
  color:#fff;
}
.mba--btn2 {
  background-color : #5b0013;
  color : #fff;
}
.mba--btn2:hover,
.mba--btn2:focus {
  background-color:#900021;
  color:#fff;
}
.mba--topborder {
  border-top:1px solid #777677;
}
.contact-cta__contact {
  background-color : #ff0;
}










.ui-widget-overlay {
  background: black;
  opacity: 0.7; }

.ui-dialog {
  border-radius: 0;
  background-color : #fff;
  padding : 0 1rem;
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.7);
box-shadow: 0 0 30px 0 rgba(0,0,0,.7);

}

.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
  font-size: 1rem; }

#html-campaign--summer .ui-dialog .button {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
  border: 1px solid #e4e4e4;
  border-bottom-color: #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  padding: 0.250em 1.063em;
  border-radius: 1em; }



.ui-widget-content {
}
/* Modal Overrides */
.ui-dialog .ui-dialog-title {
  font-size: 0;
  color: white; }

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center; }

#html-campaign--summer .ui-dialog-buttonset .btn.btn-primary {
  max-width: 300px !important;
  margin: 1rem auto !important;
  height: auto;
  background-image: none;
  line-height: 1.5rem !important;
  padding: .75rem 1.5rem !important;
  font-size: 1rem !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out !important;
  display: inline-block !important;
  font-weight: bold !important;
  background-color: #7a0019 !important;
  border: 2px solid #7a0019 !important;
  color: white !important; }
  #html-campaign--summer .ui-dialog-buttonset .btn.btn-primary:hover, #html-campaign--summer .ui-dialog-buttonset button.btn--primary:active {
    color: #363230;
    background-color : #fff;
    border-color : #7a0019  !important;
   }
    #html-campaign--summer .ui-dialog {
      padding: 0;
      border: 0 !important;
      font-family: "Lato", Arial, Verdana, sans-serif; }
      #html-campaign--summer .ui-dialog .ui-dialog-titlebar {
        padding: 0 1em;
        border: 0;
        background-color: transparent; }
        .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
          height: 1.9rem;
          line-height: 1.9rem;
          margin: 0; }
      #html-campaign--summer .ui-dialog .ui-dialog-titlebar-close {
        position : absolute;
        margin: 0;
        right: 0;
        top: 0;
        width: 1.9rem;
        height: 1.9rem;
        border: 0;
        background-color: #7a0019; }
        #html-campaign--summer .ui-dialog .ui-dialog-titlebar-close:before {
          font-family: "Font Awesome 5 Free"; font-weight: 900;
          speak: none;
          font-style: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size : 1.5rem;
          content: "\f00d";
          color: white; }
#html-campaign--summer .ui-dialog h4 {
  margin-left : 45px;
}
#html-campaign--summer .ajax-progress {
  display : none;
}
