.map-container {
  height : 500px;
}
@media only screen and (min-width: 576px) {
  .map-container{
      height: 350px;
  }
}
@media only screen and (min-width: 768px) {
  .map-container{
      height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .map-container{
      height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .map-container.map-usa {
      height: 620px;
      margin-bottom : -50px;
  }
}
.jvmap-smart {
width : 100%;
height : 100%;
}




.jvectormap-tip {
font-family : 'Lato';
  text-align: center;
  border : none;
  border-radius: 6px;
  background: rgba(255,255,255,1);
  color: #000;
  font-size: 19px;
  font-weight : 700;
  padding: 6px 12px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}
.mapdate {
margin-top : 3px;
padding-top : 3px;
border-top : 1px solid #f00;
display : block;
font-weight : 400;
font-size : 16px;
font-style : italic;
color : #f00;
}
/*
.jvectormap-marker:hover,
.jvectormap-marker:focus,
.jvectormap-marker {
-webkit-transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}
*/
