.map-container.map-usa{
  height: 320px;
}
.map-container.map-africa{
  height: 320px;
}
.map-container.map-asia {
  height: 250px;
}
@media only screen and (min-width: 576px) {
  .map-container{
  }
  .map-container.map-asia {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .map-container.map-usa{
    height: 320px;
  }
  .map-container.map-africa {
  }
  .map-container.map-asia {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .map-container.map-usa {
    height: 470px;
  }
  .map-container.map-africa {
    height: 600px;
  }
  .map-container.map-asia {
    height: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .map-container.map-usa {
    height: 620px;
  }
  .map-container.map-africa {
    height: 800px;
  }
  .map-container.map-asia {
    height: 500px;
  }
}
.jvmap-smart {
  width : 100%;
  height : 100%;
}




.jvectormap-tip {
  font-family : 'Lato';
  text-align: center;
  border : none;
  border-radius: 6px;
  background: rgba(255,255,255,1);
  color: #000;
  font-size: 19px;
  font-weight : 700;
  padding: 6px 12px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}
.mapdate {
  margin-top : 3px;
  padding-top : 3px;
  border-top : 1px solid #f0efee;
  display : block;
  font-weight : 400;
  font-size : 16px;
  font-style : italic;
  color : #5b0013;
}
/*
.jvectormap-marker:hover,
.jvectormap-marker:focus,
.jvectormap-marker {
-webkit-transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}
*/




.copy--tighter {
  line-height : 140%;
}
.copy--tighter p {
  margin : 10px 0;
}
.copy--tighter h2 {
    font-size : 2.5em;
    line-height : 100%;
    margin : 0 0 10px 0;
}
.copy--tighter h3 {
    font-size : 1.75em;
    line-height : 100%;
    margin : 15px 0 10px 0;
}
.copy--tighter ul {
  margin-top : 0px;
  margin-bottom: 0px;
}
.copy--tighter ul a {
  font-size : inherit;
}
.copy--tighter ul li:before {
  top: .8rem !important;
}

.override--tinybuttons .btn {
  font-size : 14px;
  padding : .4em;
  line-height : 100%;
}
.travel-hero {
  background-color : #790018;
  background-image: url(../../images/html_campaign/ontheroad.png);
  background-size: contain;
  background-position: center right;
  background-repeat : no-repeat;
  padding-top : 30px;
  padding-bottom : 15px;
  margin-bottom : 15px;
}
.travel-hero .basic-hero__title {
  border-bottom : 0px !important;
}
.travel-hero .basic-hero__title h1 {
  color : #fff;
  margin : 0px;
  padding : 0px;
  line-height : 100%;
}
.travel-hero .basic-hero__title h1::after {
  content : none;
  border : 0px;
}

.travel--cta1 {
  background-color : #ffc733;
  background-image: url(../../images/html_campaign/ontheroad-air.png);
  background-size: contain;
  background-position: center left;
  background-repeat : no-repeat;
  padding : 15px 15px 0px 30%;
}
.travel--cta1 .basic-paragraph p {
  text-align : center;
  font-size : 2em;
  line-height : 120%;
  margin : 0 0 15px 0;
}
.travel--cta1 .basic-paragraph p:last-child {
}



.travel--nav {
}
.travel--nav .nav-link {
  background-color : #900021;
  color : #fff;
  font-weight : bold;
}
.travel--nav .nav-link:hover,
.travel--nav .nav-link:focus {
  background-color : #5b0013;
  color : #f9f7f6;
}
.travel--nav .nav-link.disabled {
  background-color : #f0efee;
  color : #777677;
}


.travel--ctabox {
  -webkit-box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
  -moz-box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
  box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
}
