.faculty-profile {
    /** Top Profile - Block. **/
    &__top {
        &--headshot {
            img {
                width: 100%;
                height: auto;
            }
        }

        &--title {
            color: #363230;
            font-family: "Lato";
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.78px;
        }

        &--dept {
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
        &--summary{
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
        }
    }

    /** Contact - Block. **/
    &__contact {
      word-break: break-word;
        &--phone {
            font-style: italic;
        }
    }

    /** Education Degrees - Block. **/
    &__degree {
        &--type {
            font-weight: bold;
        }
    }

    &__experience{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #ffcc33;
      position: relative;
      height: 100%;
      margin-top: -200px;
      z-index: -1;
      @media screen and (max-width: 992px){
        margin-top: 0px;
        background-image: url('../images/bg/experience_bg.png');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
      }
      &:before{
        content: '';
        position: absolute;
        left: -8.3333%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffcc33;
        background-image: url('../images/bg/experience_bg.png');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        @media screen and (max-width: 992px){
          display: none;
        }
      }
      h2{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 48px;
        font-weight: 400;
        line-height: 42px;
      }
    }

    &__education, &__expertise{
      list-style: none;
      margin-left: 0px;
      margin-bottom: 0px;
      padding: 0;
      li{
        margin: 0;
        margin-bottom: 1em;
        padding-left: 15px;
        position: relative;
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        &:before{
          content: '';
          height: .4em;
          width: .4em;
          background: #7a0019;
          display: block;
          position: absolute;
          transform: rotate(45deg);
          top: .52em;
          left: 0;
        }
      }
    }

    &__about{
      margin-bottom: 30px;
      h2{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 34px;
        font-weight: 400;
        line-height: 31px;
      }
      &--summary{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }
    }

    &__contact{
      word-break: break-word;
      margin-top: 30px;
      margin-bottom: 30px;
      h2{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 48px;
        font-weight: 400;
        line-height: 42px;
      }
      &--phone{
        color: #7a0019;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        a{
          color: #7a0019;
        }
      }
      &--email{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        a{
          color: #7a0019;
        }
      }
      &--address{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        a{
          color: #7a0019;
        }
      }
      &--cvc{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        a{
          color: #7a0019;
        }
      }
      &--link{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        a{
          color: #7a0019;
        }
      }
    }
    .profile-content-wrapper{
      margin-bottom: 200px;
    }
}
