.faculty-profile {
    &__top {
        /** Example, delete later. **/
        background-color: white;
    }

    &__bio-img {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__job-title {
        text-transform: uppercase;
        font-weight: bold;
    }
}