.faculty-profile {
    /** Top Profile - Block. **/
    &__top {
        &--headshot {
            img {
                width: 100%;
                height: auto;
            }
        }

        &--title {
            text-transform: uppercase;
            font-weight: bold;
        }

        &--dept {
            font-weight: bold;
        }
    }

    /** Contact - Block. **/
    &__contact {
        &--phone {
            font-style: italic;
        }
    }

    /** Education Degrees - Block. **/
    &__degree {
        &--type {
            font-weight: bold;
        }
    }
}