/* News Page styles */

.news {
	.program-cta,
	.fullwidth-video {
		max-width: 1330px;
		margin-left: auto;
		margin-right: auto;		
	}
	&__body,
	.basic-paragraph,
	.carlson-slideshow,
	.quote,
	.quote-group {
		max-width: 1060px;
		margin-left: auto;
		margin-right: auto;
	}
}