/**
* @file
* Visual styles for column in Barrio.
*/

.column {
  &__img {
      display: inline-block;
      width: 100%;
  }

  &__heading {
    @include heading-title($font-medium, $gold, 'left');
    line-height: 42px;
  }

  &__markup {
    color: #363230;
    @include font-lato-base();
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 2.5rem;
  }

  &__link > * {
    display: block;
  }
}
