/**
* @file
* Visual styles for comments in Barrio.
*/

/*
Feature Block

Markup: ../../../templates/components/feature-block.html.twig

Style guide: components.feature-block
*/

.feature-block {
  // display: flex;
  // align-items: center;
  .row{
    // align-items: center;
  }
    &__img {
      position: relative;
      z-index: 1001;
      display: flex;
      flex-direction: column;
        img{
          width: 100%;
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
        }

    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      @media (max-width: 576px){
        padding: 45px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #e6dbd6;
        top: 15px;
        left: -15px;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        @media (max-width: 576px){
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 2px;
          background: #e6dbd6;
          top: 0;
          left: 30px;
          z-index: -1;
        }
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #e6dbd6;
        bottom: 15px;
        left: -15px;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        @media (max-width: 576px){
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 2px;
          background: #e6dbd6;
          top: 0px;
          right: 30px;
          z-index: -1;
          left: auto;
          bottom: auto;
        }
      }
    }
    &__link{
      margin-top: 10px;
      color: #363230;
      @include font-lato-base();
      font-size: 16px;
      line-height: 10px;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      &:after{
        content: '';
        width: 100%;
        height: 2px;
        background: #ffcc33;
        display: inline-block;
      }
      &:hover{
        text-decoration: none;
        color: #363230;
      }
    }
}
