/**
* @file
* Visual styles for comments in Barrio.
*/

/*
Quote

Markup: ../../../templates/components/quote.html.twig

Style guide: components.quote
*/

.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(180deg, #f7f4f2 0%, #ffffff 100%);
  &__img{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      border-radius: 100%;
      border: 1px solid transparent;
    }
  }

  &__text {
    color: #363230;
    @include font-crimson-base();
    font-size: 36px;
    line-height: 44px;
  }

  &__source {
    color: #e6dbd6;
    @include font-lato-base();
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

}
