/**
* @file
* Visual styles for comments in Barrio.
*/

/*
Slide

Markup: ../../../templates/components/slide.html.twig

Style guide: components.slide
*/

.slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .slick-slider{
      display: flex !important;
      justify-content: center;
    }
    &__img {
        display: inline-block;
    }

    &__caption {
        color: #e6dbd6;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        display: none;
    }
}
