/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (full width)

Markup: ../../../templates/components/video.html.twig

Style guide: components.video-full
*/

.video-full {
	&__link {

	}
	&__caption {

	}
}

/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (text right)

Markup: ../../../templates/components/video-textright.html.twig

Style guide: components.video-textright
*/

.video-textright {
	&__heading {
		
	}
	&__link {

	}
	&__caption {

	}
}


/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (text below)

Markup: ../../../templates/components/video-textbelow.html.twig

Style guide: components.video-textbelow
*/

.video-textbelow {
	&__heading {

	}
	&__link {

	}
	&__caption {

	}
}