/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (Text Right)

Markup: ../../../templates/components/video-text_right.html.twig

Style guide: components.video-textright
*/

.video-textright {
	&__left{

		img{
			width: 100%;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
		}
	}
  &__details{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 100%;
    width: 100%;
    top: 0;
    .play-btn{
      font-size: 26px;
      line-height: 0;
      border: 2px solid #ffcc33;
      color: #fff;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    hr{
      height: 2px;
      width: 32%;
      background: #ffcc33;
      position: absolute;
      right: 0px;
      z-index: 1001;
      margin: 0;
    }
  }
	&__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
  &__heading {
    color: #34302e;
    @include font-crimson-base();
    font-size: 48px;
    line-height: 44px;

    display: flex;
    flex-direction: column;
  }
  &__link {

  }
  &__caption {
    color: #363230;
    @include font-lato-base();
    font-size: 16px;
    line-height: 30px;
  }
}

/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (Text Below)


Markup: ../../../templates/components/video-text_below.html.twig

Style guide: components.video-textbelow
*/

.video-textbelow {

	&__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 100%;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
      // border: 1px solid #979797;
      background-color: #d8d8d8;

      &:after{
        content:'';
        width: 100%;
        height: 100%;
        // background-color: rgba(90, 84, 80, 0.3);
        position: absolute;
      }
    }
		img{
      width: 100%;
    }

	}
  &__details{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: -15px;

    .play-btn{
      font-size: 26px;
      line-height: 0;
      border: 2px solid #ffcc33;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    hr{
      height: 30%;
      width: 2px;
      background: #ffcc33;
      position: absolute;
      bottom: -22px;
      z-index: 1001;
    }
  }
  &__heading {
    color: #34302e;
    @include font-crimson-base();
    font-size: 48px;
    line-height: 44px;
    z-index: 3001;
    text-align: center;
    display: flex;
    margin-top: 30px;

  }
  &__link {

  }
  .caption {
    color: #363230;
    @include font-lato-base();
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (Full Width)


Markup: ../../../templates/components/fullwidth-video.html.twig

Style guide: components.video-fullwidth
*/

.fullwidth-video,
.fullwidth-image {
	display: flex;
	justify-content: center;

	&__image{
		height: 100%;
		width: 100%;
		box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
	}

	&__link{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: -15px;

    .play-btn{
      font-size: 26px;
      line-height: 0;
      border: 2px solid #ffcc33;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
	&__caption {
		color: #34302e;
		@include font-crimson-base();
		text-align: center;
	}
	img{
		width: 100%;
		height: auto;
	}
}
