.course-grid .card-flip,
.course-grid .card-flip__front,
.course-grid .card-flip__back {
  min-height: 400px; }

.course-grid .card-flip .card-block::before {
  content: " ";
  font-size: 4rem;
  border: 1px solid #7a0019;
  border-radius: 4rem;
  padding: 2rem 0;
  width: 8rem;
  height: 8rem;
  display: inline-block;
  margin-bottom: 2.6rem;
  color: #7a0019; }

.course-grid .card-flip__front--title, .course-grid .card-flip__back--title {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  letter-spacing: 1.78px;
  color: #7a0019;
  text-transform: capitalize;
  font-size: 1.9rem; }

.course-grid .card-flip__back {
  background: #7a0019;
  color: #fff; }
  .course-grid .card-flip__back--text {
    margin: 1rem 3.2rem;
    line-height: 3rem; }
  .course-grid .card-flip__back--title {
    color: #fff; }
  .course-grid .card-flip__back--link {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.9rem;
    padding: 0.5rem 0;
    border-bottom: 0.2rem solid #fc3; }
  .course-grid .card-flip__back .card-block::before {
    color: #fc3;
    border: 0;
    padding-top: 1rem;
    margin-bottom: 0; }

.course-grid .card-flip.icon-1 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90e"; }

.course-grid .card-flip.icon-2 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e913"; }

.course-grid .card-flip.icon-3 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e919"; }

.course-grid .card-flip.icon-4 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90f"; }

.course-grid .card-flip.icon-5 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90d"; }

.course-grid .card-flip.icon-6 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e911"; }

.course-grid .card-flip.icon-7 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e912"; }

.course-grid .card-flip.icon-8 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e910"; }

.course-grid .card-flip.icon-9 .card-block::before {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e905"; }

/*# sourceMappingURL=course-grid.css.map */