@property --csom-stat-donut-percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0; }

@property --csom-stat-donut-percentage-100 {
  syntax: "<number>";
  inherits: true;
  initial-value: 0; }

.csom-stat-donut {
  --csom-stat-donut-percentage: 20;
  --csom-stat-donut-percentage-100: 100;
  --csom-stat-donut-border-width: 22px;
  --csom-stat-donut-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 500px;
  margin: 0 auto; }
  .csom-stat-donut, .csom-stat-donut--col {
    flex-direction: column; }
  .csom-stat-donut--row {
    flex-direction: row; }
    @media (max-width: 550px) {
      .csom-stat-donut--row {
        flex-direction: column; } }
    @media (max-width: 768px) {
      .csom-banner--33-33 .section .csom-stat-donut--row,
      .csom-banner--33-66 .section .csom-stat-donut--row,
      .csom-banner--33-33-33 .section .csom-stat-donut--row {
        flex-direction: column; } }
  .csom-stat-donut__circle {
    width: var(--csom-stat-donut-width);
    min-width: var(--csom-stat-donut-width);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    text-align: center; }
    .csom-stat-donut__circle::before, .csom-stat-donut__circle::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--csom-stat-donut-border-width)), #000 calc(100% - var(--csom-stat-donut-border-width)));
      mask: radial-gradient(farthest-side, #0000 calc(99% - var(--csom-stat-donut-border-width)), #000 calc(100% - var(--csom-stat-donut-border-width))); }
    .csom-stat-donut__circle--maroon.animate::before {
      background: radial-gradient(farthest-side, transparent 98%, transparent) top/var(--csom-stat-donut-border-width) var(--csom-stat-donut-border-width) no-repeat, conic-gradient(#fc3 calc(var(--csom-stat-donut-percentage-100) * 1%), transparent 0);
      background-size: 0 0, auto; }
    .csom-stat-donut__circle--maroon.animate::after {
      background: radial-gradient(farthest-side, #900021 98%, transparent) top/var(--csom-stat-donut-border-width) var(--csom-stat-donut-border-width) no-repeat, conic-gradient(#900021 calc(var(--csom-stat-donut-percentage) * 1%), transparent 0);
      background-size: 0 0, auto; }
    .csom-stat-donut__circle--gold.animate::before {
      background: radial-gradient(farthest-side, transparent 98%, transparent) top/var(--csom-stat-donut-border-width) var(--csom-stat-donut-border-width) no-repeat, conic-gradient(#fff calc(var(--csom-stat-donut-percentage-100) * 1%), transparent 0);
      background-size: 0 0, auto; }
    .csom-stat-donut__circle--gold.animate::after {
      background: radial-gradient(farthest-side, #fc3 98%, #fff) top/var(--csom-stat-donut-border-width) var(--csom-stat-donut-border-width) no-repeat, conic-gradient(#fc3 calc(var(--csom-stat-donut-percentage) * 1%), transparent 0);
      background-size: 0 0, auto; }
    .csom-stat-donut__circle.animate::before {
      animation: csom-stat-donut-animate-percent 0.8s 0.5s both ease-in-out; }
    .csom-stat-donut__circle.animate::after {
      animation: csom-stat-donut-animate-percent calc(var(--csom-stat-donut-percentage) * 0.008s) 0.5s both ease-in-out; }
  .csom-stat-donut__title {
    text-align: center;
    border: 0;
    margin: 0 0 0.8rem;
    padding: 0;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 900; }
  .csom-stat-donut__description {
    padding: 15px;
    font-size: 1.3em; }
  .csom-stat-donut--row .csom-stat-donut__description {
    text-align: left; }
    @media (max-width: 550px) {
      .csom-stat-donut--row .csom-stat-donut__description {
        text-align: center;
        max-width: 340px; } }
  .csom-stat-donut--col .csom-stat-donut__description {
    text-align: center; }
  .csom-stat-donut strong {
    color: #7a0019; }
  .bg-primary .csom-stat-donut, .csom-stat-donut.bg-primary {
    background: #7a0019;
    color: #fff; }
    .bg-primary .csom-stat-donut strong, .csom-stat-donut.bg-primary strong {
      color: #fc3; }
  .csom-stat-donut__text, .csom-stat-donut__text-wrapper {
    line-height: 1em;
    display: block; }
  .csom-stat-donut__text-wrapper {
    padding: var(--csom-stat-donut-border-width); }
  .csom-stat-donut__text--14 {
    font-size: 1.4rem; }
  .csom-stat-donut__text--15 {
    font-size: 1.5rem; }
  .csom-stat-donut__text--16 {
    font-size: 1.6rem; }
  .csom-stat-donut__text--18 {
    font-size: 1.8rem; }
  .csom-stat-donut__text--20 {
    font-size: 2rem; }
  .csom-stat-donut__text--22 {
    font-size: 2.2rem; }
  .csom-stat-donut__text--24 {
    font-size: 2.4rem; }
  .csom-stat-donut__text--26 {
    font-size: 2.6rem; }
  .csom-stat-donut__text--28 {
    font-size: 2.8rem; }
  .csom-stat-donut__text--30 {
    font-size: 3rem; }
  .csom-stat-donut__text--32 {
    font-size: 3.2rem; }
  .csom-stat-donut__text--34 {
    font-size: 3.4rem; }
  .csom-stat-donut__text--36 {
    font-size: 3.6rem; }

@keyframes csom-stat-donut-animate-percent {
  from {
    --csom-stat-donut-percentage: 0;
    --csom-stat-donut-percentage-100: 0; } }

/*# sourceMappingURL=stat-donut.css.map */