@import "../../abstracts/import";

.csom-datatable--column-chart {
  border: 0;
  margin: 50px auto;
  min-height: 500px;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    width: 50rem;
    max-width: 50rem;
  }

  figure & {
    margin-bottom: 0;

    + figcaption {
      margin: 15px auto 50px;

      @media (min-width: 768px) {
        width: 50rem;
        max-width: 50rem;
      }
    }
  }

  caption {
    font-size: 1.9rem;
  }

  tbody {
    tr {
      line-height: 1.2;

      th,
      td {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        border-top: 0;
        border-right: 3px solid $white !important;
        border-bottom: 3px solid $white !important;
        border-left: 0;
        vertical-align: middle;
      }

      &:nth-child(4n + 1) {
        &,
        > * {
          background: $maroon-light-2 !important;
          color: $white !important;
        }
      }

      &:nth-child(4n + 2) {
        &,
        > * {
          background: $gold-alt !important;
          color: $soft-black !important;
        }
      }

      &:nth-child(4n + 3) {
        &,
        > * {
          background: $mid-gray !important;
          color: $white !important;
        }
      }

      &:nth-child(4n + 4) {
        &,
        > * {
          background: $light-cyan !important;
          color: $soft-black !important;
        }
      }

      > :last-child {
        background-color: transparent !important;
        text-align: center !important;
        border-right: 0 !important;
        padding: 3px 20px;
        width: calc(3rem + 40px);
        font-weight: 700;
        font-size: 1.1em;
      }

      > :not(:last-child) {
        background-color: rgba($white, 0.75) !important;
        background-image: linear-gradient(
          to right bottom,
          rgba($white, 0.75),
          35%,
          rgba($white, 0)
        );
        color: $soft-black !important;
        padding: 3px 8% !important;
        text-align: left !important;
        width: calc(100% - 3rem - 40px);
      }
    }
  }
}

.table.ck-widget .csom-datatable--column-chart {
  + figcaption.ck-editor__editable {
    font-size: 1.9rem;
  }
}

.table.ck-widget:has(.csom-datatable--column-chart) {
  + figcaption {
    @media (min-width: 768px) {
      width: 50rem;
      max-width: 50rem;
    }
  }
}
