/**
 * @file
 * Bootstrap Barrio specific styling for the Book module.
 */

.btn {
  font-size: 1.6rem;
  
  &.btn-primary--yellow{
    @include button-outline($menu-gold);
    background-color: transparent;
  }
  &.btn-primary--maroon{
    @include button-outline($maroon);
    background-color: transparent;
  }
  &.btn-secondary{
    @include button-solid($maroon);
  }
  
  &.btn-link-primary {
    color: $hamburger-grey;
    letter-spacing: 1.78;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $menu-gold;
      &:after{
        content: '';
        width: 0px;
      }
    }
    &:after{
      content: '';
      transition: all 0.3s ease-in-out;
      width: 100%;
      height: 2px;
      display: block;
      margin: 0 auto;
      background: $menu-gold;
    }
  }
  &.btn-link-secondary {
    color: $maroon;
    letter-spacing: 1.78;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $hamburger-grey;
      &:after{
        content: '';
        width: 0px;
      }
    }
    &:after{
      content: '';
      transition: all 0.3s ease-in-out;
      width: 100%;
      height: 2px;
      display: block;
      margin: 0 auto;
      background: $maroon;
    }
  }
}
