/**
 * @file
 * Bootstrap Barrio specific styling for the Book module.
 */

.btn {
  font-size: 1.6rem;
  
  &.btn-primary--yellow{
    @include button-outline($menu-gold);
    background-color: transparent;
  }
  &.btn-primary--maroon{
    @include button-outline($maroon);
    background-color: transparent;
  }
  &.btn-secondary{
    @include button-solid($maroon);
  }
  
  &.btn-link-primary {
    @include button-link-primary();
  }
  &.btn-link-secondary {
    @include button-link-secondary();
  }
}