.carlson-nav {
    border-bottom: 1px solid $menu-line-grey;
    min-height: 110px;
    background: $white;

    @include media-breakpoint-up(lg) {
        max-width: 1600px;
        margin: auto;
    }

    .region-we-mega-menu {
        width: 100%;
        background: none;

        .navbar-toggle {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            position: absolute;
            right: 8px;
            margin-top: -2px;
            width: 50px;
            height: 60px;

            @include media-breakpoint-up(lg) {
                display: none;
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
                margin-top: -30px;
            }

            .icon-bar {
                background-color: $hamburger-grey;
                width: 35px;
                margin-bottom: 5px;
            }

            .icon-label {
                @include font-lato-base();
                font-size: 1.2rem;
                color: $maroon;
            }
        }

        .navbar {
            background: $white;
            height: 100%;
            width: 100%;
            top: 165px;
            left: -1400px;
            transition: opacity .25s;
            opacity: 0;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                height: 710px;
            }

            &.we-mobile-megamenu-active {
                left: 0;
                opacity: 1;
                overflow-x: hidden;
            }

            @include media-breakpoint-up(sm) {
                top: 155px;
            }

            .container-fluid {
                &.expand {
                    min-height: 1150px; 
                }
            }

            @include media-breakpoint-up(lg) {
                top: -20px;
                bottom: 25px;
                opacity: 1;
                left: 0;
                width: 100%;
                height: inherit;
                margin: 0;
                padding: 0;
                display: block;
                background: none;
                position: relative;

                .container-fluid {
                    justify-content: flex-end;
                    width: initial;
                    min-height: inherit;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        justify-content: space-around;
                    }
                }
            }

            .we-mega-menu-ul {
                top: 0;
                position: absolute;
                transition-timing-function: ease-in;
                transition: 0.75s;
                width: 100%;

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    position: relative;
                }

                @include media-breakpoint-up(lg) {
                    flex-wrap: nowrap;
                    max-width: 610px;
                    width: 100%;
                    transition: none;
                    top: -12px;
                }

                @include media-breakpoint-up(xl) {
                    max-width: 830px;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        top: -33px;
                    }
                }

                &.slide-left {
                    top: 0;
                    position: absolute;
                    transform: translateX(-105%);

                    @include media-breakpoint-up(lg) {
                        position: relative;
                        transform: none;
                    }
                }

                @include media-breakpoint-up(lg) {
                    position: relative;
                }

                .dropdown-menu,
                .we-mega-menu-li {
                    width: 100%;
                    padding-left: 5px;
                    list-style: none;
                    border: none;

                    @include media-breakpoint-up(lg) {
                        background-color: inherit!important;
                        width: initial!important;
                        padding-left: 15px!important;
                        padding-right: 15px!important;

                        a.we-mega-menu-li {
                            padding-left: 0!important;
                            padding-right: 0!important;
                            font-weight: 400!important;
                        }
                    }

                    &.active {
                        .we-mega-menu-li {
                            border: none;
                            padding-left: 35px;
                            @include menu-title-font();
                            font-size: 3rem;
                            list-style: none;
                            background-color: inherit;

                            @include media-breakpoint-up(lg) {
                                @include font-lato-base();
                                font-size: 1.4rem;
                            }
                        }
                    }

                    &.dropdown-menu {
                        width: 100%;
                        .we-mega-menu-li {
                            padding-left: 35px;
                            list-style: none;
                            border: none;

                            @include media-breakpoint-up(lg) {
                                width: 100%!important;
                            }
                        }
                    }

                    .we-mega-menu-li {
                        border-top: none;
                        padding-left: 35px;
                        list-style: none;
                        @include menu-title-font();
                        font-size: 3rem;
                        border: none;

                        @include media-breakpoint-up(lg) {
                            @include font-lato-base();
                            font-size: 1.4rem;
                            padding-left: 0;
                        }
                    }

                    .we-mega-menu-submenu {
                        @include media-breakpoint-up(lg) {
                            border: none;
                            box-shadow: none!important;
                            background: none;
                            padding: 0;
                            margin: auto;
                            transition: none;
                            width: 100%;
                            position: fixed;
                            padding-top: 35px;
                            left: 0;
                            top: 94px;
                            
                            .we-mega-menu-submenu-inner {
                                @include box-shadow-a();
                                background: $white;
                                min-height: 500px;
                                border-top: 1px solid $menu-line-grey;
                                border-left: 40px solid white;
                                border-right: 40px solid white;

                                .we-mega-menu-row {
                                    padding-top: 10px;
                                    background: none!important;

                                    .we-mega-menu-col {
                                        .nav-tabs {
                                            .we-mega-menu-li {
                                                min-height: 45px;
                                                padding: 0;
                                                text-align: center;
                                                line-height: .8em;

                                                .we-mega-menu-submenu {
                                                    z-index: 1;
                                                    .we-mega-menu-submenu-inner {
                                                        border-top: none;
                                                        border-left: none;
                                                        border-right: none;

                                                        .we-mega-menu-row {
                                                            padding-top: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .we-mega-menu-li {
                            @include menu-sub-font();
                            padding-left: 10px;
                            padding-right: 10px;
                            list-style: none;
                            border: none;
                            min-height: 45px;

                            .we-mega-menu-submenu {
                                top: -4000px;
                                left: 105%;
                                position: fixed;
                                transition: opacity .35s;
                                opacity: 0;
                                width: 100%!important;

                                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                                    left: 56%;
                                }

                                @include media-breakpoint-up(lg) {
                                    top:0!important;
                                    left: 50%;
                                    right: 0;
                                    opacity: 1;
                                    padding-top: 0;
                                }

                                .we-mega-menu-submenu-inner {
                                    padding-top: 50px;
                                    @include media-breakpoint-up(lg) {
                                        padding-top: 0;
                                        background: none;
                                        box-shadow: none;
                                    }
                                }
                                
                                &.slide-in {
                                    transition-delay: .25s;
                                    top: 50px!important;
                                    opacity: 1;
                                }

                                &.fade-out {
                                    transition-delay: .45s;
                                    top: 50px!important;
                                    opacity: 0;
                                }

                                .nav {
                                    padding-left: 10px;
                                    .we-mega-menu-li {
                                        @include menu-sub-font();
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }

                        .we-megamenu-nolink {
                            @include menu-sub-font();
                            cursor: pointer;
                            margin-left: 10px;
                            border: none;
                            display: inline-block;
                            padding-right: 0;

                            &:before {
                                @include media-breakpoint-up(lg) {
                                    background: none;
                                }
                            }

                            &:after {
                                display: none;
                            }

                            &:hover {
                                @include yellow-line();
                            }

                            @include media-breakpoint-up(lg) {
                                margin-right: 15px;
                                position: relative;
                                right: 50%;
                                font-family: $font-crimson!important;
                                text-transform: none!important;
                                letter-spacing: 0!important;
                                font-size: 3rem!important;
                            }                            
                        }

                        a.we-mega-menu-li {
                            display: inline!important;
                            padding-right: 0;
                            padding-left: 0;
                            top: 10px;
                            margin-left: 10px;

                            @include media-breakpoint-up(lg) {
                                text-align: center;
                                font-family: $font-crimson!important;
                                text-transform: none!important;
                                letter-spacing: 0!important;
                                font-size: 3rem!important;
                                max-width: 75%!important;
                                margin: auto!important;
                            }

                            &:hover {
                                @include yellow-line();
                            }
                        }
                    }

                    &.open {
                        .we-mega-menu-li {
                            background: none;
                            list-style: none;
                            
                            &:after {
                                content: '';
                                margin-top: -2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-we-mega-menu {
        .we-mega-menu-row {
            @include media-breakpoint-up(lg) {
                margin-left: auto;
                margin-right: auto;

                .nav {
                    width: 100%;

                    .we-mega-menu-row {
                        margin: 0!important;
                    }
                }
            }
        }
    } 
}

.navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 70%;
    margin-top: 35px;
    min-width: 242px;
    float: inherit;

    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }
}

.overlay {
    background: none;
}

.btn-close {
    top: 90px;
    right: 6px;
    background: $white;
    box-shadow: none;
    width: 70px;
    height: 100px;
    border-radius: 0px;
    text-align: center;
    animation: none;
    transition: none;
    z-index: 35;
    display: block;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &:before,
    &:after {
        background-color: $hamburger-grey;
        top: 37%;
        margin-left: -14px;
        width: 30px;
    }

    label {
        @include font-lato-base();
        font-size: 1.2rem;
        color: $maroon;
        margin-top: 49px;
    }

    @include media-breakpoint-up(sm) {
        top: 64px;
    }
}

.mobile-third-tier-menu {
    &__back-btn {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            @include long-left-arrow-icon($maroon);
        }

        padding-left: 45px;
        letter-spacing: 1.5px;
        top: -40px;
        position: absolute;
        left: 0;
        border: none;
        background: none;
        font-size: 1.4rem;

        &:focus {
            outline: 0;
        }
    }

    &__label {
        @include menu-title-font();
        font-size: 2.5rem;
        text-transform: initial;
        letter-spacing: 0;
        padding-left: 20px;
        padding-top: 15px;
        position: absolute;
    }

    &__hr {
        margin-top: 0;
        margin-left: -5px;
        width: 96.5%;
    }
}

// Specific styles applied when the class: '.third-tier' or '.two-tier' is applied.
.carlson-nav .region-we-mega-menu .navbar .we-mega-menu-ul .we-mega-menu-li {

    &:before {
        content: '';
        position: absolute;
        @include plus-icon($menu-gold);
        margin-top: 19px;

        @include media-breakpoint-up(lg) {
            background: none;
        }
    }

    &.open {
        &:before {
            content: '';
            position: absolute;
            @include minus-icon($menu-gold);
            margin-top: 30px;
    
            @include media-breakpoint-up(lg) {
                background: none;
            }
        }
    }

    .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col .nav-tabs .we-mega-menu-li {
        &:before {
            background: none;
        }
    }

    &.two-tier {
        .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
            @include media-breakpoint-up(lg) {
                padding-top: 0;
                max-width: 100%;
                @include grey-line();

                .we-mega-menu-col {
                    .type-of-block {
                        margin: 0;
                        margin-left: 22px;
                    }

                    .nav .we-mega-menu-li {
                        text-align: right;
                        line-height: 1.4em;
                        padding-right: 0!important;
                    }
                }
            }
        }
    }

    &.third-tier {
        .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
            @include media-breakpoint-up(lg) {
                @include grey-line();
                padding-top: 0;
                overflow: hidden;
                max-width: 60%;
            }
        }

        .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col .nav-tabs .we-mega-menu-li {
            @include media-breakpoint-up(lg) {
                max-width: inherit!important;
                margin: inherit!important;
                text-align: right;
                padding-left: 0!important;
            }

            a.we-mega-menu-li {
                @include media-breakpoint-up(lg) {
                    text-align: right;
                    right: 50%;
                    position: absolute;
                    display: block!important;
                    top: inherit!important;
                    margin-top: 10px!important;
                    margin-right: 15px!important;

                    &:hover {
                        @include yellow-line();
                        background-position: 350px -15px!important;
                        background-repeat: no-repeat!important;
                    }
                }
            }

            .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
                @include media-breakpoint-up(lg) {
                    background: none!important;
                    margin-left: 25px!important;
                }
            }

            .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col .nav-tabs .we-mega-menu-li {
                a.we-mega-menu-li {
                    @include media-breakpoint-up(lg) {
                        text-align: left;
                        right: inherit;
                        position: relative;
                        font-family: $font-lato!important;
                        text-transform: inherit!important;
                        font-size: 1.4rem!important;
                        transition: padding-left .35s!important;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            @include long-right-arrow-icon($slate);
                            transform: rotate(0deg);
                            margin-top: -1px;
                            opacity: 0;
                            transition: opacity .25s;
                        }
                        
                        &:hover {
                            text-decoration: underline!important;
                            background: none!important;
                            padding-left: 40px!important;

                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col .nav-tabs .we-mega-menu-li {
            .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row .we-mega-menu-col .nav-tabs {
                @include media-breakpoint-up(lg) {
                    position: fixed;
                    top: -9999px;
                    z-index: inherit;
                    height: auto;
                    max-height: 300px;
                    margin-left: -8px;
                    opacity: 0;
                    transition: opacity .5s;

                    .we-mega-menu-li {
                        min-height: 30px!important;
                    }
                    
                    &.show {
                        z-index: 9999;
                        height: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.carlson-nav .region-we-mega-menu .navbar .we-mega-menu-ul .we-mega-menu-li {
    .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
        @include media-breakpoint-up(lg) {
            padding-top: 40px!important;
            padding-bottom: 80px!important;

            .nav-tabs {
                .we-mega-menu-li .we-mega-menu-submenu .we-mega-menu-submenu-inner .we-mega-menu-row {
                    &:after {
                        border-left: none;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .carlson-nav .region-we-mega-menu .navbar .we-mega-menu-ul {
        li.we-mega-menu-li {
            a.we-mega-menu-li {
                &:before {
                    content: '';
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 6px;
                    left: 0;
                    position: relative;
                    top: 48.2px;
                    opacity: 0;
                    transition: opacity .5s;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        top: 63px;
                    }
                }

                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }

            &.active {
                a.we-mega-menu-li {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.carlson-nav .region-we-mega-menu .navbar .we-mega-menu-ul .dropdown-menu.dropdown-menu {
    @include media-breakpoint-up(lg) {
        padding-top: 6px;
    }
}

body {

    &.toggled {
        right: 0;

        .btn-close {
            &.sticky {
                top: 6px;
            }
        }
    }

    &.toolbar-vertical {
        .btn-close {
            top: 139px;

            @include media-breakpoint-up(sm) {
                top: 119px;
            }
        }

        .carlson-nav .region-we-mega-menu .navbar {
            top: 211px;

            @include media-breakpoint-up(sm) {
                top: 195px;
            }
        }

        .carlson-nav .block-we-megamenu {
            top: 185px;

            @include media-breakpoint-up(sm) {
                top: 162px;
            }

            @include media-breakpoint-up(lg) {
                top: 211px;
            }
        }
    }

    &.toolbar-fixed {
        .carlson-nav .block-we-megamenu {
            @include media-breakpoint-up(lg) {
                top: 211px;
            }
        }
    }
}

.navbar-we-mega-menu.navbar ul>li ul {
    padding-left: 18px;

    @include media-breakpoint-up(lg) {
        padding-left: 20px;
    }
}

.block-we-megamenu {
    position: absolute;
    right: 0;
    top: 135px;
    
    @include media-breakpoint-up(sm) {
        top: 115px;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 5%;
        top: 123px;
    }
}

.carlson-header {
    &.sticky {
        z-index: 6;
        position: fixed;
        padding-left: 0;
        padding-right: 0;
        top: 0;

        .navbar-brand {
            padding-left: 15px;
            padding-right: 0;
            padding-top: 0;
            padding-right: 0;
        }

        .region-we-mega-menu {
            padding: 0;
            margin: 0;
            top: 0;
            margin-top: -67px;
            z-index: 99;
            position: absolute;

            @include media-breakpoint-up(sm) {
                margin-top: -48px;
            }

            .navbar-we-mega-menu {
                position: fixed;
                top: 113px;
                z-index: 99999;
            }
        }
    }
}