/* generic form styles */
.form-control {
    border-color: $light-gray;
    margin-top: 0;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.6rem;
    color: $dark-gray;
    border-radius: 0.25rem;
    &::placeholder {
        color: lighten($slate, 50%);
    }
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    -webkit-border-radius: 0.25rem;
    background:#fff url('../images/dd-arrows.png') no-repeat right 1rem center;
    line-height: normal;
}
label {
    margin-bottom: 1rem;
    font-family: $font-lato;
    text-transform: uppercase;
    letter-spacing: 1.39px;
    color: $slate;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.form-group {
    &.half-width {
        display: inline-block;
        padding: 0;
        width: calc(49% - 15px);
        margin-left: 15px;
        + .form-group.half-width {
            margin-left: 5px;
        }
    }
    input[type="submit"] {
        margin-top: 1rem;
        height: auto;
        line-height: 2.4rem;
        @include button-solid($maroon);
    }
}