/* generic form styles */
.form-control {
    border-color: $light-gray;
    margin-top: 0;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.6rem;
    color: $dark-gray;
    &::placeholder {
        color: lighten($slate, 50%);
    }
}
label {
    margin-bottom: 1rem;
    font-family: $font-lato;
    text-transform: uppercase;
    letter-spacing: 1.39px;
    color: $slate;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.form-group input[type="submit"] {
    margin-top: 1rem;
}