/**
 * @file
 * Visual styles for heros in Barrio.
 */
/* Homepage and Exec Ed page hero */
.home-hero {
  &__image {
    img{
      width: 100%;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    }
  }
  &__title {
    margin-top: 2rem;
    letter-spacing : -.7px;
    @include heading-title($font-xlarge, $maroon, 'left');
    line-height : 105%;
  }
  &__subhead {
    margin-bottom: 3rem;
  }
  @include media-breakpoint-up(lg) {
    &__image {

    }
    &__intro {
      margin-top: 0;
      position: relative;
      margin-right: -8.4%;
      z-index: 1;
    }
    &__subhead {
      padding-right: 40%;
      margin-bottom: 0;
    }
  }
}
/* Program page hero */
.hero-program{
  &__img {
    img{
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    }
    margin-bottom: 3rem;
  }
  &__content {
    &--wrapper {
      min-height: 100%;
      flex-direction: column;
      justify-content: space-between;
      > div {
        flex: 1 1 auto;
      }
    }
    &--lead-in {
      flex: 1 1;
    }
  }
  &__title {
    @include heading-title($font-medium, $maroon, 'left')
  }
  &__link {
    text-align: center;
    text-transform: uppercase;
    a, span { // allow span for ubounce
      cursor: pointer;
      line-height: 40px;
      font-weight: bold;
      color: $slate;
      letter-spacing: 1.78px;
      margin-right: 41px;
      &:hover, &:focus {
        text-decoration: none;
        color: $maroon;
      }
      &:after{
        position: relative;
        color: $maroon;
        font-size: 2.8rem;
        top: 5px;
        margin-left: 1.5rem;
        border: solid 2px $maroon;
        padding: 4px;
        @include carlson-icons($icon-arrow-right);
      }
      &:hover:after, &:focus:after {
        color: $white;
        background: $maroon;
      }
    }
  }
  &__link-inner {
    background-color: $menu-gold;
    background-image: url('../images/bg/hero_bg.png');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 20px 30px;
  }
  @include media-breakpoint-up(lg) {
      &__title {
        margin-top: 2rem;
      }
      &__link {
        text-align: right;
        bottom: -20px;
        left: -150px;
        width: calc(100% + 150px);
        max-width: calc(100% + 150px);
        flex: 0 0 calc(100% + 150px);
        padding-right: 0;
      }
  }
}

.basic-hero {
  &__img img {
    margin-bottom: -5rem;
    @include box-shadow(0, 15px, 60px);
  }
  &__title {
    text-align: center;
    border-bottom: solid 1px #D8D8D8;
    margin-bottom: 3rem;
    &--byline {
      font-weight: 400;
    }
    h1 {
      margin-bottom: 2rem;
    }
  }
  &__title-inner{
    padding: 2rem;
    background: $white;
  }
  &__pub {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    @include media-breakpoint-up(lg){
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__share {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.78px;
    @include media-breakpoint-up(lg){
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .share-this {
      .addtoany_list {
        @include media-breakpoint-up(md) {
          display: block;
        }
        @include media-breakpoint-up(xl) {
          display: inline;
        }
        a {
          .icon {
            font-size: 2.5rem;
          }
          &:hover, &:focus {
            text-decoration: none;
            color: $gold;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__title {
      text-align: left;
    }
    &__pub {
      text-align: left;

    }
    &__share {
      text-align: left;
    }
  }
  @include media-breakpoint-up(xl){
    &__title-inner {
      margin: 0 2rem;
      padding: 22px 60px;
    }
  }
}
