/* Card flipping styles */

.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
  .card {
    border:none;
    background: transparent;
  }
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg);
  }

}
.card-flip,
.card-flip__front,
.card-flip__back {
  width: 100%;
  min-height: 300px;
}

/* Data calendar style */
.date-cal {
  display: flex;
  align-items: center;
  &__item {
    display: inline-block;
    text-align: center;
    width: 100px;
    &--day {
      font-size: 8rem;
      line-height: 8rem;
      @include font-crimson-base();
      color: $maroon;
    }
    &--month {
      text-transform: uppercase;
      color: $dark-gray;
      font-size: 1.4rem;
      letter-spacing: 1.56px;
      font-weight: bold;
      &:after{
        content: '';
        height: 2px;
        display: block;
        background: $gold;
      }
    }
  }
  &__divider {
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: bold;
    font-size: 1.4rem;
  }
}