.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
  .card {
    border:none;
  }
}

.card-flip,
.card-flip__front,
.card-flip__back {
  width: 100%;
  min-height: 300px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-flip__front,
.card-flip__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-flip__front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-flip__back {
  transform: rotateY(180deg);
}