/* Card flipping styles */

.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
  .card {
    border:none;
    background: transparent;
  }
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg);
  }

}
.card-flip,
.card-flip__front,
.card-flip__back {
  width: 100%;
  min-height: 300px;
}

/* Data calendar style */
.date-cal {
  display: flex;
  align-items: center;
  &__item {
    display: inline-block;
    text-align: center;
    width: 100px;
    &--day {
      font-size: 8rem;
      line-height: 8rem;
      @include font-crimson-base();
      color: $maroon;
      display: block;
      text-align: center;
    }
    &--month {
      text-transform: uppercase;
      color: $dark-gray;
      font-size: 1.4rem;
      letter-spacing: 1.56px;
      font-weight: bold;
      display: block;
      text-align: center;
      &:after{
        content: '';
        height: 2px;
        display: block;
        background: $gold;
      }
    }
  }
  &__divider {
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: bold;
    font-size: 1.4rem;
  }
}
/* Dialog modal overrides */
.ui-dialog {
  @include media-breakpoint-down(md) {
    width: 100% !important;
    left: 0 !important;
  }
}

/* Component spacing */
.component-paragraph {
  margin-bottom: 3rem;
  @include media-breakpoint-up(lg) {
    margin-bottom: 5rem;
  }
}

/* Node regions */
.node__bottom--left,
.node__bottom--right {
  margin-bottom: 5rem;
}

.share-this {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.78px;
  .addtoany_list {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-up(md){
      display: inline;
    }
    a {
      padding: 1rem;
      text-align: center;
      @include media-breakpoint-up(lg){
        margin-top: 0;
      }
    }
  }
}

.page-links {
  &__tags {
    margin-bottom: 1rem;
    &-label {
      @include font-crimson-base();
      font-size: 3.4rem;
      display: block;
      margin-bottom: 1.5rem;
      margin-right: 0.5rem;
      @include media-breakpoint-up(md){
        display: inline;
      }
    }
    a {
      font-style: italic;
    }
  }
  .share-this {
    @include media-breakpoint-up(lg){
      text-align: right;
    }
  }
}

.file {
  min-height: 1.6rem;
  vertical-align: baseline;

  &--general,
  &--application-octet-stream {
      background-image: url(../../images/icons/application-octet-stream.png);
  }

  &--package-x-generic {
      background-image: url(../../images/icons/package-x-generic.png);
  }

  &--x-office-spreadsheet {
      background-image: url(../../images/icons/x-office-spreadsheet.png);
  }

  &--x-office-document {
      background-image: url(../../images/icons/x-office-document.png);
  }

  &--x-office-presentation {
      background-image: url(../../images/icons/x-office-presentation.png);
  }

  &--text-x-script {
      background-image: url(../images/icons/text-x-script.png);
  }

  &--text-html {
      background-image: url(../images/icons/text-html.png);
  }

  &--text-plain {
      background-image: url(../images/icons/text-plain.png);
  }

  &--application-pdf {
      background-image: url(../images/icons/application-pdf.png);
  }

  &--application-x-executable {
      background-image: url(../images/icons/application-x-executable.png);
  }

  &--audio {
      background-image: url(../images/icons/audio-x-generic.png);
  }

  &--video {
      background-image: url(../images/icons/video-x-generic.png);
  }

  &--text {
      background-image: url(../images/icons/text-x-generic.png);
  }

  &--image {
      background-image: url(../images/icons/image-x-generic.png);
  }
}

.views-row {
		flex: 0 0 100%;
    max-width: 100%;
}

.node__bottom {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg){
    flex-direction: row;
  }
  &--left,
  &--right {
    &:not(:empty){
      flex: 1;
    }
  }
}