.slick--skin--carlson-slick {
  border-bottom: none;
  border-top: none;
  min-height: 80px;
  padding: 15px 30px;

  .slide__content {
    color: #c42c2c;
    padding: 0 10px;
  }

  .slide__media {
    border-radius: 50%;
    float: left;
    height: 100px;
    margin-top: 0;
    width: 100px;
    overflow: hidden;
  }

  .slide__caption {
    font-size: 14px;
    font-size: 0.875rem;
    left: auto;
    line-height: 1.2;
    margin-left: 100px;
    padding: 0 20px;
    position: relative;
    top: auto;
    width: auto;
  }
}

.slick-arrow {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(230,219,214,0.50);
  &:before {
    content: " ";
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 4.2rem;
    background-size: contain;
    display: block;
    background-position: center;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
  }
  &:hover {
    background-color: #e6dbd6;
  }
  &.slick-prev:before {
    background-image: url('../images/arrow-left.svg');
  }
  &.slick-next:before {
    background-image: url('../images/arrow-right.svg');
  }
}

.slick-dots {
  bottom: -37px;
  li{
    width: 36px;
    height: 6px;
    button{
      width: 36px;
      height: 6px;
      &::before {
        content: '';
        width: 36px;
        height: 6px;
        background-color: #7a0019;
      }
    }
  }
}

.slick-slider {
  display: flex !important;
  justify-content: center;
}

.slider-nav {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  .slick-list {
    display: flex;
    justify-content: initial;
    height: auto;
    width: 100% !important;
    margin-left: 16px;
    margin-right: 14px;
    .slick-track{
      display: flex;
      justify-content: center;
      /*width: 100% !important;*/
    }
  }
  .slide.slick-slide {
    min-width: 177px;
    max-width: 177px;
    margin: 0 7px;
    img{
      border-bottom: 9px solid transparent;
      transition: all 0.3s ease-in-out;
      height: 108.5px;
    }
    &.slick-current img{
      border-bottom: 9px solid #ffcc33;
    }
  }
}

.slider-for .slick-list .slick-track .slick-slide {
  margin: 0 15px;
  width: 100vw;
  .text-center{
    width: 100%;
  }
  .slide__img{
    width: 100%;
  }
  img{
    width: 100%;
  }
}