/* GENERAL STYLES
-------------------------------------------------*/
html {
    font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-lato-base();
  color: $slate;
  font-size: 1.6rem;
  line-height: 3rem;
}
.container {
    max-width: 1600px;
}
/* Override of bootstrap to fix issues in Safari */
.row:before,
.row:after {
  display: inline-block;
}
/* COLORS
--------------------------------------------------*/

a {
    color: $accent-shade;
    font-size: 1.6rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img-fluid {
  width: 100%;
}
.bg-inverse {
    background: $primary-shade !important;
}

.site-footer {
    background: $accent-shade !important;
}

.menu--main li a {
    color: $primary-shade;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.kss-style, .kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp, .kss-nav__menu-item{
  font-size: 1.4rem !important;
  line-height: 1.8rem !important;
}

[class^="col"] {
  transition: all 0.3s ease-in-out;
}

.slick-prev {
    z-index: 1;
}

.slick-slide {
    outline: none;
}

#icons {
    display: none;
}
.list-inline li {
    display: inline-block;
}
.node__content {
    font-size: 1.4rem;
    @include media-breakpoint-up(md) {
        font-size: 1.6rem;
    }
    ul:not(.nav):not(.slick-dots):not(.no-list-style) {
        list-style-type: none;
        padding-left: 1rem;
        li {
            position: relative;
            padding-left: 2rem;
            padding-bottom: 1rem;
            &:before {
                    content: '';
                    height: .8rem;
                    width: .8rem;
                    background: $maroon;
                    transform: rotate(45deg);
                    display: inline-block;
                    position: absolute;
                    top: .8em;
                    left: .4rem;
            }
        }
    }
}

/* GENERIC TABLE STYLES */
.table,
.table-striped,
table {
    border: 0;
    thead {
        > tr {
            border-bottom: 4px double $light-gray;
            > th {
                border-bottom: 0;
            }
        }
        tr {
            background: transparent;
            th {
                background: transparent;
                color: $slate;
            }
        }
    }
    > tbody {
        border-bottom: 1px solid $light-gray;
        > tr {
            > td {
                border: 0;
            }
        }
        tr {
            border-top: 1px solid $light-gray;
            border-bottom: 0;
            background: transparent;
            &:nth-of-type(odd) {
                background: rgba(230,216,214,0.3);
            }
            &:nth-of-type(even) {
                background: transparent;
            }
            td {
                border: 0;
                background: transparent;
            }
        }
    }
}
.table-responsive {
    border-color: $light-gray;
    border-bottom: 0;
}