#block-views-block-event-channels-block-2 .view-header,
#block-views-block-event-channels-block-4 .view-header,
#block-views-block-event-channels-block-16 .view-header,
.department-event-block .view-header {
  padding: 3rem 0; }

#block-views-block-event-channels-block-2 .view-filters,
#block-views-block-event-channels-block-4 .view-filters,
#block-views-block-event-channels-block-16 .view-filters,
.department-event-block .view-filters {
  padding: 0 0 3rem; }

#block-views-block-event-channels-block-2 .view-content,
#block-views-block-event-channels-block-4 .view-content,
#block-views-block-event-channels-block-16 .view-content,
.department-event-block .view-content {
  padding-top: 3rem; }

#block-views-block-event-channels-block-2 .view-content,
#block-views-block-event-channels-block-2 nav,
#block-views-block-event-channels-block-4 .view-content,
#block-views-block-event-channels-block-4 nav,
#block-views-block-event-channels-block-16 .view-content,
#block-views-block-event-channels-block-16 nav,
.department-event-block .view-content,
.department-event-block nav {
  background: #fff; }

@media (min-width: 992px) {
  #block-views-block-event-channels-block-2 .view-content,
  #block-views-block-event-channels-block-4 .view-content,
  #block-views-block-event-channels-block-16 .view-content,
  .department-event-block .view-content {
    justify-content: center; }
  #block-views-block-event-channels-block-2 .event-items__item--row,
  #block-views-block-event-channels-block-4 .event-items__item--row,
  #block-views-block-event-channels-block-16 .event-items__item--row,
  .department-event-block .event-items__item--row {
    flex: 0 0 100%; }
  #block-views-block-event-channels-block-2 .form-actions,
  #block-views-block-event-channels-block-4 .form-actions,
  #block-views-block-event-channels-block-16 .form-actions,
  .department-event-block .form-actions {
    margin-left: auto;
    margin-right: auto; } }

#block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
#block-views-block-event-channels-block-2 .view-filters .form-row .form-actions,
#block-views-block-event-channels-block-4 .view-filters .form-row > fieldset,
#block-views-block-event-channels-block-4 .view-filters .form-row .form-actions,
.department-event-block .view-filters .form-row > fieldset,
.department-event-block .view-filters .form-row .form-actions {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-2 .view-filters .form-row .form-actions,
    #block-views-block-event-channels-block-4 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-4 .view-filters .form-row .form-actions,
    .department-event-block .view-filters .form-row > fieldset,
    .department-event-block .view-filters .form-row .form-actions {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-2 .view-filters .form-row .form-actions,
    #block-views-block-event-channels-block-4 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-4 .view-filters .form-row .form-actions,
    .department-event-block .view-filters .form-row > fieldset,
    .department-event-block .view-filters .form-row .form-actions {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

#block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
#block-views-block-event-channels-block-2 .view-filters .form-row .form-actions {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-2 .view-filters .form-row .form-actions {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-2 .view-filters .form-row .form-actions {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

@media (min-width: 992px) {
  #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset:not(.js-form-wrapper) {
    margin-top: 30px; } }

#block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 768px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 992px) {
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper .fieldset-legend {
    letter-spacing: 1.39px;
    font-size: 1.3rem;
    text-transform: uppercase; }
  #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper > .fieldset-wrapper {
    display: flex;
    flex-flow: row wrap; }
    #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper > .fieldset-wrapper > fieldset {
      padding-right: 5px;
      flex: 0 0 100%;
      max-width: 100%; }
      @media (min-width: 768px) {
        #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper > .fieldset-wrapper > fieldset {
          flex: 0 0 50%;
          max-width: 50%; } }
      @media (min-width: 992px) {
        #block-views-block-event-channels-block-2 .view-filters .form-row > fieldset.js-form-wrapper > .fieldset-wrapper > fieldset {
          flex: 0 0 50%;
          max-width: 50%; } }

#block-views-block-event-channels-block-16 .view-filters .form-row > fieldset,
#block-views-block-event-channels-block-16 .view-filters .form-row .form-actions {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 992px) {
    #block-views-block-event-channels-block-16 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-16 .view-filters .form-row .form-actions {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    #block-views-block-event-channels-block-16 .view-filters .form-row > fieldset,
    #block-views-block-event-channels-block-16 .view-filters .form-row .form-actions {
      flex: 0 0 25%;
      max-width: 25%; } }

.view-id-event_channels.view-display-id-block_2 .view-filters,
.view-id-event_channels.view-display-id-block_16 .view-filters {
  margin-bottom: 3rem; }
  .view-id-event_channels.view-display-id-block_2 .view-filters .form-row,
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-left: -25px;
    align-items: baseline; }
  .view-id-event_channels.view-display-id-block_2 .view-filters .form-item-title,
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-item-title {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px; }
  .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper,
  .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px; }
    .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper,
    .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-right: -25px;
      margin-left: -25px; }
      .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper fieldset,
      .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper fieldset {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; }
      .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper .description,
      .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper .description {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; }
  .view-id-event_channels.view-display-id-block_2 .view-filters .form-actions,
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-actions {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px; }

@media (min-width: 992px) {
  .view-id-event_channels.view-display-id-block_2 .view-filters .form-item-title,
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-item-title {
    flex: 0 0 25%;
    max-width: 25%; }
  .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper,
  .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper {
    flex: 0 0 50%;
    max-width: 50%; }
    .view-id-event_channels.view-display-id-block_2 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper fieldset,
    .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper .fieldset-wrapper fieldset {
      flex: 0 0 50%;
      max-width: 50%; }
  .view-id-event_channels.view-display-id-block_2 .view-filters .form-actions,
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-actions {
    flex: 0 0 25%;
    max-width: 25%;
    align-self: center;
    margin-top: 26px; } }

.view-id-event_channels.view-display-id-block_16 .view-filters .form-item-field-event-location-category-target-id-1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px; }

@media (min-width: 992px) {
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-item-field-event-location-category-target-id-1 {
    flex: 0 0 25%;
    max-width: 25%; }
  .view-id-event_channels.view-display-id-block_16 .view-filters #edit-field-event-date-value-1-wrapper {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .view-id-event_channels.view-display-id-block_16 .view-filters .form-actions {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; } }

/*# sourceMappingURL=event-finder.css.map */