.news-hub-search__filter #edit-submit-hub-search-page {
  background-color: #7a0019;
  border-color: #7a0019;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .news-hub-search__filter #edit-submit-hub-search-page:not(:disabled):hover,
  .news-hub-search__filter .show > .dropdown-toggle#edit-submit-hub-search-page {
    background-color: #540011;
    border-color: #3a000c;
    color: #fff; }
  .news-hub-search__filter #edit-submit-hub-search-page:not(:disabled):active {
    background-color: #3a000c;
    border-color: #3a000c;
    color: #fff; }

.news-hub-search {
  margin-top: 1rem; }
  .news-hub-search__link {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    text-transform: uppercase; }
  .news-hub-search__filter {
    padding: 0 10px; }
    .news-hub-search__filter .form-row {
      flex-wrap: nowrap;
      gap: 1.6rem; }
      .news-hub-search__filter .form-row > * {
        margin: 0; }
      @media (max-width: 991.98px) {
        .news-hub-search__filter .form-row {
          flex-wrap: wrap; }
          .news-hub-search__filter .form-row > fieldset,
          .news-hub-search__filter .form-row > details,
          .news-hub-search__filter .form-row > div {
            width: 100%; } }
    .news-hub-search__filter .form-group input[type="submit"] {
      margin-bottom: 10px;
      transition: none; }
      .news-hub-search__filter .form-group input[type="submit"]:hover, .news-hub-search__filter .form-group input[type="submit"]:focus {
        transition: all 0.3s ease-in-out; }
      .news-hub-search__filter .form-group input[type="submit"]#edit-reset {
        color: #7a0019;
        height: auto;
        line-height: 2.4rem;
        padding: 0;
        background: none;
        border: 0;
        text-align: right;
        box-shadow: none; }
        .news-hub-search__filter .form-group input[type="submit"]#edit-reset:hover, .news-hub-search__filter .form-group input[type="submit"]#edit-reset:focus {
          text-decoration: underline; }
    .news-hub-search__filter #edit-search-api-fulltext,
    .news-hub-search__filter #edit-keyword {
      background-image: url("../images/svg/spy-glass-maroon.svg");
      background-repeat: no-repeat;
      padding-left: 40px;
      background-position: 10px; }
    @media (min-width: 768px) {
      .news-hub-search__filter fieldset.form-type-textfield,
      .news-hub-search__filter fieldset.form-type-select {
        width: 100%; } }
    @media (min-width: 992px) {
      .news-hub-search__filter fieldset.form-type-textfield,
      .news-hub-search__filter fieldset.form-type-select {
        width: 100%; } }
    @media (min-width: 992px) {
      .news-hub-search__filter #edit-actions {
        width: min-content;
        display: flex;
        gap: 10px;
        align-self: flex-start;
        margin-top: 3rem; } }
    .news-hub-search__filter #edit-submit-hub-search-page {
      background: #fff;
      width: 100%; }
    .news-hub-search__filter details.form-item {
      margin-bottom: 0; }
      @media (min-width: 992px) {
        .news-hub-search__filter details.form-item {
          margin-top: 3rem;
          min-width: 270px; } }
    .news-hub-search__filter #edit-keyword,
    .news-hub-search__filter select.form-control {
      color: #303030;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; }
  .news-hub-search__results {
    margin-top: 0; }
    @media (min-width: 768px) {
      .news-hub-search__results {
        margin-top: 0; } }
    .news-hub-search__results nav {
      width: 100%; }
  .news-hub-search__centennial-footer {
    background: #e6e0d2; }

/*# sourceMappingURL=news-hubs.css.map */