.news-hub-block__results--link {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .news-hub-block__results--link:hover {
    text-decoration: none; }
  .disabled.news-hub-block__results--link, .news-hub-block__results--link:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .news-hub-block__results--link svg {
    display: inline-block;
    height: .85em;
    width: auto;
    vertical-align: -0.08em; }

.news-hub-block__results--link {
  background-color: #fc3;
  border-color: #fc3;
  color: #212529;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .news-hub-block__results--link:not(:disabled):hover,
  .show > .dropdown-toggle.news-hub-block__results--link {
    background-color: #ffc20d;
    border-color: #f2b600;
    color: #000; }
  .news-hub-block__results--link:not(:disabled):active {
    background-color: #f2b600;
    border-color: #f2b600;
    color: #000; }

.news-hub-block {
  width: 100%; }
  .news-hub-block__results {
    margin-top: 3rem; }
    .news-hub-block__results--featured div[class*="hub-card"] {
      box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 2.5rem; }
    .news-hub-block__results--featured .date-cal {
      margin: 0 auto; }
    .news-hub-block__results--title {
      margin-bottom: 2.5rem; }
      .news-hub-block__results--title h2 {
        color: #7a0019;
        text-transform: uppercase;
        font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
        letter-spacing: 0.88px;
        font-size: 2.8rem;
        font-weight: 700; }
    .news-hub-block__results--items > div {
      margin-bottom: 1.8rem; }
    .news-hub-block__results--items .event-items__item {
      margin-left: -15px !important;
      margin-right: -15px !important;
      border: 0; }
      .news-hub-block__results--items .event-items__item .date-cal {
        justify-content: center; }
        .news-hub-block__results--items .event-items__item .date-cal__item {
          flex: 1; }
    .news-hub-block__results--link {
      display: inline-block; }
    .news-hub-block__results .news-items__item--title {
      text-transform: capitalize; }
    @media (max-width: 767.98px) {
      .news-hub-block__results .video-items__item--image,
      .news-hub-block__results .news-items__item--image {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .news-hub-block__results .video-items__item--text,
      .news-hub-block__results .news-items__item--text {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; } }
    @media (min-width: 576px) {
      .news-hub-block__results .video-items__item--image,
      .news-hub-block__results .news-items__item--image,
      .news-hub-block__results .date-cal {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0; }
      .news-hub-block__results .video-items__item--text,
      .news-hub-block__results .news-items__item--text,
      .news-hub-block__results .event-items__details {
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 15px;
        padding-left: 15px; } }

/*# sourceMappingURL=news-hub-block.css.map */