.news-hub-search__filter #edit-submit-hub-search-page {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .news-hub-search__filter #edit-submit-hub-search-page:hover {
    text-decoration: none; }
  .news-hub-search__filter .disabled#edit-submit-hub-search-page, .news-hub-search__filter #edit-submit-hub-search-page:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .news-hub-search__filter #edit-submit-hub-search-page svg {
    display: inline-block;
    height: .85em;
    width: auto;
    vertical-align: -0.08em; }

.news-hub-search__filter #edit-submit-hub-search-page {
  background-color: #7a0019;
  border-color: #7a0019;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .news-hub-search__filter #edit-submit-hub-search-page:not(:disabled):hover,
  .news-hub-search__filter .show > .dropdown-toggle#edit-submit-hub-search-page {
    background-color: #540011;
    border-color: #3a000c;
    color: #fff; }
  .news-hub-search__filter #edit-submit-hub-search-page:not(:disabled):active {
    background-color: #3a000c;
    border-color: #3a000c;
    color: #fff; }

.news-hub-search {
  margin-top: 1rem; }
  .news-hub-search .card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem; }
    .news-hub-search .card-columns .card {
      box-sizing: border-box;
      margin: 0 .25rem 2rem;
      flex: 100%;
      flex-basis: 100%;
      flex-grow: 0; }
      @media (min-width: 992px) {
        .news-hub-search .card-columns .card {
          flex-basis: calc(50% - 1.5rem); } }
      @media (min-width: 1200px) {
        .news-hub-search .card-columns .card {
          flex-basis: calc(33.3333% - 1.5rem); } }
      .news-hub-search .card-columns .card .card__tags .card__tag {
        display: inline-block;
        width: min-content;
        font-size: 1.4rem;
        padding: 3px 6px;
        margin-bottom: 5px;
        background-color: #e6e0d2;
        color: black;
        white-space: nowrap; }
  .news-hub-search.in-the-media .in-the-media__header {
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e6d8d6;
    margin-bottom: 3rem; }
    .news-hub-search.in-the-media .in-the-media__header p {
      max-width: 1080px;
      margin: auto;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; }
  .news-hub-search.in-the-media .in-the-media__filter .form-row {
    flex-wrap: wrap;
    gap: 1.6rem; }
  .news-hub-search.in-the-media .card-columns .card {
    margin: 0.5rem 0; }
    .news-hub-search.in-the-media .card-columns .card .card__body {
      margin: 2rem; }
      .news-hub-search.in-the-media .card-columns .card .card__body h3.card__title {
        margin-left: 0; }
    .news-hub-search.in-the-media .card-columns .card.hub-card--news, .news-hub-search.in-the-media .card-columns .card.hub-card--video, .news-hub-search.in-the-media .card-columns .card.hub-card--blog {
      border-bottom: none; }
      .news-hub-search.in-the-media .card-columns .card.hub-card--news .card__title--link::after, .news-hub-search.in-the-media .card-columns .card.hub-card--video .card__title--link::after, .news-hub-search.in-the-media .card-columns .card.hub-card--blog .card__title--link::after {
        content: unset; }
    .news-hub-search.in-the-media .card-columns .card h4.card__source {
      font-family: "Lato",Arial,Verdana,sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bolder; }
    .news-hub-search.in-the-media .card-columns .card .card__text {
      font-family: "Lato",Arial,Verdana,sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bolder;
      margin: 0rem; }
    .news-hub-search.in-the-media .card-columns .card a.card__text {
      color: #7a0019; }
    .news-hub-search.in-the-media .card-columns .card .card__bar {
      margin: 0.5rem 0;
      width: 20rem;
      border: 3px solid #7a0019;
      border-radius: 3px 3px 3px 3px; }
  @media (min-width: 992px) {
    .news-hub-search.in-the-media .card-columns .card {
      max-width: calc(50% - 1rem); } }
  @media (min-width: 1200px) {
    .news-hub-search.in-the-media .card-columns .card {
      max-width: calc(50% - 1rem); } }
  .news-hub-search header h1 {
    font-size: 2.8rem; }
    @media (min-width: 992px) {
      .news-hub-search header h1 {
        font-size: 4.2rem; } }
  .news-hub-search__link {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    text-transform: uppercase; }
  .news-hub-search__filter {
    padding: 0 10px; }
    .news-hub-search__filter .form-row {
      flex-wrap: nowrap;
      gap: 1.6rem; }
      .news-hub-search__filter .form-row > * {
        margin: 0; }
      @media (max-width: 991.98px) {
        .news-hub-search__filter .form-row {
          flex-wrap: wrap; }
          .news-hub-search__filter .form-row > fieldset,
          .news-hub-search__filter .form-row > details,
          .news-hub-search__filter .form-row > div {
            width: 100%; } }
    .news-hub-search__filter .form-group input[type="submit"] {
      margin-bottom: 10px;
      transition: none; }
      .news-hub-search__filter .form-group input[type="submit"]:hover, .news-hub-search__filter .form-group input[type="submit"]:focus {
        transition: all 0.3s ease-in-out; }
      .news-hub-search__filter .form-group input[type="submit"]#edit-reset {
        color: #7a0019;
        height: auto;
        line-height: 2.4rem;
        padding: 0;
        background: none;
        border: 0;
        text-align: right;
        box-shadow: none; }
        .news-hub-search__filter .form-group input[type="submit"]#edit-reset:hover, .news-hub-search__filter .form-group input[type="submit"]#edit-reset:focus {
          text-decoration: underline; }
    .news-hub-search__filter #edit-search-api-fulltext,
    .news-hub-search__filter #edit-keyword {
      background-image: url("../images/svg/spy-glass-maroon.svg");
      background-repeat: no-repeat;
      padding-left: 40px;
      background-position: 10px; }
    @media (min-width: 768px) {
      .news-hub-search__filter fieldset.form-type-textfield,
      .news-hub-search__filter fieldset.form-type-select {
        width: 100%; } }
    @media (min-width: 992px) {
      .news-hub-search__filter fieldset.form-type-textfield,
      .news-hub-search__filter fieldset.form-type-select {
        width: 100%; } }
    @media (min-width: 992px) {
      .news-hub-search__filter #edit-actions {
        width: min-content;
        display: flex;
        gap: 10px;
        align-self: flex-start;
        margin-top: 3rem; } }
    .news-hub-search__filter #edit-submit-hub-search-page {
      background: #fff;
      width: 100%; }
    .news-hub-search__filter details.form-item {
      margin-bottom: 0; }
      @media (min-width: 992px) {
        .news-hub-search__filter details.form-item {
          margin-top: 3rem;
          min-width: 270px; } }
    .news-hub-search__filter #edit-keyword,
    .news-hub-search__filter select.form-control {
      color: #303030;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; }
  .news-hub-search__results {
    margin-top: 0; }
    @media (min-width: 768px) {
      .news-hub-search__results {
        margin-top: 0; } }
    .news-hub-search__results nav {
      width: 100%; }

/*# sourceMappingURL=news-hub-search.css.map */