.program-filter__filter #edit-submit-hub-search-page {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .program-filter__filter #edit-submit-hub-search-page:hover {
    text-decoration: none; }
  .program-filter__filter .disabled#edit-submit-hub-search-page, .program-filter__filter #edit-submit-hub-search-page:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .program-filter__filter #edit-submit-hub-search-page svg {
    display: inline-block;
    height: .85em;
    width: auto;
    vertical-align: -0.08em; }

.program-filter__filter #edit-submit-hub-search-page {
  color: #7a0019;
  border-color: #7a0019;
  background-color: transparent;
  text-transform: capitalize;
  letter-spacing: 0.1em; }
  .program-filter__filter #edit-submit-hub-search-page:not(:disabled):hover, .program-filter__filter #edit-submit-hub-search-page:not(:disabled):active,
  .program-filter__filter .show > .dropdown-toggle#edit-submit-hub-search-page {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }

.program-filter {
  margin-top: 1rem; }
  .program-filter .sticky-menu::after {
    content: none; }
  .program-filter .card-columns,
  .program-filter .card-columns .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .program-filter .card-columns .card,
    .program-filter .card-columns .views-infinite-scroll-content-wrapper .card {
      box-sizing: border-box;
      margin: 0 0.25rem 2rem;
      flex: 100%;
      flex-basis: 100%;
      flex-grow: 0;
      border: 1px solid #e6d8d6;
      border-bottom-width: 5px;
      transition: border-color 120ms ease-in-out; }
      .program-filter .card-columns .card:active, .program-filter .card-columns .card:hover, .program-filter .card-columns .card:focus,
      .program-filter .card-columns .views-infinite-scroll-content-wrapper .card:active,
      .program-filter .card-columns .views-infinite-scroll-content-wrapper .card:hover,
      .program-filter .card-columns .views-infinite-scroll-content-wrapper .card:focus {
        border-color: #7a0019; }
      .program-filter .card-columns .card a,
      .program-filter .card-columns .views-infinite-scroll-content-wrapper .card a {
        color: unset; }
        .program-filter .card-columns .card a h2,
        .program-filter .card-columns .views-infinite-scroll-content-wrapper .card a h2 {
          color: #7a0019; }
        .program-filter .card-columns .card a:active, .program-filter .card-columns .card a:hover, .program-filter .card-columns .card a:focus,
        .program-filter .card-columns .views-infinite-scroll-content-wrapper .card a:active,
        .program-filter .card-columns .views-infinite-scroll-content-wrapper .card a:hover,
        .program-filter .card-columns .views-infinite-scroll-content-wrapper .card a:focus {
          color: unset;
          text-decoration: none; }
    @media (min-width: 992px) {
      .program-filter .card-columns .card,
      .program-filter .card-columns .views-infinite-scroll-content-wrapper .card {
        flex-basis: calc(50% - 1.2rem); } }
  .program-filter header h1 {
    font-size: 2.8rem; }
    @media (min-width: 992px) {
      .program-filter header h1 {
        font-size: 4.2rem; } }
  .program-filter__link {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    text-transform: capitalize; }
  .program-filter__filter {
    padding: 0 10px; }
    .program-filter__filter .form-group input[type="submit"] {
      transition: none;
      margin-bottom: 5px; }
      .program-filter__filter .form-group input[type="submit"]:hover, .program-filter__filter .form-group input[type="submit"]:focus {
        transition: all 0.3s ease-in-out; }
    .program-filter__filter .form-item-search-api-fulltext,
    .program-filter__filter .form-item-keyword {
      width: 100%; }
    .program-filter__filter #edit-search-api-fulltext,
    .program-filter__filter #edit-keyword {
      background-image: url("../images/svg/spy-glass-maroon.svg");
      background-repeat: no-repeat;
      padding-left: 40px;
      background-position: 10px; }
    .program-filter__filter fieldset.form-type-select {
      width: 100%; }
    @media (min-width: 768px) {
      .program-filter__filter fieldset.form-type-select {
        width: 100%; } }
    @media (min-width: 992px) {
      .program-filter__filter fieldset.form-type-select {
        width: 100%; } }
    .program-filter__filter #edit-actions {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px; }
      @media (min-width: 992px) {
        .program-filter__filter #edit-actions {
          width: 100%; } }
    .program-filter__filter #edit-submit-hub-search-page {
      background: #fff;
      width: 100%; }
    .program-filter__filter #edit-keyword,
    .program-filter__filter select.form-control {
      color: #303030;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; }
    .program-filter__filter #edit-topic {
      display: none; }
    .program-filter__filter details.form-item {
      width: 100%; }
      .program-filter__filter details.form-item summary {
        text-transform: capitalize;
        font-weight: 700;
        min-height: 44px;
        min-width: 44px; }
  .program-filter__results {
    margin-top: 0; }
    @media (min-width: 768px) {
      .program-filter__results {
        margin-top: 0; } }
    .program-filter__results nav {
      width: 100%; }
  .program-filter-card--category {
    padding-bottom: 10px; }
  .program-filter-card--title svg {
    stroke-width: 1.5; }
  .program-filter-card--info-wrapper {
    display: flex;
    padding: 15px 0 10px;
    flex-flow: wrap; }
  .program-filter-card--info-block {
    width: 50%;
    text-align: center;
    padding-bottom: 10px; }
  .program-filter-card--label {
    font-size: 1.6rem; }
  .program-filter-card--value {
    font-size: 1.4rem;
    color: #7a0019; }
  .program-filter legend {
    text-transform: capitalize; }
  .program-filter .form-check {
    display: flex;
    vertical-align: middle;
    padding-bottom: 5px; }
  .program-filter .form-check-label {
    font-size: 1.5rem;
    text-transform: none; }

/*# sourceMappingURL=program-filter.css.map */