
.slick--skin--carlson-slick {
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  min-height: 80px;
  padding: 15px 30px;
  text-transform: uppercase;

}

.slick--skin--carlson-slick .slide__content {
  color: #c42c2c;
  padding: 0 10px;
}

.slick--skin--carlson-slick .slide__media {
  border-radius: 50%;
  float: left;
  height: 100px;
  margin-top: 0;
  width: 100px;
  overflow: hidden;
}

.slick--skin--carlson-slick .slide__caption {
  font-size: 14px;
  font-size: 0.875rem;
  left: auto;
  line-height: 1.2;
  margin-left: 100px;
  padding: 0 20px;
  position: relative;
  top: auto;
  width: auto;
}


.slick--skin--carlson-slick .slick-arrow::before {
  color: pink!important;
}


.slick-dots{
  bottom: -48px;
}

.slick-dots li{
  width: 36px;
  height: 6px;
}

.slick-dots li button{
  width: 36px;
  height: 6px;
}

.slick-dots li button::before {
  content: '';
  width: 36px;
  height: 6px;
  background-color: #7a0019;
}

.slick-slider{
  display: flex !important;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider-nav{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.slick-slide img{
  padding: 0 7px;
}
.slider-nav .slick-list {
  display: flex;
  justify-content: center;
}
.slider-nav .slick-list .slick-track{
  display: flex;
  justify-content: center;
}
.slider-nav .slide.slick-slide {
  width: 177px;
  max-width: 177px;
}
