<div class="comparison-table__container">
    <table id="example" class="comparison-table nowrap">
        <thead>
            <tr id="display" class="comparison-table__header">
                <th scope="col" class="no-data"></th>
                <th scope="col" class="column-header">
                    <span class="column-header-text">-</span>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=0 ><i class="fas fa-times"></i></button>
                    </div>
                </th>
                <th scope="col" class="column-header">
                    <span class="column-header-text">-</span>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=1 ><i class="fas fa-times"></i><</button>
                    </div>
                </th>
                <th scope="col" class="column-header">
                    <span class="column-header-text">-</span>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=2 ><i class="fas fa-times"></i><</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="avg_gmat">
                <th scope="row" class="comparison-table__category">Average GMAT</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr id="avg_gre">
                <th scope="row" class="comparison-table__category">Average GRE</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr id="gpa_avg">
                <th scope="row" class="comparison-table__category">Average GPA</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr id="application_deadline">
                <th scope="row" class="comparison-table__category">Application Deadline</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <div id="comparison-menu" class="comparison-menu">
        <div class="comparison_menu__mobile-header">
            <div class="column-header_mobile-container">
                <div class="column-header-text__mobile">-</div>
                <div class="remove-float">
                    Remove <button class="column-header-button" data-table-index=0 ><i class="fas fa-times"></i><</button>
                </div>
            </div>
            <div class="column-header_mobile-container">
                <div class="column-header-text__mobile">-</div>
                <div class="remove-float">
                    Remove <button class="column-header-button" data-table-index=1 ><i class="fas fa-times"></i><</button>
                </div>
            </div>
            <div class="column-header_mobile-container">
                <div class="column-header-text__mobile">-</div>
                <div class="remove-float">
                    Remove <button class="column-header-button" data-table-index=2 ><i class="fas fa-times"></i><</button>
                </div>
            </div>
        </div>

        <div class="comparison_menu__add-program">
            <h3 class="comparison-menu__header">Add a Program Headline</h3>
            <hr class="comparison-menu__breakline">
            <label for="comparison-select" class="comparison-menu__label">Program</label>
            <select id="comparison-select" class="comparison-menu__select">
                <option value="">- Select - </option>
            </select>
            <button id="comparison-add">Add to Compare</button>
        </div>
    </div>
</div>