<div class="comparison-table__container">
    <table id="example" class="comparison-table nowrap">
        <thead>
            <tr id="display" class="comparison-table__header">
                <th class="no-data"></th>
                <th scope="col" id="" class="column-header">
                    <p class="column-header-text"></p>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=0 >X</button>
                    </div>
                </th>
                <th scope="col" id="" class="column-header">
                    <p class="column-header-text"></p>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=1 >X</button>
                    </div>
                </th>
                <th scope="col" id="" class="column-header">
                    <p class="column-header-text"></p>
                    <div class="remove-float">
                        Remove <button class="column-header-button" data-table-index=2 >X</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="avg_gmat">
                <th scope="row" class="comparison-table__category">Average GMAT</td>
                <td>badlskf asdlfk asdlkj asdlkjfasd</td>
                <td>asdlkfj asdfj djkj alksj f</td>
                <td>asdlkfj asdfj djkj alksj f</td>
            </tr>
            <tr id="avg_gre">
                <th scope="row" class="comparison-table__category">Average GRE</td>
                <td>badlskf asdlfk asdlkj asdlkjfasd</td>
                <td>asdlkfj asdfj djkj alksj f</td>
                <td>asdlkfj asdfj djkj alksj f</td>
            </tr>
            <tr id="gpa_avg">
                <th scope="row" class="comparison-table__category">Average GPA</td>
                <td>badlskf asdlfk asdlkj asdlkjfasd</td>
                <td>asdlkfj asdfj djkj alksj f</td>
                <td>asdlkfj asdfj djkj alksj f</td>
            </tr>
            <tr id="application_deadline">
                <th scope="row" class="comparison-table__category">Application Deadline</td>
                <td>badlskf asdlfk asdlkj asdlkjfasd</td>
                <td>asdlkfj asdfj djkj alksj f</td>
                <td>asdlkfj asdfj djkj alksj f</td>
            </tr>
        </tbody>
    </table>
    <div id="comparison-menu" class="comparison-menu">
        <h3 class="comparison-menu__header">Add a Program Headline</h3>
        <hr class="comparison-menu__breakline">
        <label for="comparison-select" class="comparison-menu__label">Program</label>
        <select id="comparison-select" class="comparison-menu__select">
            <option value="">- Select - </option>
        </select>
        <button id="comparison-add">Add to Compare</button>
    </div>
</div>