/**
* @file
* Visual styles for comments in Barrio.
*/

.accordion-content {
  &__heading {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
  }

  table {
    max-width: max-content;
    width: unset !important;
  }
}

.accordion {
  margin-bottom: 30px;

  > .card {
    border: 0;
    border-radius: 0;

    &:not(:last-of-type) {
      margin-bottom: 1px;
    }

    > .card-header {
      background-color: transparent;
      padding: 0;
      border: 0;
      position: relative;

      .btn-link {
        cursor: pointer;
        padding: 2rem 2rem 2rem 6rem;
        width: 100%;

        word-break: break-word;
        font-family: $font-family-sans-serif;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 0.04em;
        text-align: left;
        white-space: normal;
        text-transform: none;

        @include media-breakpoint-down(md) {
          padding: 2rem 2rem 2rem 4rem;
        }

        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
          outline: none;
        }

        &.collapsed {
          background: $ivory;
          color: $body-color;

          &:hover,
          &:focus {
            background: $ivory;
            color: $maroon;
          }

          &:focus-visible {
            background: darken($ivory, 7.5%);
          }

          &::before {
            @include accordion-icon($icon-plus, $maroon);
          }
        }

        &:not(.collapsed) {
          &,
          &:hover,
          &:focus {
            background: $maroon;
            color: $white;
            font-weight: 700;
            letter-spacing: normal;
          }

          &:focus-visible {
            background: darken($maroon, 7.5%);
          }

          &::before {
            @include accordion-icon($icon-minus, $white);
            color: $white;
          }
        }
      }
    }

    > .inner {
      transition: all .26s ease-in-out;
      > .card-body {
        padding: 3rem 3rem 5rem;
        border-bottom: .5rem solid $maroon;
        overflow: auto;

        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
        }

        .container.session {
          padding: 0;
          max-width: none;
          width: 100%;
        }

        .sub-accordion {
          margin-bottom: 0;
        }

        .accordion-content:not(:first-child) {
          margin-top: 3rem;
        }
      }
    }
  }

  // Edge-to-edge support:
  &:not(.sub-accordion) > .card {

    @include media-breakpoint-down(md) {
      overflow: visible; // edge-to-edge

      > .card-header {
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 100%;
          top: 0;
          width: 100%;
          background-color: $maroon;
          height: 100%;
          transition: background-color .15s ease-in-out;
        }

        &:has(.collapsed) {
          &::before,
          &::after {
            background: $ivory;
          }
        }

        &::after {
          left: 100%;
        }
      }

      > .inner > .card-body {
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 100%;
          bottom: 0;
          width: 100%;
          background-color: $maroon;
          height: .5rem;
        }

        &::after {
          left: 100%;
        }
      }
    }
  }
}

@media print {
  .accordion > .card > .inner.collapse {
    display: block;
    opacity: 1;
  }
}
