.fluid-columns {
	&__item {
		justify-content: flex-start;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    
    .column__link {
    	margin-top: auto;
    }
    .column__img {
      //ie11 height bug apply rule to only ie11
      @include target-metro {
        height: 100%;
      }
    }
	}
}