/**
 * @file
 * Visual styles for Program CTA in Barrio.
 */
.program-cta {
  text-align: center;
  &__link {
    @include rfs(2rem);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
      &__link {
        text-align: right;
      }
  }
}
