.csom-regional-map {
  .st1 {
    display: inline;
    fill: #d0d0d0;
  }

  .st2 {
    fill: #6cf;
  }

  .st3 {
    fill: #676b72;
  }

  .st4 {
    fill: #9fa1a5;
  }

  .st5 {
    fill: #98002e;
  }

  .st6 {
    fill: #fec057;
  }

  .st9 {
    fill: #d8d4ce;
    filter: url("#map-marker-shadow");
  }

  .st10 {
    fill: $white;
  }

  .st11 {
    font-family: $font-family-sans-serif;
    font-weight: 600;
  }

  .st12 {
    font-size: 11px;
  }
}
