.schedule {
  border-bottom: solid 1px $light-gray;

  &__row {
    border-bottom: solid 1px $light-gray;
    margin-bottom: 1rem;
  }

  &__item {
    &--time {
      @include serif-font($font-small);

      margin-bottom: 1rem;
    }

    &--details {
      div {
        margin-bottom: 1rem;
      }

      .color-1 {
        padding: 2rem 2rem 1rem;
        background: $light-yellow;
      }

      .color-2 {
        padding: 2rem 2rem 1rem;
        background: $light-blue;
        color: $soft-black;
      }

      .color-3 {
        padding: 2rem 2rem 1rem;
        background: $light-green;
      }

      .color-4 {
        padding: 2rem 2rem 1rem;
        background: $light-orange;
      }

      .color-5 {
        padding: 2rem 2rem 1rem;
        background: $light-gray;
      }
    }
  }
}
