.sponsor-logos {

	&__heading {
		text-align: center;
		flex-direction: column;
	}
	&__grid {
		margin-top: 1.5rem;
		box-shadow: 0 15px 60px 0 rgba($black, 0.1);
		&--item {
			border-bottom: solid 1px rgba($header-icon-gray, 0.1);
			img {
				padding: 20px;
			}
		}
	}

}
