// Visual styles for Videos in Barrio.

.video-textright {
  &__link {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // @include carlson-icons($icon-button-play);
      content: url("../images/video-white-button-play.svg");
      font-size: 30px;
      color: $white;
      z-index: 1;
      border-radius: 50%;
      height: 116px;
      width: 116px;
      line-height: 116px;
      text-align: center;
      border: solid 2px $gold;
      background: rgba($slate, 0.8);
      transition: all 0.3s ease-in-out;
    }

    &:hover::before,
    &:active::before,
    &:focus::before {
      background: $gold;
    }
  }

  @include media-breakpoint-up(lg) {
    &__link--left {
      &::after {
        height: 2px;
        background: $gold;
        width: 30%;
        top: 50%;
        left: 0;
      }
    }
  }
}

.video-textbelow {
  img {
    width: 100%;
  }

  &__inner {
    max-width: 800px;
    width: 100%;
  }

  &__media {
    &--link {
      display: block;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //@include carlson-icons($icon-button-play);
        content: url("../images/video-white-button-play.svg");
        font-size: 30px;
        color: $white;
        z-index: 2;
        border-radius: 50%;
        height: 116px;
        width: 116px;
        line-height: 116px;
        text-align: center;
        border: solid 2px $gold;
        background: rgba($slate, 0.8);
        transition: all 0.3s ease-in-out;
      }

      &:hover::before,
      &:active::before,
      &:focus::before {
        background: $gold;
      }
    }
  }
}

.fullwidth-video,
.fullwidth-image {
  display: flex;
  justify-content: center;

  &__image {
    height: 100%;
    width: 100%;
  }

  &__caption {
    margin-top: 1.5rem;
    color: $mid-gray-2;
    line-height: 25px;

    @include font-newsreader-base();

    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-up(md) {
    &__caption {
      max-width: 80%;
    }
  }
}

.fullwidth-video {
  &__link {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include carlson-icons($icon-button-play);

      font-size: 30px;
      color: $white;
      z-index: 1;
      border-radius: 50%;
      height: 116px;
      width: 116px;
      line-height: 116px;
      text-align: center;
      border: solid 2px $gold;
      background: rgba($slate, 0.8);
      transition: all 0.3s ease-in-out;
    }

    &:hover::before,
    &:active::before,
    &:focus::before {
      background: $gold;
    }
  }
}
