/**
* @file
* Visual styles for comments in Barrio.
*/

.accordion-content {
  &__heading {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
  }

  table {
    max-width: max-content;
    width: unset !important;
  }
}

.accordion {
  margin-bottom: 30px;

  .card {
    border: none;

    &:not(.active) {
      .card-header {
        border-bottom: 2px solid $white;

        .btn-link.collapsed {
          background-color: $ivory;
        }
      }
    }

    &.active {
      border-bottom: .5rem solid $maroon;

      .card-header {
        .btn-link:not(.collapsed) {
          background-color: $maroon;
          border: none;
          color: $white;
          font-weight: 700;

          &::before {
            color: $white;
          }
        }
      }
    }

    .card-header {
      background-color: transparent;
      padding: 0;
      border: none;
      position: relative;

      .btn-link {
        //background: $mid-gray;
        cursor: pointer;
        //@include font-newsreader-base();
        //@include font-base-heading($font-medium-mobile);
        word-break: break-word;
        //font-size: $font-medium-mobile;
        //line-height: $font-medium-mobile;
        padding: 2rem;
        color: $body-color;
        font-family: $font-family-sans-serif;
        width: 100%;
        text-align: left;
        white-space: normal;
        font-weight: 600;
        text-transform: none;
        @include rfs(2rem);

        @include media-breakpoint-up(md) {
          //font-size: $font-small;
          //line-height: $font-small;
        }

        &::before {
          background: none;
          height: auto;
          width: auto;
          top: unset;
          @include accordion-icon($icon-minus, $maroon);
          font-weight: bold;
          @include rfs(2rem);
        }

        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
          outline: none;
        }

        //&[aria-expanded="true"] {
        //  background: $ivory;
        //}
        &.collapsed {
          background: $ivory;

          &::before {
            content: $icon-plus;
          }

          &:hover,
          &:focus {
            background: $ivory;
            color: $maroon;
          }
        }
      }
    }

    .inner {
      //opacity: 0;
      transition: all 0.26s ease-in-out;
      //background-image: linear-gradient(180deg, $mid-gray 0%, $light-grayish-orange 100%);
      //background: $ivory;
      //&.show{
      //  opacity: 1;
      //}
    }
  }

  .card-body {
    padding: 3rem 3rem 5rem;

    @include media-breakpoint-down(md) {
      padding: 2rem 1rem;
    }

    .container.session {
      padding: 0;
      max-width: none;
      width: 100%;
    }
  }
}

.sub-accordion.accordion {
  .card {
    .card-header {
      .btn-link {
        font-size: $font-smaller;
        line-height: $font-smaller;
        padding: 2rem;

        @include media-breakpoint-up(md) {
          font-size: $font-small-mobile;
          line-height: $font-small-mobile;
        }

        &::before {
          font-size: 2rem;
        }
      }
    }
  }
}

@media print {
  .accordion .card .inner.collapse {
    display: block;
    opacity: 1;
  }
}
