/* Component spacing */
.component-paragraph {
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
  }

  &--narrow {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--medium {
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--large {
    max-width: 107rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--wide {
    max-width: 130rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
