table.csm-data-table,
table.csm-data-table--basic-1 {
  border: 0 !important;
  margin: 20px 0 40px;
  line-height: 1.3;
  font-weight: 600;

  caption {
    caption-side: top;
    text-align: center;
    font-weight: 700;
    color: $black;
  }

  tr {
    border: none;
  }

  th,
  td {
    border: 1px solid $white;
    position: relative;
  }

  th {
    padding: 10px 15px;
    background: $maroon;
    color: $white;
    border: none;
    text-transform: uppercase;
  }

  td {
    padding: 5px 10px;
    background: $ivory;
  }
}

figure.csm-data-table__figure {
  margin: 20px 0 40px;

  .csm-data-table {
    margin: 0;
  }

  figcaption {
    margin: 15px 0;
    text-align: left;
    font-size: 14px;
  }
}

//---------------- tables type 2 --------------//

table.csm-data-table--basic-2 {
  td:nth-child(2n - 1) {
    background: $darkmedgray;
    color: $white;
    min-width: 55px;
    text-aling: center;
  }
}

//---------------- tables type 3 --------------//

table.csm-data-table--basic-3 {
  td {
    text-align: center;
  }

  td:nth-child(3n - 3) {
    background: $maroon;
    color: $white;
  }
  td:nth-child(3n - 2) {
    background: $darkmedgray;
    color: $white;
  }

  th {
    background: none;
    text-align: right;
    color: $black;
    text-transform: initial;
  }

  thead {
    background: none;
    color: $black;

    th {
      text-align: center;
    }
  }
}
