table.csom-data-table,
table.csom-data-table--basic-1 {
  margin: 20px auto 40px;
  line-height: 1.3;
  font-weight: 600;
  min-width: 24rem;
  max-width: 100%;

  caption {
    caption-side: top;
    text-align: center;
    font-weight: 700;
    color: $black;
  }

  th,
  td {
    padding: 5px 10px;
    text-align: left;
    font-weight: 600;

    &:not(:first-child) {
      text-align: center;
    }
  }

  thead {
    tr,
    th,
    td {
      background: $ivory;
      border-color: $ivory;
      border-top: 0;
      border-bottom: 0;
      font-weight: 700;
    }
    th:not(:last-child),
    td:not(:last-child) {
      border-right-color: $white;
    }
  }

  tbody {
    th {
      background: #f7f6f4;
      border-color: $ivory;
    }
    td {
      background: none;
      border-color: $ivory;
    }
  }

  &,
  tr {
    border: 0 !important;
  }
}

figure.csom-data-table__figure {
  margin: 20px 0 40px;

  .csom-data-table {
    margin: 0;
  }

  figcaption {
    margin: 15px 0;
    text-align: left;
    font-size: 14px;
  }
}

//---------------- tables type 2 --------------//

table.csom-data-table--basic-2 {

  thead {
    tr,
    th,
    td {
      background: $maroon;
      color: $white;
      border-color: $white;
      border-top: 0;
      border-bottom: 0;
    }
  }

  tbody {
    th, td {
      background: $ivory;
      color: $soft-black;
      border-color: $white;
    }
  }
}

//---------------- tables type 3 --------------//

table.csom-data-table--basic-3 {
  thead,
  tbody {
    tr,
    th,
    td {
      background: none;
      border: none;
    }
  }

  thead {
    background: none;
    color: $black;

    th {
      text-align: center;
    }
  }

  tbody {
    th {
      background: none;
      text-align: right;
      color: $black;
      text-transform: initial;
    }

    td {
      text-align: center;
    }
  }

  td:nth-child(3n - 1) {
    background: $ivory;
    color: $soft-black;
    border: 1px solid $white;
  }

  td:nth-child(3n - 3) {
    background: $maroon;
    color: $white;
    border: 1px solid $white;
  }

  td:nth-child(3n - 2) {
    background: $darkmedgray;
    color: $white;
    border: 1px solid $white;
  }
}
