.demo-component-container {
  margin: 50px 0;
  max-width: 100%;

  > h1 {
    font-family: $font-family-sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: $soft-black;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: .5em 0;
    border-bottom: .03em solid $header-dark-gray;

    > a {
      margin-left: .5em;
      font-size: .6em;
      color: $soft-black;
      background-color: #eee;
      padding: .1em .3em;
      border-radius: .2em;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $light-yellow;
      }
    }
  }
}

.pen {
  margin: 0 auto;
}
