@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.csm-donut-chart-stat {
  --percentage: 20; // default.
  --border-width: 22px;
  --width: 150px;

  width: var(--width);
  min-width: var(--width);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    inset: 0;
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--border-width)),
      #000 calc(100% - var(--border-width))
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--border-width)),
      #000 calc(100% - var(--border-width))
    );
  }

  // Unsure what this is for, so commented out.
  // &::after {
  //   inset: calc(50% - var(--border-width) / 2);
  //   background: $maroon-light;
  //   transform: rotate(calc(var(--percentage) * 3.6deg))
  //     translateY(calc(50% - var(--width) / 2));
  // }

  &--maroon.animate {
    &::before {
      background:
        radial-gradient(farthest-side, $maroon-light 98%, $gold)
          top/var(--border-width) var(--border-width) no-repeat,
        conic-gradient($maroon-light calc(var(--percentage) * 1%), $gold 0);
      background-size: 0 0, auto;
    }
  }

  &--gold.animate {
    &::before {
      background:
        radial-gradient(farthest-side, $gold 98%, $white)
          top/var(--border-width) var(--border-width) no-repeat,
        conic-gradient($gold calc(var(--percentage) * 1%), $white 0);
      background-size: 0 0, auto;
    }

    // Unsure what this is for, so commented out.
    // &::after {
    //   background: $gold;
    // }
  }

  &.animate {
    animation: animate-percent .8s .5s both ease-out;
  }

  &__column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 150px;
    margin: 0 auto;
  }

  &__column-wrapper--dark {
    background: $maroon;
    color: $white;
  }

  &__row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 500px;

    .description {
      padding: 15px;
      font-size: 1.3em;
    }

    strong {
      color: $maroon;
    }
  }

  &__text,
  &__text-wrapper {
    line-height: 1em;
    display: block;
  }

  &__text-wrapper {
    padding: var(--border-width);
  }

  &__text--14px {
    font-size: 14px;
  }

  &__text--15px {
    font-size: 15px;
  }

  &__text--16px {
    font-size: 16px;
  }

  &__text--18px {
    font-size: 18px;
  }

  &__text--20px {
    font-size: 20px;
  }

  &__text--22px {
    font-size: 22px;
  }

  &__text--24px {
    font-size: 24px;
  }

  &__text--26px {
    font-size: 26px;
  }

  &__text--28px {
    font-size: 38px;
  }

  &__text--30px {
    font-size: 30px;
  }
}

@keyframes animate-percent {
  from {
    --percentage: 0;
  }
}
