.highcharts-donut {
  min-width: 300px;
  height: 400px;
  margin: 0 auto
}

// Override default colors
#highcharts-donut-color-override {
  .highcharts-color-0 {
    &, rect {
      fill: $gold;
    }
  }
  .highcharts-color-1 {
    &, rect {
      fill: $maroon;
    }
  }
  .highcharts-color-2 {
    &, rect {
      fill: $dark-blue;
    }
  }
  .highcharts-color-3 {
    &, rect {
      fill: $ivory;
    }
  }
  .highcharts-color-4 {
    &, rect {
      fill: $dark-gray;
    }
  }
}
