.field--name-field-my-chart {
    .highcharts-color- {
        &0 {
            &.highcharts-point {
                fill: $maroon !important;
            }
            .highcharts-point {
                fill: $maroon !important;
            }  


        }
        &1 {
            &.highcharts-point {
                fill: $gold !important;
            }
            .highcharts-point {
                fill: $gold !important;
            }
        }
        &2 {
            &.highcharts-point {
                fill: $dark-gray!important;
            }
            .highcharts-point {
                fill: $dark-gray !important;
            }
        }
        text {
            fill: $black !important;
        }
    }
}