// List legend
.list-legend {
  margin: 2rem auto;
  width: max-content;
  max-width: 60rem;

  p {
    margin: .5rem auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    font-size: 1.9rem;
    border-left: .5rem solid $maroon;
    padding: 0 1.5rem;

    & + & {
      padding-top: .5rem;
    }
  }

  &__label {
    font-weight: bold;
    color: $maroon;
    font-size: 1.9rem;
  }

  &__value {
    font-weight: normal;
    font-size: 1.9rem;
    margin: 0 0 0 1rem;
  }
}
