// List legend
.list-legend {
  margin: 20px auto;
  width: max-content;

  p {
    margin: 5px auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    border-left: 5px solid $maroon;
    padding: 0 15px;
  }

  &__label {
    font-weight: bold;
    color: $maroon;
    font-size: 1em;
  }

  &__value {
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 0 10px;
  }
}
