.quote-card {
  max-width: 638px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background: $gold;

  p {
    margin: 0 auto;
  }

  .content {
    font-weight: bold;
    font-size: 1.2em;
  }

  .name {
    font-style: italic;
    margin: 20px auto 0;
    font-size: 1.5em;
  }

  .profession {
    text-transform: uppercase;
  }
}
