.csm-range-slider {
  width: max-content;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
    font-weight: 900;
  }

  p {
    margin: 0 auto;
  }

  .label {
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .value {
    font-size: 22px;
    font-weight: normal;
    color: $maroon;
  }

  .section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-slider,
  .range {
    display: flex;
    justify-content: center;
  }

  .range {
    position: relative;
    padding: 5px;

    &::after {
      width: 20px;
      height: 100%;
      content: "";
      margin: 0 auto;
      left: -9px;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: $maroon;
    }
  }

  .date {
    padding: 5px 10px;
    margin: 0 20px 0 0;
    background: $ivory;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    p {
      margin: 5px auto;
      font-size: 1.3rem;
    }

    + .date {
      background: $darkmedgray;
      color: $white;
      margin: 0;
    }
  }
}
