
section {
  margin: 0 auto;

  &.narrow {
    max-width: 60rem;
  }

  &.medium {
    max-width: 96rem;
  }

  &.wide {
    max-width: 130rem;
  }

  .variant {
    font-size: 1.2em;
    font-weight: 400;
    color: $soft-black;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: .5em 0;
    border-bottom: .03em solid $header-dark-gray;
    font-family: $font-family-sans-serif;
  }
}

.scroll-offset-forced,
.scroll-offset {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
