/* Styles for speaker paragraph bundle */

.speaker {
	border-top: 1px solid $light-gray;
	padding: 4rem 0;
	&__bio {
		&--name {
			@include serif-font(3.4rem);
		}
		&--title {
			@include font-sans-serif-base();
			font-size: 1.3rem;
			line-height: 2rem;
			letter-spacing: 1.39px;
			text-transform: uppercase;
			margin-top: 1rem;
			@include media-breakpoint-up(lg){
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
	&__social {
		margin-top: 1rem;
		font-weight: bold;
		line-height: 2.4rem;
		a {
			display: inline-block;
			vertical-align: middle;
		}
		.icon {
			margin-right: 1rem;
			font-size: 2.3rem;
			vertical-align: middle;
		}
	}
}
