.staff-faculty{
	&__heading {
		display: none;
	}
	&__item {
		margin-bottom: 3rem;
		&--image {
			img {
				@include profile-image-box-shadow();
			}
			margin-bottom: 3rem;
		}
		&--name {
			@include heading-title($font-small, $gold, 'left');
			color: $slate;
			margin-bottom: 2rem;
			display: block;
			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}
		&--position {
			font-weight: 700;
		}
		&--address {
			&::before {
				@include carlson-icons($icon-map-pin);
				font-size: 1.6rem;
				color: $maroon;
				width: 2rem;
				margin-right: 1.5rem;
				display: inline-block;
				text-align: center;
				font-size: 2rem;
				vertical-align: middle;
			}
		}
		&--phone,
		&--email {
			a::before {
				@include carlson-icons($icon-link);
				font-size: 1.6rem;
				color: $maroon;
				width: 2rem;
				margin-right: 1.5rem;
				display: inline-block;
				text-align: center;
			}
		}
		&--phone {
			a::before {
				content: $icon-mobile-phone;
				font-size: 2rem;
			}
		}
		&--email {
			a::before {
				content: $icon-envelope;
				font-size: 1.2rem;
			}
		}
	}

}