.csom-stats,
.csom-stats-type-1 {
  max-width: 180px;
  margin: 0 auto 40px;
  padding: 15px;
  text-align: center;

  p {
    margin: 5px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .field-title {
    font-size: 1.2em;
  }

  .field-price {
    font-size: 1.7em;
  }
}

.csom-stats-type-2 {
  max-width: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  .info {
    padding: 15px;
  }

  .field-logo {
    min-width: 50px;
    width: 50px;
  }

  .field-title {
    font-size: 0.8em;
  }

  .field-price {
    font-size: 1.7em;
  }
}

.csom-stats-type-3 {
  font-weight: bold;

  .field-price {
    color: $maroon;
  }
}
