.csom-state-map {
  padding: 20px;

  &__label,
  &__percent {
    text-transform: uppercase;
  }

  &__label {
    font-size: 30px;
  }

  &__percent {
    font-size: 34px;
    font-weight: bold;
  }

  &__svg {
    max-width: 100%;

    stop {

      &:nth-child(1) {
        stop-color: $maroon;
      }

      &:nth-child(2) {
        stop-color: $gold;
      }
    }

    &:hover {
      stop {
        &:nth-child(1) {
          stop-color: $maroon-light;
        }
      }
    }
  }
}
