.tabbed-content {
  &__nav {
    border-bottom: 10px solid $maroon;
    .nav-item {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &__nav {
      border-bottom: 0;
      .nav-item {
        width: 100%;
      }
    }
  }
}

//
//.tabbed-content {
//    &__nav {
//        &--container {
//            display: inline-block;
//            width: 100%;
//            min-height: 6.5rem;
//            position: relative;
//            @include media-breakpoint-up(lg){
//                border-bottom: 5px solid $gold;
//            }
//        }
//        &--positioner {
//            display: inline-block;
//            position: absolute;
//            top: -.8rem;
//            left: 0;
//            right: 0;
//            margin: 0 auto;
//            text-align: center;
//            @include media-breakpoint-up(lg){
//                position: relative;
//                top: 0;
//            }
//        }
//    }
//    .nav-tabs {
//        text-transform: uppercase;
//        min-height: 6.5rem;
//        border: 0;
//        max-width: 90%;
//        @include tab-box-shadow();
//        @include media-breakpoint-up(lg){
//            @include clear-box-shadow();
//            max-width: 100%;
//        }
//        .nav-item {
//            width: 100%;
//            @include media-breakpoint-up(lg){
//                width: auto;
//                //margin: .8rem .8rem 0rem;
//            }
//            .nav-link {
//                background: $white;
//                border: none;
//                height: 6.5rem;
//                line-height: 5.5rem;
//                display: none;
//                min-width: 20rem;
//                width: 100%;
//                text-align: left;
//                color: $slate;
//                font-weight: bold;
//                text-overflow: ellipsis;
//                overflow: hidden;
//                white-space: nowrap;
//                &.active {
//                    display: block;
//                    position: relative;
//                    font-weight: normal;
//                    &::after{
//                        @include carlson-icons($icon-carrot-down);
//                        color: $maroon;
//                        position: absolute;
//                        right: 2rem;
//                        top: 2.2rem;
//                    }
//                }
//                &:hover, &:focus {
//                    background-color: $mediumgray;
//                }
//                @include media-breakpoint-up(lg){
//                    display: block;
//                    width: auto;
//                    background: $lightergray;
//                    text-align: center;
//                    &:hover, &:focus {
//                        background-color: $mediumgray;
//                    }
//                    &.active {
//                        background: $gold;
//                    }
//                    &::after {
//                        display: none;
//                    }
//                }
//            }
//        }
//        &.open {
//            .nav-link {
//                display: block;
//                &::after {
//                    display: none;
//                }
//            }
//        }
//    }
//    &__content {
//        padding-top: 2.2rem;
//        @include media-breakpoint-up(lg){
//            padding: 5rem 6rem;
//        }
//    }
//}
