.btn-primary a {
  color: #fff;
  background-color: #7a0019;
  border-color: #7a0019; }
  .btn-primary a:hover {
    color: #fff;
    background-color: #540011;
    border-color: #47000f; }
  .btn-primary a:focus, .btn-primary a.focus {
    color: #fff;
    background-color: #540011;
    border-color: #47000f;
    box-shadow: 0 0 0 0.2rem rgba(142, 38, 60, 0.5); }
  .btn-primary a.disabled, .btn-primary a:disabled {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
  .btn-primary a:not(:disabled):not(.disabled):active, .btn-primary a:not(:disabled):not(.disabled).active,
  .show > .btn-primary a.dropdown-toggle {
    color: #fff;
    background-color: #47000f;
    border-color: #3a000c; }
    .btn-primary a:not(:disabled):not(.disabled):active:focus, .btn-primary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(142, 38, 60, 0.5); }

.btn-secondary a {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }
  .btn-secondary a:hover {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00; }
  .btn-secondary a:focus, .btn-secondary a.focus {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00;
    box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }
  .btn-secondary a.disabled, .btn-secondary a:disabled {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-secondary a:not(:disabled):not(.disabled):active, .btn-secondary a:not(:disabled):not(.disabled).active,
  .show > .btn-secondary a.dropdown-toggle {
    color: #212529;
    background-color: #ffbf00;
    border-color: #f2b600; }
    .btn-secondary a:not(:disabled):not(.disabled):active:focus, .btn-secondary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }

.btn-success a {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; }
  .btn-success a:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34; }
  .btn-success a:focus, .btn-success a.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
  .btn-success a.disabled, .btn-success a:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-success a:not(:disabled):not(.disabled):active, .btn-success a:not(:disabled):not(.disabled).active,
  .show > .btn-success a.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430; }
    .btn-success a:not(:disabled):not(.disabled):active:focus, .btn-success a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }

.btn-info a {
  color: #212529;
  background-color: #73b5b2;
  border-color: #73b5b2; }
  .btn-info a:hover {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d; }
  .btn-info a:focus, .btn-info a.focus {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d;
    box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }
  .btn-info a.disabled, .btn-info a:disabled {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-info a:not(:disabled):not(.disabled):active, .btn-info a:not(:disabled):not(.disabled).active,
  .show > .btn-info a.dropdown-toggle {
    color: #fff;
    background-color: #55a09d;
    border-color: #509895; }
    .btn-info a:not(:disabled):not(.disabled):active:focus, .btn-info a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }

.btn-warning a {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107; }
  .btn-warning a:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00; }
  .btn-warning a:focus, .btn-warning a.focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }
  .btn-warning a.disabled, .btn-warning a:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-warning a:not(:disabled):not(.disabled):active, .btn-warning a:not(:disabled):not(.disabled).active,
  .show > .btn-warning a.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500; }
    .btn-warning a:not(:disabled):not(.disabled):active:focus, .btn-warning a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }

.btn-danger a {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }
  .btn-danger a:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130; }
  .btn-danger a:focus, .btn-danger a.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }
  .btn-danger a.disabled, .btn-danger a:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-danger a:not(:disabled):not(.disabled):active, .btn-danger a:not(:disabled):not(.disabled).active,
  .show > .btn-danger a.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d; }
    .btn-danger a:not(:disabled):not(.disabled):active:focus, .btn-danger a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }

.btn-light a {
  color: #212529;
  background-color: #f7f3f1;
  border-color: #f7f3f1; }
  .btn-light a:hover {
    color: #212529;
    background-color: #e9ded9;
    border-color: #e4d7d1; }
  .btn-light a:focus, .btn-light a.focus {
    color: #212529;
    background-color: #e9ded9;
    border-color: #e4d7d1;
    box-shadow: 0 0 0 0.2rem rgba(215, 212, 211, 0.5); }
  .btn-light a.disabled, .btn-light a:disabled {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
  .btn-light a:not(:disabled):not(.disabled):active, .btn-light a:not(:disabled):not(.disabled).active,
  .show > .btn-light a.dropdown-toggle {
    color: #212529;
    background-color: #e4d7d1;
    border-color: #e0d0c8; }
    .btn-light a:not(:disabled):not(.disabled):active:focus, .btn-light a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(215, 212, 211, 0.5); }

.btn-dark a {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
  .btn-dark a:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124; }
  .btn-dark a:focus, .btn-dark a.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5); }
  .btn-dark a.disabled, .btn-dark a:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-dark a:not(:disabled):not(.disabled):active, .btn-dark a:not(:disabled):not(.disabled).active,
  .show > .btn-dark a.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d; }
    .btn-dark a:not(:disabled):not(.disabled):active:focus, .btn-dark a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5); }

.btn-white-90 a {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9); }
  .btn-white-90 a:hover {
    color: #212529;
    background-color: rgba(236, 236, 236, 0.9);
    border-color: rgba(230, 230, 230, 0.9); }
  .btn-white-90 a:focus, .btn-white-90 a.focus {
    color: #212529;
    background-color: rgba(236, 236, 236, 0.9);
    border-color: rgba(230, 230, 230, 0.9);
    box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5); }
  .btn-white-90 a.disabled, .btn-white-90 a:disabled {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
  .btn-white-90 a:not(:disabled):not(.disabled):active, .btn-white-90 a:not(:disabled):not(.disabled).active,
  .show > .btn-white-90 a.dropdown-toggle {
    color: #212529;
    background-color: rgba(230, 230, 230, 0.9);
    border-color: rgba(223, 223, 223, 0.9); }
    .btn-white-90 a:not(:disabled):not(.disabled):active:focus, .btn-white-90 a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-white-90 a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5); }

.btn-gold a {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }
  .btn-gold a:hover {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00; }
  .btn-gold a:focus, .btn-gold a.focus {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00;
    box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }
  .btn-gold a.disabled, .btn-gold a:disabled {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-gold a:not(:disabled):not(.disabled):active, .btn-gold a:not(:disabled):not(.disabled).active,
  .show > .btn-gold a.dropdown-toggle {
    color: #212529;
    background-color: #ffbf00;
    border-color: #f2b600; }
    .btn-gold a:not(:disabled):not(.disabled):active:focus, .btn-gold a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-gold a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }

.btn-ivory a {
  color: #212529;
  background-color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-ivory a:hover {
    color: #212529;
    background-color: #d8cfb9;
    border-color: #d4c9b1; }
  .btn-ivory a:focus, .btn-ivory a.focus {
    color: #212529;
    background-color: #d8cfb9;
    border-color: #d4c9b1;
    box-shadow: 0 0 0 0.2rem rgba(200, 196, 185, 0.5); }
  .btn-ivory a.disabled, .btn-ivory a:disabled {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
  .btn-ivory a:not(:disabled):not(.disabled):active, .btn-ivory a:not(:disabled):not(.disabled).active,
  .show > .btn-ivory a.dropdown-toggle {
    color: #212529;
    background-color: #d4c9b1;
    border-color: #cfc4a9; }
    .btn-ivory a:not(:disabled):not(.disabled):active:focus, .btn-ivory a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-ivory a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(200, 196, 185, 0.5); }

.btn-light-blue a {
  color: #212529;
  background-color: #73b5b2;
  border-color: #73b5b2; }
  .btn-light-blue a:hover {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d; }
  .btn-light-blue a:focus, .btn-light-blue a.focus {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d;
    box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }
  .btn-light-blue a.disabled, .btn-light-blue a:disabled {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-light-blue a:not(:disabled):not(.disabled):active, .btn-light-blue a:not(:disabled):not(.disabled).active,
  .show > .btn-light-blue a.dropdown-toggle {
    color: #fff;
    background-color: #55a09d;
    border-color: #509895; }
    .btn-light-blue a:not(:disabled):not(.disabled):active:focus, .btn-light-blue a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light-blue a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }

.btn-gray a {
  color: #212529;
  background-color: #ededed;
  border-color: #ededed; }
  .btn-gray a:hover {
    color: #212529;
    background-color: #dadada;
    border-color: #d4d4d4; }
  .btn-gray a:focus, .btn-gray a.focus {
    color: #212529;
    background-color: #dadada;
    border-color: #d4d4d4;
    box-shadow: 0 0 0 0.2rem rgba(206, 207, 208, 0.5); }
  .btn-gray a.disabled, .btn-gray a:disabled {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
  .btn-gray a:not(:disabled):not(.disabled):active, .btn-gray a:not(:disabled):not(.disabled).active,
  .show > .btn-gray a.dropdown-toggle {
    color: #212529;
    background-color: #d4d4d4;
    border-color: #cdcdcd; }
    .btn-gray a:not(:disabled):not(.disabled):active:focus, .btn-gray a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-gray a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(206, 207, 208, 0.5); }

.btn-black a {
  color: #fff;
  background-color: #000;
  border-color: #000; }
  .btn-black a:hover {
    color: #fff;
    background-color: black;
    border-color: black; }
  .btn-black a:focus, .btn-black a.focus {
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }
  .btn-black a.disabled, .btn-black a:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000; }
  .btn-black a:not(:disabled):not(.disabled):active, .btn-black a:not(:disabled):not(.disabled).active,
  .show > .btn-black a.dropdown-toggle {
    color: #fff;
    background-color: black;
    border-color: black; }
    .btn-black a:not(:disabled):not(.disabled):active:focus, .btn-black a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-black a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }

.btn-outline-primary a {
  color: #7a0019;
  border-color: #7a0019; }
  .btn-outline-primary a:hover {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
  .btn-outline-primary a:focus, .btn-outline-primary a.focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 0, 25, 0.5); }
  .btn-outline-primary a.disabled, .btn-outline-primary a:disabled {
    color: #7a0019;
    background-color: transparent; }
  .btn-outline-primary a:not(:disabled):not(.disabled):active, .btn-outline-primary a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary a.dropdown-toggle {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
    .btn-outline-primary a:not(:disabled):not(.disabled):active:focus, .btn-outline-primary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(122, 0, 25, 0.5); }

.btn-outline-secondary a {
  color: #fc3;
  border-color: #fc3; }
  .btn-outline-secondary a:hover {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-outline-secondary a:focus, .btn-outline-secondary a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }
  .btn-outline-secondary a.disabled, .btn-outline-secondary a:disabled {
    color: #fc3;
    background-color: transparent; }
  .btn-outline-secondary a:not(:disabled):not(.disabled):active, .btn-outline-secondary a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary a.dropdown-toggle {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
    .btn-outline-secondary a:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-secondary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }

.btn-outline-success a {
  color: #28a745;
  border-color: #28a745; }
  .btn-outline-success a:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-outline-success a:focus, .btn-outline-success a.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  .btn-outline-success a.disabled, .btn-outline-success a:disabled {
    color: #28a745;
    background-color: transparent; }
  .btn-outline-success a:not(:disabled):not(.disabled):active, .btn-outline-success a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-success a.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
    .btn-outline-success a:not(:disabled):not(.disabled):active:focus, .btn-outline-success a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-success a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

.btn-outline-info a {
  color: #73b5b2;
  border-color: #73b5b2; }
  .btn-outline-info a:hover {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-outline-info a:focus, .btn-outline-info a.focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }
  .btn-outline-info a.disabled, .btn-outline-info a:disabled {
    color: #73b5b2;
    background-color: transparent; }
  .btn-outline-info a:not(:disabled):not(.disabled):active, .btn-outline-info a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-info a.dropdown-toggle {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
    .btn-outline-info a:not(:disabled):not(.disabled):active:focus, .btn-outline-info a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-info a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }

.btn-outline-warning a {
  color: #ffc107;
  border-color: #ffc107; }
  .btn-outline-warning a:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-outline-warning a:focus, .btn-outline-warning a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-outline-warning a.disabled, .btn-outline-warning a:disabled {
    color: #ffc107;
    background-color: transparent; }
  .btn-outline-warning a:not(:disabled):not(.disabled):active, .btn-outline-warning a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning a.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-outline-warning a:not(:disabled):not(.disabled):active:focus, .btn-outline-warning a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-warning a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }

.btn-outline-danger a {
  color: #dc3545;
  border-color: #dc3545; }
  .btn-outline-danger a:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-outline-danger a:focus, .btn-outline-danger a.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-outline-danger a.disabled, .btn-outline-danger a:disabled {
    color: #dc3545;
    background-color: transparent; }
  .btn-outline-danger a:not(:disabled):not(.disabled):active, .btn-outline-danger a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-danger a.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
    .btn-outline-danger a:not(:disabled):not(.disabled):active:focus, .btn-outline-danger a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-danger a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }

.btn-outline-light a {
  color: #f7f3f1;
  border-color: #f7f3f1; }
  .btn-outline-light a:hover {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
  .btn-outline-light a:focus, .btn-outline-light a.focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 241, 0.5); }
  .btn-outline-light a.disabled, .btn-outline-light a:disabled {
    color: #f7f3f1;
    background-color: transparent; }
  .btn-outline-light a:not(:disabled):not(.disabled):active, .btn-outline-light a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light a.dropdown-toggle {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
    .btn-outline-light a:not(:disabled):not(.disabled):active:focus, .btn-outline-light a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(247, 243, 241, 0.5); }

.btn-outline-dark a {
  color: #343a40;
  border-color: #343a40; }
  .btn-outline-dark a:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-outline-dark a:focus, .btn-outline-dark a.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
  .btn-outline-dark a.disabled, .btn-outline-dark a:disabled {
    color: #343a40;
    background-color: transparent; }
  .btn-outline-dark a:not(:disabled):not(.disabled):active, .btn-outline-dark a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark a.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
    .btn-outline-dark a:not(:disabled):not(.disabled):active:focus, .btn-outline-dark a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-dark a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }

.btn-outline-white-90 a {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9); }
  .btn-outline-white-90 a:hover {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
  .btn-outline-white-90 a:focus, .btn-outline-white-90 a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  .btn-outline-white-90 a.disabled, .btn-outline-white-90 a:disabled {
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent; }
  .btn-outline-white-90 a:not(:disabled):not(.disabled):active, .btn-outline-white-90 a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-white-90 a.dropdown-toggle {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
    .btn-outline-white-90 a:not(:disabled):not(.disabled):active:focus, .btn-outline-white-90 a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-white-90 a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

.btn-outline-gold a {
  color: #fc3;
  border-color: #fc3; }
  .btn-outline-gold a:hover {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-outline-gold a:focus, .btn-outline-gold a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }
  .btn-outline-gold a.disabled, .btn-outline-gold a:disabled {
    color: #fc3;
    background-color: transparent; }
  .btn-outline-gold a:not(:disabled):not(.disabled):active, .btn-outline-gold a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-gold a.dropdown-toggle {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
    .btn-outline-gold a:not(:disabled):not(.disabled):active:focus, .btn-outline-gold a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-gold a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }

.btn-outline-ivory a {
  color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-outline-ivory a:hover {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
  .btn-outline-ivory a:focus, .btn-outline-ivory a.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 224, 210, 0.5); }
  .btn-outline-ivory a.disabled, .btn-outline-ivory a:disabled {
    color: #e6e0d2;
    background-color: transparent; }
  .btn-outline-ivory a:not(:disabled):not(.disabled):active, .btn-outline-ivory a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-ivory a.dropdown-toggle {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
    .btn-outline-ivory a:not(:disabled):not(.disabled):active:focus, .btn-outline-ivory a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-ivory a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(230, 224, 210, 0.5); }

.btn-outline-light-blue a {
  color: #73b5b2;
  border-color: #73b5b2; }
  .btn-outline-light-blue a:hover {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-outline-light-blue a:focus, .btn-outline-light-blue a.focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }
  .btn-outline-light-blue a.disabled, .btn-outline-light-blue a:disabled {
    color: #73b5b2;
    background-color: transparent; }
  .btn-outline-light-blue a:not(:disabled):not(.disabled):active, .btn-outline-light-blue a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light-blue a.dropdown-toggle {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
    .btn-outline-light-blue a:not(:disabled):not(.disabled):active:focus, .btn-outline-light-blue a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light-blue a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }

.btn-outline-gray a {
  color: #ededed;
  border-color: #ededed; }
  .btn-outline-gray a:hover {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
  .btn-outline-gray a:focus, .btn-outline-gray a.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5); }
  .btn-outline-gray a.disabled, .btn-outline-gray a:disabled {
    color: #ededed;
    background-color: transparent; }
  .btn-outline-gray a:not(:disabled):not(.disabled):active, .btn-outline-gray a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-gray a.dropdown-toggle {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
    .btn-outline-gray a:not(:disabled):not(.disabled):active:focus, .btn-outline-gray a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-gray a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5); }

.btn-outline-black a {
  color: #000;
  border-color: #000; }
  .btn-outline-black a:hover {
    color: #fff;
    background-color: #000;
    border-color: #000; }
  .btn-outline-black a:focus, .btn-outline-black a.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }
  .btn-outline-black a.disabled, .btn-outline-black a:disabled {
    color: #000;
    background-color: transparent; }
  .btn-outline-black a:not(:disabled):not(.disabled):active, .btn-outline-black a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-black a.dropdown-toggle {
    color: #fff;
    background-color: #000;
    border-color: #000; }
    .btn-outline-black a:not(:disabled):not(.disabled):active:focus, .btn-outline-black a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-black a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }

.page-node-type-alumni-landing-page .space-above-child > div,
.page-node-type-alumni-default-page .space-above-child > div {
  padding-top: 15px !important; }
  @media (min-width: 768px) {
    .page-node-type-alumni-landing-page .space-above-child > div,
    .page-node-type-alumni-default-page .space-above-child > div {
      padding-top: 30px !important; } }

.page-node-type-alumni-landing-page .space-below,
.page-node-type-alumni-default-page .space-below {
  padding-bottom: 10px; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .space-below,
    .page-node-type-alumni-default-page .space-below {
      padding-bottom: 20px; } }

.page-node-type-alumni-landing-page .basic-hero__title-inner,
.page-node-type-alumni-default-page .basic-hero__title-inner {
  padding: 0; }

.page-node-type-alumni-landing-page .alumni-landing-page,
.page-node-type-alumni-landing-page .alumni-default-page,
.page-node-type-alumni-default-page .alumni-landing-page,
.page-node-type-alumni-default-page .alumni-default-page {
  margin-top: 0 !important; }
  .page-node-type-alumni-landing-page .alumni-landing-page .space-above,
  .page-node-type-alumni-landing-page .alumni-default-page .space-above,
  .page-node-type-alumni-default-page .alumni-landing-page .space-above,
  .page-node-type-alumni-default-page .alumni-default-page .space-above {
    padding-top: 10px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .space-above,
      .page-node-type-alumni-landing-page .alumni-default-page .space-above,
      .page-node-type-alumni-default-page .alumni-landing-page .space-above,
      .page-node-type-alumni-default-page .alumni-default-page .space-above {
        padding-top: 20px; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .column__img img,
  .page-node-type-alumni-landing-page .alumni-default-page .column__img img,
  .page-node-type-alumni-default-page .alumni-landing-page .column__img img,
  .page-node-type-alumni-default-page .alumni-default-page .column__img img {
    box-shadow: none; }
  .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns,
  .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns,
  .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns,
  .page-node-type-alumni-default-page .alumni-default-page .fluid-columns {
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns {
        flex-wrap: wrap;
        justify-content: space-between; } }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns-container:not(:last-child) {
      padding-bottom: 0 !important; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns-container:not(:first-child) {
      padding-top: 0 !important; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item {
      justify-content: flex-start;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      box-shadow: none; }
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__link,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__link,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__link,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__link {
        margin-top: auto;
        color: #363230;
        letter-spacing: 1.78px;
        text-transform: uppercase; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__img,
        .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__img,
        .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__img,
        .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__img {
          height: 100%; } }
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__content,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__content,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__content,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__content {
        height: 100%;
        display: flex;
        flex-direction: column; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__inner {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__content {
      padding: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .parallax,
  .page-node-type-alumni-landing-page .alumni-default-page .parallax,
  .page-node-type-alumni-default-page .alumni-landing-page .parallax,
  .page-node-type-alumni-default-page .alumni-default-page .parallax {
    background-attachment: fixed; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .alumni-landing-page .basic-paragraph .narrow,
    .page-node-type-alumni-landing-page .alumni-default-page .basic-paragraph .narrow,
    .page-node-type-alumni-default-page .alumni-landing-page .basic-paragraph .narrow,
    .page-node-type-alumni-default-page .alumni-default-page .basic-paragraph .narrow {
      padding-left: 20%;
      padding-right: 20%; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-landing-page .alumni-default-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-default-page .alumni-landing-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-default-page .alumni-default-page .landing-page__content-components > .container:first-child {
    padding-top: 0;
    padding-bottom: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .landing-page__content-components > .container,
  .page-node-type-alumni-landing-page .alumni-default-page .landing-page__content-components > .container,
  .page-node-type-alumni-default-page .alumni-landing-page .landing-page__content-components > .container,
  .page-node-type-alumni-default-page .alumni-default-page .landing-page__content-components > .container {
    padding-top: 30px;
    padding-bottom: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-landing-page .alumni-default-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-default-page .alumni-landing-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-default-page .alumni-default-page .quote-group .slick--skin--carlson-slick {
    padding-bottom: 0; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-dotted.slick-slider,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-dotted.slick-slider,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-dotted.slick-slider,
  .page-node-type-alumni-default-page .alumni-default-page .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote-flex,
  .page-node-type-alumni-landing-page .alumni-default-page .quote-flex,
  .page-node-type-alumni-default-page .alumni-landing-page .quote-flex,
  .page-node-type-alumni-default-page .alumni-default-page .quote-flex {
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px !important;
    background-image: url("../images/bg/alumni-hero-bg.png");
    background-color: #fc3;
    background-size: 18%;
    background-position: top left;
    background-repeat: no-repeat; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .quote-flex,
      .page-node-type-alumni-landing-page .alumni-default-page .quote-flex,
      .page-node-type-alumni-default-page .alumni-landing-page .quote-flex,
      .page-node-type-alumni-default-page .alumni-default-page .quote-flex {
        padding: 100px 150px !important; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote__text,
  .page-node-type-alumni-landing-page .alumni-default-page .quote__text,
  .page-node-type-alumni-default-page .alumni-landing-page .quote__text,
  .page-node-type-alumni-default-page .alumni-default-page .quote__text {
    padding: 0;
    border: 0;
    line-height: 2em; }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text p,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text p,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text p,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text p {
      line-height: 165%;
      font-size: 1em; }
      @media (min-width: 992px) {
        .page-node-type-alumni-landing-page .alumni-landing-page .quote__text p,
        .page-node-type-alumni-landing-page .alumni-default-page .quote__text p,
        .page-node-type-alumni-default-page .alumni-landing-page .quote__text p,
        .page-node-type-alumni-default-page .alumni-default-page .quote__text p {
          font-size: 1em; } }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text::before,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text::before,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text::before,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text::before {
      display: none; }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text__quotation,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text__quotation,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text__quotation,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text__quotation {
      font: 12em/1.08em "Georgia", Times, "Times New Roman", serif;
      height: 10rem;
      color: #efa403;
      text-align: left; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote__image-bg,
  .page-node-type-alumni-landing-page .alumni-default-page .quote__image-bg,
  .page-node-type-alumni-default-page .alumni-landing-page .quote__image-bg,
  .page-node-type-alumni-default-page .alumni-default-page .quote__image-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .quote__image-bg,
      .page-node-type-alumni-landing-page .alumni-default-page .quote__image-bg,
      .page-node-type-alumni-default-page .alumni-landing-page .quote__image-bg,
      .page-node-type-alumni-default-page .alumni-default-page .quote__image-bg {
        height: 100%; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-dots,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-dots,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-dots,
  .page-node-type-alumni-default-page .alumni-default-page .slick-dots {
    padding-left: 200px;
    text-align: left;
    margin-bottom: 100px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-arrow.slick-prev,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-arrow.slick-prev,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-arrow.slick-prev,
  .page-node-type-alumni-default-page .alumni-default-page .slick-arrow.slick-prev {
    margin-left: 20px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-arrow.slick-next,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-arrow.slick-next,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-arrow.slick-next,
  .page-node-type-alumni-default-page .alumni-default-page .slick-arrow.slick-next {
    margin-right: 20px; }

@media (min-width: 992px) {
  .page-node-type-alumni-landing-page .view-event-channels .event-items__item,
  .page-node-type-alumni-default-page .view-event-channels .event-items__item {
    transition: all 0.3s ease-in-out; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item::before,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item::before {
      display: none; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item::after,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item::after {
      display: none; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item:hover, .page-node-type-alumni-landing-page .view-event-channels .event-items__item:focus,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item:hover,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item:focus {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .page-node-type-alumni-landing-page .view-event-channels .event-items__item:hover::after, .page-node-type-alumni-landing-page .view-event-channels .event-items__item:focus::after,
      .page-node-type-alumni-default-page .view-event-channels .event-items__item:hover::after,
      .page-node-type-alumni-default-page .view-event-channels .event-items__item:focus::after {
        background: #fc3;
        border: solid 1px #fc3; } }

.page-node-type-alumni-landing-page .view-display-id-block_14,
.page-node-type-alumni-default-page .view-display-id-block_14 {
  margin: 0 !important; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .view-display-id-block_14 .view-content,
    .page-node-type-alumni-default-page .view-display-id-block_14 .view-content {
      justify-content: center; }
    .page-node-type-alumni-landing-page .view-display-id-block_14 .event-items__item--row,
    .page-node-type-alumni-default-page .view-display-id-block_14 .event-items__item--row {
      flex: 0 0 100%; }
    .page-node-type-alumni-landing-page .view-display-id-block_14 .form-actions,
    .page-node-type-alumni-default-page .view-display-id-block_14 .form-actions {
      margin-left: auto;
      margin-right: auto; } }

.page-node-type-alumni-landing-page .event-items__item,
.page-node-type-alumni-default-page .event-items__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px #e6d8d6;
  display: flex;
  flex-wrap: nowrap; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .event-items__item,
    .page-node-type-alumni-default-page .event-items__item {
      padding-right: 0 !important; } }
  .page-node-type-alumni-landing-page .event-items__item--row,
  .page-node-type-alumni-default-page .event-items__item--row {
    padding-top: 10px;
    padding-bottom: 10px; }
    .page-node-type-alumni-landing-page .event-items__item--row .featured,
    .page-node-type-alumni-default-page .event-items__item--row .featured {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: uppercase; }
  .page-node-type-alumni-landing-page .event-items__item--featured, .page-node-type-alumni-landing-page .event-items__item--location,
  .page-node-type-alumni-default-page .event-items__item--featured,
  .page-node-type-alumni-default-page .event-items__item--location {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px; }
  .page-node-type-alumni-landing-page .event-items__item.node--sticky,
  .page-node-type-alumni-default-page .event-items__item.node--sticky {
    border-top: solid 8px #fc3;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .event-items__item.node--sticky,
      .page-node-type-alumni-default-page .event-items__item.node--sticky {
        border-top: solid 1px #e6d8d6;
        border-left: solid 8px #fc3;
        padding-left: 0;
        padding-right: 0; } }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .event-items__item .remove-left-gold-margin,
    .page-node-type-alumni-default-page .event-items__item .remove-left-gold-margin {
      margin-left: -8px; } }
  .page-node-type-alumni-landing-page .event-items__item .event-content,
  .page-node-type-alumni-default-page .event-items__item .event-content {
    margin-left: 15px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .event-items__item .event-content,
      .page-node-type-alumni-default-page .event-items__item .event-content {
        margin-left: 0; } }
  .page-node-type-alumni-landing-page .event-items__item--date,
  .page-node-type-alumni-default-page .event-items__item--date {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #7a0019;
    text-transform: uppercase; }
  .page-node-type-alumni-landing-page .event-items__item .date-cal,
  .page-node-type-alumni-default-page .event-items__item .date-cal {
    margin: 0 15px; }
    .page-node-type-alumni-landing-page .event-items__item .date-cal__item--day,
    .page-node-type-alumni-default-page .event-items__item .date-cal__item--day {
      line-height: 6rem; }
    .page-node-type-alumni-landing-page .event-items__item .date-cal__item--month,
    .page-node-type-alumni-default-page .event-items__item .date-cal__item--month {
      color: #363230; }
      .page-node-type-alumni-landing-page .event-items__item .date-cal__item--month::after,
      .page-node-type-alumni-default-page .event-items__item .date-cal__item--month::after {
        margin-left: 20px;
        margin-right: 20px; }
  @media (max-width: 991.98px) {
    .page-node-type-alumni-landing-page .event-items__item--image,
    .page-node-type-alumni-default-page .event-items__item--image {
      margin-top: 10px;
      margin-bottom: 15px;
      width: 100%; } }
  .page-node-type-alumni-landing-page .event-items__item--title,
  .page-node-type-alumni-default-page .event-items__item--title {
    font-size: 1.6em; }
  .page-node-type-alumni-landing-page .event-items__item--desc,
  .page-node-type-alumni-default-page .event-items__item--desc {
    max-width: 75ch; }
  .page-node-type-alumni-landing-page .event-items__item a,
  .page-node-type-alumni-default-page .event-items__item a {
    padding-top: 1rem;
    display: block;
    width: 100%;
    height: 100%; }
    .page-node-type-alumni-landing-page .event-items__item a h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a h4.event-items__item--title {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      line-height: 150%;
      font-size: 2.4rem;
      font-weight: 700;
      color: #333;
      cursor: default; }
    .page-node-type-alumni-landing-page .event-items__item a:hover h4.event-items__item--title, .page-node-type-alumni-landing-page .event-items__item a:focus h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a:hover h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a:focus h4.event-items__item--title {
      text-decoration: none; }
    .page-node-type-alumni-landing-page .event-items__item a span.event-items__item--link,
    .page-node-type-alumni-default-page .event-items__item a span.event-items__item--link {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: uppercase; }

.page-node-type-alumni-landing-page .event-items__details,
.page-node-type-alumni-default-page .event-items__details {
  width: 100%;
  display: block; }

.page-node-type-alumni-landing-page h4,
.page-node-type-alumni-default-page h4 {
  font-size: 2.4rem;
  line-height: 170%; }

.page-node-type-alumni-landing-page a.gold-solid-button,
.page-node-type-alumni-default-page a.gold-solid-button {
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page a.gold-solid-button,
    .page-node-type-alumni-default-page a.gold-solid-button {
      margin-top: 0;
      margin-bottom: 0; } }

/*# sourceMappingURL=alumni-landing-page.css.map */