.btn:has(:focus-visible), :root :focus-visible {
  position: relative;
  z-index: 1;
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #17a2b8, 0 0 0 calc(2px + 0.35rem) rgba(23, 162, 184, 0.4); }

.btn:has(:focus-visible) :focus-visible {
  outline: 0;
  box-shadow: none; }

.btn, .maroon-underline-button, .gold-underline-button {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .btn:hover, .maroon-underline-button:hover, .gold-underline-button:hover {
    text-decoration: none; }
  .disabled.btn, .disabled.maroon-underline-button, .disabled.gold-underline-button, .btn:disabled, .maroon-underline-button:disabled, .gold-underline-button:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .btn svg, .maroon-underline-button svg, .gold-underline-button svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: -0.125em; }

.btn-primary, .bg-gold .btn-gold,
.bg-gold .btn-secondary, .maroon-underline-button {
  background-color: #7a0019;
  border-color: #7a0019;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-primary:not(:disabled):hover, .bg-gold .btn-gold:not(:disabled):hover,
  .bg-gold .btn-secondary:not(:disabled):hover, .maroon-underline-button:not(:disabled):hover,
  .show > .dropdown-toggle.btn-primary,
  .bg-gold .show > .dropdown-toggle.btn-gold,
  .bg-gold .show > .dropdown-toggle.btn-secondary,
  .show > .dropdown-toggle.maroon-underline-button {
    background-color: #540011;
    border-color: #3a000c;
    color: #fff; }
  .btn-primary:not(:disabled):active, .bg-gold .btn-gold:not(:disabled):active,
  .bg-gold .btn-secondary:not(:disabled):active, .maroon-underline-button:not(:disabled):active {
    background-color: #3a000c;
    border-color: #3a000c;
    color: #fff; }

.btn-secondary, .btn-gold,
.btn-primary--yellow,
.btn-primary--gold,
.bg-primary .btn-primary, .gold-underline-button {
  background-color: #fc3;
  border-color: #fc3;
  color: #212529;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-secondary:not(:disabled):hover, .btn-gold:not(:disabled):hover,
  .btn-primary--yellow:not(:disabled):hover,
  .btn-primary--gold:not(:disabled):hover,
  .bg-primary .btn-primary:not(:disabled):hover, .gold-underline-button:not(:disabled):hover,
  .show > .dropdown-toggle.btn-secondary,
  .show > .dropdown-toggle.btn-gold,
  .show > .dropdown-toggle.btn-primary--yellow,
  .show > .dropdown-toggle.btn-primary--gold,
  .bg-primary .show > .dropdown-toggle.btn-primary,
  .show > .dropdown-toggle.gold-underline-button {
    background-color: #ffc20d;
    border-color: #f2b600;
    color: #000; }
  .btn-secondary:not(:disabled):active, .btn-gold:not(:disabled):active,
  .btn-primary--yellow:not(:disabled):active,
  .btn-primary--gold:not(:disabled):active,
  .bg-primary .btn-primary:not(:disabled):active, .gold-underline-button:not(:disabled):active {
    background-color: #f2b600;
    border-color: #f2b600;
    color: #000; }

.btn-ivory {
  color: #212529;
  background-color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-ivory:not(:disabled):hover {
    background-color: #d8cfb9;
    border-color: #cfc4a9;
    color: #000; }
  .btn-ivory:not(:disabled):active {
    background-color: #cfc4a9;
    border-color: #cfc4a9;
    color: #000; }

.btn-outline-primary {
  color: #7a0019;
  border-color: #7a0019;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-outline-primary:not(:disabled):hover, .btn-outline-primary:not(:disabled):active,
  .show > .dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }

.btn-outline-secondary {
  color: #212529;
  border-color: #fc3;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-outline-secondary:not(:disabled):hover, .btn-outline-secondary:not(:disabled):active,
  .show > .dropdown-toggle.btn-outline-secondary {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }

.btn-block {
  display: block;
  width: 100%; }

.btn-lg {
  padding: 0.7rem 3rem;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  letter-spacing: normal;
  text-transform: initial; }
  .btn-lg svg {
    height: .9em;
    width: auto;
    vertical-align: -0.2em; }

.btn-md {
  padding: .6rem 1.5rem;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em; }
  .btn-md svg {
    vertical-align: -0.15em; }

.btn-sm {
  padding: 0.3em 0.6em;
  font-size: 0.875rem;
  line-height: 1.2em;
  padding: 0.3em 0.6em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: initial; }
  .btn-sm svg {
    vertical-align: -0.15em; }
  .btn-sm [stroke-width="1.75"] {
    stroke-width: 1.5; }

.btn:has(:focus-visible), :root :focus-visible {
  position: relative;
  z-index: 1;
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #17a2b8, 0 0 0 calc(2px + 0.35rem) rgba(23, 162, 184, 0.4); }

.btn:has(:focus-visible) :focus-visible {
  outline: 0;
  box-shadow: none; }

.btn, .maroon-underline-button, .gold-underline-button {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .btn:hover, .maroon-underline-button:hover, .gold-underline-button:hover {
    text-decoration: none; }
  .disabled.btn, .disabled.maroon-underline-button, .disabled.gold-underline-button, .btn:disabled, .maroon-underline-button:disabled, .gold-underline-button:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .btn svg, .maroon-underline-button svg, .gold-underline-button svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: -0.125em; }

.btn-primary, .bg-gold .btn-gold,
.bg-gold .btn-secondary, .maroon-underline-button {
  background-color: #7a0019;
  border-color: #7a0019;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-primary:not(:disabled):hover, .bg-gold .btn-gold:not(:disabled):hover,
  .bg-gold .btn-secondary:not(:disabled):hover, .maroon-underline-button:not(:disabled):hover,
  .show > .dropdown-toggle.btn-primary,
  .bg-gold .show > .dropdown-toggle.btn-gold,
  .bg-gold .show > .dropdown-toggle.btn-secondary,
  .show > .dropdown-toggle.maroon-underline-button {
    background-color: #540011;
    border-color: #3a000c;
    color: #fff; }
  .btn-primary:not(:disabled):active, .bg-gold .btn-gold:not(:disabled):active,
  .bg-gold .btn-secondary:not(:disabled):active, .maroon-underline-button:not(:disabled):active {
    background-color: #3a000c;
    border-color: #3a000c;
    color: #fff; }

.btn-secondary, .btn-gold,
.btn-primary--yellow,
.btn-primary--gold,
.bg-primary .btn-primary, .gold-underline-button {
  background-color: #fc3;
  border-color: #fc3;
  color: #212529;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-secondary:not(:disabled):hover, .btn-gold:not(:disabled):hover,
  .btn-primary--yellow:not(:disabled):hover,
  .btn-primary--gold:not(:disabled):hover,
  .bg-primary .btn-primary:not(:disabled):hover, .gold-underline-button:not(:disabled):hover,
  .show > .dropdown-toggle.btn-secondary,
  .show > .dropdown-toggle.btn-gold,
  .show > .dropdown-toggle.btn-primary--yellow,
  .show > .dropdown-toggle.btn-primary--gold,
  .bg-primary .show > .dropdown-toggle.btn-primary,
  .show > .dropdown-toggle.gold-underline-button {
    background-color: #ffc20d;
    border-color: #f2b600;
    color: #000; }
  .btn-secondary:not(:disabled):active, .btn-gold:not(:disabled):active,
  .btn-primary--yellow:not(:disabled):active,
  .btn-primary--gold:not(:disabled):active,
  .bg-primary .btn-primary:not(:disabled):active, .gold-underline-button:not(:disabled):active {
    background-color: #f2b600;
    border-color: #f2b600;
    color: #000; }

.btn-ivory {
  color: #212529;
  background-color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-ivory:not(:disabled):hover {
    background-color: #d8cfb9;
    border-color: #cfc4a9;
    color: #000; }
  .btn-ivory:not(:disabled):active {
    background-color: #cfc4a9;
    border-color: #cfc4a9;
    color: #000; }

.btn-outline-primary {
  color: #7a0019;
  border-color: #7a0019;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-outline-primary:not(:disabled):hover, .btn-outline-primary:not(:disabled):active,
  .show > .dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }

.btn-outline-secondary {
  color: #212529;
  border-color: #fc3;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn-outline-secondary:not(:disabled):hover, .btn-outline-secondary:not(:disabled):active,
  .show > .dropdown-toggle.btn-outline-secondary {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }

.btn-block {
  display: block;
  width: 100%; }

.btn-lg {
  padding: 0.7rem 3rem;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  letter-spacing: normal;
  text-transform: initial; }
  .btn-lg svg {
    height: .9em;
    width: auto;
    vertical-align: -0.2em; }

.btn-md {
  padding: .6rem 1.5rem;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em; }
  .btn-md svg {
    vertical-align: -0.15em; }

.btn-sm {
  padding: 0.3em 0.6em;
  font-size: 0.875rem;
  line-height: 1.2em;
  padding: 0.3em 0.6em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: initial; }
  .btn-sm svg {
    vertical-align: -0.15em; }
  .btn-sm [stroke-width="1.75"] {
    stroke-width: 1.5; }

.btn {
  position: relative; }
  .btn > a:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1; }
  .btn > a, .btn > a:hover, .btn > a:focus, .btn > a.disabled, .btn > a:disabled, .btn > a:active, .btn > a:focus-visible {
    text-decoration: none;
    color: inherit; }
  .btn > a:focus-visible {
    outline: 0;
    box-shadow: none; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

.bg-primary .btn-primary--maroon,
.bg-primary .btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #7a0019; }

.bg-primary .btn-outline-primary {
  border-color: #fff;
  color: #fff; }
  .bg-primary .btn-outline-primary:hover {
    background-color: #fff;
    color: #7a0019; }

.bg-primary .btn-outline-secondary {
  color: #fc3; }
  .bg-primary .btn-outline-secondary:hover {
    background-color: #ffc20d;
    border-color: #f2b600;
    color: #212529; }

.bg-gold .btn-outline-secondary,
.bg-ivory .btn-outline-secondary,
.bg-light-blue .btn-outline-secondary {
  border-color: #212529;
  color: #212529; }
  .bg-gold .btn-outline-secondary:hover,
  .bg-ivory .btn-outline-secondary:hover,
  .bg-light-blue .btn-outline-secondary:hover {
    background-color: #ffc20d;
    border-color: #f2b600; }

/*# sourceMappingURL=buttons.css.map */