/* Emergency Banner */
.jim-look-here {
  color: rgba(51, 51, 51, 0.15);
}

/* Folwell Banner Icon */
.folwell-banner__icon {
  align-self: center;
  width: 1.75rem;
}
.folwell-banner__icon svg path {
  fill: #fff;
}
@media (min-width: 450px) {
  .folwell-banner__icon {
    width: 2.5rem;
  }
}

/* Folwell Banner */
.folwell-banner {
  padding: 1rem;
  position: relative;
}
@media (min-width: 450px) {
  .folwell-banner {
    padding: 1.5rem;
  }
}
@media (min-width: 650px) {
  .folwell-banner {
    padding: 2rem;
  }
}
.folwell-banner .folwell-banner__container {
  display: grid;
  grid-gap: 1.25rem;
  max-width: 1168px;
  margin: 0 auto;
  padding-right: 25px;
}
.folwell-banner .folwell-banner__text h2 {
  margin: 0 0 0.75rem;
  line-height: 1;
}
.folwell-banner .folwell-banner__text p {
  margin: 0;
}
.folwell-banner .folwell-banner__close-element {
  background: transparent;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.folwell-banner .folwell-banner__close-element svg {
  width: 1rem;
}
.folwell-banner .folwell-banner__close-element svg path {
  fill: #7a0019;
}
.folwell-banner .folwell-banner__close-element:hover {
  background: transparent;
}
.folwell-banner .folwell-banner__close-element:hover svg path {
  fill: #000000;
}
.folwell-banner.emergency a.bg-maroon.btn,
.folwell-banner.emergency a.btn.bg-maroon,
.folwell-banner.emergency a.btn.btn-arrow.btn-give,
.folwell-banner.emergency a.btn.btn-outline,
.folwell-banner.emergency a.bg-maroon.btn.btn-arrow,
.folwell-banner.emergency a.bg-maroon.btn.btn-small,
.folwell-banner.emergency a.btn.btn-outline.gray-outline,
.folwell-banner.emergency a.fw-btn-regular,
.folwell-banner.emergency a.fw-btn-small,
.folwell-banner.emergency a.fw-btn-arrow,
.folwell-banner.emergency a.fw-btn-outline,
.folwell-banner.emergency a.fw-btn-outline--white,
.folwell-banner.emergency a.fw-btn-outline--gray,
.folwell-banner.emergency a.fw-btn-full,
.folwell-banner.emergency a.fw-btn-50,
.folwell-banner.emergency a.fw-btn-give {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}
.folwell-banner.emergency a.bg-maroon.btn:visited,
.folwell-banner.emergency a.btn.bg-maroon:visited,
.folwell-banner.emergency a.btn.btn-arrow.btn-give:visited,
.folwell-banner.emergency a.btn.btn-outline:visited,
.folwell-banner.emergency a.bg-maroon.btn.btn-arrow:visited,
.folwell-banner.emergency a.bg-maroon.btn.btn-small:visited,
.folwell-banner.emergency a.btn.btn-outline.gray-outline:visited,
.folwell-banner.emergency a.fw-btn-regular:visited,
.folwell-banner.emergency a.fw-btn-small:visited,
.folwell-banner.emergency a.fw-btn-arrow:visited,
.folwell-banner.emergency a.fw-btn-outline:visited,
.folwell-banner.emergency a.fw-btn-outline--white:visited,
.folwell-banner.emergency a.fw-btn-outline--gray:visited,
.folwell-banner.emergency a.fw-btn-full:visited,
.folwell-banner.emergency a.fw-btn-50:visited,
.folwell-banner.emergency a.fw-btn-give:visited {
  color: #fff !important;
  background-color: transparent !important;
  border: 1px solid #fff !important;
}
.folwell-banner.emergency a.bg-maroon.btn:hover,
.folwell-banner.emergency a.btn.bg-maroon:hover,
.folwell-banner.emergency a.btn.btn-arrow.btn-give:hover,
.folwell-banner.emergency a.btn.btn-outline:hover,
.folwell-banner.emergency a.bg-maroon.btn.btn-arrow:hover,
.folwell-banner.emergency a.bg-maroon.btn.btn-small:hover,
.folwell-banner.emergency a.btn.btn-outline.gray-outline:hover,
.folwell-banner.emergency a.fw-btn-regular:hover,
.folwell-banner.emergency a.fw-btn-small:hover,
.folwell-banner.emergency a.fw-btn-arrow:hover,
.folwell-banner.emergency a.fw-btn-outline:hover,
.folwell-banner.emergency a.fw-btn-outline--white:hover,
.folwell-banner.emergency a.fw-btn-outline--gray:hover,
.folwell-banner.emergency a.fw-btn-full:hover,
.folwell-banner.emergency a.fw-btn-50:hover,
.folwell-banner.emergency a.fw-btn-give:hover {
  color: #fff !important;
  background-color: #900021 !important;
}
.folwell-banner.emergency a.bg-maroon.btn:focus,
.folwell-banner.emergency a.btn.bg-maroon:focus,
.folwell-banner.emergency a.btn.btn-arrow.btn-give:focus,
.folwell-banner.emergency a.btn.btn-outline:focus,
.folwell-banner.emergency a.bg-maroon.btn.btn-arrow:focus,
.folwell-banner.emergency a.bg-maroon.btn.btn-small:focus,
.folwell-banner.emergency a.btn.btn-outline.gray-outline:focus,
.folwell-banner.emergency a.fw-btn-regular:focus,
.folwell-banner.emergency a.fw-btn-small:focus,
.folwell-banner.emergency a.fw-btn-arrow:focus,
.folwell-banner.emergency a.fw-btn-outline:focus,
.folwell-banner.emergency a.fw-btn-outline--white:focus,
.folwell-banner.emergency a.fw-btn-outline--gray:focus,
.folwell-banner.emergency a.fw-btn-full:focus,
.folwell-banner.emergency a.fw-btn-50:focus,
.folwell-banner.emergency a.fw-btn-give:focus {
  background-color: #900021 !important;
  color: #fff !important;
}

/* GOLD Background */
.bg-gold,
.gold_background {
  background-color: #fc3;
}
.bg-gold .fw-btn-regular,
.gold_background .fw-btn-regular {
  border-color: transparent !important;
}
.bg-gold a:hover,
.bg-gold .emphasis:hover,
.gold_background a:hover,
.gold_background .emphasis:hover {
  color: #7a0019 !important;
  background-color: white !important;
  border-color: transparent !important;
}
.bg-gold a:focus,
.bg-gold .emphasis:focus,
.gold_background a:focus,
.gold_background .emphasis:focus {
  color: #ffde7a !important;
  background-color: #900021 !important;
}
.bg-gold .emphasis:focus:after,
.gold_background .emphasis:focus:after {
  color: #ffde7a !important;
}
.bg-gold .emergency-banner__button,
.gold_background .emergency-banner__button {
  background: transparent !important;
  color: #333 !important;
  border: 1px solid #333 !important;
}
.bg-gold .emergency-banner__button:hover,
.gold_background .emergency-banner__button:hover {
  color: #333 !important;
  background: #ffde7a !important;
}

.emergency {
  background: #ba0000;
  color: #f9f7f6;
}
.emergency p,
.emergency h2 {
  color: #fff;
}
.emergency a {
  color: #ffde7a;
  border-bottom: 1px solid #ffde7a;
  font-weight: 600;
}
.emergency a:visited {
  color: #ffde7a;
  border-bottom: 1px solid #ffde7a;
}
.emergency a:hover {
  color: #900021;
  background-color: #ffde7a;
  border-bottom: none;
}
.emergency a:focus {
  color: #ffde7a;
  background-color: #900021;
}
.emergency a.emphasis, .emergency a.emphasis:visited {
  color: #ffde7a;
  border-bottom: 1px solid #ffde7a;
}
.emergency a.emphasis:hover, .emergency a.emphasis:visited:hover {
  color: #900021;
  background-color: #ffde7a;
  border-bottom: none;
}
.emergency a.emphasis:hover:after, .emergency a.emphasis:visited:hover:after {
  color: #900021;
}
.emergency a.emphasis:after, .emergency a.emphasis:visited:after {
  color: #ffde7a;
}
.emergency .folwell-banner__close-element svg path {
  fill: #fff;
}
.emergency .folwell-banner__container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: auto 1fr;
}
.emergency .folwell-banner__container .emergency-banner__button {
  border: solid 1px #f9f7f6 !important;
  font-weight: normal !important;
  color: #f9f7f6 !important;
}
/*# sourceMappingURL=maps/emergency-banner.css.map */
