/* MIXINS */
.btn-primary a {
  color: #fff;
  background-color: #7a0019;
  border-color: #7a0019; }
  .btn-primary a:hover {
    color: #fff;
    background-color: #540011;
    border-color: #47000f; }
  .btn-primary a:focus, .btn-primary a.focus {
    color: #fff;
    background-color: #540011;
    border-color: #47000f;
    box-shadow: 0 0 0 0.2rem rgba(142, 38, 60, 0.5); }
  .btn-primary a.disabled, .btn-primary a:disabled {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
  .btn-primary a:not(:disabled):not(.disabled):active, .btn-primary a:not(:disabled):not(.disabled).active,
  .show > .btn-primary a.dropdown-toggle {
    color: #fff;
    background-color: #47000f;
    border-color: #3a000c; }
    .btn-primary a:not(:disabled):not(.disabled):active:focus, .btn-primary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(142, 38, 60, 0.5); }

.btn-secondary a {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }
  .btn-secondary a:hover {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00; }
  .btn-secondary a:focus, .btn-secondary a.focus {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00;
    box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }
  .btn-secondary a.disabled, .btn-secondary a:disabled {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-secondary a:not(:disabled):not(.disabled):active, .btn-secondary a:not(:disabled):not(.disabled).active,
  .show > .btn-secondary a.dropdown-toggle {
    color: #212529;
    background-color: #ffbf00;
    border-color: #f2b600; }
    .btn-secondary a:not(:disabled):not(.disabled):active:focus, .btn-secondary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }

.btn-success a {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; }
  .btn-success a:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34; }
  .btn-success a:focus, .btn-success a.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
  .btn-success a.disabled, .btn-success a:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-success a:not(:disabled):not(.disabled):active, .btn-success a:not(:disabled):not(.disabled).active,
  .show > .btn-success a.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430; }
    .btn-success a:not(:disabled):not(.disabled):active:focus, .btn-success a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }

.btn-info a {
  color: #212529;
  background-color: #73b5b2;
  border-color: #73b5b2; }
  .btn-info a:hover {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d; }
  .btn-info a:focus, .btn-info a.focus {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d;
    box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }
  .btn-info a.disabled, .btn-info a:disabled {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-info a:not(:disabled):not(.disabled):active, .btn-info a:not(:disabled):not(.disabled).active,
  .show > .btn-info a.dropdown-toggle {
    color: #fff;
    background-color: #55a09d;
    border-color: #509895; }
    .btn-info a:not(:disabled):not(.disabled):active:focus, .btn-info a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }

.btn-warning a {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107; }
  .btn-warning a:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00; }
  .btn-warning a:focus, .btn-warning a.focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }
  .btn-warning a.disabled, .btn-warning a:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-warning a:not(:disabled):not(.disabled):active, .btn-warning a:not(:disabled):not(.disabled).active,
  .show > .btn-warning a.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500; }
    .btn-warning a:not(:disabled):not(.disabled):active:focus, .btn-warning a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }

.btn-danger a {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }
  .btn-danger a:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130; }
  .btn-danger a:focus, .btn-danger a.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }
  .btn-danger a.disabled, .btn-danger a:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-danger a:not(:disabled):not(.disabled):active, .btn-danger a:not(:disabled):not(.disabled).active,
  .show > .btn-danger a.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d; }
    .btn-danger a:not(:disabled):not(.disabled):active:focus, .btn-danger a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }

.btn-light a {
  color: #212529;
  background-color: #f7f3f1;
  border-color: #f7f3f1; }
  .btn-light a:hover {
    color: #212529;
    background-color: #e9ded9;
    border-color: #e4d7d1; }
  .btn-light a:focus, .btn-light a.focus {
    color: #212529;
    background-color: #e9ded9;
    border-color: #e4d7d1;
    box-shadow: 0 0 0 0.2rem rgba(215, 212, 211, 0.5); }
  .btn-light a.disabled, .btn-light a:disabled {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
  .btn-light a:not(:disabled):not(.disabled):active, .btn-light a:not(:disabled):not(.disabled).active,
  .show > .btn-light a.dropdown-toggle {
    color: #212529;
    background-color: #e4d7d1;
    border-color: #e0d0c8; }
    .btn-light a:not(:disabled):not(.disabled):active:focus, .btn-light a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(215, 212, 211, 0.5); }

.btn-dark a {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
  .btn-dark a:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124; }
  .btn-dark a:focus, .btn-dark a.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5); }
  .btn-dark a.disabled, .btn-dark a:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-dark a:not(:disabled):not(.disabled):active, .btn-dark a:not(:disabled):not(.disabled).active,
  .show > .btn-dark a.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d; }
    .btn-dark a:not(:disabled):not(.disabled):active:focus, .btn-dark a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5); }

.btn-white-90 a {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9); }
  .btn-white-90 a:hover {
    color: #212529;
    background-color: rgba(236, 236, 236, 0.9);
    border-color: rgba(230, 230, 230, 0.9); }
  .btn-white-90 a:focus, .btn-white-90 a.focus {
    color: #212529;
    background-color: rgba(236, 236, 236, 0.9);
    border-color: rgba(230, 230, 230, 0.9);
    box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5); }
  .btn-white-90 a.disabled, .btn-white-90 a:disabled {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
  .btn-white-90 a:not(:disabled):not(.disabled):active, .btn-white-90 a:not(:disabled):not(.disabled).active,
  .show > .btn-white-90 a.dropdown-toggle {
    color: #212529;
    background-color: rgba(230, 230, 230, 0.9);
    border-color: rgba(223, 223, 223, 0.9); }
    .btn-white-90 a:not(:disabled):not(.disabled):active:focus, .btn-white-90 a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-white-90 a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5); }

.btn-gold a {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }
  .btn-gold a:hover {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00; }
  .btn-gold a:focus, .btn-gold a.focus {
    color: #212529;
    background-color: #ffc20d;
    border-color: #ffbf00;
    box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }
  .btn-gold a.disabled, .btn-gold a:disabled {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-gold a:not(:disabled):not(.disabled):active, .btn-gold a:not(:disabled):not(.disabled).active,
  .show > .btn-gold a.dropdown-toggle {
    color: #212529;
    background-color: #ffbf00;
    border-color: #f2b600; }
    .btn-gold a:not(:disabled):not(.disabled):active:focus, .btn-gold a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-gold a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 179, 50, 0.5); }

.btn-ivory a {
  color: #212529;
  background-color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-ivory a:hover {
    color: #212529;
    background-color: #d8cfb9;
    border-color: #d4c9b1; }
  .btn-ivory a:focus, .btn-ivory a.focus {
    color: #212529;
    background-color: #d8cfb9;
    border-color: #d4c9b1;
    box-shadow: 0 0 0 0.2rem rgba(200, 196, 185, 0.5); }
  .btn-ivory a.disabled, .btn-ivory a:disabled {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
  .btn-ivory a:not(:disabled):not(.disabled):active, .btn-ivory a:not(:disabled):not(.disabled).active,
  .show > .btn-ivory a.dropdown-toggle {
    color: #212529;
    background-color: #d4c9b1;
    border-color: #cfc4a9; }
    .btn-ivory a:not(:disabled):not(.disabled):active:focus, .btn-ivory a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-ivory a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(200, 196, 185, 0.5); }

.btn-light-blue a {
  color: #212529;
  background-color: #73b5b2;
  border-color: #73b5b2; }
  .btn-light-blue a:hover {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d; }
  .btn-light-blue a:focus, .btn-light-blue a.focus {
    color: #fff;
    background-color: #5aa8a4;
    border-color: #55a09d;
    box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }
  .btn-light-blue a.disabled, .btn-light-blue a:disabled {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-light-blue a:not(:disabled):not(.disabled):active, .btn-light-blue a:not(:disabled):not(.disabled).active,
  .show > .btn-light-blue a.dropdown-toggle {
    color: #fff;
    background-color: #55a09d;
    border-color: #509895; }
    .btn-light-blue a:not(:disabled):not(.disabled):active:focus, .btn-light-blue a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light-blue a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(103, 159, 157, 0.5); }

.btn-gray a {
  color: #212529;
  background-color: #ededed;
  border-color: #ededed; }
  .btn-gray a:hover {
    color: #212529;
    background-color: #dadada;
    border-color: #d4d4d4; }
  .btn-gray a:focus, .btn-gray a.focus {
    color: #212529;
    background-color: #dadada;
    border-color: #d4d4d4;
    box-shadow: 0 0 0 0.2rem rgba(206, 207, 208, 0.5); }
  .btn-gray a.disabled, .btn-gray a:disabled {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
  .btn-gray a:not(:disabled):not(.disabled):active, .btn-gray a:not(:disabled):not(.disabled).active,
  .show > .btn-gray a.dropdown-toggle {
    color: #212529;
    background-color: #d4d4d4;
    border-color: #cdcdcd; }
    .btn-gray a:not(:disabled):not(.disabled):active:focus, .btn-gray a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-gray a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(206, 207, 208, 0.5); }

.btn-black a {
  color: #fff;
  background-color: #000;
  border-color: #000; }
  .btn-black a:hover {
    color: #fff;
    background-color: black;
    border-color: black; }
  .btn-black a:focus, .btn-black a.focus {
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }
  .btn-black a.disabled, .btn-black a:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000; }
  .btn-black a:not(:disabled):not(.disabled):active, .btn-black a:not(:disabled):not(.disabled).active,
  .show > .btn-black a.dropdown-toggle {
    color: #fff;
    background-color: black;
    border-color: black; }
    .btn-black a:not(:disabled):not(.disabled):active:focus, .btn-black a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-black a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }

.btn-outline-primary a {
  color: #7a0019;
  border-color: #7a0019; }
  .btn-outline-primary a:hover {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
  .btn-outline-primary a:focus, .btn-outline-primary a.focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 0, 25, 0.5); }
  .btn-outline-primary a.disabled, .btn-outline-primary a:disabled {
    color: #7a0019;
    background-color: transparent; }
  .btn-outline-primary a:not(:disabled):not(.disabled):active, .btn-outline-primary a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary a.dropdown-toggle {
    color: #fff;
    background-color: #7a0019;
    border-color: #7a0019; }
    .btn-outline-primary a:not(:disabled):not(.disabled):active:focus, .btn-outline-primary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(122, 0, 25, 0.5); }

.btn-outline-secondary a {
  color: #fc3;
  border-color: #fc3; }
  .btn-outline-secondary a:hover {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-outline-secondary a:focus, .btn-outline-secondary a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }
  .btn-outline-secondary a.disabled, .btn-outline-secondary a:disabled {
    color: #fc3;
    background-color: transparent; }
  .btn-outline-secondary a:not(:disabled):not(.disabled):active, .btn-outline-secondary a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary a.dropdown-toggle {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
    .btn-outline-secondary a:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-secondary a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }

.btn-outline-success a {
  color: #28a745;
  border-color: #28a745; }
  .btn-outline-success a:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-outline-success a:focus, .btn-outline-success a.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  .btn-outline-success a.disabled, .btn-outline-success a:disabled {
    color: #28a745;
    background-color: transparent; }
  .btn-outline-success a:not(:disabled):not(.disabled):active, .btn-outline-success a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-success a.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
    .btn-outline-success a:not(:disabled):not(.disabled):active:focus, .btn-outline-success a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-success a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

.btn-outline-info a {
  color: #73b5b2;
  border-color: #73b5b2; }
  .btn-outline-info a:hover {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-outline-info a:focus, .btn-outline-info a.focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }
  .btn-outline-info a.disabled, .btn-outline-info a:disabled {
    color: #73b5b2;
    background-color: transparent; }
  .btn-outline-info a:not(:disabled):not(.disabled):active, .btn-outline-info a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-info a.dropdown-toggle {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
    .btn-outline-info a:not(:disabled):not(.disabled):active:focus, .btn-outline-info a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-info a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }

.btn-outline-warning a {
  color: #ffc107;
  border-color: #ffc107; }
  .btn-outline-warning a:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-outline-warning a:focus, .btn-outline-warning a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-outline-warning a.disabled, .btn-outline-warning a:disabled {
    color: #ffc107;
    background-color: transparent; }
  .btn-outline-warning a:not(:disabled):not(.disabled):active, .btn-outline-warning a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning a.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-outline-warning a:not(:disabled):not(.disabled):active:focus, .btn-outline-warning a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-warning a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }

.btn-outline-danger a {
  color: #dc3545;
  border-color: #dc3545; }
  .btn-outline-danger a:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-outline-danger a:focus, .btn-outline-danger a.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-outline-danger a.disabled, .btn-outline-danger a:disabled {
    color: #dc3545;
    background-color: transparent; }
  .btn-outline-danger a:not(:disabled):not(.disabled):active, .btn-outline-danger a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-danger a.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
    .btn-outline-danger a:not(:disabled):not(.disabled):active:focus, .btn-outline-danger a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-danger a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }

.btn-outline-light a {
  color: #f7f3f1;
  border-color: #f7f3f1; }
  .btn-outline-light a:hover {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
  .btn-outline-light a:focus, .btn-outline-light a.focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 243, 241, 0.5); }
  .btn-outline-light a.disabled, .btn-outline-light a:disabled {
    color: #f7f3f1;
    background-color: transparent; }
  .btn-outline-light a:not(:disabled):not(.disabled):active, .btn-outline-light a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light a.dropdown-toggle {
    color: #212529;
    background-color: #f7f3f1;
    border-color: #f7f3f1; }
    .btn-outline-light a:not(:disabled):not(.disabled):active:focus, .btn-outline-light a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(247, 243, 241, 0.5); }

.btn-outline-dark a {
  color: #343a40;
  border-color: #343a40; }
  .btn-outline-dark a:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-outline-dark a:focus, .btn-outline-dark a.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
  .btn-outline-dark a.disabled, .btn-outline-dark a:disabled {
    color: #343a40;
    background-color: transparent; }
  .btn-outline-dark a:not(:disabled):not(.disabled):active, .btn-outline-dark a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark a.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
    .btn-outline-dark a:not(:disabled):not(.disabled):active:focus, .btn-outline-dark a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-dark a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }

.btn-outline-white-90 a {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9); }
  .btn-outline-white-90 a:hover {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
  .btn-outline-white-90 a:focus, .btn-outline-white-90 a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  .btn-outline-white-90 a.disabled, .btn-outline-white-90 a:disabled {
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent; }
  .btn-outline-white-90 a:not(:disabled):not(.disabled):active, .btn-outline-white-90 a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-white-90 a.dropdown-toggle {
    color: #212529;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
    .btn-outline-white-90 a:not(:disabled):not(.disabled):active:focus, .btn-outline-white-90 a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-white-90 a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }

.btn-outline-gold a {
  color: #fc3;
  border-color: #fc3; }
  .btn-outline-gold a:hover {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
  .btn-outline-gold a:focus, .btn-outline-gold a.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }
  .btn-outline-gold a.disabled, .btn-outline-gold a:disabled {
    color: #fc3;
    background-color: transparent; }
  .btn-outline-gold a:not(:disabled):not(.disabled):active, .btn-outline-gold a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-gold a.dropdown-toggle {
    color: #212529;
    background-color: #fc3;
    border-color: #fc3; }
    .btn-outline-gold a:not(:disabled):not(.disabled):active:focus, .btn-outline-gold a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-gold a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 204, 51, 0.5); }

.btn-outline-ivory a {
  color: #e6e0d2;
  border-color: #e6e0d2; }
  .btn-outline-ivory a:hover {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
  .btn-outline-ivory a:focus, .btn-outline-ivory a.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 224, 210, 0.5); }
  .btn-outline-ivory a.disabled, .btn-outline-ivory a:disabled {
    color: #e6e0d2;
    background-color: transparent; }
  .btn-outline-ivory a:not(:disabled):not(.disabled):active, .btn-outline-ivory a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-ivory a.dropdown-toggle {
    color: #212529;
    background-color: #e6e0d2;
    border-color: #e6e0d2; }
    .btn-outline-ivory a:not(:disabled):not(.disabled):active:focus, .btn-outline-ivory a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-ivory a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(230, 224, 210, 0.5); }

.btn-outline-light-blue a {
  color: #73b5b2;
  border-color: #73b5b2; }
  .btn-outline-light-blue a:hover {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
  .btn-outline-light-blue a:focus, .btn-outline-light-blue a.focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }
  .btn-outline-light-blue a.disabled, .btn-outline-light-blue a:disabled {
    color: #73b5b2;
    background-color: transparent; }
  .btn-outline-light-blue a:not(:disabled):not(.disabled):active, .btn-outline-light-blue a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light-blue a.dropdown-toggle {
    color: #212529;
    background-color: #73b5b2;
    border-color: #73b5b2; }
    .btn-outline-light-blue a:not(:disabled):not(.disabled):active:focus, .btn-outline-light-blue a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light-blue a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(115, 181, 178, 0.5); }

.btn-outline-gray a {
  color: #ededed;
  border-color: #ededed; }
  .btn-outline-gray a:hover {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
  .btn-outline-gray a:focus, .btn-outline-gray a.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5); }
  .btn-outline-gray a.disabled, .btn-outline-gray a:disabled {
    color: #ededed;
    background-color: transparent; }
  .btn-outline-gray a:not(:disabled):not(.disabled):active, .btn-outline-gray a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-gray a.dropdown-toggle {
    color: #212529;
    background-color: #ededed;
    border-color: #ededed; }
    .btn-outline-gray a:not(:disabled):not(.disabled):active:focus, .btn-outline-gray a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-gray a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5); }

.btn-outline-black a {
  color: #000;
  border-color: #000; }
  .btn-outline-black a:hover {
    color: #fff;
    background-color: #000;
    border-color: #000; }
  .btn-outline-black a:focus, .btn-outline-black a.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }
  .btn-outline-black a.disabled, .btn-outline-black a:disabled {
    color: #000;
    background-color: transparent; }
  .btn-outline-black a:not(:disabled):not(.disabled):active, .btn-outline-black a:not(:disabled):not(.disabled).active,
  .show > .btn-outline-black a.dropdown-toggle {
    color: #fff;
    background-color: #000;
    border-color: #000; }
    .btn-outline-black a:not(:disabled):not(.disabled):active:focus, .btn-outline-black a:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-black a.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }

/* Font mixins embellished headings */
/* Button mixins */
/** Inner page width settings for narrow and wide insets **/
/* Icon font */
/* Box shadows */
/* News Hub cards */
body.path-magazine #block-barrio-carlson-page-title,
body.page-node-105116 #block-barrio-carlson-page-title {
  display: none; }

.magazine--section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #fc3;
  padding: 10px 20px 10px 20px;
  margin-left: 15px;
  text-align: left;
  display: inline-block;
  min-width: 60%;
  max-width: 80%; }

.magazine--section-top h2.magazine--section-heading {
  margin-left: 0; }

.magazine--section-item {
  padding: 15px;
  background-color: #fff; }
  .magazine--section-item:focus, .magazine--section-item:hover {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out; }
  .magazine--section-item--summary {
    font-size: 1.75rem;
    line-height: 135%; }
    .magazine--section-item--summary h3.magazine--section-item--title {
      margin: 0 0 10px;
      font-size: 24px !important;
      line-height: 120%;
      letter-spacing: -.4px; }
      .magazine--section-item--summary h3.magazine--section-item--title a {
        font-size: 24px !important; }
      .magazine--section-item--summary h3.magazine--section-item--title .magazine--line {
        height: 2px;
        width: 175px;
        background: linear-gradient(to right, #ffcc33 0%, rgba(255, 204, 51, 0) 100%);
        position: absolute;
        top: -10px; }

.magazine--featured .hub-card--news {
  border-bottom: 0; }
  .magazine--featured .hub-card--news .card__title {
    font-size: 2.2rem;
    margin: 30px 30px 15px; }
  .magazine--featured .hub-card--news .card__title--link {
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif; }
  .magazine--featured .hub-card--news .card__text {
    margin: 0 30px 30px; }

.magazine--intro {
  position: relative; }
  .magazine--intro h3 {
    margin: 10px 0;
    line-height: 125%;
    letter-spacing: -.4px; }
  .magazine--intro p {
    margin: 0 0 30px; }
  .magazine--intro-profileimg {
    max-width: 33%;
    float: left;
    padding: 0 15px 15px 0; }
    .magazine--intro-profileimg img {
      border-radius: 50%; }
  .magazine--intro .collapse:not(.show) {
    height: 460px !important;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .magazine--intro .collapsing {
    min-height: 460px !important; }
  .magazine--intro .magazine--intro-collapse-link {
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px) !important;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    height: 125px;
    font-family: "Open Sans", sans-serif; }
    .magazine--intro .magazine--intro-collapse-link:after {
      display: block;
      width: 100% !important;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
      padding: 105px 30px 0;
      line-height: 20px;
      content: 'Read more'; }
    .magazine--intro .magazine--intro-collapse-link:not(.collapsed):after {
      display: block;
      width: 100% !important;
      background: transparent;
      padding: 125px 30px 0;
      line-height: 20px;
      content: 'Show less'; }

.magazine--sidebar {
  background-color: #e6e0d2; }
  .magazine--sidebar .view-id-magazine_archives.view-display-id-block_3 .view-content {
    border-bottom: 1px dotted #ccc; }
  .magazine--sidebar .view-magazine-archives .item-list li {
    border-bottom: 1px dotted #ccc; }
  .magazine--sidebar .view-magazine-archives .item-list li:last-child {
    border-bottom: 0; }

.magazine--pdf {
  background-color: #fff; }
  .magazine--pdf h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #303030; }
  .magazine--pdf figure img {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
  .magazine--pdf .btn-primary--yellow {
    font-size: 90%; }
    .magazine--pdf .btn-primary--yellow i.fas {
      color: #fc3; }
    .magazine--pdf .btn-primary--yellow:focus i.fas, .magazine--pdf .btn-primary--yellow:hover i.fas {
      color: white; }

.magazine article.magazine--magazine-card h3 {
  font-family: "Lato", Arial, Verdana, sans-serif !important;
  font-size: 2.5rem !important; }
  .magazine article.magazine--magazine-card h3 a {
    font-family: "Lato", Arial, Verdana, sans-serif !important;
    font-size: 20px; }

.magazine--faces--card {
  transform: scale(0.96);
  transition: all 0.5s ease-in-out; }
  .magazine--faces--card:focus, .magazine--faces--card:hover {
    background-color: #f0f0f0;
    transition: all 0.5s ease-in-out;
    transform: scale(1); }
  .magazine--faces--card .card-body h2.magazine--faces--card--body-h2 {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-family: "Lato", Arial, Verdana, sans-serif !important;
    font-size: 22px;
    letter-spacing: -0.5px;
    color: #333; }
  .magazine--faces--card .card-body h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Lato", Arial, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #8a8a8a; }
  .magazine--faces--card .card-body img {
    max-height: 230px;
    width: auto;
    margin: 0 auto; }

.magazine--faces--modal {
  font-size: 18px;
  line-height: 140%; }
  .magazine--faces--modal img {
    max-height: 33vh;
    width: auto;
    max-width: 320px; }
  .magazine--faces--modal h1 {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-family: "Lato", Arial, Verdana, sans-serif !important;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #333; }
  .magazine--faces--modal h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Lato", Arial, Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #8a8a8a; }

.page-node-104056 #main .form-row > fieldset {
  max-width: 100%; }

.magazine--cover-angle {
  transform: rotate(-3deg); }

.magazine--promobar {
  background-color: #e6e0d2;
  border-bottom: 5px solid #7a0019; }
  .magazine--promobar h2 {
    font-size: 1.85em;
    font-style: italic; }
  .magazine--promobar .magazine--cover-angle {
    margin-top: -45px;
    margin-left: -30px;
    margin-right: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    width: 140px;
    height: auto; }

.page-node-103561 .view-id-magazine_archives.view-display-id-block_3 {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0; }
  .page-node-103561 .view-id-magazine_archives.view-display-id-block_3 .view-content {
    border-bottom: 0; }

.magazine--section-item--title--alumni-position {
  position: absolute;
  top: 15px; }

.magazine--sections-discovery .magazine--section-item--title--alumni-position {
  position: relative;
  top: 0px; }

.magazine--sections-discovery .magazine--section .magazine--section-item {
  position: relative;
  overflow: visible;
  max-height: none;
  height: auto;
  min-height: auto; }
  .magazine--sections-discovery .magazine--section .magazine--section-item:focus, .magazine--sections-discovery .magazine--section .magazine--section-item:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; }
  .magazine--sections-discovery .magazine--section .magazine--section-item .image-style-crop-feature-one {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; }
  .magazine--sections-discovery .magazine--section .magazine--section-item .magazine--section-item--summary h3.magazine--section-item--title {
    padding: 0 0 15px 0;
    position: relative; }
    .magazine--sections-discovery .magazine--section .magazine--section-item .magazine--section-item--summary h3.magazine--section-item--title .magazine--line {
      height: 2px;
      width: 80%;
      background: -moz-linear-gradient(left, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
      background: -webkit-linear-gradient(left, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
      background: linear-gradient(to right, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
      position: absolute;
      bottom: 0px;
      top: auto;
      right: 0px;
      left: 0px !important; }

.magazine--discovery-header {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .magazine--discovery-header {
      height: 60px;
      min-height: 60px;
      max-height: 60px; } }
  @media (min-width: 1200px) {
    .magazine--discovery-header {
      height: 70px;
      min-height: 70px;
      max-height: 70px; } }
  .magazine--discovery-header-bg {
    background-color: #7a0019;
    background-image: url("../images/magazine-discovery-desktop-bg.png");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat; }
    .magazine--discovery-header-bg h1 {
      font-family: "Lato", Arial, Verdana, sans-serif;
      color: #fff;
      line-height: 70%; }
      @media (min-width: 992px) {
        .magazine--discovery-header-bg h1 {
          font-size: 42px;
          line-height: 45px; } }
      @media (min-width: 1200px) {
        .magazine--discovery-header-bg h1 {
          font-size: 52px;
          line-height: 55px; } }
  .magazine--discovery-header-mobile {
    max-width: 320px;
    height: auto; }

@media (min-width: 1200px) {
  .bg-test--color1 {
    background-color: rgba(255, 255, 0, 0.3); }
  .bg-test--color2 {
    background-color: rgba(0, 255, 255, 0.3); } }

/*# sourceMappingURL=magazine.css.map */