/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Video (Full Width)


Markup: ../../../templates/components/video-text_fullwidth.html.twig

Style guide: components.video-fullwidth
*/


// KSS override Quote
.fullwidth-video {
	display: flex;
	justify-content: center;
	&__inside{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.video-full__link{
			display: flex;
			height: 100%;
			width: 100%;
		}
	}

	&__left{}
	&__right{
	}
	&__link {

	}
	&__caption {
		color: #34302e;
		font-family: "Crimson Text";
		font-size: 48px;
		line-height: 44px;
	}
	img{
		width: 100%;
		height: auto;
	}
}
