.csom-datatable caption, .table.ck-widget .csom-datatable + figcaption.ck-editor__editable {
  text-align: center;
  color: #1a1a1a;
  font-size: 1.9rem;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding-top: 0.6rem;
  padding-bottom: 1.6rem;
  background-color: transparent; }

.csom-datatable {
  margin: 20px auto 40px;
  line-height: 1.3;
  font-weight: 600; }
  .csom-datatable caption {
    caption-side: top; }
  .csom-datatable th,
  .csom-datatable td {
    padding: 5px 10px !important;
    text-align: left !important;
    font-weight: 600 !important; }
    .csom-datatable th:not(:first-child),
    .csom-datatable td:not(:first-child) {
      text-align: center !important; }
  .csom-datatable thead tr,
  .csom-datatable thead th,
  .csom-datatable thead td {
    background: #e6e0d2 !important;
    border-color: #e6e0d2 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    font-weight: 700; }
  .csom-datatable thead th:not(:last-child),
  .csom-datatable thead td:not(:last-child) {
    border-right-color: #fff !important; }
  .csom-datatable tbody th {
    background: #f7f6f4 !important;
    border-color: #e6e0d2 !important; }
  .csom-datatable tbody td {
    background: none !important;
    border-color: #e6e0d2 !important; }
  .csom-datatable,
  .csom-datatable tr {
    border: 0 !important; }
  .csom-datatable + figcaption {
    margin: 1.5rem auto 5rem; }

figure {
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  figure.align-left {
    margin-right: 2rem !important; }
  figure.align-right {
    margin-left: 2rem !important; }
  figure figcaption {
    display: table-caption;
    caption-side: bottom; }

.table.ck-widget .csom-datatable {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.table.ck-widget + figcaption {
  margin: 1.5rem auto 5rem; }

figure:has(.csom-datatable):not(.table.ck-widget),
.csom-datatable__figure {
  margin-top: 20px;
  margin-bottom: 40px; }
  figure:has(.csom-datatable):not(.table.ck-widget) .csom-datatable,
  .csom-datatable__figure .csom-datatable {
    margin-top: 0;
    margin-bottom: 0; }
  figure:has(.csom-datatable):not(.table.ck-widget) > figcaption,
  .csom-datatable__figure > figcaption {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem; }
  figure:has(.csom-datatable):not(.table.ck-widget) .table.ck-widget,
  .csom-datatable__figure .table.ck-widget {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

figure:has(.csom-datatable),
.csom-datatable {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    figure:has(.csom-datatable),
    .csom-datatable {
      width: max-content;
      min-width: 24rem;
      max-width: 100%; } }

figure:has(.csom-datatable--tiny),
.csom-datatable--tiny {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    figure:has(.csom-datatable--tiny),
    .csom-datatable--tiny {
      width: 24rem;
      min-width: 24rem;
      max-width: 24rem; } }

figure:has(.csom-datatable--small),
.csom-datatable--small {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    figure:has(.csom-datatable--small),
    .csom-datatable--small {
      width: 36rem;
      min-width: 36rem;
      max-width: 36rem; } }

figure:has(.csom-datatable--medium),
.csom-datatable--medium {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    figure:has(.csom-datatable--medium),
    .csom-datatable--medium {
      width: 100%;
      max-width: 100%; } }
  @media (min-width: 768px) {
    figure:has(.csom-datatable--medium),
    .csom-datatable--medium {
      width: 50rem;
      max-width: 50rem; } }

figure:has(.csom-datatable--wide),
.csom-datatable--wide {
  width: 86rem;
  max-width: 86rem;
  margin-left: auto;
  margin-right: auto; }

figure:has(.csom-datatable--fullwidth),
.csom-datatable--fullwidth {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.csom-datatable--basic-2 thead tr,
.csom-datatable--basic-2 thead th,
.csom-datatable--basic-2 thead td {
  background: #7a0019 !important;
  color: #fff !important;
  border-color: #fff !important;
  border-top: 0 !important;
  border-bottom: 0 !important; }

.csom-datatable--basic-2 tbody th,
.csom-datatable--basic-2 tbody td {
  background: #e6e0d2 !important;
  color: #1a1a1a !important;
  border-color: #fff !important; }

.csom-datatable--basic-3 thead tr,
.csom-datatable--basic-3 thead th,
.csom-datatable--basic-3 thead td,
.csom-datatable--basic-3 tbody tr,
.csom-datatable--basic-3 tbody th,
.csom-datatable--basic-3 tbody td {
  background: none !important;
  border: 0 !important; }

.csom-datatable--basic-3 thead {
  background: none !important;
  color: #000 !important; }

/*# sourceMappingURL=csom-datatable.css.map */