.alumni-landing-page {
    margin-top: 0px !important;

    @media (min-width: 1200px) {
        .container {
          width: 1260px;
        }
      }

    .alumni-pad-100 {
        &:first-child {
            padding-top: 100px;
        } 
    }
}

