.basic-page {
    &__catalog {
        border-style: solid;
        border-color: $warm-gray;
        border-width: 0 0 1px 0;
        margin-bottom: 5rem;
        a {
            display: inline-block;
            width: 100%;
            height: 5.5rem;
            line-height: 5.5rem;
            text-transform: uppercase;
            letter-spacing: 1.78px;
            font-weight: 700;
            &:after {
                @include carlson-icons($icon-arrow-right);
                font-size: 2.8rem;
                margin-left: 1rem;
                vertical-align: middle;
            }
        }
    }
}

/* custom code for MBA page 96431 */
.cta1 {
  padding: 2.4rem 8rem 2rem 8rem;
  margin: 2rem 0;
  background-color: #7a0019;
  text-align: center; }
.cta1 h2 { color: #FFFFFF; margin-bottom: 10px; }
.cta1 a { color: #FFCC33; }
.btn-cta { color: #FFFFFF !important;}
