.comparison-table__container {
    display: flex;
}

.comparison-table {
    width: 75%;
    th {
        color: #363230;
    }
    &__header {
        .no-data {
            background: white;
        }
        .column-header {
            font-size: 2rem;
            background: white;
        }
    }
    tbody {
        tr {
            &:nth-of-type(odd) {
                background: rgba(230,216,214,0.3);
                th, td {
                    background: rgba(230,216,214,0.3);
                }
            }
            &:nth-of-type(even) {
                background: transparent;
                th, td {
                    background: transparent;
                }
            }
        }
}
}

.comparison-menu {
    width: 25%;
    background: rgba(230,216,214,0.3);
    &__header {
        font-size: 2.5rem;
    }
    &__breakline {
        color: $gold;
    }
    &__select {
        width: 100%;
    }
}