.conference {
	.basic-hero {
	  &__img {
	    margin-bottom: 0;
	  }
	}
	.body {
		margin-top: 5rem;
		margin-bottom: 5rem;
	 	.btn {
		 	margin: 2rem 1rem;
		}
	}

}









/* custom CSS for 100716 : Carlson Centennial Twin Cities Celebration */
body.page-node-100716 {
	.conference__content-components {
		.body {
			h2 {
				font-size : $font-large;
				line-height : 140%;
			}
			h4 {
				font-size : $font-small;
				line-height : 140%;
			}
			h4.label-border.yellow {
				font-size : ($font-small*1.25);
				line-height : 140%;
				color : $centennial-red;
			}
		}
		.fluid-columns__item {
			text-align : center;
			.column__img {
				img {
					border-radius : 50%;
					width : 230px;
					height : 230px;
					margin : 0 auto;
				}
			}
			h4.column__heading {
				font-size : ($font-medium*0.825);
				text-align : center;
				&:after {
						content: '';
						height: 2px;
						width: 100px;
						display: block;
						background: $centennial-gold;
						margin: 2.4rem auto 0 auto;
				}
			}
			.column__markup {
				h4 {
					font-size : ($font-medium*0.725);
				}
				h5 {
					font-size : ($font-medium*0.6);
					color : $centennial-red;
				}
			}
		}
	}
}
