.ee-landing {
	&__catalog {
		border-bottom: solid 1px $warm-gray;
		border-top: solid 1px $warm-gray;
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
		a {
			text-transform: uppercase;
			letter-spacing: 1.78px;
			font-weight: 700;
      &:after{
        color: $maroon;
        position: absolute;
        font-size: 2.8rem;
        margin-left: 1.5rem;
        @include carlson-icons($icon-arrow-right);
      }
		}
	}
	&__body {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
}