
.ee-program {
	&__top {

	}
	&__catalog {

	}
	&__content {

	}
	&__details {
		padding: 1.6rem 1.5rem;
		background: $maroon;
		text-transform: uppercase;
		color: $white;
		font-weight: bold;
		&--cost {
			> * {
				display: inline-block;
				vertical-align: middle;
				line-height: 4.5rem;
			}
		}
		&--label {
			font-style: italic;
			@include font-crimson-base();
			font-size: 3.4rem;
			font-weight: normal;
		}
		a {
			color: $menu-gold;
		}
	}
	&__dates {
		padding: 2rem;
		background: $mid-gray;
	}
	&__date {
		.date-cal {
			justify-content: center;
		}
	}

	@include media-breakpoint-up(lg) {
		&__date {
			.date-cal {
				justify-content: flex-start;
			}
		}
	}
}