
.ee-program {
	&__top {

	}
	&__catalog {

	}
	&__content {

	}
	&__cost {
		padding: 26px 30px;
		background: $maroon;
		text-transform: uppercase;
		color: $white;
		span {

		}
		a {
			color: $menu-gold;
		}
	}
}