/* Event Full page styles*/
.event {
	.basic-hero__title {
		border-bottom: 0;
	}
	&__details {
		@include page-inset($inset-wide);
		&--date {
			display: flex;
			justify-content: center;
			.date-cal__item--month::after {
				display: none;
				@include media-breakpoint-up(lg){
					display: block;
				}
			}
		}
		&--divider {
			&__desktop {
				display: none;
				@include media-breakpoint-up(lg){
					display: block;
				}
			}
			&__mobile {
				@include media-breakpoint-up(lg){
					display: none;
				}
			}
		}
		&--all-info {
			&::before{
				content: '';
				height: 2px;
				display: block;
				background: $gold;
				@include media-breakpoint-up(lg){
					display: none;
				}
			}
			&__wrapper {
				padding-top: 2rem;
				padding-bottom: 2rem;
				@include media-breakpoint-up(lg){
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
		&--info {
			text-transform: uppercase;
		}
		&--label {
			text-transform: none;
			@include serif-font(3.4rem);
		}
		&--address {
			p {
				display: inline;
			}
			a {
				color: $slate;
			}
			&__divider {
				margin: 0 2rem;
			}
			&__location {
				@include media-breakpoint-up(lg){
					white-space: nowrap;
				}
			}
		}
		&--attend {
			@include button-solid($maroon);
			width: 100%;
			display: inline-block;
			text-align: center;
		}
	}
	&__body{
		@include page-inset($inset-narrow);
	}
	&__map {
		margin-bottom: 5rem;
	}
	&__map,
	.contact-cta {
		@include page-inset($inset-wide);
	}
	.simple-gmap-address {
		display: none;
	}
}


/* Event Teaser Compact styles */
.event-items {
	&__item {
		border: solid 1px $warm-gray;
		padding: 0 1rem 0 0;
		display: flex;
		flex-wrap: nowrap;
		.date-cal {
			margin: 0 15px;
		  &__item {

		    &--day {
		    	line-height: 6rem;
		    }
		    &--month {
		    	color: $slate;
		    }
		  }
		}

		&--image {

		}
		a {
			padding-top : 1rem;
			display : block;
			width : 100%;
			height : 100%;
			h4.event-items__item--title {
				@include font-lato-base();
				line-height: 150%;
				font-size: 1.6rem;
				font-weight: bold;
				color : $darkgray;
				cursor: default;
			}
			&:hover, &:focus {
				h4.event-items__item--title {
					text-decoration : none;
				}
			}
			span.event-items__item--link {
				@include bold_link();
			}
		}
	}
	&__details {
		width : 100%;
		display : block;
	}
}
