.faculty-profile {
    /** Top Profile - Block. **/
    &__top {
        &--headshot {
            img {
                width: 100%;
                height: auto;
                @include profile-image-box-shadow();
            }
            @include media-breakpoint-up(xl){
                &-wrapper {
                    z-index: 1;
                    margin-bottom: -22rem;
                }
            }
        }
        &--name {
            @include heading-title($font-medium,$maroon, 'left');
            margin-top: 2rem;
            @include media-breakpoint-up(md)
            {
                margin-top: 0;
            }
        }
        &--title {
            text-transform: uppercase;
            letter-spacing: 0.178rem;
            font-weight: 700;
        }
        &--dept {
            font-weight: 700;
        }
    }

    /** Contact - Block. **/
    &__experience,
    &__contact {
        h2 {
            @include heading-title($font-medium, 'none');
            margin-top: 2rem;
        }
    }
    &__about {
        margin-bottom: 4rem;
        h2 {
            @include heading-title($font-medium, 'none');
            margin-top: 4rem;
        }
    }

    &__contact {
        margin-bottom: 3rem;
        @include media-breakpoint-up(lg){
            padding-top: 3rem;
        }
        @include media-breakpoint-up(xl){
            padding-top: 22rem;
        }
        a {
            &::before {
                @include carlson-icons($icon-link);
                font-size: 1.6rem;
                color: $maroon;
                width: 2rem;
                margin-right: 1.5rem;
                display: inline-block;
                text-align: center;
            }
        }
        &--address {
            &::before {
                @include carlson-icons($icon-map-pin);
                font-size: 1.6rem;
                color: $maroon;
                width: 2rem;
                margin-right: 1.5rem;
                display: inline-block;
                text-align: center;
                font-size: 2rem;
                vertical-align: middle;
            }
        }
        &--phone {
            a::before {
                content: $icon-mobile-phone;
                font-size: 2rem;
            }
        }
        &--email {
            a::before {
                content: $icon-envelope;
                font-size: 1.2rem;
            }
        }
        &--cvc {
            a::before {
                content: $icon-download;
                vertical-align: middle;
            }
        }
    }

    &__works {
        &--heading {
            @include heading-title($font-medium, $menu-gold, 'center');
            margin-top: 2rem;
        }
    }

    /** Education Degrees - Block. **/
    &__expertise--item,
    &__education--item {
        line-height: 2.5rem;
        &--type {
            font-weight: bold;
        }
    }

    &__experience{
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $gold;
        @include media-breakpoint-up(lg){
            padding: 30px 50px 50px;
        }
        @include media-breakpoint-up(xl){
            padding-left: 15rem;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: -6.5rem;
            width: 100%;
            height: 100%;
            background-image: url('../images/bg/experience_bg.png');
            background-size: contain;
            background-position: top left;
            background-repeat: no-repeat;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            @include media-breakpoint-up(md){
                top: 0;
                background-position: top left;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
        ul {
            li.faculty-profile__expertise--item::before,
            li.faculty-profile__education--item::before {
                top: 0.9rem;// an adjustment because the line height is different here
            }
        }
    }
    &__edit {
        text-align: center;
        padding: 1rem;
        line-height: 23px;
        font-size: 23px;
        float: right;
        margin-bottom: 5rem;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
        &::before {
            @include carlson-icons($icon-edit);
        }
        &:hover {
            text-decoration: none;
            &::before {
                color: $slate;
            }
        }
    }
    /* Tease View mode */
    &__teaser {
        margin-bottom: 3rem;
        img {
            @include profile-image-box-shadow();
        }
        &--name {
            margin:1rem 3rem 1rem 5rem;
            @include serif-font($font-small);
            color: $slate;
            display: block;
            &:hover,
            &:active,
            &:focus {
                color: $maroon;
            }
            &::before {
                content: '';
                position: absolute;
                width: 2px;
                left: 45px;
                background: #FFCC33;
                height: 100px;
                bottom: 30px;
            }
        }
        @include media-breakpoint-up(md) {
            &--name {
                &::before {
                    left: 65px;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            &--name {
                &::before {
                    bottom: 70px;
                }
            }
        }
    }
}

.node__content .faculty-profile__works {
    ul {
        list-style: none;
        margin-bottom: 0px;
        padding: 0;
        @include media-breakpoint-up(md){
            margin-left: 40px;
            margin-right: 50px;
        }

        li {
            margin: 0;
            padding-bottom: 1em;
            margin-bottom: 1em;
            padding-left: 15px;
            position: relative;
            border-bottom: 1px solid $light-gray;
            &:last-child {
                border-bottom: 0;
            }
            &:before {
                display: none;
            }
        }
    }
}
