.faculty-profile {
    /** Top Profile - Block. **/
    &__top {
        &--headshot {
            img {
                width: 100%;
                height: auto;
                @include profile-image-box-shadow();
            }
        }
        &--name {
            @include heading-title($font-medium,$maroon, 'left');
            margin-top: 2rem;
            @include media-breakpoint-up(md)
            {
                margin-top: 0;
            }
        }
        &--title {
            text-transform: uppercase;
            letter-spacing: 0.178rem;
            font-weight: 700;
        }
        &--dept {
            font-weight: 700;
        }
    }

    /** Contact - Block. **/
    &__experience,
    &__contact {
        h2 {
            @include heading-title($font-medium, 'none');
            margin-top: 2rem;
        }
    }
    &__about {
        margin-bottom: 4rem;
        h2 {
            @include heading-title($font-medium, 'none');
            margin-top: 4rem;
        }
    }

    &__contact {
        &--address {
            @include element-with-icon-before();
            &::before {
                @include map-icon($maroon);
            }
        }
        &--phone {
            @include element-with-icon-before();
            &::before {
                @include phone-icon($maroon);
            }
        }
        &--email {
            @include element-with-icon-before();
            &::before {
                @include email-icon($maroon);
            }
        }
        &--cvc {
            @include element-with-icon-before();
            &::before {
                @include download-icon($maroon);
            }
        }
        &--link {
            @include element-with-icon-before();
            &::before {
                @include link-icon($maroon);
            }
        }
    }

    &__works {
        h2 {
            @include heading-title($font-medium, $menu-gold, 'center');
            margin-top: 2rem;
        }
    }

    /** Education Degrees - Block. **/
    &__expertise,
    &__education {
        list-style: none;
        &--item {
            line-height: 2.5rem;
            &::before{
                @include diamond-list-type($maroon);
            }
            &--type {
                font-weight: bold;
            }
        }
    }

    &__experience{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        z-index: -1;
        height: 100%;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $gold;
        @include media-breakpoint-up(md){
            word-wrap: break-word;
            padding-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        @include media-breakpoint-up(xl){
            padding-left: 12rem;
            margin-top: -150px;
            padding-top: 30px;
            padding-bottom: 150px;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: -6.5rem;
            width: 100%;
            height: 100%;
            background-image: url('../images/bg/experience_bg.png');
            background-size: contain;
            background-position: top left;
            background-repeat: no-repeat;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            @include media-breakpoint-up(md){
                top: 0;
                background-position: top left;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
    }
}
