/**
 * @file
 * Visual styles for comments in Barrio.
 */
.footer {
  padding: 40px 0;
  background-color: #363230;
  color: $white;
  text-align: center;
  a {
    color: $menu-gold;
    &:hover{
      text-decoration: underline;
      background: transparent;
    }
  }
  &__logo {
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: solid 1px #D8D8D8;
    img {
      margin: 0 auto;
    }
  }
  &__info {

  }
  &__links {
    label {
      color: $white;
    }
    li {
      width: 100%;
    }
    .nav>li>a {
      padding-top: 0;
    }
  }
  &__connect {

  }
  @include media-breakpoint-up(md) {
    text-align: left;
    .container {
      max-width: 1000px;
    }
  }
}
