/**
 * @file
 * Visual styles for comments in Barrio.
 */
.footer {
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: $dark-gray;
  color: $white;
  text-align: center;
  a {
    color: $menu-gold;
    &:hover{
      text-decoration: underline;
      background: transparent;
    }
  }
  p {
    margin-bottom: 0;
  }
  &__logo {
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: solid 1px $menu-line-grey;
    a {
      img {
      margin: 0 auto;
      width : 200px;
      height : auto;
      }
    }
  }
  &__content {
    text-align: left;
  }
  &__info,
  &__links {
    padding: 3rem 5.5rem 0 5.5rem;
    @include media-breakpoint-up(md){
      padding: 3rem 0 0 0;
    }
  }
  &__links {
    label {
      color: $white;
    }
    li {
      width: 100%;
    }
    .nav>li>a {
      padding: 0;
      &:hover,
      &:active {
        text-decoration: underline;
        background-color: inherit;
      }
    }
  }
  &__connect {
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid $menu-line-grey;
    margin-top: 2rem;
    overflow: hidden;
    @include media-breakpoint-up(lg){
      border-top: 0;
      margin-top: 0;
      padding: 3rem 0 0 0;
    }
    a {
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
    .container {
      max-width: 1000px;
    }
  }
}
#umnhf-f.umnhf a {
  color: $maroon;
}
#umnhf-f.umnhf small a {
  font-size: inherit;
  font-family: inherit;
}
#umnhf-f-myu {
  text-align: center;
  ul li {
    display: inline-block;
    a {
      padding: 0 2rem;
      text-decoration: underline;
    }
  }
}
