/* Homepage speific styles*/
.program-finder {
	margin-bottom: 3rem;
	@include media-breakpoint-up(lg) {
			margin-top: -20px;
			position: relative;
			z-index: -1;
	}	
	&__inner {
		min-height: 20rem;
		background: $gold;
		
	}
}

.home {
	&__magazine {
		
	}
}