/* Homepage speific styles*/
.home-hero {
	position: relative;
	z-index: 1;
}

.program-finder {
	margin-bottom: 3rem;
	@include media-breakpoint-up(lg) {
			margin-top: -20px;
			position: relative;
	}	
	&__inner {
		min-height: 20rem;
		background: $gold;
		
	}
}

.home {
	&__magazine {
		
	}
}