.magazine {
  &--section {
    &-heading {
      /* border-left : 1px solid $slate;
      padding: 0 0 5px 15px;
      margin : 0;
      color : $dark-gray;
      font-weight:300;
      text-transform:none;
      letter-spacing:.4px; */
      font-family:$font-lato;
      font-size : 15px;
      font-weight : bold;
      letter-spacing : .4px;
      line-height : 100%;
      text-transform : uppercase;
      color : $white;
      background-color : $dark-gray;
      padding : 5px 5px 6px 8px;
      margin-left : 15px;
      text-align: left;
      display : inline-block;
      min-width : 60%;
      max-width : 80%;
    }
    &-top {
      h2.magazine--section-heading {
        margin-left : 0px;
      }
    }
    &-item {
      padding : 15px;
      background-color : $white;
      &:hover,&:focus {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        @include box-shadow(0px,8px,16px,0.20);
    		transition: all 0.3s ease-in-out;
      }
      &--title {

      }
      .image-style-crop-feature-one {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      &--summary {
        font-size : 1.75rem;
        line-height : 135%;
        font-family : $font-crimson;
        h3.magazine--section-item--title {
          margin : 0 0 10px 0;
          font-size : 24px !important;
          line-height : 120%;
          letter-spacing: -.4px;
          a {
            font-size : 24px !important;
          }
        }
      }
    }
  }
  &--intro {
    position : relative;
    font-family : $font-crimson;
    h2.magazine--section-heading {
/*      font-size : 19px !important;
      margin-left : -15px; */
    }
    h3 {
      margin : 10px 0 10px 0;
      font-size : 38px !important;
      line-height : 120%;
      letter-spacing: -.4px;
    }
    p, ul, li {
      font-family : $font-crimson;
      font-size : 1.9rem;
      line-height : 135%;
    }
    p {
      margin : 0 0 30px 0;
    }
    &-profileimg {
      max-width : 33%;
      float : left;
      margin : 0 15px 15px 0;
      img {
        border-radius : 50%;
      }
    }
    #magazine--intro-collapse {
    }
    .collapse {
    }
    .collapse:not(.show) {
        height: 460px !important;
        overflow: hidden;
        display: block;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .collapsing {
        min-height: 460px !important;
    }
    .magazine--intro-collapse-link {
      position : absolute;
      bottom : 0px;
      width : 100%;
      text-align : center;
      font-size : 12px;
      text-transform : uppercase;
      font-weight : 700;
      letter-spacing: .5px;
      height : 125px;
      &:after  {
        display : block;
        width : 100% !important;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        padding : 105px 30px 0px 30px;
        line-height : 20px;
          content: 'Read more';
      }
      &:not(.collapsed):after {
        display : block;
        width : 100% !important;
        background : transparent;
        padding : 125px 30px 0px 30px;
        line-height : 20px;
        content: 'Show less';
      }
    }
  }

  &--sidebar {
    background-color : $lightergray;
  }
  &--pdf {
    background-color : $white;
    border-bottom:5px solid $maroon;
    h2 {
      font-family:$font-lato;
      text-align : center;
      font-size : 12px;
      text-transform : uppercase;
      font-weight : 300;
      letter-spacing: .5px;
      padding-bottom : 5px;
      margin-bottom : 10px;
      border-bottom : 1px solid $lightgray;
      color : $dark-gray;
    }
    figure {
      img {
        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
      }
    }
  }
}


.magazine--promobar {
  background-color : $mid-gray;
  border-bottom:5px solid $maroon;
}
