/* News Page styles */
.news {
	.program-cta,
	.fullwidth-video,
	.program-promo {
		@include page-inset($inset-wide);
	}
	&__body,
	.basic-paragraph,
	.carlson-slideshow,
	.quote,
	.quote-group {
		@include page-inset($inset-narrow);
		&--sidebar {

    	margin-bottom: 3rem;
    	> div {
    		border: solid 1px $light-gray;
	      padding: 20px;
	    }
		}
	}
	.label-border {
		font-size: 3.4rem;
		line-height: 3.4rem;
		font-weight: 400;
		&:after {
			margin: 1.6rem 0 0 0;
		}
	}

	@include media-breakpoint-up(lg) {
    &__body {
    	&--sidebar {
      	> div {
	        padding: 30px 35px;
	      }
    	}
    }
  }
}
/* News Teaser styles */
.news {
	&__teaser {
		padding: 3rem 0;
		border-top: 1px solid $warm-gray;
		&:last-child {
			border-bottom: 1px solid $warm-gray;
		}
		&--heading {
			a {
				color: $slate;
				&:hover {
					color: $maroon;
				}
			}
		}
		&--created {
			text-transform: uppercase;
		}
		&--learn-more {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.78px;
		}
	}
}
/* News Teaser Compact styles */
.news-items {
	&__item {
		margin-bottom: 2rem;
		&--image {

		}
		&--title {
			@include font-lato-base();
			line-height: 2rem;
			font-size: 1.6rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		&--link {
			@include bold_link();
		}
	}
}