/* News Page styles */
.news {
	.program-cta,
	.fullwidth-video,
	.program-promo {
		@include page-inset($inset-wide);	
	}
	&__body,
	.basic-paragraph,
	.carlson-slideshow,
	.quote,
	.quote-group {
		@include page-inset($inset-narrow);
		&--sidebar {
			
    	margin-bottom: 3rem;
    	> div {
    		border: solid 1px $light-gray;
	      padding: 20px;
	    }
		}
	}
	.label-border {
		font-size: 3.4rem;
		line-height: 3.4rem;
		font-weight: 400;
		&:after {
			margin: 1.6rem 0 0 0;
		}
	}

	@include media-breakpoint-up(lg) {
    &__body {
    	&--sidebar {
      	> div {
	        padding: 30px 35px;
	      }    		
    	}
    }
  }
}

/* News Teaser Compact styles */

.news-items {
	&__heading {
		@include serif-font($font-medium);
		margin-bottom: 3.7rem;
	}
	&__item {
		margin-bottom: 2rem;
		&--image {

		}
		&--title {
			@include font-lato-base();
			line-height: 2rem;
			font-size: 1.6rem;
			font-weight: 700;	
			text-transform: uppercase;
  	}
  	&--link {
  		font-weight: bold;
  		text-transform: uppercase;
  		color: $maroon;
  		letter-spacing: 1.78px;
  	}
	}
}