/* News Hub Landing Page */
.hub-landing-page {
  &__hero {
  	&--image {
	    background-position: top center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    height: 20rem;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    @include box-shadow(0,15px,60px,0.30);
	    position: relative;
	    &:before {
	        content: '';
	        display: block;
	        height: 100%;
	        width: 100%;
	        background: rgba(54,50,48,.5);
	        position: absolute;
	        top: 0;
	        left: 0;
	    }
	    h1, p {
	    	color: $white;
	    	display: block;
	    }
	    h1::after {
	    	content: '';
		    height: 2px;
		    width: 100px;
		    display: block;
		    background: $gold;
		    margin-top: 1.6rem;
	    }
	    > div {
	    	flex-basis: auto;
	    }
	    @include media-breakpoint-up(md){
	    	height: 30rem;
	    	h1 {
	    		line-height: 7.5rem;
	    	}
	    }
	    @include media-breakpoint-up(lg){
	    	height: 41.8rem;
	    }
	  }
	}
	&__content {

	}
	&__social {
		margin-top: 5rem;
		background: $mid-gray;
		padding-top: 4rem;
		padding-bottom: 4rem;
		@include media-breakpoint-up(md) {
			margin-top: 6rem;
		}
	}
	/* View block zig zag */
	.block-views {
		&:not(:last-child) {
			margin-bottom: 2.5rem;
			border-bottom: solid 1px $mid-gray;
			padding-bottom: 2.5rem;
		}
		.news-hub-block__results--featured {
			.card::after {
				@include carlson-icons($icon-arrow-right);
				color: $maroon;
				font-size: 4rem;
				right: 20px;
				bottom: 10px;
				position: absolute;
				cursor: pointer;
			}
		}
		@include media-breakpoint-up(lg) {
			&:nth-child(even) {
				.news-hub-block__results--featured {
					order: 2;
				}
				.news-hub-block__results--items {
					order: 1;
					margin-left: 0;
					margin-right: 8.33333%;
				}
			}
		}
	}

	.program-cta {
		background-image: url('../images/centennial/swoosh-long-lr.png');
		background-position: bottom left;
		background-size: cover;
	}
}
.news-hub-block {
	width: 100%;
	&__results {
		margin-top: 3rem;
		&--featured {
			div[class*='hub-card']
			 {
				box-shadow: 0 15px 60px 0 rgba(0,0,0,0.30);
				margin-bottom: 2.5rem;
			}
			.date-cal {
				margin: 0 auto;
			}
		}
		&--title {
			margin-bottom: 2.5rem;
		}
		&--items > div {
			margin-bottom: 1.8rem;
		}
		&--items {
			/* Overrides for other compact teaser styles */
			.event-items__item {
				margin-left: -15px !important;
				margin-right: -15px !important;
				border: none;
				.date-cal {
					justify-content: center;
					&__item {
						flex: 1;
					}

				}
			}
		}
		&--link {
			@include button-link-secondary();
			display: inline-block;
		}

		.news-items__item--title {
			text-transform: capitalize;
		}

		@include media-breakpoint-down(sm) {
			.video-items__item--image,
			.news-items__item--image {
				@include make-col(5);
			}
			.video-items__item--text,
			.news-items__item--text {
				@include make-col(7);
			}
		}
		@include media-breakpoint-up(sm) {
			.video-items__item--image,
			.news-items__item--image,
			.date-cal {
				@include make-col(3);
				padding-right: 15px;
				padding-left: 15px;
				margin-left: 0;
				margin-right: 0;
			}
			.video-items__item--text,
			.news-items__item--text,
			.event-items__details {
				@include make-col(9);
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
}
.news-hub-block {
	.news-hub-block__results--title h2 {
		color: $maroon;
		text-transform: uppercase;
		font-family: $font-lato;
		letter-spacing: .88px;
		font-size: 2.8rem;
		font-weight: bold;
	}
}
/*
 * Card display styles for aggregated news hub content
 * Events, News, Video and Hub Post content types.
*/
.hub-card--news,
.hub-card--video,
.hub-card--blog {
	border: none;
	border-bottom: 5px solid;
	border-bottom-color: $maroon;
	background-color: $lightergray;
	&:hover {
		border-bottom-color: $submit-gold;
	}
}

.hub-card--news,
.hub-card--event,
.hub-card--video,
.hub-card--post,
.hub-card--blog {
	display: inline-block;
	width: 100%;
	@include news-hub-card();
	&:hover {
		@include box-shadow(0px,8px,16px,0.20);
		transition: all 0.3s ease-in-out;
	}
}
/* Event card specific styles*/
.hub-card--event {
	.card {
		&__date {
			background-color: $maroon;
			background-blend-mode: multiply;
			background-size: cover;
			.date-cal {
				padding-top: 20%;
				&__item {
					margin: 0 auto;
					width: 120px;
					&--day {
						color: $gold;
						font-size: 9rem;
						line-height: 9rem;
					}
					&--month {
						font-weight: bold;
						font-size: 1.7rem;
						letter-spacing: 1.89px;
						color: $white;
						&:after {
							background: $white;
							height: 5px;
							margin-top: 2.2rem;
						}
					}
				}
			}
		}
	}
}
/* Video specifc card styles */
.hub-card--video {
	.card__img {
    &::before {
      position:absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      background-image: url('../images/news-hub-video.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover,
  &:active,
  &:focus {
  	.card__img::before {
	    background-image: url('../images/news-hub-video-gold.svg');
	  }
  }
}
/* Blog specifc card styles */
.hub-card--blog {
	.card__body {
		&.no-img {
			padding-top: 40px;
		}
    &::before {
      position:absolute;
      top: 0;
      left: 30px;
      content: '';
      height: 35px;
      width: 35px;
      background-image: url('../images/news-hub-blog.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
/*
 * Compact teaser for video and hub posts
 *
*/

/* Hub Post Teaser Compact styles */
.hub_post-items {
	&__item {
		margin-bottom: 2rem;
		&--image {
		}
		&--title {
			@include font-lato-base();
			line-height: 2rem;
			font-size: 1.6rem;
			font-weight: 700;
		}
		&--link {
			@include bold_link();
		}
	}
}
/* Video Teaser Compact styles */
.video-items {
	&__item {
		margin-bottom: 2rem;
		&--image {
	    &::before {
	      position:absolute;
	      top: 0;
	      left: 0;
	      content: '';
	      height: 100%;
	      width: 100%;
	      background-image: url('../images/news-hub-video.svg');
	      background-repeat: no-repeat;
	      background-size: 80%;
	      background-position: center;
	      transition: all 0.3s ease-in-out;
	    }
	    &:hover,
		  &:active,
		  &:focus {
		  	.card__img::before {
			    background-image: url('../images/news-hub-video-gold.svg');
			  }
		  }
		}
		&--title {
			@include font-lato-base();
			line-height: 2rem;
			font-size: 1.6rem;
			font-weight: 700;
		}
		&--link {
			@include bold_link();
		}
	}
}

.views-field.views-field-field-featured-news{
	h3 {
		font-size: 2rem;
		@include media-breakpoint-up(md) {
			font-size: 3rem;
		}
		@include media-breakpoint-up(lg) {
			font-size: 4rem;
		}
	}
	.field-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 3rem;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 3rem;
		article {
			width: 100%;
		}
		.card {
			box-sizing: border-box;
			margin: 1rem .25rem;
			flex: 1 0 100%;
			background: none;
			border: none;
		}
		@include media-breakpoint-up(md) {
			flex-wrap: nowrap;
			.card {
				max-width: calc(33% - 1rem)
			}
		}
	}
}