.person-profile {
  /** Top Profile - Block. **/
  &__top {
      &--headshot {
          img {
              width: 100%;
              height: auto;
              @include profile-image-box-shadow();
          }
          margin-bottom: 2rem;
      }
      &--name {
        @include heading-title($font-medium,$maroon, 'left')
      }
      &--title {
          color: #363230;
          @include font-lato-base();
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.78px;
      }

      &--dept {
        color: #363230;
        @include font-lato-base();
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }

      &--quote{
        background: $menu-gold;
        padding: 30px;
        background-image: url('../images/bg/experience_bg.png'); 
        margin-bottom: 2rem;
      }
  }
  &--title {
    @include serif-font($font-small);
    margin-bottom: 2rem;
  }

  &__summary {
    @include page-inset($inset-narrow);
  }
  &__contact {
    margin-bottom: 3rem;
    &--address {
        @include element-with-icon-before();
        &::before {
            @include map-icon($maroon);
        }
    }
    &--phone {
        @include element-with-icon-before();
        &::before {
            @include phone-icon($maroon);
        }
    }
    &--email {
        @include element-with-icon-before();
        &::before {
            @include email-icon($maroon);
        }
    }
  }
  @include media-breakpoint-up(lg) {
    &__sidebar {
      > div {
        padding: 30px 20px;
      }
    }
    &__summary {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}