.sticky_sidebar {
    .cta-link {
        &__icon {
            display: inline-block;
            width: 3rem;
            text-align: center;
            .icon:before {
                color: $gold;
            }
        }
    }
}