/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Landing Page CTA


Markup: ../../../templates/components/landing-page-cta.html.twig


Style guide: components.landing-page-cta
*/
.page-cta-container{
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffcc33;
  background-image: url('../images/bg/page_cta_bg.png');
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  .page-cta-intro-container{
    .page-cta-intro{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      p{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 34px;
        font-weight: 400;
        line-height: 31px;
        margin: 0;
      }
    }
  }
  .page-cta-link-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .page-cta-link{
      a{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.78px;
      }
      i{}
    }
  }
}
