@import "../../abstracts/import";

.node__bottom {
  &__col {
    @include make-col(12);

    padding: 0 15px;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  &--left,
  &--right {
    margin-bottom: 5rem;
  }

  // Styles when there is only one block in the node_bottom_right/left regions
  &--single {
    @include media-breakpoint-up(lg) {
      .news-items__item--row {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  .home & {
    margin-top: 3rem;
    padding-top: 6rem;
    border-top: solid 1px $warm-gray;
  }
}
