*,
::after,
::before {
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  color: #363230; }

@media (max-width: 1339px) {
  body {
    font-size: calc(1.285rem + 0.3764vw);
    font-size: Min(1.6rem, calc(1.285rem + 0.3764vw)); } }

.mm-menu_offcanvas:not(.mm-menu_opened) {
  display: none; }

@font-face {
  font-family: boxicons;
  font-weight: 400;
  font-style: normal;
  src: url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot);
  src: url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot) format("embedded-opentype"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/fonts/boxicons.woff2) format("woff2"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.woff) format("woff"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.ttf) format("truetype"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.svg?#boxicons) format("svg"); }

.bx {
  font-family: boxicons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bxs-map:before {
  content: "\ee17"; }

.news__item__img {
  min-width: 155px; }

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal; }

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5); }

.skip-link {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.94em;
  padding: 1px 10px 2px;
  border-radius: 0 0 10px 10px; }

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px; }

.col-auto {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  min-height: 1px; }

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  min-height: 1px; }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1340px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px; } }

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1340.001px; } }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; } }

header,
main,
nav,
section {
  display: block; }

h1,
h2,
p,
ul {
  margin-top: 0; }

p,
ul {
  margin-bottom: 1rem; }

ul ul {
  margin-bottom: 0;
  list-style-type: disc; }

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  font-weight: 600;
  color: #7a0019; }
  a:hover {
    text-decoration-thickness: auto;
    text-underline-position: from-font; }

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none; }

img,
svg {
  vertical-align: middle; }

img {
  border-style: none;
  max-width: 100%; }

svg {
  overflow: hidden; }

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none; }

[type="button"],
button {
  appearance: button; }

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none; }

::-webkit-file-upload-button {
  font: inherit;
  appearance: button; }

.h5,
h1,
h2 {
  margin-bottom: 0.5rem;
  font-family: Newsreader, serif;
  font-weight: 300;
  line-height: 1.2; }

@media (max-width: 1339px) {
  h1 {
    font-size: calc(1.625rem + 4.03286vw); }
  h2 {
    font-size: calc(1.545rem + 3.17252vw); }
  .h5 {
    font-size: calc(1.325rem + 0.80657vw); } }

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.container,
.container-fluid,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 992px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px; }

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

.btn {
  color: #212529;
  background-color: transparent; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 0.25rem; }

.maroon-outline-button {
  background-color: transparent; }

@media (max-width: 1339px) {
  .btn,
  .gold-solid-button,
  .maroon-outline-button {
    font-size: calc(1.285rem + 0.3764vw); } }

.btn-primary {
  color: #fff;
  background-color: #7a0019;
  border-color: #7a0019; }

.btn-secondary,
.btn.btn-secondary,
.gold-solid-button {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }

.btn-outline-primary,
.maroon-outline-button {
  color: #7a0019;
  border-color: #7a0019; }

.btn-sm {
  padding: 0.3em 0.6em;
  font-size: 1.4rem;
  line-height: 1.2em;
  border-radius: 0.2rem; }

@media (max-width: 1339px) {
  .btn-sm {
    font-size: calc(1.265rem + 0.16131vw); } }

.dropdown {
  position: relative; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 1.125rem;
  color: #000;
  text-align: left;
  list-style: none;
  background-color: #e6e0d2;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.nav-link {
  display: block;
  padding: 1.4rem 2.5rem; }

.navbar {
  position: relative;
  padding: 0; }

.navbar,
.navbar .container-fluid,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start; }

.navbar-expand > .container-fluid,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0; }

.navbar-expand .navbar-nav {
  flex-direction: row; }

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }

.navbar-expand .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.btn.d-flex,
.navbar-expand > .container-fluid,
.navbar-expand > .container-xl {
  flex-wrap: nowrap; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

.media {
  display: flex;
  align-items: flex-start; }

.bg-primary {
  background-color: #7a0019 !important; }

.bg-gold {
  background-color: #fc3 !important; }

.bg-ivory {
  background-color: #e6e0d2 !important; }

.bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9) !important; }

.bg-white {
  background-color: #fff !important; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

@media (min-width: 768px) {
  .d-md-block {
    display: block !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-block {
    display: block !important; } }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive-21by9::before {
  padding-top: 42.85714%; }

.embed-responsive img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover; }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-between {
  justify-content: space-between !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-center {
  align-items: center !important; }

.position-relative {
  position: relative !important; }

.position-static {
  position: static !important; }

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 500; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.text-center {
  text-align: center !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.m-0 {
  margin: 0 !important; }

.mb-3 {
  margin-bottom: 1.5rem !important; }

.mb-4 {
  margin-bottom: 2rem !important; }

.my-5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important; }

.mb-6,
.my-6 {
  margin-bottom: 3rem !important; }

.mt-6,
.my-6 {
  margin-top: 3rem !important; }

.mb-8 {
  margin-bottom: 4rem !important; }

.mb-10 {
  margin-bottom: 5rem !important; }

.ml-auto {
  margin-left: auto !important; }

@media (min-width: 1340px) {
  .ml-xl-2 {
    margin-left: 1rem !important; } }

.mr-5 {
  margin-right: 2.5rem !important; }

.px-0 {
  padding-right: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.p-6 {
  padding: 3rem !important; }

.pt-6 {
  padding-top: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pb-6 {
  padding-bottom: 3rem !important; }

.py-10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .p-lg-12 {
    padding: 6rem !important; } }

p:last-child {
  margin-bottom: 0; }

h2 a {
  font-weight: 300; }

.mega-menu-layout__main {
  min-height: 65vh; }

.mega-menu-layout__heading h2 a {
  color: #212529;
  font-size: 32px; }

.mega-menu-layout__heading h2 a::after {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  margin-left: 4px;
  margin-bottom: -3px;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231A1A1A'%3E%3Cpath d='M12,2.5c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7s-1,4.9-2.8,6.7c-1.8,1.8-4.2,2.8-6.7,2.8s-4.9-1-6.7-2.8 c-1.8-1.8-2.8-4.2-2.8-6.7s1-4.9,2.8-6.7C7.1,3.5,9.5,2.5,12,2.5 M12,1.5c-2.7,0-5.4,1-7.4,3.1c-4.1,4.1-4.1,10.7,0,14.8 c2.1,2.1,4.7,3.1,7.4,3.1s5.4-1,7.4-3.1c4.1-4.1,4.1-10.7,0-14.8C17.4,2.5,14.7,1.5,12,1.5L12,1.5z M18.1,11.6l-5.8-5.8 c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l4.9,4.9H6.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h10.5l-4.9,4.9c-0.2,0.2-0.2,0.5,0,0.7 c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l5.8-5.8C18.3,12.2,18.3,11.8,18.1,11.6z'/%3E%3C/svg%3E%0A"); }

.mega-menu-layout .block + .block {
  margin-top: 50px; }

.mega-menu-layout__image {
  position: relative;
  overflow: hidden; }

.mega-menu-layout__image:not(.layout-builder__region) > .block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }

.mega-menu-layout__image:not(.layout-builder__region) > .block div {
  width: 100%;
  height: 100%; }

.mega-menu-layout__image:not(.layout-builder__region) > .block img {
  object-fit: cover;
  width: inherit;
  height: inherit; }

.menu-block--secondary li {
  margin: 0; }

.menu-block--secondary li a {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3; }

.menu-block--secondary li + li {
  margin-top: 25px; }

.menu-block--tertiary li,
.menu-block--tertiary-four-col li,
.menu-block--tertiary-two-col li {
  margin: 0 0 20px; }

.menu-block--tertiary li a, .menu-block--tertiary li a:hover,
.menu-block--tertiary-four-col li a,
.menu-block--tertiary-four-col li a:hover,
.menu-block--tertiary-two-col li a,
.menu-block--tertiary-two-col li a:hover,
.bg-gold a,
.bg-gold a:hover {
  color: #000; }

.menu-block--tertiary-two-col {
  column-count: 2;
  gap: 25px; }

.menu-block--tertiary-four-col {
  column-count: 4;
  gap: 25px; }

.menu-block__title--tertiary {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding-bottom: 4px;
  margin-bottom: 16px;
  border-bottom: 1px solid currentColor; }

.site-branding {
  margin: 0 3rem 0 0; }

.site-branding__logo {
  max-width: 100%;
  height: auto; }

.skip-link {
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background: #495057;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1px 1rem 2px;
  border-radius: 0 0 0.3rem 0.3rem;
  border-bottom-width: 0;
  outline: 0; }

#umnhf-f.umnhf a {
  text-decoration: none;
  color: #363230; }

#mandatory-header-wrapper {
  min-height: 50px; }

#umnhf-h-mast {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#umnhf-h-wm-svg {
  display: flex;
  height: 18px;
  margin: 16px; }

#umnhf-h-wm-svg svg {
  width: 100%;
  height: auto; }

#umnhf-h-ql {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto; }

#umnhf-h-ql li {
  margin: 0 0 0 1.25em; }

#umnhf-h-ql a {
  font-weight: 400;
  font-size: 14px; }

#umnhf-h-myu svg {
  fill: currentColor;
  vertical-align: baseline; }

#umnhf-h-contact a,
#umnhf-h-give a,
#umnhf-h-myu a,
#umnhf-h-onestop a {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

#umnhf-f.umnhf #umnhf-f-myu {
  display: none; }

@media screen and (max-width: 775px) {
  #umnhf-f.umnhf #umnhf-f-myu {
    display: block; }
  #umnhf-f.umnhf #umnhf-f-myu ul {
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
    line-height: 3em; }
  #umnhf-f.umnhf #umnhf-f-myu ul span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/branding/sprites/lock-search-gold.png") no-repeat; } }

.umn-search-form {
  margin: 8px 0 40px; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

@media (max-width: 991.98px) {
  #umnhf-f-myu ul {
    display: flex;
    justify-content: center; }
  #umnhf-f-myu ul li {
    padding: 0 15px; } }

h1 {
  font-size: 5rem; }

@media (max-width: 1339px) {
  h1 {
    font-size: Min(5rem, calc(1.625rem + 4.03286vw)); } }

h2 {
  font-size: 4.2rem; }

.h5 {
  font-size: 2rem; }

@media (max-width: 1339px) {
  h2 {
    font-size: Min(4.2rem, calc(1.545rem + 3.17252vw)); }
  .h5 {
    font-size: Min(2rem, calc(1.325rem + 0.80657vw)); } }

#umnhf-h-ql li,
.list-inline li,
.row:after,
.row:before {
  display: inline-block; }

ul li {
  margin-bottom: 1rem; }

.ff-sans-serif {
  font-family: "Open Sans", sans-serif; }

.img-fluid,
.view-display-id-top_feature .view-content > div {
  width: 100%; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  border-radius: 0; }

.btn.d-flex > * + * {
  margin-left: 4px; }

.btn-md {
  padding: 0.5em 1em;
  font-size: 1.1em; }

.btn-md,
.btn-sm {
  letter-spacing: normal;
  text-transform: capitalize; }

.btn-sm.btn-outline-primary {
  color: #1a1a1a; }

.btn-md.btn-secondary,
.btn-sm.btn-secondary {
  color: #7a0019; }

.off-canvas-wrapper {
  display: none; }

#navbar-primary {
  z-index: 35;
  background: #fff; }

.nav-item {
  margin: 0; }

.nav-button,
.nav-link,
.dropdown-item {
  text-decoration: none;
  font-weight: normal; }
  .nav-button.is-active, .nav-button.in-active-trail,
  .nav-link.is-active,
  .nav-link.in-active-trail,
  .dropdown-item.is-active,
  .dropdown-item.in-active-trail {
    font-weight: bold; }

.navbar-nav {
  flex-wrap: wrap; }

@media (min-width: 1340px) {
  .navbar-nav > .nav-item {
    margin-left: 1rem; }
    .navbar-nav > .nav-item:first-child {
      margin-left: 0; } }

.navbar-nav .nav-button,
.navbar-nav .nav-link {
  font-size: 18px; }

.navbar-nav .nav-link {
  padding: 14px 25px; }

@media screen and (max-width: 1150px) {
  .navbar-nav .nav-link {
    padding: 14px 20px; } }

@media screen and (max-width: 1025px) {
  .navbar-nav .nav-link {
    padding: 14px 18px; } }

.navbar-nav .nav-button {
  padding: 14px 0; }

.navbar-nav .nav-button.has-dropdown {
  padding: 14px 16px; }

.navbar-dark .navbar-nav > .nav-item > .nav-button,
.navbar-dark .navbar-nav > .nav-item > .nav-link {
  color: #fff;
  background-color: transparent; }
  .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active, .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active:hover, .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active:focus-visible, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail:hover, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail:focus-visible,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active:hover,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active:focus-visible,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail:hover,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail:focus-visible {
    color: #000;
    background-color: #e6e0d2; }

.navbar-brand {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 0;
  font-size: 1.8rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand--secondary, .navbar-brand--tertiary {
    margin: 0 25px 0 0; }
    .navbar-brand--secondary,
    .navbar-brand--secondary a, .navbar-brand--tertiary,
    .navbar-brand--tertiary a {
      color: #000;
      font-weight: bold;
      font-size: 1.8rem; }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 200; }

.navbar-nav--primary > .nav-item > .nav-button.has-dropdown,
.navbar-nav--primary > .nav-item > .nav-link.has-dropdown {
  position: relative; }

.navbar-nav--primary > .nav-item > .nav-button.has-dropdown::before,
.navbar-nav--primary > .nav-item > .nav-link.has-dropdown::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0; }

.navbar-dark
.navbar-nav--primary
> .nav-item
> .nav-button.has-dropdown::before,
.navbar-dark .navbar-nav--primary > .nav-item > .nav-link.has-dropdown::before {
  background-color: #973c49; }

.navbar-light .navbar-nav > .nav-item > .nav-link {
  color: #000; }

.dropdown--mega-menu {
  position: initial; }

.dropdown--mega-menu > .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0; }

.nav-button {
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 0; }

.nav-button .btn {
  font-weight: 600;
  font-size: 14px;
  padding: 4px 10px;
  margin: -2px 0; }

.nav-button,
.nav-button .btn svg {
  display: flex; }

.nav-button .btn-outline-primary {
  color: #fff;
  border: 1px solid currentColor; }

/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */
.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0; }

.breadcrumb-item {
  margin: 0;
  padding: 0; }
  .breadcrumb-item, .breadcrumb-item a, .breadcrumb-item span {
    font-weight: normal;
    color: #7a0019;
    min-width: 44px;
    min-height: 44px;
    display: inline-block; }
  .breadcrumb-item::after {
    content: '>';
    padding: 0;
    margin: 0; }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 4px; }
    .breadcrumb-item + .breadcrumb-item::before {
      display: none; }
  .breadcrumb-item:last-child span {
    color: #000; }
  .breadcrumb-item:last-child::after {
    content: '';
    display: none; }
  .breadcrumb-item:last-child:first-child {
    display: none; }

@media (min-width: 992px) {
  .basic-hero__title {
    text-align: left; } }

.basic-hero__title {
  margin-bottom: 3rem; }
  .basic-hero__title h1 {
    padding-bottom: 2rem;
    border-bottom: solid 1px #d8d8d8; }

/*# sourceMappingURL=default-critical.css.map */