.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-n1 {
  margin: -0.25rem !important; }

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important; }

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important; }

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important; }

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important; }

.m-n2 {
  margin: -0.5rem !important; }

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important; }

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important; }

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important; }

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important; }

.m-n3 {
  margin: -1rem !important; }

.mt-n3,
.my-n3 {
  margin-top: -1rem !important; }

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important; }

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important; }

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important; }

.m-n4 {
  margin: -1.5rem !important; }

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important; }

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important; }

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important; }

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important; }

.m-n5 {
  margin: -3rem !important; }

.mt-n5,
.my-n5 {
  margin-top: -3rem !important; }

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important; }

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important; }

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }
  .m-sm-1 {
    margin: 0.25rem !important; }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; }
  .m-sm-2 {
    margin: 0.5rem !important; }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; }
  .m-sm-3 {
    margin: 1rem !important; }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; }
  .m-sm-4 {
    margin: 1.5rem !important; }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; }
  .m-sm-5 {
    margin: 3rem !important; }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; }
  .p-sm-0 {
    padding: 0 !important; }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }
  .p-sm-1 {
    padding: 0.25rem !important; }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; }
  .p-sm-2 {
    padding: 0.5rem !important; }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; }
  .p-sm-3 {
    padding: 1rem !important; }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; }
  .p-sm-4 {
    padding: 1.5rem !important; }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; }
  .p-sm-5 {
    padding: 3rem !important; }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; }
  .m-sm-n1 {
    margin: -0.25rem !important; }
  .mt-sm-n1,
  .my-sm-n1 {
    margin-top: -0.25rem !important; }
  .mr-sm-n1,
  .mx-sm-n1 {
    margin-right: -0.25rem !important; }
  .mb-sm-n1,
  .my-sm-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-sm-n1,
  .mx-sm-n1 {
    margin-left: -0.25rem !important; }
  .m-sm-n2 {
    margin: -0.5rem !important; }
  .mt-sm-n2,
  .my-sm-n2 {
    margin-top: -0.5rem !important; }
  .mr-sm-n2,
  .mx-sm-n2 {
    margin-right: -0.5rem !important; }
  .mb-sm-n2,
  .my-sm-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-sm-n2,
  .mx-sm-n2 {
    margin-left: -0.5rem !important; }
  .m-sm-n3 {
    margin: -1rem !important; }
  .mt-sm-n3,
  .my-sm-n3 {
    margin-top: -1rem !important; }
  .mr-sm-n3,
  .mx-sm-n3 {
    margin-right: -1rem !important; }
  .mb-sm-n3,
  .my-sm-n3 {
    margin-bottom: -1rem !important; }
  .ml-sm-n3,
  .mx-sm-n3 {
    margin-left: -1rem !important; }
  .m-sm-n4 {
    margin: -1.5rem !important; }
  .mt-sm-n4,
  .my-sm-n4 {
    margin-top: -1.5rem !important; }
  .mr-sm-n4,
  .mx-sm-n4 {
    margin-right: -1.5rem !important; }
  .mb-sm-n4,
  .my-sm-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-sm-n4,
  .mx-sm-n4 {
    margin-left: -1.5rem !important; }
  .m-sm-n5 {
    margin: -3rem !important; }
  .mt-sm-n5,
  .my-sm-n5 {
    margin-top: -3rem !important; }
  .mr-sm-n5,
  .mx-sm-n5 {
    margin-right: -3rem !important; }
  .mb-sm-n5,
  .my-sm-n5 {
    margin-bottom: -3rem !important; }
  .ml-sm-n5,
  .mx-sm-n5 {
    margin-left: -3rem !important; }
  .m-sm-auto {
    margin: auto !important; }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }
  .m-md-1 {
    margin: 0.25rem !important; }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; }
  .m-md-2 {
    margin: 0.5rem !important; }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; }
  .m-md-3 {
    margin: 1rem !important; }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; }
  .m-md-4 {
    margin: 1.5rem !important; }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; }
  .m-md-5 {
    margin: 3rem !important; }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; }
  .p-md-0 {
    padding: 0 !important; }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }
  .p-md-1 {
    padding: 0.25rem !important; }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; }
  .p-md-2 {
    padding: 0.5rem !important; }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; }
  .p-md-3 {
    padding: 1rem !important; }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; }
  .p-md-4 {
    padding: 1.5rem !important; }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; }
  .p-md-5 {
    padding: 3rem !important; }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; }
  .m-md-n1 {
    margin: -0.25rem !important; }
  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important; }
  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important; }
  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important; }
  .m-md-n2 {
    margin: -0.5rem !important; }
  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important; }
  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important; }
  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important; }
  .m-md-n3 {
    margin: -1rem !important; }
  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important; }
  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important; }
  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important; }
  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important; }
  .m-md-n4 {
    margin: -1.5rem !important; }
  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important; }
  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important; }
  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important; }
  .m-md-n5 {
    margin: -3rem !important; }
  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important; }
  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important; }
  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important; }
  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important; }
  .m-md-auto {
    margin: auto !important; }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }
  .m-lg-1 {
    margin: 0.25rem !important; }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; }
  .m-lg-2 {
    margin: 0.5rem !important; }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; }
  .m-lg-3 {
    margin: 1rem !important; }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; }
  .m-lg-4 {
    margin: 1.5rem !important; }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; }
  .m-lg-5 {
    margin: 3rem !important; }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; }
  .p-lg-0 {
    padding: 0 !important; }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }
  .p-lg-1 {
    padding: 0.25rem !important; }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; }
  .p-lg-2 {
    padding: 0.5rem !important; }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; }
  .p-lg-3 {
    padding: 1rem !important; }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; }
  .p-lg-4 {
    padding: 1.5rem !important; }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; }
  .p-lg-5 {
    padding: 3rem !important; }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; }
  .m-lg-n1 {
    margin: -0.25rem !important; }
  .mt-lg-n1,
  .my-lg-n1 {
    margin-top: -0.25rem !important; }
  .mr-lg-n1,
  .mx-lg-n1 {
    margin-right: -0.25rem !important; }
  .mb-lg-n1,
  .my-lg-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-lg-n1,
  .mx-lg-n1 {
    margin-left: -0.25rem !important; }
  .m-lg-n2 {
    margin: -0.5rem !important; }
  .mt-lg-n2,
  .my-lg-n2 {
    margin-top: -0.5rem !important; }
  .mr-lg-n2,
  .mx-lg-n2 {
    margin-right: -0.5rem !important; }
  .mb-lg-n2,
  .my-lg-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-lg-n2,
  .mx-lg-n2 {
    margin-left: -0.5rem !important; }
  .m-lg-n3 {
    margin: -1rem !important; }
  .mt-lg-n3,
  .my-lg-n3 {
    margin-top: -1rem !important; }
  .mr-lg-n3,
  .mx-lg-n3 {
    margin-right: -1rem !important; }
  .mb-lg-n3,
  .my-lg-n3 {
    margin-bottom: -1rem !important; }
  .ml-lg-n3,
  .mx-lg-n3 {
    margin-left: -1rem !important; }
  .m-lg-n4 {
    margin: -1.5rem !important; }
  .mt-lg-n4,
  .my-lg-n4 {
    margin-top: -1.5rem !important; }
  .mr-lg-n4,
  .mx-lg-n4 {
    margin-right: -1.5rem !important; }
  .mb-lg-n4,
  .my-lg-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-lg-n4,
  .mx-lg-n4 {
    margin-left: -1.5rem !important; }
  .m-lg-n5 {
    margin: -3rem !important; }
  .mt-lg-n5,
  .my-lg-n5 {
    margin-top: -3rem !important; }
  .mr-lg-n5,
  .mx-lg-n5 {
    margin-right: -3rem !important; }
  .mb-lg-n5,
  .my-lg-n5 {
    margin-bottom: -3rem !important; }
  .ml-lg-n5,
  .mx-lg-n5 {
    margin-left: -3rem !important; }
  .m-lg-auto {
    margin: auto !important; }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }
  .m-xl-1 {
    margin: 0.25rem !important; }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; }
  .m-xl-2 {
    margin: 0.5rem !important; }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; }
  .m-xl-3 {
    margin: 1rem !important; }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; }
  .m-xl-4 {
    margin: 1.5rem !important; }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; }
  .m-xl-5 {
    margin: 3rem !important; }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; }
  .p-xl-0 {
    padding: 0 !important; }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }
  .p-xl-1 {
    padding: 0.25rem !important; }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; }
  .p-xl-2 {
    padding: 0.5rem !important; }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; }
  .p-xl-3 {
    padding: 1rem !important; }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; }
  .p-xl-4 {
    padding: 1.5rem !important; }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; }
  .p-xl-5 {
    padding: 3rem !important; }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; }
  .m-xl-n1 {
    margin: -0.25rem !important; }
  .mt-xl-n1,
  .my-xl-n1 {
    margin-top: -0.25rem !important; }
  .mr-xl-n1,
  .mx-xl-n1 {
    margin-right: -0.25rem !important; }
  .mb-xl-n1,
  .my-xl-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-xl-n1,
  .mx-xl-n1 {
    margin-left: -0.25rem !important; }
  .m-xl-n2 {
    margin: -0.5rem !important; }
  .mt-xl-n2,
  .my-xl-n2 {
    margin-top: -0.5rem !important; }
  .mr-xl-n2,
  .mx-xl-n2 {
    margin-right: -0.5rem !important; }
  .mb-xl-n2,
  .my-xl-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-xl-n2,
  .mx-xl-n2 {
    margin-left: -0.5rem !important; }
  .m-xl-n3 {
    margin: -1rem !important; }
  .mt-xl-n3,
  .my-xl-n3 {
    margin-top: -1rem !important; }
  .mr-xl-n3,
  .mx-xl-n3 {
    margin-right: -1rem !important; }
  .mb-xl-n3,
  .my-xl-n3 {
    margin-bottom: -1rem !important; }
  .ml-xl-n3,
  .mx-xl-n3 {
    margin-left: -1rem !important; }
  .m-xl-n4 {
    margin: -1.5rem !important; }
  .mt-xl-n4,
  .my-xl-n4 {
    margin-top: -1.5rem !important; }
  .mr-xl-n4,
  .mx-xl-n4 {
    margin-right: -1.5rem !important; }
  .mb-xl-n4,
  .my-xl-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-xl-n4,
  .mx-xl-n4 {
    margin-left: -1.5rem !important; }
  .m-xl-n5 {
    margin: -3rem !important; }
  .mt-xl-n5,
  .my-xl-n5 {
    margin-top: -3rem !important; }
  .mr-xl-n5,
  .mx-xl-n5 {
    margin-right: -3rem !important; }
  .mb-xl-n5,
  .my-xl-n5 {
    margin-bottom: -3rem !important; }
  .ml-xl-n5,
  .mx-xl-n5 {
    margin-left: -3rem !important; }
  .m-xl-auto {
    margin: auto !important; }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }

*,
::after,
::before {
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  color: #363230; }

@media (max-width: 1339px) {
  body {
    font-size: calc(1.285rem + .3764vw);
    font-size: Min(1.6rem, calc(1.285rem + .3764vw)); } }

.mm-menu_offcanvas:not(.mm-menu_opened) {
  display: none; }

@font-face {
  font-family: boxicons;
  font-weight: 400;
  font-style: normal;
  src: url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot);
  src: url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot) format("embedded-opentype"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/fonts/boxicons.woff2) format("woff2"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.woff) format("woff"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.ttf) format("truetype"), url(/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.svg?#boxicons) format("svg"); }

.bx {
  font-family: boxicons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bxs-map:before {
  content: "\ee17"; }

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal; }

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px; }

.col-auto {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  min-height: 1px; }

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  min-height: 1px; }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; }
  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1340px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px; } }

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1340.001px; } }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px; }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; } }

header,
main,
nav,
section {
  display: block; }

h1,
h2,
p,
ul {
  margin-top: 0; }

p,
ul {
  margin-bottom: 1rem; }

ul ul {
  margin-bottom: 0;
  list-style-type: disc; }

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  font-weight: 600;
  color: #7a0019; }
  a:hover {
    text-decoration-thickness: auto;
    text-underline-position: from-font; }

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none; }

img,
svg {
  vertical-align: middle; }

img {
  border-style: none;
  max-width: 100%; }

svg {
  overflow: hidden; }

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none; }

[type="button"],
button {
  appearance: button; }

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none; }

::-webkit-file-upload-button {
  font: inherit;
  appearance: button; }

.h5,
h1,
h2 {
  margin-bottom: .5rem;
  font-family: Newsreader, serif;
  font-weight: 300;
  line-height: 1.2; }

@media (max-width: 1339px) {
  h1 {
    font-size: calc(1.625rem + 4.03286vw); }
  h2 {
    font-size: calc(1.545rem + 3.17252vw); }
  .h5 {
    font-size: calc(1.325rem + .80657vw); } }

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }

.list-inline-item:not(:last-child) {
  margin-right: .5rem; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.container,
.container-fluid,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 992px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px; }

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

.btn {
  color: #212529;
  background-color: transparent; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: .25rem; }

.maroon-outline-button {
  background-color: transparent; }

@media (max-width: 1339px) {
  .btn,
  .gold-solid-button,
  .maroon-outline-button {
    font-size: calc(1.285rem + .3764vw); } }

.btn-primary {
  color: #fff;
  background-color: #7a0019;
  border-color: #7a0019; }

.btn-secondary,
.btn.btn-secondary,
.gold-solid-button {
  color: #212529;
  background-color: #fc3;
  border-color: #fc3; }

.btn-outline-primary,
.maroon-outline-button {
  color: #7a0019;
  border-color: #7a0019; }

.btn-sm {
  padding: .3em .6em;
  font-size: 1.4rem;
  line-height: 1.2em;
  border-radius: .2rem; }

@media (max-width: 1339px) {
  .btn-sm {
    font-size: calc(1.265rem + 0.16131vw); } }

.bg-primary {
  background-color: #7a0019 !important; }

.bg-gold {
  background-color: #fc3 !important; }

.bg-ivory {
  background-color: #e6e0d2 !important; }

.bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9) !important; }

.bg-white {
  background-color: #fff !important; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

@media (min-width: 768px) {
  .d-md-block {
    display: block !important; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-block {
    display: block !important; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-between {
  justify-content: space-between !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-center {
  align-items: center !important; }

.position-relative {
  position: relative !important; }

.position-static {
  position: static !important; }

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 500; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.text-center {
  text-align: center !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.m-0 {
  margin: 0 !important; }

.mb-3 {
  margin-bottom: 1.5rem !important; }

.mb-4 {
  margin-bottom: 2rem !important; }

.my-5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important; }

.mb-6,
.my-6 {
  margin-bottom: 3rem !important; }

.mt-6,
.my-6 {
  margin-top: 3rem !important; }

.mb-8 {
  margin-bottom: 4rem !important; }

.mb-10 {
  margin-bottom: 5rem !important; }

.ml-auto {
  margin-left: auto !important; }

@media (min-width: 1340px) {
  .ml-xl-2 {
    margin-left: 1rem !important; } }

.mr-5 {
  margin-right: 2.5rem !important; }

.px-0 {
  padding-right: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.p-6 {
  padding: 3rem !important; }

.pt-6 {
  padding-top: 3rem !important; }

.pr-6 {
  padding-right: 3rem !important; }

.pb-6 {
  padding-bottom: 3rem !important; }

.py-10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .p-lg-12 {
    padding: 6rem !important; } }

.mega-menu-layout__main {
  min-height: 65vh; }

.mega-menu-layout__heading h2 a {
  color: #212529;
  font-size: 32px; }

.mega-menu-layout__heading h2 a::after {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  margin-left: 4px;
  margin-bottom: -3px;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231A1A1A'%3E%3Cpath d='M12,2.5c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7s-1,4.9-2.8,6.7c-1.8,1.8-4.2,2.8-6.7,2.8s-4.9-1-6.7-2.8 c-1.8-1.8-2.8-4.2-2.8-6.7s1-4.9,2.8-6.7C7.1,3.5,9.5,2.5,12,2.5 M12,1.5c-2.7,0-5.4,1-7.4,3.1c-4.1,4.1-4.1,10.7,0,14.8 c2.1,2.1,4.7,3.1,7.4,3.1s5.4-1,7.4-3.1c4.1-4.1,4.1-10.7,0-14.8C17.4,2.5,14.7,1.5,12,1.5L12,1.5z M18.1,11.6l-5.8-5.8 c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l4.9,4.9H6.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h10.5l-4.9,4.9c-0.2,0.2-0.2,0.5,0,0.7 c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l5.8-5.8C18.3,12.2,18.3,11.8,18.1,11.6z'/%3E%3C/svg%3E%0A"); }

.mega-menu-layout .block + .block {
  margin-top: 50px; }

.mega-menu-layout__image {
  position: relative;
  overflow: hidden; }

.mega-menu-layout__image:not(.layout-builder__region) > .block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }

.mega-menu-layout__image:not(.layout-builder__region) > .block div {
  width: 100%;
  height: 100%; }

.mega-menu-layout__image:not(.layout-builder__region) > .block img {
  object-fit: cover;
  width: inherit;
  height: inherit; }

.menu-block--secondary li {
  margin: 0; }

.menu-block--secondary li a {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3; }

.menu-block--secondary li + li {
  margin-top: 25px; }

.menu-block--tertiary li,
.menu-block--tertiary-four-col li,
.menu-block--tertiary-two-col li {
  margin: 0 0 20px; }

.menu-block--tertiary li a, .menu-block--tertiary li a:hover,
.menu-block--tertiary-four-col li a,
.menu-block--tertiary-four-col li a:hover,
.menu-block--tertiary-two-col li a,
.menu-block--tertiary-two-col li a:hover,
.bg-gold a,
.bg-gold a:hover {
  color: #000; }

.menu-block--tertiary-two-col {
  column-count: 2;
  gap: 25px; }

.menu-block--tertiary-four-col {
  column-count: 4;
  gap: 25px; }

.menu-block__title--tertiary {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding-bottom: 4px;
  margin-bottom: 16px;
  border-bottom: 1px solid currentColor; }

.site-branding {
  margin: 0 3rem 0 0; }

.site-branding__logo {
  max-width: 100%;
  height: auto; }

/**
 * @file
 * Styles for the skip link.
 */
.skip-link {
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background: #495057;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1px 1rem 2px;
  border-radius: 0 0 0.3rem 0.3rem;
  border-bottom-width: 0;
  outline: 0; }

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important; }

.umnhf {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%; }
  .umnhf a {
    text-decoration: none;
    color: #363230; }
    .umnhf a:hover, .umnhf a:active, .umnhf a:focus {
      text-decoration: underline; }

#mandatory-header-wrapper {
  min-height: 50px; }

#umnhf-h-mast {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#umnhf-h-wm-svg {
  display: flex;
  margin: 8px;
  padding: 8px; }

#umnhf-h-cl {
  position: relative;
  clear: both;
  margin: 0 10px;
  padding: 0 0 10px;
  list-style-type: none;
  text-align: center;
  width: 288px; }
  #umnhf-h-cl li {
    display: inline-block;
    padding: 0 .5em;
    text-align: center; }
    #umnhf-h-cl li:first-child {
      padding-left: 0; }
    #umnhf-h-cl li:last-child {
      padding-right: 0; }
  @media screen and (max-width: 609px) {
    #umnhf-h-cl {
      display: none; } }

#umnhf-h-ql {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto; }
  #umnhf-h-ql li {
    margin: 0;
    display: inline-block; }
  #umnhf-h-ql a {
    font-weight: 400;
    font-size: 14px;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .625em;
    color: #000; }
  #umnhf-h-ql svg {
    fill: currentColor;
    vertical-align: baseline; }

.umn-search-form {
  margin: 8px 0 40px; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  text-transform: uppercase;
  letter-spacing: .1em; }

p:last-child {
  margin-bottom: 0; }

h1 {
  font-size: 5rem; }

@media (max-width: 1339px) {
  h1 {
    font-size: Min(5rem, calc(1.625rem + 4.03286vw)); } }

h2 {
  font-size: 4.2rem; }

h2 a {
  font-weight: 300; }

.h5 {
  font-size: 2rem; }

@media (max-width: 1339px) {
  h2 {
    font-size: Min(4.2rem, calc(1.545rem + 3.17252vw)); }
  .h5 {
    font-size: Min(2rem, calc(1.325rem + .80657vw)); } }

.list-inline li,
.row:after,
.row:before {
  display: inline-block; }

ul li {
  margin-bottom: 1rem; }

.ff-sans-serif {
  font-family: "Open Sans", sans-serif; }

.img-fluid,
.view-display-id-top_feature .view-content > div {
  width: 100%; }

.btn,
.gold-solid-button,
.maroon-outline-button {
  border-radius: 0; }

.btn.d-flex > * + * {
  margin-left: 4px; }

.btn-md {
  padding: .5em 1em;
  font-size: 1.1em; }

.btn-md,
.btn-sm {
  letter-spacing: normal;
  text-transform: capitalize; }

.btn-sm.btn-outline-primary {
  color: #1a1a1a; }

.btn-md.btn-secondary,
.btn-sm.btn-secondary {
  color: #7a0019; }

.off-canvas-wrapper {
  display: none; }

#navbar-primary {
  z-index: 35;
  background: #fff; }

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5); }

.navbar {
  position: relative;
  padding: 0; }

.navbar,
.navbar .container-fluid,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.navbar {
  flex-flow: row nowrap;
  justify-content: flex-start; }

.navbar > .container-fluid,
.navbar > .container-xl {
  padding-right: 0;
  padding-left: 0; }

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap; }

.nav-item {
  margin: 0; }

.nav-link {
  display: block;
  padding: 1.4rem 2.5rem; }

.navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.btn.d-flex,
.navbar > .container-fluid,
.navbar > .container-xl {
  flex-wrap: nowrap; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

.nav-button,
.nav-link,
.dropdown-item {
  text-decoration: none;
  font-weight: normal; }
  .nav-button.is-active, .nav-button.in-active-trail,
  .nav-link.is-active,
  .nav-link.in-active-trail,
  .dropdown-item.is-active,
  .dropdown-item.in-active-trail {
    font-weight: bold; }

@media (min-width: 1340px) {
  .navbar-nav > .nav-item {
    margin-left: 1rem; }
    .navbar-nav > .nav-item:first-child {
      margin-left: 0; } }

.navbar-nav .nav-button,
.navbar-nav .nav-link {
  font-size: 18px; }

.navbar-nav .nav-link {
  padding: 14px 25px; }

@media screen and (max-width: 1150px) {
  .navbar-nav .nav-link {
    padding: 14px 20px; } }

@media screen and (max-width: 1025px) {
  .navbar-nav .nav-link {
    padding: 14px 18px; } }

.navbar-nav .nav-button {
  padding: 14px 0; }

.navbar-nav .nav-button.has-dropdown {
  padding: 14px 16px; }

.navbar-dark .navbar-nav > .nav-item > .nav-button,
.navbar-dark .navbar-nav > .nav-item > .nav-link {
  color: #fff;
  background-color: transparent; }
  .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active, .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active:hover, .navbar-dark .navbar-nav > .nav-item > .nav-button.is-active:focus-visible, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail:hover, .navbar-dark .navbar-nav > .nav-item > .nav-button.in-active-trail:focus-visible,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active:hover,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.is-active:focus-visible,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail:hover,
  .navbar-dark .navbar-nav > .nav-item > .nav-link.in-active-trail:focus-visible {
    color: #000;
    background-color: #e6e0d2; }

.navbar-brand {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 0;
  font-size: 1.8rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand--secondary, .navbar-brand--tertiary {
    margin: 0 25px 0 0; }
    .navbar-brand--secondary,
    .navbar-brand--secondary a, .navbar-brand--tertiary,
    .navbar-brand--tertiary a {
      color: #000;
      font-weight: bold;
      font-size: 1.8rem; }

.navbar-nav--primary > .nav-item > .nav-button.has-dropdown,
.navbar-nav--primary > .nav-item > .nav-link.has-dropdown {
  position: relative; }

.navbar-nav--primary > .nav-item > .nav-button.has-dropdown::before,
.navbar-nav--primary > .nav-item > .nav-link.has-dropdown::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0; }

.navbar-dark
.navbar-nav--primary
> .nav-item
> .nav-button.has-dropdown::before,
.navbar-dark .navbar-nav--primary > .nav-item > .nav-link.has-dropdown::before {
  background-color: #973c49; }

.navbar-light .navbar-nav > .nav-item > .nav-link {
  color: #000; }

.nav-button {
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 0; }

.nav-button .btn {
  font-weight: 600;
  font-size: 14px;
  padding: 4px 10px;
  margin: -2px 0; }

.nav-button,
.nav-button .btn svg {
  display: flex; }

.nav-button .btn-outline-primary {
  color: #fff;
  border: 1px solid currentColor; }

.dropdown {
  position: relative; }

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  font-size: 1.125rem;
  color: #000;
  text-align: left;
  list-style: none;
  background-color: #e6e0d2;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 200; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown--mega-menu {
  position: initial; }

.dropdown--mega-menu > .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0; }

/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */
.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0; }

.breadcrumb-item {
  margin: 0;
  padding: 0; }
  .breadcrumb-item, .breadcrumb-item a, .breadcrumb-item span {
    font-weight: normal;
    color: #7a0019;
    min-width: 44px;
    min-height: 44px;
    display: inline-block; }
  .breadcrumb-item::after {
    content: '>';
    padding: 0;
    margin: 0; }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 4px; }
    .breadcrumb-item + .breadcrumb-item::before {
      display: none; }
  .breadcrumb-item:last-child span {
    color: #000; }
  .breadcrumb-item:last-child::after {
    content: '';
    display: none; }
  .breadcrumb-item:last-child:first-child {
    display: none; }

@media (min-width: 992px) {
  .basic-hero__title {
    text-align: left; } }

.basic-hero__title {
  margin-bottom: 3rem; }
  .basic-hero__title h1 {
    padding-bottom: 2rem;
    border-bottom: solid 1px #d8d8d8; }

.front-top-features {
  min-height: 42.8571vw; }
  @media (min-width: 1200px) {
    .front-top-features {
      min-height: 500px; } }
  @media (min-width: 992px) {
    .front-top-features__image-overlay {
      position: absolute !important; } }
  .front-top-features__image-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto; }
  .front-top-features__image-overlay.right svg {
    transform: scaleX(-1);
    left: initial;
    right: 0; }

.news__item__img {
  min-width: 155px; }

.media {
  display: flex;
  align-items: flex-start; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive-21by9::before {
  padding-top: 42.85714%; }

.embed-responsive img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover; }

/*# sourceMappingURL=front.css.map */