@import "../../abstracts/import";
@import "../../abstracts/extensions";

.contact-cta {
  .contact-cta__contact {
    .unb-cta-icon-request span:hover,
    .unb-cta-icon-request span:focus {
      text-decoration: underline;
    }
  }

  &__social {
    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0 0 20px;
      text-transform: capitalize;
    }

    a {
      background: $gray-200;
      border-radius: 50%;
      display: inline-block;
      line-height: 1;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $light-gray;
      }

      &:focus-visible {
        position: relative;
        z-index: 1;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }
}
