@import "../../abstracts/import";

.cta-link {
  text-align: center !important;
  padding: 1rem !important;
  border: 0 !important;
  background: transparent;
  color: $maroon;
  font-weight: 700;
  margin: 0 !important;

  &__icon {
    display: block;
    font-size: 2.5rem;

    .icon {
      font-weight: 700;
    }
  }

  &__anchor {
    font-size: 1.6rem;
  }

   @include media-breakpoint-up(md) {
    &__wrapper {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    &__icon {
      display: block !important;
    }
  }
}

