@import "../../abstracts/import";

// Used on the MBA page /node/96431
// Used on many "Email Landing Page" nodes.

// @todo replace with bootstrap classes
.cta1 {
  padding: 3rem;
  margin: 2rem 0;
  background-color: $ivory;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }
}
