/**
 * @file
 * Bootstrap Barrio specific styling for the Book module.
 */


.btn {
  border-radius: 0;

  &.d-flex {
    flex-wrap: nowrap;

    > * + * {
      margin-left: 4px;
    }
  }

  &.btn-primary--yellow,
  &.btn-primary--gold {
    @extend .btn-gold;
  }

  &.btn-primary--maroon {
    @extend .btn-primary;
  }

  &.btn-secondary {
    @extend .btn-secondary;
  }

  &.btn-link-primary {
    @extend .btn-primary;
  }

  &.btn-link-secondary {
    @extend .btn-secondary;
  }
}

.form-group .btn {
  &:focus {
    outline: 0;
    border-radius: 2px;
    box-shadow:
      0 0 0 1px $white,
      0 0 0 2px $cyan,
      0 0 0 calc(2px + 0.35rem) rgba($cyan, 0.4);
  }
}

.bg-primary {
  .btn.btn-primary {
    @extend .btn-gold;
  }
}

.bg-gold, .bg-ivory, .bg-light-blue {
  .btn.btn-primary {
    @extend .btn-primary;
  }
}

// Edior button classes

.gold-outline-button {
  @include button();
  display: inline-block;
  font-size: 1.6rem;
  @include button-outline($gold);
  background-color: transparent;
  &:hover, &:focus {
    text-decoration: none;
  }
  @extend .btn;
  @extend .btn-outline-secondary;
}
.maroon-outline-button {
  @extend .btn;
  @extend .btn-outline-primary;
}

.maroon-solid-button {
  @extend .btn;
  @extend .btn-primary
}

.gold-underline-button {
  @extend .btn;
  @extend .btn-gold;
  padding: 0.5rem 1.5rem;
}
.maroon-underline-button {
  @extend .btn;
  @extend .btn-primary;
  padding: 0.5rem 1.5rem;
}

.gold-solid-button {
  @extend .btn;
  @extend .btn-gold;
}

// A non-standard bootstrap-like class.
.btn-md {
  padding: 0.5em 1em;
  font-size: 1.1em;
}

.btn-sm,
.btn-md {
  letter-spacing: normal;
  text-transform: capitalize;

  &.btn-outline-primary {
    color: $soft-black;

    &:hover {
      color: $white;
    }
  }

  &.btn-outline-secondary {
    color: $maroon;
  }

  &.btn-secondary {
    color: $maroon;

    &:hover {
      color: $maroon;
    }
  }
}
