.ui-dialog {
    padding: 0;
    border: 0 !important;
    @include font-sans-serif-base();
    .ui-dialog-titlebar {
        padding: 0 1em;
        border: 0;
        background-color: transparent;
        .ui-dialog-title {
            height: 4.2rem;
            line-height: 4.2rem;
            margin: 0;
        }
    }
    .ui-dialog-titlebar-close {
        margin: 0;
        right: 0;
        top: 0;
        width: 4.2rem;
        height: 4.2rem;
        border: 0;
        background-color: $maroon;
        &::before {
            @include carlson-icons($icon-menu-close);
            color: $white;
        }
    }
}
