// generic form styles
[type="search"] {
  display: block;
  width: 100%;
  padding: 0.25rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $border-gray;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover {
    border-color: $mid-slate-2;
  }

  &:focus {
    outline: 0;
    border-color: $cyan;
    box-shadow: 0 0 0 0.35rem rgba($cyan, 0.4);
  }
}

select {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("../images/sort.svg") no-repeat right 0.25em center;
  background-size: 1em;
  padding: 0.25em;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $border-gray;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  padding-right: 1.25em;

  &:hover {
    border-color: $mid-slate-2;
  }

  &:focus {
    outline: 0;
    border-color: $cyan;
    box-shadow: 0 0 0 0.35rem rgba($cyan, 0.4);
  }
}

select.form-control {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  background: #fff url("../images/sort.svg") no-repeat right 1rem center;
  background-size: 1em;
  line-height: normal;
}

label,
.radios--wrapper .fieldset-legend {
  margin-bottom: 1rem;
  font-family: $font-lato;
  text-transform: uppercase;
  letter-spacing: 1.39px;
  color: $slate;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.form-check {
  margin-bottom: 1rem;
  padding-left: calc(20px + 1rem);

  .form-check-input {
    margin-left: calc((20px + 1rem) * -1);
    background: $input-bg;
    width: 20px;
    height: 20px;
    border: 1px solid $input-border-color;
  }
}

.form-check-label + .form-check-input {
  top: 0;
}

.form-check-label {
  cursor: pointer;
  font-family: $font-family-sans-serif;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.6rem;
  line-height: 1.4;
}

input[type="checkbox"],
input[type="radio"],
.form-checkbox,
.form-radio,
.form-checkbox {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-left: calc((20px + 1rem) * -1);
  background: $input-bg;
  width: 20px;
  height: 20px;
  border: 1px solid $input-border-color;
  display: grid;
  place-content: center;

  &:checked::before {
    transform: scale(1);
  }

  &:checked {
    border-color: $maroon;
    background: $maroon;
  }
}

.form-checkbox,
input[type="checkbox"] {
  @include border-radius($custom-checkbox-indicator-border-radius);

  &::before {
    content: "";
    width: 13px;
    height: 10px;
    background: url("../images/svg/checkmark.svg");
    transform: scale(0);
  }

  &:indeterminate {
    border-color: $custom-checkbox-indicator-indeterminate-border-color;

    @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);

    &::before {
      background-image: escape-svg(
        $custom-checkbox-indicator-icon-indeterminate
      );
    }
  }

  &:disabled {
    &:checked {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }

    &:indeterminate {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}

.form-radio,
input[type="radio"] {
  @include border-radius($custom-radio-indicator-border-radius);

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: escape-svg($custom-radio-indicator-icon-checked);
    transform: scale(0);
  }
}

.form-check-input:has(+ .form-check-label:hover),
.form-check-input:hover,
.form-control:hover {
  border-color: $mid-slate-2;
}

.form-check-input:focus,
.form-control:focus {
  outline: 0;
  border-color: $cyan;
}

.form-control:focus {
  box-shadow: 0 0 0 0.35rem rgba($cyan, 0.4);
}

.form-check-input:focus-visible {
  outline: 0;
  border-color: $cyan;
  box-shadow: 0 0 0 0.35rem rgba($cyan, 0.4);
}

.form-checkboxes,
.form-radios {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

details.form-item {
  position: relative;
  align-self: flex-start;
  border: 1px solid $border-gray;
  border-radius: 0.25rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  min-height: calc(1.5em + 2rem + 2px);

  &:hover,
  &:focus-within {
    border-color: #878b92;
  }

  > summary {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;

    &:focus-visible {
      outline: 0;
    }
  }

  &:has(> summary:focus-visible) {
    outline: 0;
    border-color: #17a2b8;
    box-shadow: 0 0 0 0.35rem rgba($cyan, 0.4);
  }

  &[open] {
    align-self: stretch;

    > summary {
      min-height: calc(1.5em + 2rem);
      border-bottom: 1px solid $border-gray;
      transition: border-color 0.15s ease-in-out;
    }

    &:hover,
    &:focus-within {
      > summary {
        border-color: #878b92;
      }
    }
  }

  > .details-wrapper {
    background: $white;
    width: 100%;
    max-height: 230px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0.5em;
    transition: all 0.2s ease-out;

    &::-webkit-scrollbar {
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-appearance: none;
      appearance: none;
      width: 13px;
      transition: all 0.2s ease-out;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($black, 0.25);
      border-radius: 8px;
      border: 2.75px solid $lightestgray;
      transition: all 0.2s ease-out;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: rgba($black, 0.5);
      box-shadow: inset 0 0 0 1px rgba($black, 0.05);
    }
  }
}

.form-group {
  &.half-width {
    display: inline-block;
    padding: 0;
    width: calc(49% - 15px);
    margin-left: 15px;

    + .form-group.half-width {
      margin-left: 5px;
    }
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }
}

table tr th a,
table tr th a:hover,
table tr th a:focus {
  color: $maroon;
}

.paragraph--type--webform,
.hero-program-webform {
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;

    .form-group:not(.form-type-webform-markup):not(.form-actions):not(
        .form-full-width
      ) {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: calc(50% - 10px);
      }
    }

    .form-group.form-full-width {
      width: 100%;
    }

    .form-actions.webform-actions {
      margin: auto;
    }

    .text-muted .webform-element-description {
      color: $slate;
    }

    .form-check {
      width: 100%;
    }

    .form-control {
      padding: 1rem;
    }
  }
}

.paragraph--type--webform {
  background: $ivory;
  padding: 6rem;
}

.hero-program-webform {
  h1,
  h2,
  h3 {
    color: $white;
    font-family: "Open Sans", sans-serif;
  }

  .embed-responsive {
    width: unset;
    height: 100%;

    img {
      object-position: left;
    }
  }

  .hero-program-text {
    background: $maroon;
  }

  form {
    h1,
    h2,
    h3 {
      color: $white;
      font-family: "Open Sans", sans-serif;
    }

    color: $white;

    label,
    a,
    .radios--wrapper .fieldset-legend {
      color: $white;
    }

    .form-check-input:focus,
    .form-control:focus {
      border-color: $gray-800;
      box-shadow: 0 0 0 0.4rem rgba($white, 0.3);
    }

    .form-group input[type="submit"] {
      color: $dark-dark-gray;
      background-color: $gold;
      border-color: $gold;

      &:hover,
      &:focus {
        color: $dark-dark-gray;
        background-color: #ffc20d;
        border-color: #ffbf00;
      }
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked,
    .form-checkbox:checked,
    .form-radio:checked,
    .form-check .form-check-input:checked {
      border-color: #17a2b8;
      background: $white;
    }

    .form-radio,
    input[type="radio"] {
      &::before {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2317a2b8'/%3e%3c/svg%3e");
      }
    }

    .form-required::after {
      background-image: url("../images/required-white.svg");
    }

    .form-check {
      .text-muted {
        color: $white !important;

        .webform-element-description {
          color: $white;
        }
      }
    }
  }
}
