.view-display-id-top_feature .view-content > div {
  width: 100%;
}

.front-deadlines {
  &-item {
    min-width: 76px;
    display: inline-block;
  }
}

.front {
  &__advantage {
    background-size: cover;
    &__subheading {
      @include rfs(2.4rem);
    }
    @include media-breakpoint-down(md) {
      background-image: none !important;
    }
  }
  &-features {
    &__item {
      &__bg {
        &__inner {
          clip-path: polygon(-1% 25%, 101% calc(25% + 30px), 101% 101%, -1% 101%);
        }
      }
    }
  }
}
