//.front--topfeature {
//  width: 100%;
//  position: relative;
//  .container {
//    z-index: 90;
//    max-width: 1600px;
//  }
//  h1 {
//    font-size: 48px;
//    line-height: 95%;
//  }
//  a {
//    font-weight: bold;
//  }
//  &--bgimg {
//    padding: 0;
//    margin: 0;
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: -5;
//    width: 100%;
//    max-height: 580px;
//    overflow-y: hidden;
//    background-color: $white;
//    img {
//      height: 580px;
//      min-height: 580px;
//      max-height: 580px;
//      width: auto;
//      max-width: 920px;
//      display: lock;
//      margin: 0 auto;
//    }
//  }
//}
//@include media-breakpoint-up(lg) {
//  .front--topfeature {
//    .container, &--row, &--row-content {
//      min-height: 580px;
//      max-height: 580px;
//      height: 580px;
//    }
//    &--row {
//      &-content {
//        background: $white;
//        background: linear-gradient(180deg, rgba($white, .95) 66%, rgba($white, .4) 100%);
//      }
//    }
//    h1 {
//      font-size: 4px;
//      line-height: 95%;
//    }
//  }
//}



//.front--statistics {
//  background-color: $maroon;
//  color: $white;
//  background-image: url("../images/front--stats-bg.jpg");
//  background-position: right top;
//  background-repeat: none;
//  background-size: cover;
//}
//@media only screen and (min-width: 1850px) {
//  .front--topfeature--gradient {
//    position: absolute;
//    top: 0;
//    left: 0;
//    min-height: 100%;
//    height: 100%;
//    max-height: 580px;
//    width: 100%;
//    z-index: 4;
//    background: linear-gradient(to right,  rgba($white, 1) 0%,rgba($white, 1) 1%,rgba($white, 1) 3%,rgba($white, 0) 10%,rgba($white, 0) 90%,rgba($white, 1) 97%,rgba($white, 1) 100%);
//  }
//}


//.view-display-id-top_feature {
//}
//.front--programs {
//  .container {
//    max-width: 1280px;
//  }
//  font-family: $font-lato;
//  h3 {
//    padding-left: 20px;
//    font-size: 6px;
//  }
//  &--block {
//    &-img {
//      max-height: 193px;
//      height: 93px;
//      position: elative;
//      overflow: idden;
//      .contextual-region {
//        position: static;
//      }
//      img {
//        position: bsolute;
//        top: -9999px;
//        bottom: -9999px;
//        left: -9999px;
//        right: -9999px;
//        min-width: 00%;
//        min-height: 00%;
//        margin: auto;
//      }
//    }
//    &-text {
//      padding-left: 0px;
//      font-size: 7px;
//      line-height: 5%;
//      a {
//        color: black;
//        text-decoration: one;
//      }
//    }
//    &-button {
//      font-size: 4px;
//      line-height: 05%;
//      text-transform: uppercase;
//      font-weight: bold;
//    }
//  }
//}
//.front--programs--block--heading {
//  font-size: x;
//  font-weight: d;
//  font-family: $font-lato;
//  &::before {
//    display: k;
//    height: 5px;
//    width: px;
//    position: absolute;
//    content: "";
//    background-image: url("../images/front--feature--bar.png");
//    background-position: bottom center;
//    background-repeat: no-repeat;
//    background-size: contain;
//    left: 15px;
//    top: 2px;
//    z-index: 1;
//  }
//}
.view-display-id-top_feature .view-content > div {
  width: 100%;
}


.front-deadlines {
  &-item {
    min-width: 76px;
    display: inline-block;
  }
}


//.btn-primary--yellow.btn-primary--yellow-solid {
//  background-color: $white !important;
//  font-size: 4px;
//  padding: 8px 12px;
//  &:hover,&:focus {
//    background-color: $gold !important;
//    color: $darkgray !important;
//  }
//}

.front {
  &__advantage {
    background-size: cover;
    &__subheading {
      @include rfs(2.4rem);
    }
    @include media-breakpoint-down(md) {
      background-image: none !important;
    }
  }
  &-features {
    &__item {
      &__bg {
        &__inner {
          clip-path: polygon(-1% 25%, 101% calc(25% + 30px), 101% 101%, -1% 101%);
        }
      }
    }
  }
}


//.front--advantage {
//  min-height: auto;
//  &--gradient {
//    height: auto;
//    min-height: 100% !important;
//  }
//  &--heading {
//    color: $maroon;
//    font-size: 30px;
//    line-height: 105%;
//    border-bottom: 1px solid $gold;
//  }
//  &--subheading {
//    font-family: $font-lato;
//    font-size: 26px;
//    line-height: 110%;
//  }
//}
//@include media-breakpoint-up(lg) {
//  .front--advantage {
//    min-height: 650px;
//    background-size: cover;
//    background-position: left middle;
//    background-repeat: no-repeat;
//    position: relative;
//    &--gradient {
//      position: absolute;
//      height: 50px;
//      width: 100%;
//      top: 0;
//      left: 0;
//      background: $white;
//      background: linear-gradient(90deg, rgba($white, 0) 35%, rgba($white, .8) 50%, rgba($white, 1) 80%);
//    }
//    &--heading {
//      font-size: 52px;
//    }
//
//}
//}
//@include media-breakpoint-down(md) {
//  .front--advantage {
//    background-image: none !important;
//    background: $white !important;
//    &--graient {
//      background: $white;
//    }
//  }
//}



//.front--featured-news {
//  &--copy {
//    color: $darkgray;
//    text-decoration: none;
//    &:focus,
//    &:hover {
//      color: $darkgray;
//      text-decoration: none;
//    }
//  }
//.front--featured-news {
//  a:focus,a:hover {
//    .front--featured-news--copy {
//      color: $darkgray;
//      text-decoration: none !important;
//    }
//  }
//}
//
//  h3 {
//    font-family: $font-lato;
//    font-size: 26px;
//    line-height: 110%;
//  }
//}
//
//.front--featured-event {
//  &--link {
//    font-family: 'Lato', sans-serif;
//    font-size: 24px;
//    line-height: 110%;
//  }
//
//  &--copy {
//    color: $darkgray;
//    text-decoration: none;
//  }
//}



//.front--programs-heading {
//  font-weight: bold;
//  font-family: $font-lato;
//  color: $maroon-light;
//  font-size: 30px;
//}
//.front--statistics {
//  &-heading {
//    color: $gold;
//    line-height: 105%;
//    font-size: 30px;
//  }
//  &-statistic {
//    min-height: 215px;
//    font-size: 17px;
//    line-height: 130%;
//    color: $white;
//    &-number {
//      color: $maroon;
//      background-color: $gold;
//      border-radius: 50%;
//      height: 130px;
//      width: 130px;
//      font-size: 62px;
//      line-height: 130px;
//      font-family: $font-lato;
//      font-weight: bold;
//    }
//    p {
//      max-width: 70%;
//    }
//  }
//}

//@include media-breakpoint-up(lg) {
//  .front--programs-heading {
//    font-size: 38px;
//  }
//  //.front--statistics-heading {
//  //  font-size: 60px;
//  //}
//}


//.front--featureds {
//  background: $lightgray;
//  background: linear-gradient(184deg, $lightgray 0%, $white 100%);
//    .container {
//      max-width: 1280px;
//    }
//    &--block {
//      background-color: $lightergray;
//      box-shadow: 0 0 15px 0 rgba(83,83,83, .4);
//      h2 {
//        font-size: 24px;
//        color: $maroon-light;
//        line-height: 105%;
//      }
//      &-deadlines {
//        line-height: 125%;
//      }
//      &-line {
//        height: 1px;
//        border-bottom: 1px solid $maroon-light;
//        max-width: 265px;
//      }
//    }
//  }
