/**
 * @file
 * Visual styles for comments in Barrio.
 */

img{
  max-width: 100%;
  &.shadow{
    box-shadow: 0 0 15px 3px rgba($black, .3);
  }
}

.align-right, .align-left {
  margin-bottom: 2rem;
}

.align-right {
  margin-left: 2rem;
}

.align-left {
  margin-right: 2rem;
}

.align-center {
  text-align: center;
}

// WYSIWYG embedding entities
.embedded-entity {
  margin-bottom: 2rem;
	&.align-right {
		margin-left: 2rem;
	}
	&.align-left {
		margin-right: 2rem;
  }
  &.align-center {
    text-align: center;
  }
}
