// Node regions

.page-links {
  &__tags {
    margin-bottom: 1rem;

    &-label {
      @include font-newsreader-base();

      font-size: 3.4rem;
      display: block;
      margin-bottom: 1.5rem;
      margin-right: 0.5rem;

      @include media-breakpoint-up(md) {
        display: inline;
      }
    }

    a {
      font-style: italic;
    }
  }
}

// File formatter
.file {
  padding-left: 3rem;
  background-position: 1rem center;
}

.off-canvas-wrapper {
  display: none;
}
