// Card flipping styles

.card-flip {
  perspective: 1000px;

  .card {
    border: 0;
    background: transparent;
    width: 100%;
  }

  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px $maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg);
  }

  @media not all and (min-resolution: 0.001dpcm) {
    //target Safari
    @supports (-webkit-appearance: none) {
      &__back {
        display: none;
      }
    }
  }

  &:hover,
  &.focus {
    .flip {
      transform: rotateY(180deg);

      @media not all and (min-resolution: 0.001dpcm) {
        //target Safari
        @supports (-webkit-appearance: none) {
          .card-flip {
            &__front {
              transform: rotateY(180deg);
              display: none;
            }

            &__back {
              transform: rotateY(0deg);
              display: flex;

              .card {
                transform: rotateY(180deg);
              }
            }
          }
        }
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //target IE11
        .card-flip {
          &__front {
            transform: rotateY(180deg);
          }

          &__back {
            transform: rotateY(0deg);

            .card {
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}

.card-flip,
.card-flip__front,
.card-flip__back {
  width: 100%;
  min-height: 300px;
}

// Dialog modal overrides
.ui-dialog {
  @include media-breakpoint-down(md) {
    width: 100% !important;
    left: 0 !important;
  }
}

// Node regions
.node__bottom--left,
.node__bottom--right {
  margin-bottom: 5rem;
}

.page-links {
  &__tags {
    margin-bottom: 1rem;

    &-label {
      @include font-newsreader-base();

      font-size: 3.4rem;
      display: block;
      margin-bottom: 1.5rem;
      margin-right: 0.5rem;

      @include media-breakpoint-up(md) {
        display: inline;
      }
    }

    a {
      font-style: italic;
    }
  }
}

.views-row:not([class*="col"]) {
  flex: 0 0 100%;
  max-width: 100%;
}

.node__bottom {
  &__col {
    @include make-col(12);

    padding: 0 15px;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }
}

// Modal Overrides
.ui-dialog .ui-dialog-title {
  font-size: 0;
  color: $white;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center;
}

.ui-dialog .ui-dialog-buttonpane button {
  max-width: 300px;
  margin: 1rem auto;
  height: auto;
  background-image: none;
  line-height: 2.4rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 700;
  background-color: $maroon;
  border: 2px solid $maroon;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $slate;
  }
}

// File formatter
.file {
  padding-left: 3rem;
  background-position: 1rem center;
}

.off-canvas-wrapper {
  display: none;
}
