/* GENERAL STYLES
------------------------------------------------- */
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  @include font-sans-serif-base();
  @include rfs($font-size-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $slate;
}

// Override of bootstrap to fix issues in Safari
.row::before,
.row::after {
  display: inline-block;
}

/* COLORS
-------------------------------------------------- */

a {
  color: $maroon;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

@include media-breakpoint-down(md) {
  .font-weight-bold-mobile {
    font-weight: 700;
  }
}

.fs-18 {
  @include rfs($font-size-default * 1.8);
}

.fs-20 {
  @include rfs($font-size-default * 2);
}

.fs-22 {
  @include rfs($font-size-default * 2.2);
}

.fs-24 {
  @include rfs($font-size-default * 2.4);
}

.fs-32 {
  @include rfs($font-size-default * 3.2);
}

.fs-30 {
  @include rfs($font-size-default * 3);
}

.fs-40 {
  @include rfs($font-size-default * 4);
}

.fs-64 {
  @include rfs($font-size-default * 6.4);
}

.fs-base {
  font-size: $font-size-base;
}

.ff-serif {
  font-family: $font-family-serif;
}

.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

.lh-1 {
  line-height: 1;
}

.lh-13 {
  line-height: 1.3;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-05 {
  letter-spacing: 0.05em;
}

.text-underline {
  text-decoration: underline;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.box-shadow {
  box-shadow: 0 4px 4px rgba($black, 0.25);
}

.overflow-initial {
  overflow: initial;
}

.border-2 {
  border-width: 2px !important;
}

.img-fluid {
  width: 100%;
}

.embedded-entity .img-fluid {
  width: inherit;
}

.site-name-slogan a {
  text-decoration: none;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0;
}

#icons {
  display: none;
}

.list-inline li {
  display: inline-block;
}
