.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
}

.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:hover,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:active,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:focus,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:hover,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:active,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:focus {
  background-color: hsla(0,0%,100%,0);
  // icon-close-encircled.svg
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' stroke='%23525151' stroke-width='1.25' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5'/%3E%3Cpath d='M6 6L14 14M6 14L14 6'/%3E%3C/svg%3E");
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:hover,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:active,
.ub-emb-overlay .ub-emb-iframe-wrapper .ub-emb-close:focus {
  background-color: hsla(0,0%,100%,0.9);
}

.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:hover,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:active,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:focus {
  background-color: hsla(0,0%,0%,0);
  // icon-close-encircled.svg
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' stroke='white' stroke-width='1.25' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5'/%3E%3Cpath d='M6 6L14 14M6 14L14 6'/%3E%3C/svg%3E");
}

.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:hover,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:active,
.ub-emb-bar .ub-emb-iframe-wrapper .ub-emb-close:focus {
  background-color: hsla(0,0%,0%,0.6);
}
