
.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

@include media-breakpoint-down(md) {
  .font-weight-bold-mobile {
    font-weight: 700;
  }
}

.fs-18 {
  @include rfs($font-size-default * 1.8);
}

.fs-20 {
  @include rfs($font-size-default * 2);
}

.fs-22 {
  @include rfs($font-size-default * 2.2);
}

.fs-24 {
  @include rfs($font-size-default * 2.4);
}

.fs-32 {
  @include rfs($font-size-default * 3.2);
}

.fs-30 {
  @include rfs($font-size-default * 3);
}

.fs-40 {
  @include rfs($font-size-default * 4);
}

.fs-64 {
  @include rfs($font-size-default * 6.4);
}

.fs-base {
  font-size: $font-size-base;
}

.ff-serif {
  font-family: $font-family-serif;
}

.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

.lh-1 {
  line-height: 1;
}

.lh-13 {
  line-height: 1.3;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-05 {
  letter-spacing: 0.05em;
}

.text-underline {
  text-decoration: underline;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.box-shadow {
  box-shadow: 0 4px 4px rgba($black, 0.25);
}

.overflow-initial {
  overflow: initial;
}

.border-2 {
  border-width: 2px !important;
}

.stretched-link-container {
  position: relative;

  // Interactive elements should remain clickable.
  :where(a:not(.stretched-link), iframe, object, button) {
    z-index: 2;
    position: relative;
  }

  // Decorative elements should not intercept clicks.
  :where([aria-hidden="true"]) {
    pointer-events: none;
  }

  &:has(.stretched-link:focus-visible) {
    @include focus-visible-rounded();
  }

  &:has(.stretched-link:hover) {
    .btn-primary[aria-hidden="true"] {
      background-color: #540011;
      border-color: #3a000c;
    }
  }

  &:has(.stretched-link:hover) {
    .btn-secondary[aria-hidden="true"] {
      background-color: #ffc20d;
      border-color: #f2b600;
    }

    .btn.bg-light-blue[aria-hidden="true"] {
      background-color: #3c8481 !important;
      border-color: #3c8481;
    }

    .btn.btn-ivory[aria-hidden="true"] {
      background-color: #d8cfb9;
      border-color: #cfc4a9;
    }
  }
}

.stretched-link:focus-visible {
  outline: 0;
  box-shadow: none;
}
