/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  margin: 0;
  padding: 0;

  &, a, span {
    font-weight: normal;
    color: $maroon;
  }

  &::after {
    content: '>';
    padding: 0;
    margin: 0;
  }

  & + & {
    padding-left: 4px;

    &::before {
      display: none;
    }
  }

  &:last-child {
    span {
      color: $black;
    }

    &::after {
      content: '';
      display: none;
    }

    &:first-child {
      display: none;
    }
  }

}
