/* generic form styles */
.form-control {
    //border-color: $light-gray;
    //margin-top: 0;
    //height: 3.8rem;
    //line-height: 3.8rem;
    //font-size: 1.6rem;
    //color: $dark-gray;
    //border-radius: 0.25rem;
    //&::placeholder {
    //    color: lighten($slate, 50%);
    //}
    //padding: 0;
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    -webkit-border-radius: 0.25rem;
    background:#fff url('../images/dd-arrows.png') no-repeat right 1rem center;
    line-height: normal;
}
label {
    margin-bottom: 1rem;
    font-family: $font-lato;
    text-transform: uppercase;
    letter-spacing: 1.39px;
    color: $slate;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.form-group {
    &.half-width {
        display: inline-block;
        padding: 0;
        width: calc(49% - 15px);
        margin-left: 15px;
        + .form-group.half-width {
            margin-left: 5px;
        }
    }
    input[type="submit"] {
        //margin-top: 1rem;
        //height: auto;
        //line-height: 2.4rem;
        //@include button-solid($maroon);
      @extend .btn;
      @extend .btn-primary;
    }
}
.chosen-container {
    width: 100% !important;
    font-family: unset;
    //height: auto;
}
.chosen-container {
    //background:#fff url('../images/dd-arrows.png') no-repeat right 1rem center;
    &.select2-container--focus .select2-selection--multiple,
    .chosen-drop .chosen-results .active-result.highlighted {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .chosen-drop .chosen-results .result-selected {
        border-color: $light-gray;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        line-height: 2.5rem;
        .select2-selection__rendered {
            padding-right: 3rem;
            white-space: normal;
        }
        /* new font changes x icon */
        .select2-selection__choice__remove {
            font-family: "Lato",Arial,Verdana,sans-serif;
        }
    }
  .chosen-single {
    background: no-repeat;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    > span {
      flex-grow: 1;
    }
    > div {
      position: static;
      height: 18px;
    }
  }
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    border: 0;
    background-image: none;
    box-shadow: none;
  }
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-multi .chosen-results li {
    font-size: 18px;
    line-height: 24px;
}

table tr th a,
table tr th a:hover,
table tr th a:focus {
    color: $maroon;
}

.hero-program-webform {
  .embed-responsive {
    width: unset;
    height: 100%;
  }

  .hero-program-text {
    background: $maroon;
  }
  form {
    h1, h2, h3 {
      font-family: "Open Sans",sans-serif;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    color: white;
    label, a {
      color: white;
    }
    .form-group:not(.form-type-webform-markup):not(.form-actions):not(.form-full-width) {
        width: calc(50% - 10px);
    }
    .form-actions.webform-actions {
      margin: auto;
    }
    .form-group input[type="submit"] {
      color: #212529;
      background-color: $gold;
      border-color: $gold;
      &:hover, &:focus {
        color: #212529;
        background-color: #ffc20d;
        border-color: #ffbf00;
      }
    }
    .form-check {
      width: 100%;
      padding-bottom: 1.25rem;
      .form-check-label, .webform-element-description {
        padding-left: 1.5rem;
      }
      .text-muted {
        color: white !important;
      }
    }
  }
}