/* generic form styles */
.form-control {
    //border-color: $light-gray;
    //margin-top: 0;
    //height: 3.8rem;
    //line-height: 3.8rem;
    //font-size: 1.6rem;
    //color: $dark-gray;
    //border-radius: 0.25rem;
    //&::placeholder {
    //    color: lighten($slate, 50%);
    //}
    //padding: 0;
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    -webkit-border-radius: 0.25rem;
    background:#fff url('../images/dd-arrows.png') no-repeat right 1rem center;
    line-height: normal;
}
label,
.radios--wrapper .fieldset-legend {
    margin-bottom: 1rem;
    font-family: $font-lato;
    text-transform: uppercase;
    letter-spacing: 1.39px;
    color: $slate;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.form-check {
  margin-bottom: 1rem;
  padding-left: calc(20px + 1rem);

  .form-check-input {
    margin-left: calc((20px + 1rem) * -1);
    background: $input-bg;
    width: 20px;
    height: 20px;
    border: 1px solid $input-border-color;
  }
  .webform-element-description {
    margin-left: calc((20px + 1rem) * -1);
  }
}

.form-check-label {
  font-family: $font-family-sans-serif;
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.6rem;
  line-height: 1.4;
}

input[type='checkbox'],
input[type='radio'],
.form-checkbox,
.form-radio,
.form-check .form-check-input {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-left: calc((20px + 1rem) * -1);
  background: $input-bg;
  width: 20px;
  height: 20px;
  border: 1px solid $input-border-color;
  display: grid;
  place-content: center;

  &:checked::before {
    transform: scale(1);
  }

  &:checked {
    border-color: $maroon;
    background: $maroon;
  }
}

.form-checkbox,
input[type='checkbox'] {
  @include border-radius($custom-checkbox-indicator-border-radius);

  &::before {
    content: "";
    width: 13px;
    height: 10px;
    background: url('../images/svg/checkmark.svg');
    transform: scale(0);
  }

  &:indeterminate {
    border-color: $custom-checkbox-indicator-indeterminate-border-color;
    @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);

    &::before {
      background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
    }
  }

  &:disabled {
    &:checked {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
    &:indeterminate {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}

.form-radio,
input[type='radio'] {
  @include border-radius($custom-radio-indicator-border-radius);

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: escape-svg($custom-radio-indicator-icon-checked);
    transform: scale(0);
  }
}

.form-group {
    &.half-width {
        display: inline-block;
        padding: 0;
        width: calc(49% - 15px);
        margin-left: 15px;
        + .form-group.half-width {
            margin-left: 5px;
        }
    }
    input[type="submit"] {
        //margin-top: 1rem;
        //height: auto;
        //line-height: 2.4rem;
        //@include button-solid($maroon);
      @extend .btn;
      @extend .btn-primary;
    }
}
.chosen-container {
    width: 100% !important;
    font-family: unset;
    //height: auto;
}
.chosen-container {
    //background:#fff url('../images/dd-arrows.png') no-repeat right 1rem center;
    &.select2-container--focus .select2-selection--multiple,
    .chosen-drop .chosen-results .active-result.highlighted {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .chosen-drop .chosen-results .result-selected {
        border-color: $light-gray;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        line-height: 2.5rem;
        .select2-selection__rendered {
            padding-right: 3rem;
            white-space: normal;
        }
        /* new font changes x icon */
        .select2-selection__choice__remove {
            font-family: "Lato",Arial,Verdana,sans-serif;
        }
    }
  .chosen-single {
    background: no-repeat;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    > span {
      flex-grow: 1;
    }
    > div {
      position: static;
      height: 18px;
    }
  }
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    border: 0;
    background-image: none;
    box-shadow: none;
  }
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-multi .chosen-results li {
    font-size: 18px;
    line-height: 24px;
}

table tr th a,
table tr th a:hover,
table tr th a:focus {
    color: $maroon;
}

.paragraph--type--webform, .hero-program-webform {
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;

    .form-group:not(.form-type-webform-markup):not(.form-actions):not(.form-full-width) {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: calc(50% - 10px);
      }
    }

    .form-group.form-full-width {
      width: 100%;
    }

    .form-actions.webform-actions {
      margin: auto;
    }

    .text-muted .webform-element-description {
      color: $slate;
    }

    .form-check {
      width: 100%;
    }

    .form-control {
      padding: 1rem;
    }
  }
}

.paragraph--type--webform {
  background: $ivory;
  padding: 6rem;
}

.hero-program-webform {
  h1, h2, h3 {
    color: $white;
    font-family: "Open Sans",sans-serif;
  }
  .embed-responsive {
    width: unset;
    height: 100%;

    img {
      object-position: left;
    }
  }

  .hero-program-text {
    background: $maroon;
  }

  form {
    h1, h2, h3 {
      color: $white;
      font-family: "Open Sans",sans-serif;
    }

    color: $white;

    label, a, .radios--wrapper .fieldset-legend {
      color: $white;
    }

    .form-control:focus {
      border-color: $gray-800;
      box-shadow: 0 0 0 .4rem rgba($white, 0.3);
    }

    .form-group input[type="submit"] {
      color: #212529;
      background-color: $gold;
      border-color: $gold;
      &:hover, &:focus {
        color: #212529;
        background-color: #ffc20d;
        border-color: #ffbf00;
      }
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked,
    .form-checkbox:checked,
    .form-radio:checked,
    .form-check .form-check-input:checked {
      border-color: #17a2b8;
      background: #fff;
    }

    .form-radio,
    input[type='radio'] {
      &::before {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2317a2b8'/%3e%3c/svg%3e");
      }
    }

    .form-required::after {
      background-image: url(../images/required-white.svg);
    }

    .form-check {
      .text-muted {
        color: white !important;
        .webform-element-description {
          color: white;
        }
      }
    }
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  color: $dark-gray;
}

.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: $dark-gray!important;
}
