/* Card flipping styles */

.card-flip {
  perspective: 1000px;
  .card {
    border:none;
    background: transparent;
    width:100%;
  }
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg);
  }
  @media not all and (min-resolution:.001dpcm){ //target Safari
    @supports (-webkit-appearance:none) {
      &__back {
        display: none;
      }
    }
  }
  &:hover,
  &.focus {
    .flip {
      transform: rotateY(180deg);
      @media not all and (min-resolution:.001dpcm){ //target Safari
        @supports (-webkit-appearance:none) {
          .card-flip {
            &__front {
              transform: rotateY(180deg);
              display: none;
            }
            &__back {
              transform: rotateY(0deg);
              display: flex;
              .card {
                transform: rotateY(180deg);
              }
            }
          }
        }
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //target IE11
        .card-flip {
          &__front {
            transform: rotateY(180deg);
          }
          &__back {
            transform: rotateY(0deg);
            .card {
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}
.card-flip,
.card-flip__front,
.card-flip__back {
  width: 100%;
  min-height: 300px;
}

/* Data calendar style */
//.date-cal {
//  display: flex;
//  align-items: center;
//  &__item {
//    display: inline-block;
//    text-align: center;
//    width: 100px;
//    &--day {
//      font-size: 8rem;
//      line-height: 1;
//      @include font-newsreader-base();
//      color: $maroon;
//      display: block;
//      text-align: center;
//    }
    //&--month {
//      text-transform: uppercase;
//      color: $dark-gray;
//      font-size: 1.4rem;
//      letter-spacing: 1.56px;
//      font-weight: bold;
//      display: block;
//      text-align: center;
//      &:after{
//        content: '';
//        height: 2px;
//        display: block;
//        background: $gold;
//      }
//    }
//  }
//  &__divider {
//    margin-left: 10px;
//    margin-right: 10px;
//    text-transform: uppercase;
//    color: $dark-gray;
//    font-weight: bold;
//    font-size: 1.4rem;
//  }
//}
/* Dialog modal overrides */
.ui-dialog {
  @include media-breakpoint-down(md) {
    width: 100% !important;
    left: 0 !important;
  }
}

/* Component spacing */
.component-paragraph {
  margin-bottom: 6rem;
  @include media-breakpoint-up(lg) {
    margin-bottom: 8rem;
  }
}

/* Node regions */
.node__bottom--left,
.node__bottom--right {
  margin-bottom: 5rem;
}

.share-this {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.78px;
  .addtoany_list {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-up(md){
      display: inline;
    }
    a {
      padding: 1rem;
      text-align: center;
      @include media-breakpoint-up(lg){
        margin-top: 0;
      }
    }
  }
}

.page-links {
  &__tags {
    margin-bottom: 1rem;
    &-label {
      @include font-newsreader-base();
      font-size: 3.4rem;
      display: block;
      margin-bottom: 1.5rem;
      margin-right: 0.5rem;
      @include media-breakpoint-up(md){
        display: inline;
      }
    }
    a {
      font-style: italic;
    }
  }
  .share-this {
    @include media-breakpoint-up(lg){
      text-align: right;
    }
  }
}

.file {
  min-height: 1.6rem;
  vertical-align: baseline;

  &--general,
  &--application-octet-stream {
      background-image: url(../../images/icons/application-octet-stream.png);
  }

  &--package-x-generic {
      background-image: url(../../images/icons/package-x-generic.png);
  }

  &--x-office-spreadsheet {
      background-image: url(../../images/icons/x-office-spreadsheet.png);
  }

  &--x-office-document {
      background-image: url(../../images/icons/x-office-document.png);
  }

  &--x-office-presentation {
      background-image: url(../../images/icons/x-office-presentation.png);
  }

  &--text-x-script {
      background-image: url(../images/icons/text-x-script.png);
  }

  &--text-html {
      background-image: url(../images/icons/text-html.png);
  }

  &--text-plain {
      background-image: url(../images/icons/text-plain.png);
  }

  &--application-pdf {
      background-image: url(../images/icons/application-pdf.png);
  }

  &--application-x-executable {
      background-image: url(../images/icons/application-x-executable.png);
  }

  &--audio {
      background-image: url(../images/icons/audio-x-generic.png);
  }

  &--video {
      background-image: url(../images/icons/video-x-generic.png);
  }

  &--text {
      background-image: url(../images/icons/text-x-generic.png);
  }

  &--image {
      background-image: url(../images/icons/image-x-generic.png);
  }
}

.views-row:not([class*="col"]) {
		flex: 0 0 100%;
    max-width: 100%;
}

//.node__bottom {
//  display: flex;
//  flex-direction: column;
//  @include media-breakpoint-up(lg){
//    flex-direction: row;
//  }
//  &__col {
//    &:not(:empty){
//      flex: 1 1;
//    }
//    &--single {
//      .event-items__item--row {
//        @include media-breakpoint-up(lg){
//          @include make-col(6);
//          // margin: 0 auto;
//        }
//      }
//      .news-items__item--row {
//        @include media-breakpoint-up(lg){
//          @include make-col(6);
//        }
//      }
//    }
//  }
//}

/* Modal Overrides */
.ui-dialog .ui-dialog-title {
  font-size: 0;
  color: $white;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center;
}
.ui-dialog .ui-dialog-buttonpane button {
  max-width: 300px;
  margin: 1rem auto;
  height: auto;
  background-image: none;
  line-height: 2.4rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: bold;
  background-color: $maroon;
  border: 2px solid $maroon;
  color: white;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $slate;
  }
}

/* File formatter */
.file {
  padding-left: 2rem;
}

.accordion {
  .card {
    .card-body {
      *[id] {
        scroll-margin-top: 200px;
      }
    }
  }
}
