/* GENERAL STYLES
-------------------------------------------------*/
html {
    font-size: 62.5%;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-sans-serif-base();
  color: $slate;
  @include rfs($font-size-base);
  //font-size: 1.6rem;
  //line-height: 160%;
}

h1, .h1 {
  @include rfs($h1-font-size);
}
h2, .h2 {
  @include rfs($h2-font-size);
}
h3, .h3 {
  @include rfs($h3-font-size);
}
h4, .h4 {
  @include rfs($h4-font-size);
}
h5, .h5 {
  @include rfs($h5-font-size);
}
h6, .h6 {
  @include rfs($h6-font-size);
}


//.container {
//    max-width: 1600px;
//}

/* Override of bootstrap to fix issues in Safari */
.row:before,
.row:after {
  display: inline-block;
}
/* COLORS
--------------------------------------------------*/

a {
    color: $maroon;
  &:hover {
    text-decoration-thickness: from-font;
    text-underline-position: from-font;
  }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul, ol {
  li {
    margin-bottom: 1rem;
  }
}

ul ul {
  list-style-type: disc;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

.fs-18 {
  @include rfs($font-size-default * 1.8);
}

.fs-20 {
  @include rfs($font-size-default * 2);
}

.fs-22 {
  @include rfs($font-size-default * 2.2);
}

.fs-24 {
  @include rfs($font-size-default * 2.4);
}

.fs-32 {
  @include rfs($font-size-default * 3.2);
}

.fs-30 {
  @include rfs($font-size-default * 3);
}

.fs-40 {
  @include rfs($font-size-default * 4);
}

.fs-64 {
  @include rfs($font-size-default * 6.4);
}

.fs-base {
  font-size: $font-size-base;
}

.ff-serif {
  font-family: $font-family-serif;
}

.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

.lh-1 {
  line-height: 1;
}

.lh-13 {
  line-height: 1.3;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-05 {
  letter-spacing: 0.05em;
}

.text-underline {
  text-decoration: underline;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.box-shadow {
  box-shadow: 0 4px 4px rgba($black, 0.25);
}

.overflow-initial {
  overflow: initial;
}

.border-2 {
  border-width: 2px !important;
}

.img-fluid {
  width: 100%;
}
.embedded-entity .img-fluid {
    width: inherit;
}

.site-footer {
    background: $maroon !important;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.kss-style, .kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp, .kss-nav__menu-item{
  font-size: 1.4rem !important;
  line-height: 1.8rem !important;
}

[class^="col"] {
  /*transition: all 0.3s ease-in-out;*/
}

.slick-prev {
    z-index: 1;
}

.slick-slide {
    outline: none;
}

#icons {
    display: none;
}
.list-inline li {
    display: inline-block;
}
.node__content {
    //font-size: 1.4rem;
    //@include media-breakpoint-up(md) {
    //    font-size: 1.6rem;
    //}
    //ul:not([class]) {
    //    list-style-type: none;
    //    padding-left: 1rem;
    //    li {
    //        position: relative;
    //        padding-left: 2rem;
    //        &:before {
    //                content: '';
    //                height: .5rem;
    //                width: .5rem;
    //                background: $maroon;
    //                transform: rotate(45deg);
    //                border-radius: 50%;
    //                display: inline-block;
    //                position: absolute;
    //                top: 1.1rem;
    //                left: .4rem;
    //        }
    //    }
    //}
    .juicer-feed .j-meta li {
        padding: 0;
        &:before {
            content: '';
            height: .8rem;
            width: .8rem;
            background: transparent;
            transform: rotate(45deg);
            display: none;
            position: absolute;
            top: 1.2rem;
            left: .4rem;
        }
    }
}

/* GENERIC TABLE STYLES */
.table,
.table-striped,
table {
  max-width: 100%;
  tr {
    background: $white;
    border: 0 !important;
    padding: 0 !important;
    td {
      border: 1px solid $ivory;
    }
    th {
      border: 1px solid $ivory;
      color: $body-color;
      background: $ivory;
      font-weight: 600;
    }
    td,
    th {
      .tablesaw-cell-label {
        font-weight: 600;
        width: 40%;
      }
      &:empty,
      &.empty-cell {
        padding: 0;
        border-right: 0;
      }
      &:not(:first-child) {
        &:empty,
        &.empty-cell {
          border-left: 0;
        }
      }
    }
  }
  @media (max-width: 639px) {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid $ivory !important;
    tr {
      td {
        border: 0;
      }
      &:nth-of-type(odd) {
        td {
          background-color: $ivory;
        }
      }
    }
  }
  @media (min-width: 640px) {
    tr {
      th {
        border-color: $white;
      }
    }
  }
/*    border: 0;
    thead {
        > tr {
            border-bottom: 4px double $light-gray;
            > th {
                border-bottom: 0;
            }
        }
        tr {
            background: rgb(204, 204, 204);
            th {
                background: rgb(204, 204, 204);
                color: $black;
            }
        }
    }
    > tbody {
        border-bottom: 1px solid $light-gray;
        > tr {
            padding: 0;
            > td {
                border: 0;
              padding-left: $grid-padding-x;
              padding-right: $grid-padding-x;
            }
        }
        tr {
            border-top: 1px solid $light-gray;
            border-bottom: 0;
            background: transparent;
            &:nth-of-type(odd) {
                background: $mid-gray;
                //background: rgba(230,216,214,0.3);
                td {
                  background: $mid-gray;
                    //background: rgba(230,216,214,0.3);
                }
            }
            &:nth-of-type(even) {
                background: transparent;
                td {
                    background: transparent;
                }
            }
            td {
                border: 0;
                background: transparent;
            }
        }
    }*/
}

// TODO: organize this section


.table-responsive {
    border-color: $light-gray;
    border-bottom: 0;
    &.col {
        border:0;
    }
    > .tablesaw-stack {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                >th,
                >td {
                    white-space: normal;
                }
            }
        }
    }
}

article.node--type-webform.node--view-mode-full {
    padding: 20px;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
    z-index: 3000000000 !important;
}

.container-paragraph {
  > .container {
    >.component-paragraph:last-child {
      margin-bottom: 0;
    }
  }
}
