.basic-page {
  &__catalog {
    border-style: solid;
    border-color: $warm-gray;
    border-width: 0 0 1px;
    margin-bottom: 5rem;
  }
}

// @todo remove custom styles for MBA page /node/96431, use bootstrap classes
.cta1 {
  padding: 3rem;
  margin: 2rem 0;
  background-color: $ivory;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }
}
