
.blog {
	.program-cta,
	.fullwidth-video,
	.program-promo {
		@include page-inset($inset-wide);
	}
	&__body,
	.basic-paragraph,
	.carlson-slideshow,
	.quote,
	.quote-group {
		@include page-inset($inset-narrow);
		&--sidebar {

    	margin-bottom: 3rem;
    	> div {
    		border: solid 1px $light-gray;
	      padding: 20px;
	    }
		}
	}
	.label-border {
		font-size: 3.4rem;
		line-height: 3.4rem;
		font-weight: 400;
		&:after {
			margin: 1.6rem 0 0 0;
		}
	}

	@include media-breakpoint-up(lg) {
    &__body {
    	&--sidebar {
      	> div {
	        padding: 30px 35px;
	      }
    	}
    }
  }
}

// Blog admin Group button
#block-groupoperations {
	.dropbutton-wrapper {
		margin-top: 2rem;
		width: 200px;
	}
}
.gnode-create-blog-entry .js .dropbutton a {
	display: inline-block;
}
// Blog Teaser Compact styles
.blog-items {
	&__item {
		margin-bottom: 2rem;
		&--image {

		}
		&--title {
			@include font-sans-serif-base();
			line-height: 2rem;
			font-size: 1.6rem;
			font-weight: 700;
		}
		&--link {
			@include bold_link();
		}
	}
}
