.conference {
  .basic-hero {
    &__img {
      margin-bottom: 0;
    }
  }

  .body {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .btn {
      margin: 2rem 1rem;
    }
  }
}

// custom CSS for 100716 : Carlson Centennial Twin Cities Celebration
body.page-node-100716,
body.page-node-101591 {
  .conference__content-components {
    .body {
      h2 {
        font-size: $font-large;
        line-height: 140%;
      }

      h4 {
        font-size: ($font-small * 1.25);
        line-height: 140%;
      }

      h5 {
        font-size: $font-small;
        line-height: 140%;
        color: $maroon;
      }
    }

    .fluid-columns {
      padding-top: 2em;
      box-shadow: 0 0 30px 0 rgba($black, 0.1);
      background: linear-gradient(
        to bottom,
        $lightgray 0%,
        rgba($lightgray, 0.2) 100%
      );
    }

    .fluid-columns__item {
      text-align: center;

      .column__img {
        height: auto !important;

        img {
          border-radius: 50%;
          max-width: 230px !important;
          height: auto;
          margin: 0 auto;
        }
      }

      .column__markup {
        h4 {
          font-size: ($font-medium * 0.725);
        }

        h4.column__heading {
          font-size: ($font-medium * 0.825);
          text-align: center;

          &::after {
            content: "";
            height: 2px;
            width: 100px;
            display: block;
            background: $gold;
            margin: 2.4rem auto 0;
          }
        }

        h5 {
          font-size: ($font-medium * 0.6);
          color: $maroon;
        }
      }
    }
  }

  .centennial--ctabox {
    text-align: center;
    background-color: $gold;
    color: $maroon;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    h2 {
      font-size: 2.125em;
      margin-bottom: 15px;
    }

    &-text {
      padding: 1.75em;
    }
  }
}
