.ee-landing {
  &__catalog {
    border-style: solid;
    border-color: $warm-gray;
    border-width: 0 0 1px;
    margin-bottom: 5rem;
  }

  &__body {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
