// Event Full page styles
.event {
	.basic-hero__title {
		border-bottom: 0;
	}
	&__body{
		@include page-inset($inset-narrow);
	}
	&__map {
		margin-bottom: 5rem;
	}
	&__map,
	.contact-cta {
		@include page-inset($inset-wide);
	}
	.simple-gmap-address {
		display: none;
	}
}
