// Visual styles for comments in Barrio.
.footer {
  font-size: $font-size-default * 1.7;
  font-weight: 400;

  a {
    color: $white;
    font-weight: 400;
  }

  @include media-breakpoint-down(md) {
    a {
      text-decoration: underline;
    }
  }

  &__info {
    line-height: 1.8;
  }

  &__links {
    line-height: 1.5;

    .nav-item {
      margin: 0 0 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .nav-link {
      margin: 0;
      padding: 0.15rem 0;
      min-width: 44px;
      min-height: 44px;
      font-weight: 400;

      &.in-active-trail,
      &.is-active {
        font-weight: 600; //semi-bold
      }
    }
  }
}
