// Misc custom page overrides

// Faculty finder node with placed View block
.page-node-11641 {
	.basic-hero__title {
		border-bottom: none;
		margin-bottom: 0;
		&-inner {
			text-align: center;
			h1 {
				@include heading-title($font-medium,$gold,'center');
			}
		}
	}

}
