.student-profile {
  // Top Profile - Block.

  &__sidebar {
    .field__label {
      font-weight: 700;
    }
    .field--label-above {
      margin-bottom: 1.6rem;
    }
  }
}
.student-profile.ambassador {
  .field__label {
    font-weight: 700;
  }
  .field {
    margin-bottom: 5px;
  }
}
