.student-profile {
  /** Top Profile - Block. **/
  &__top {
      &--headshot {
          img {
              //width: 100%;
              //height: auto;
              //@include profile-image-box-shadow();
          }
          //margin-bottom: 2rem;
      }
      &--name {
        //@include heading-title($font-medium,$maroon, 'left')
      }
      &--title {
          //color: #363230;
          //@include font-sans-serif-base();
          //font-size: 16px;
          //font-weight: 700;
          //text-transform: uppercase;
          //letter-spacing: 1.78px;
      }

      &--dept {
        //color: #363230;
        //@include font-sans-serif-base();
        //font-size: 16px;
        //font-weight: 700;
        //line-height: 20px;
      }

      &--quote{
        //background: $menu-gold;
        //padding: 30px;
        //background-image: url('../images/bg/experience_bg.png');
        //margin-bottom: 2rem;
        &-inner {
          //padding-left: 80px;
          &:before {
            //position: absolute;
            //left: 40px;
            //margin-top: 5px;
            //@include carlson-icons($icon-quote);
            //font-size: 50px;
            //line-height: 50px;
            //color: $maroon;
          }
        }
      }
  }
  &__about {
    &--summary{
      //margin-bottom: 3rem;
    }
  }
  &__sidebar {
    //border: solid 1px $light-gray;
    //margin-bottom: 3rem;
    > div {
      //padding-top: 20px;
      //padding-bottom: 20px;
    }
    &--label {
      //@include heading-title($font-small, $maroon,'left');
    }
    .field__label {
      font-weight: 700;
    }
    .field--label-above {
      margin-bottom: 1.6rem;
    }
  }
  @include media-breakpoint-up(lg) {
    &__sidebar {
      > div {
        //padding: 30px 20px;
      }
    }
    &__top {
      &--quote{
        //margin-left: -30px;
        //position: relative;
        //z-index: -1;
        &-inner {
          //padding-left: 100px;
          &:before {
            //left: 60px;
            //line-height: 60px;
          }
        }
      }
    }
  }
}
.student-profile.ambassador {
  .ambassador__class {
    //@include serif-font($font-small);
  }
  .field__label {
    font-weight: 700;
  }
  .field {
    margin-bottom: 5px;
  }
}
/* Person Profile */
.person-profile--title {
  //@include serif-font($font-small);
  //margin-bottom: 2rem;
}
.person-profile__summary {
  //@include page-inset($inset-narrow);
}
@include media-breakpoint-up(lg) {
  .person-profile__summary {
      //margin-top: 3rem;
      //margin-bottom: 3rem;
  }
}
