.webform {
  &__body {
    h4 {
      @include serif-font($font-small);

      margin-bottom: 2rem;
    }
  }
}

.webform-element-help {
  background: transparent;
  border: 1px solid $border-gray;
  color: currentColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    border-color: $gold;
    background: $gold;
    border-width: 1px;
    color: $maroon;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 0 0 0.1rem $white,
      0 0 0 0.2rem $focus-ring-color;
  }
}

#drupal-modal {
  .webform {
    font-family: $font-family-sans-serif;

    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 3rem 3rem;

      h1,
      h2,
      h3,
      h4 {
        color: $maroon;
        text-align: center;
      }
    }

    &__form {
      input,
      select {
        border: 2px solid $gold;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}
