/**
 * @file
 * Visual styles for comments in Barrio.
 */
.footer {
  font-size: $font-size-default * 1.6;
  a {
    color: $white;
    font-weight: 600;
    &:hover, &:focus{
      text-decoration: underline;
      text-underline-position: under;
    }
  }
  &__info {
    line-height: 1.8;
  }
}
//#umnhf-f.umnhf a {
//  color: $maroon;
//}
//#umnhf-f.umnhf small a {
//  font-size: inherit;
//  font-family: inherit;
//}
//#umnhf-f-myu {
//  text-align: center;
//  ul li {
//    display: inline-block;
//    a {
//      padding: 0 2rem;
//      text-decoration: underline;
//    }
//  }
//}
