.webform {
	&__body {
		h4 {
			@include serif-font($font-small);
			margin-bottom: 2rem;
		}
	}
	&__form {

	}
}

#drupal-modal {
	.webform {
		font-family: $font-lato;
		&__body {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin: 0rem 3rem 3rem;
			h1, h2, h3, h4 {
				color: $maroon;
				text-align: center;
				&::after {
					// content: '';
					// height: 2px;
					// width: 20rem;
					// display: block;
					// background: $maroon;
					// margin: 1.5rem auto 0 auto;
				}
			}
		}
		&__form {
			input, select {
				border: 2px solid $gold;
				font-size: 1.6rem;
				margin-bottom: 1rem;
			}
		}
	}
}

.ui-dialog {
	background-color: $lightergray;
	.ui-dialog-buttonpane {
		background-color: $lightergray;
		button.webform-button--submit {
			background: $white;
			border-color: $gold;
			color: $black;
			border-radius: 0;
			max-width: 200px;
			padding: 1rem;
			&:hover, &:focus, &:active {
				background: $gold;
				color: $white;
			}
		}
	}
	.ui-widget-content {
		border: none;
	}
}


