@charset "utf-8";


div, p, a, li, td { -webkit-text-size-adjust:none; }
p:last-child{margin-bottom:0px;}
input{background:#5b0013;font-weight:bold;color:#fff;padding:9px 15px 9px 15px;border:1px solid #5b0013;-webkit-appearance:none;border-radius:10px;-webkit-transform: translate3d(0,0,0);}
img{display:inline-block;max-width:100%;height:auto;}

#quiz_progress_outer{position:absolute;height:6px;width:100%;border:none;background:#f0efee;z-index:2;}
#quiz_progress_inner{height:6px;background:#777677;width:0px;}
#quiz_container{padding:10px;margin:1vh auto 0px auto;text-align:center;position:relative;}


.vertical-align{
  background-color : #0f0;
}

.timeoutContainer{text-align:center;}
.scoreContainer{text-align:center;}

/* timer */
.timerContainer{}
.timer{background:transparent none no-repeat 0px 0px;display:none;opacity:1;position:relative !important;zoom:0.5;-moz-transform: scale(0.5);-moz-transform-origin: top center;}

.q_question {
  font-size : 2em;
  line-height : 140%;
}

.p_option {
  font-size : 1.2em;
  line-height : 115%;
  font-weight : bold;
}
.p_result {
  font-size : 2em;
  line-height : 150%;
  margin-bottom : .75em;
  font-weight : bold;
  color : #900021;
}
.p_answer {
  font-size : 1.125em;
  line-height : 150%;
  margin : 10px 0;
}
.p_answer a {
  font-size : inherit !important;
  line-height : inherit !important;
}

.optionBox{background:#900021;color:#f9f7f6;padding:8px;border:1px solid #5b0013;border-radius:10px;overflow:hidden !important;}
.optionOverCss{background:#ffde7a;padding:8px;border:1px solid #5b0013;border-radius:10px;color:#5b0013;}
.optionOverCss p{color:#5b0013;}
.optionOutCss{background:#7a0019;color:#f9f7f6;padding:8px;border:1px solid #5b0013;border-radius:10px;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;}




.btnOverCss input{background:#ffde7a;color:#5b0013;border:1px solid #5b0013;border-radius:10px;}
.btnOutCss input{background:#900021;color:#fff;border:1px solid #5b0013;border-radius:10px;
-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;}

.img-margin {border:5px solid #fff;}

.imgOverCss{}
.imgOverCss{
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow:0px 1px 5px #666;
  z-index:999;
}

.imgOutCss{
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  box-shadow:0px 0px 0px #666;
  z-index:1;
}

/* preloader */
.preloader{
    width:34px;
    height:34px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:2px solid;
    border-top-color:rgba(0,0,0, 0.8);
    border-bottom-color:rgba(0,0,0, 0.2);
    border-left-color:rgba(0,0,0, 0.8);
    border-right-color:rgba(0,0,0, 0.2);
    outline: 1px solid transparent;

    -webkit-animation: preloader 1s linear infinite;
    animation: preloader 1s linear infinite;
}
@keyframes preloader{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}













.override--tinybuttons .btn {
  font-size : 14px;
  padding : .4em;
  line-height : 100%;
}
.travel-hero {
  background-color : #790018;
  background-image: url(../../../../images/html_campaign/ontheroad.png);
  background-size: contain;
  background-position: center right;
  background-repeat : no-repeat;
  padding-top : 20px;
  padding-bottom : 5px;
  margin-bottom : 15px;
}
.travel-hero .basic-hero__title {
  border-bottom : 0px !important;
}
.travel-hero .basic-hero__title h1 {
  color : #fff;
  margin : 0px;
  padding : 0px;
  line-height : 100%;
}
.travel-hero .basic-hero__title h1::after {
  content : none;
  border : 0px;
}

.travel--cta1 {
  background-color : #ffc733;
  background-image: url(../../../../images/html_campaign/ontheroad-air.png);
  background-size: contain;
  background-position: center left;
  background-repeat : no-repeat;
  padding : 15px 15px 0px 30%;
  margin-top : 30px;

  text-align : center;
  font-size : 2em;
  line-height : 120%;
  margin : 0 0 15px 0;
}
.travel--cta1 p:last-child {
}

.travel--ctabox {
  -webkit-box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
  -moz-box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
  box-shadow: 0px 0px 30px 15px rgba(240,239,238,1);
}
