
.navbar-brand--secondary,
.navbar-brand--tertiary {
  margin: 0;
  margin-right: $grid-gutter-half-width;

  &,
  a {
    color: $black;
    font-weight: bold;
    font-size: $navbar-brand-font-size;
  }
}
#secondary-navbar {
  top: 0.5rem;
  z-index: 30;
  border-bottom: 1px solid $menu-line-grey;
  min-height: 55px;
  background: $white;
  @include media-breakpoint-up(xl) {
      top: 7.5rem;
      max-width: 100%;
      margin: auto;
      min-height: 68px;
  }
  .navbar {
    .navbar-nav {
      margin-top : 12px;
      > .nav-item {
        border-radius : 6px !important;
          &:hover, &:focus {
            background-color : $white;
            > a {
              color : $maroon;
            }
          }
          a {
            font-size : 1.4rem;
            white-space: nowrap;
            padding: 0.5rem 1rem;
            &:hover, &:focus {
              text-decoration: underline;
            }
          }
          @include media-breakpoint-up(xl) {
            margin-left : 1rem;
            &:first-child {
              margin-left : 0rem;
            }
          }
        > .nav-link {
          border-radius : 6px !important;
          padding : 4px 10px;
          text-transform: uppercase;
          color : $menu-grey;
        }
        .dropdown-menu {
          border : 0px;
          border-radius : 0px;
          -webkit-box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
          box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
          background-color : $white;
          @include media-breakpoint-up(xl) {
            padding : 0px;
            margin : 0px;
            a {
              font-size : 1.575rem;
            }
          }
        }
        > .dropdown-menu /* second-level */ {

        }
      }
      .dropdown-submenu.show {
        border-bottom : 1px solid $dark-gray;
        @include media-breakpoint-up(xl) {
          border-bottom : 0px;
        }
      }
      .dropdown-item {
        background-color : $white;
        padding: 0.8rem 0.8rem;
        &:hover, &:focus {
          background-color : $ivory;
          //color : $menu-grey;
          }
      }
    }
  }
  /*active states*/
  .nav-item.dropdown.active {
    > a.nav-link {
      color : $maroon;
      &:hover, &:focus {
        background-color : $white;
        color : $maroon;
      }
    }

  }
  .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu a {
    padding-left : 30px;
    @include media-breakpoint-up(xl) {
      padding-left : 15px;
    }
  }
  .dropdown-submenu.active {
    > a.dropdown-item {
      background-color : $maroon;
      color : $white;
      &.dropdown-toggle::after {
        color : $white;
      }
      &:hover, &:focus {
        background-color : $ivory;
        color: $body-color;
        &.dropdown-toggle::after {
          color : $menu-grey;
        }
      }
    }
  }
  .dropdown-submenu {
    > a.dropdown-item {
      &:hover, &:focus, &:active {
        color: $body-color;
      }
    }
  }
  .secondary-navbar--endlink.active {
    > a.dropdown-item {
      background-color : $maroon;
      color : $white;
      &:hover, &:focus {
        background-color : $header-gray;
      }
    }
  }
  .dropright.show .dropdown-toggle.active-dropdown::after {
    transform: rotate(90deg);
    @include media-breakpoint-up(xl) {
      -moz-transform: rotate(0deg) translateX(15px);
      -webkit-transform: rotate(0deg) translateX(15px);
      -o-transform: rotate(0deg) translateX(15px);
      -ms-transform: rotate(0deg) translateX(15px);
      transform: rotate(0deg) translateX(15px);
    }
  }
}

/* navbar end */
