.pagination {
  position: relative;
  justify-content: center;

  .page-item {
    .page-link {
      border: 0;
      color: $maroon;
      text-decoration: underline;
    }

    &.active {
      .page-link {
        color: $slate;
        background-color: transparent;
        font-weight: 700;
        text-decoration: none;
      }
    }

    &--go-to-previous,
    &--go-to-next {
      padding: 0 1px;

      .page-link {
        font-size: 4rem;
        line-height: 5.8rem;
        vertical-align: middle;
        text-decoration: none;
        border: 1px solid $light-gray;
        border-radius: 4rem;
        height: 6.5rem;
        width: 6.5rem;

        &,
        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.disabled {
        cursor: not-allowed;

        .page-link {
          opacity: 0.2;
          border-color: $dark-dark-gray;
          color: $dark-dark-gray;
        }
      }
    }

    &--ellipses {
      font-weight: 700;
    }
  }

  &.full-pagination {
    margin: 0 -2.3rem;
    padding: 9rem 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
      padding: 2rem 0;
    }

    .page-item {
      &--go-to-previous,
      &--go-to-next {
        position: absolute;
        left: calc(50% - 4rem);

        @include media-breakpoint-up(sm) {
          position: relative;
          left: unset;
        }
      }

      &--go-to-previous {
        top: 1rem;

        @include media-breakpoint-up(sm) {
          top: -1.5rem;
          margin-right: 4rem;
        }
      }

      &--go-to-next {
        bottom: 1rem;

        @include media-breakpoint-up(sm) {
          bottom: unset;
          top: -1.5rem;
          margin-left: 4rem;
        }
      }
    }
  }

  &.mini-pagination {
    margin: 0;
    padding: 2rem 0;

    .page-item {
      &--go-to-previous {
        top: -1.5rem;
        margin-right: 4rem;
      }

      &--go-to-next {
        bottom: unset;
        top: -1.5rem;
        margin-left: 4rem;
      }

      .page-link {
        line-height: 5.3rem;
      }
    }
  }
}
