.sticky-menu {
  // NOTE: sticky-menu must appear inside sticky-sidebar, and all inner divs
  // sticky-sidebar and sticky-menu must have height: 100% (i.e. class h-100)
  // for the stickiness to take effect on scroll.

  &.is-stuck {
    position: sticky;
    top: 0; // overridden by inline styles from sticky-menu.js
    padding-top: 20px;
  }

  &__collapsed-trigger {
    display: none;
  }

  &__label {
    @extend .h3;
    color: $maroon;
    padding-left: 2rem;
    font-size: 3.2rem;
    display: block;
    border-bottom: 2px solid $menu-line-grey;
    margin-bottom: 2.5rem;
    padding-bottom: .8rem;
    &:hover {
      color: $maroon;
      text-decoration: none;
    }
  }

  &__link {
    border-left: 6px solid transparent;
    transition: border-left 300ms ease-out;

    &.is-active {
      border-left-color: $gold;
    }
  }

  @include media-breakpoint-up(lg) {
    &__collapsed-trigger {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    margin: 0 0 3rem;
    &__collapsed-target {
      background: $light-light-ivory;
      padding: 0 2rem 1.5rem;
    }

    &__collapsed-trigger {
      display: block;
      background-color: $light-warm-ivory;

      &[aria-expanded="false"] {
        .close-icon {
          display: none;
        }

        + .sticky-menu__collapsed-target {
          display: none;
        }
      }

      &[aria-expanded="true"] {
        background: $light-light-ivory;

        .open-icon {
          display: none;
        }

        + .sticky-menu__collapsed-target {
          display: block;
        }
      }
    }

    &__label {
      margin: 0 0 1.5rem;
      padding: 1rem 0;
      font-size: 2rem;
    }
  }
}

.inner-menu {

  &__label {
    @extend .h3;
    color: $maroon;
    padding-left: 2rem;
    font-size: 3.2rem;
    display: block;
    border-bottom: 2px solid $menu-line-grey;
    margin-bottom: 2.5rem;
    padding-bottom: .8rem;
    &:hover {
      color: $maroon;
      text-decoration: none;
    }
  }

  &__link {
    border-left: 6px solid transparent;
    transition: border-left 300ms ease-out;

    &.is-active {
      border-left-color: $gold;
    }
  }

  margin: 0 0 3rem;
  &__collapsed-target {
    background: $light-light-ivory;
    padding: 0 2rem 1.5rem;
  }

  &__collapsed-trigger {
    display: block;
    background-color: $light-warm-ivory;

    &[aria-expanded="false"] {
      .close-icon {
        display: none;
      }

      + .inner-menu__collapsed-target {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      background: $light-light-ivory;

      .open-icon {
        display: none;
      }

      + .inner-menu__collapsed-target {
        display: block;
      }
    }
  }

  &__label {
    margin: 0 0 1.5rem;
    padding: 1rem 0;
    font-size: 2rem;
  }
}

.inner_nav {
  .block {
    width: 100%;
    > label {
      @include sr-only();
    }
    .nav {
      justify-content: space-between;
      width: 100%;
      @include media-breakpoint-up(lg){
        border-bottom: 1px solid $warm-gray;
      }
      .nav-item {
        width: 100%;
        position:relative;
        border-top:1px solid transparent;
        margin-bottom: 0;

        @include media-breakpoint-up(lg){
          flex: 1 1;
        }
        .nav-link {
          padding: 1.6rem 2.8rem;
          text-transform: uppercase;
          color: $slate;
          font-size: 1.3rem;
          line-height: 1.6rem;
          letter-spacing: 1.39px;
          border-top: 1px solid $warm-gray;
          @include media-breakpoint-up(lg){
            padding: 2.8rem;
            height: 100%;
            text-align: center;
            border-top-width: 0;
            border-right: 1px solid $warm-gray;
          }
          &:hover, &:focus {
            color: $maroon;
            background-color: transparent;
          }
        }

        &.menu-item--active-trail {
          .nav-link {
            background-color: $lightergray;
            color: $maroon;
            border-bottom: 3px solid $maroon;
          }
        }
        &:last-child .nav-link {
          border-right-width: 0;
        }
        &.menu-item--expanded {
          > .nav-link {
            padding-right: 4.8rem;
            &:after {
              position: absolute;
              right: 3rem;
              top: calc(50% - .7rem);
              color: $maroon;
              @include media-breakpoint-up(lg){
                top: calc(50% - 1.4rem);
              }
            }
          }
          .menu {
            list-style-type: none;
            padding-left: 2.8rem;
            .nav-item {
              .nav-link {
                text-transform: none;
                letter-spacing: initial;
                font-weight: bold;
              }
            }
          }
          @include media-breakpoint-up(lg){
            .menu {
              .nav-item {
                display: none;
              }
            }
            &:hover, &:focus {
              position: relative;
              border-style: solid;
              border-color: $warm-gray;
              border-width: 1px 0 0 0;
              > .nav-link {
                &:after {
                  transform: rotate(180deg);
                }
              }
              .menu {
                position: absolute;
                background: $white;
                left: -1px;
                width: calc(100% + 1px);
                z-index: 1;
                padding-left: 0;
                border-style: solid;
                border-color: $warm-gray;
                border-width: 0 1px 1px 1px;
                padding: 0 2.8rem;
                .nav-item {
                  display: inline-block;
                  width: 100%;
                  border-top: 1px solid $warm-gray;
                  .nav-link {
                    width: 100%;
                    display: inline-block;
                    padding: 2rem 0;
                    border: none;
                  }
                }
              }

            }
          }
          &.menu-item--active-trail {
            @include media-breakpoint-up(lg){
              &:hover, &:focus {
                .menu {
                  background: $lightergray;
                }
              }
            }
          }
        }
        &:first-child {
          &.menu-item--expanded {
            &:hover, &:focus {
              border-left-width: 1px;
            }
          }
        }
      }
    }
  }
  &--accordion {
    border-bottom: 1px solid $warm-gray;
    @include media-breakpoint-up(lg){
      border-bottom-width: 0;
    }
    .accordion {
      margin-bottom: 0;
      .card {
        .card-header {
          @include media-breakpoint-up(lg){
            display: none;
          }
          .btn-link {
            background: transparent;
            @include bold_link(1.6rem, $maroon);
            line-height: 2rem;
            &:before {
              color: $slate;
              font-size: 2rem;
            }
          }
        }
        .card-body {
          padding: 0 1.25rem;
        }
        .inner {
          background-image: none;
          @include media-breakpoint-up(lg){
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }
}
.menu-title{
	display:none;
}
.node--type-executive-ed-program{
	.menu-title{
			display:block;
	}
}
// Fix for EE menu Dropdowns
.accordion{
	&#block-executiveedcation-menu-link{
		.card{
			overflow:visible;
		}
	}
}

.inner_nav--accordion {
	.accordion {
		.card {
			overflow: visible;
		}
	}
}

// TODO: rewrite this to be a mixin instead, note how the # on the maroon hexcode has to be escaped with %23
$lockicon: '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" fill="%237a0019" class="lock-search"><path d="M5.5 1a3.485 3.485 0 0 0-3.46 3h-.01l-.006.095A3.563 3.563 0 0 0 2 4.5V5c-.552 0-1 .45-1 1v5.5c0 .55.448 1 1 1h7c.552 0 1-.45 1-1V6c0-.55-.448-1-1-1v-.5c0-.138-.01-.272-.025-.405L8.969 4h-.01A3.485 3.485 0 0 0 5.5 1Zm0 1.5a2.008 2.008 0 0 1 2 2V5h-4v-.5a2.044 2.044 0 0 1 .238-.925c.026-.048.05-.098.079-.144.03-.049.065-.093.1-.138a1.964 1.964 0 0 1 .23-.255c.057-.053.117-.103.18-.15.035-.024.07-.05.105-.073.07-.044.143-.082.219-.118.036-.017.07-.036.107-.05a1.98 1.98 0 0 1 .253-.079c.036-.009.07-.022.108-.029.123-.024.25-.039.381-.039Z"/></svg>';
$lockicon-white: '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" fill="white" class="lock-search"><path d="M5.5 1a3.485 3.485 0 0 0-3.46 3h-.01l-.006.095A3.563 3.563 0 0 0 2 4.5V5c-.552 0-1 .45-1 1v5.5c0 .55.448 1 1 1h7c.552 0 1-.45 1-1V6c0-.55-.448-1-1-1v-.5c0-.138-.01-.272-.025-.405L8.969 4h-.01A3.485 3.485 0 0 0 5.5 1Zm0 1.5a2.008 2.008 0 0 1 2 2V5h-4v-.5a2.044 2.044 0 0 1 .238-.925c.026-.048.05-.098.079-.144.03-.049.065-.093.1-.138a1.964 1.964 0 0 1 .23-.255c.057-.053.117-.103.18-.15.035-.024.07-.05.105-.073.07-.044.143-.082.219-.118.036-.017.07-.036.107-.05a1.98 1.98 0 0 1 .253-.079c.036-.009.07-.022.108-.029.123-.024.25-.039.381-.039Z"/></svg>';
$lockicon-black: '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" fill="black" class="lock-search"><path d="M5.5 1a3.485 3.485 0 0 0-3.46 3h-.01l-.006.095A3.563 3.563 0 0 0 2 4.5V5c-.552 0-1 .45-1 1v5.5c0 .55.448 1 1 1h7c.552 0 1-.45 1-1V6c0-.55-.448-1-1-1v-.5c0-.138-.01-.272-.025-.405L8.969 4h-.01A3.485 3.485 0 0 0 5.5 1Zm0 1.5a2.008 2.008 0 0 1 2 2V5h-4v-.5a2.044 2.044 0 0 1 .238-.925c.026-.048.05-.098.079-.144.03-.049.065-.093.1-.138a1.964 1.964 0 0 1 .23-.255c.057-.053.117-.103.18-.15.035-.024.07-.05.105-.073.07-.044.143-.082.219-.118.036-.017.07-.036.107-.05a1.98 1.98 0 0 1 .253-.079c.036-.009.07-.022.108-.029.123-.024.25-.039.381-.039Z"/></svg>';

.inner-menu .nav-link.secure::after {
  content: url("data:image/svg+xml;utf8,#{$lockicon}");
}

.navbar-light .navbar-nav .nav-link.secure::after {
  content: url("data:image/svg+xml;utf8,#{$lockicon-black}");
}

.navbar-dark .navbar-nav .nav-link.secure::after {
  content: url("data:image/svg+xml;utf8,#{$lockicon-white}");
}
