.sticky-menu {
  // NOTE: sticky-menu must appear inside sticky-sidebar, and all inner divs
  // sticky-sidebar and sticky-menu must have height: 100% (i.e. class h-100)
  // for the stickiness to take effect on scroll.

  &.is-stuck {
    position: sticky;
    top: 0; // overridden by inline styles from sticky-menu.js
    padding-top: 20px;
  }

  &__collapsed-trigger {
    display: none;
  }

  &__label {
    @extend .h3;

    color: $maroon;
    padding-left: 2rem;
    font-size: 3.2rem;
    display: block;
    border-bottom: 2px solid $menu-line-grey;
    margin-bottom: 2.5rem;
    padding-bottom: 0.8rem;

    &:hover {
      color: $maroon;
      text-decoration: none;
    }
  }

  &__link {
    border-left: 6px solid transparent;
    transition: border-left 300ms ease-out;

    &.is-active {
      border-left-color: $gold;
    }
  }

  @include media-breakpoint-up(lg) {
    &__collapsed-trigger {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 3rem;

    &__collapsed-target {
      background: $light-light-ivory;
      padding: 0 2rem 1.5rem;
    }

    &__collapsed-trigger {
      display: block;
      background-color: $light-warm-ivory;

      &[aria-expanded="false"] {
        .close-icon {
          display: none;
        }

        + .sticky-menu__collapsed-target {
          display: none;
        }
      }

      &[aria-expanded="true"] {
        background: $light-light-ivory;

        .open-icon {
          display: none;
        }

        + .sticky-menu__collapsed-target {
          display: block;
        }
      }
    }

    &__label {
      margin: 0 0 1.5rem;
      padding: 1rem 0;
      font-size: 2rem;
    }
  }
}

// Fix for EE menu Dropdowns
.accordion {
  &#block-executiveedcation-menu-link {
    .card {
      overflow: visible;
    }
  }
}
