.carlson-nav {
    border-bottom: 1px solid $menu-line-grey;
    min-height: 110px;
    background: $white;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
        margin: auto;
        min-height: 75px;
    }


.overlay {
    background: none;
}

.btn-close {
    top: 145px;
    right: 4px;
    background: $white;
    box-shadow: none;
    width: 70px;
    height: 82px;
    border-radius: 0px;
    text-align: center;
    animation: none;
    transition: none;
    z-index: 35;
    display: block;
    visibility: visible!important;
    opacity: 1!important;

    &.sticky {
        top: 13px;
    }

    @include media-breakpoint-up(sm) {
        top: 88px;
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &:before,
    &:after {
        background-color: $hamburger-grey;
        top: 37%;
        margin-left: -14px;
        width: 30px;
    }

    label {
        @include font-sans-serif-base();
        font-size: 1.2rem;
        color: $maroon;
        margin-top: 49px;
    }
}
}





#carlson-navbar {
  z-index: 35;
  border-bottom: 1px solid $menu-line-grey;
  min-height: 110px;
  background: $white;
  @include media-breakpoint-up(xl) {
      max-width: 100%;
      margin: auto;
      min-height: 75px;
  }
  .navbar {
    #carlson-navbar--brand {
      padding: 0;
      margin: 0;
      margin-top: 25px;
      max-width: 260px;
      float: inherit;
      width: 260px;
      height: auto;

      @include media-breakpoint-up(lg) {
          margin-top: 10px;
          max-width: 223px;
          width: 223px;
      }
    }
    .carlson--navbar-driven {
      background-image: url('https://carlsonschool.umn.edu/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/images/svg/driven-logo.svg');
	    background-size: cover;
      background-repeat: no-repeat;
      max-width : 70px;
      max-height : 16px;
      display: block;
      visibility: visible;
      margin-left: 10px;
      margin-top : 5px;
      @include media-breakpoint-up(xl) {
        margin-top: 12px;
        margin-left : 0px;
        max-width: 70px;
        max-height: 16px;
      }
        .carlson--navbar-driven-text {
          display : block;
          overflow : hidden;
          text-indent: 300vw;
        }
      }
    .navbar-nav {
      margin-top : 12px;
      flex-wrap: wrap;
      > .nav-item {
        border-radius : 6px !important;
          &:hover, &:focus {
            background-color : $white;
            > a {
              color : $maroon;
            }
          }
          a {
            font-size : 1.4rem;
            white-space: nowrap;
            padding: 0.5rem 1rem;
            &:hover, &:focus {
              text-decoration: underline;
            }
          }
          @include media-breakpoint-up(xl) {
            margin-left : 1rem;
            &:first-child {
              margin-left : 0rem;
            }
          }
        > .nav-link {
          border-radius : 6px !important;
          padding : 4px 10px;
          text-transform: uppercase;
          color : $menu-grey;
        }
        .dropdown-menu {
          border : 0px;
          border-radius : 0px;
          -webkit-box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
          box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
          background-color : $white;
          @include media-breakpoint-up(xl) {
            padding : 0px;
            margin : 0px;
            a {
              font-size : 1.575rem;
            }
          }
        }
        > .dropdown-menu /* second-level */ {

        }
      }
      .dropdown-submenu.show {
        border-bottom : 1px solid $dark-gray;
        @include media-breakpoint-up(xl) {
          border-bottom : 0px;
        }
      }
      .dropdown-item {
          background-color : $white;
          padding: 0.8rem 0.8rem;
          &:hover, &:focus {
            background-color : $ivory;
            //color : $menu-grey;
          }
      }
    }
  }
  /*active states*/
  .nav-item.dropdown.active {
    > a.nav-link {
      color : $maroon;
      &:hover, &:focus {
        background-color : $white;
        color : $maroon;
      }
    }

  }
  .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu a {
    padding-left : 30px;
    @include media-breakpoint-up(xl) {
      padding-left : 15px;
    }
  }
  .dropdown-submenu.active {
    > a.dropdown-item {
      background-color : $maroon;
      color : $white;
      &.dropdown-toggle::after {
        color : $white;
      }
      &:hover, &:focus {
        background-color : $ivory;
        color: $body-color;
        &.dropdown-toggle::after {
          color : $menu-grey;
        }
      }
    }
  }
  .dropdown-submenu {
    > a.dropdown-item {
      &:hover, &:focus, &:active {
        color: $body-color;
      }
    }
  }
  .carlson-navbar--endlink.active {
    > a.dropdown-item {
      background-color : $maroon;
      color : $white;
      &:hover, &:focus {
        background-color : $header-gray;
      }
    }
  }
  .dropright.show .dropdown-toggle.active-dropdown::after {
    transform: rotate(90deg);
    @include media-breakpoint-up(xl) {
      -moz-transform: rotate(0deg) translateX(15px);
      -webkit-transform: rotate(0deg) translateX(15px);
      -o-transform: rotate(0deg) translateX(15px);
      -ms-transform: rotate(0deg) translateX(15px);
      transform: rotate(0deg) translateX(15px);
    }
  }
}




@include media-breakpoint-up(xl) {
  .carlson-navbar--animate {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  @keyframes slideIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(-1rem);
      -webkit-opacity: 0;
    }
  }

  .carlson-navbar--slide {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
}

.navbar-light .navbar-nav .nav-link.dropdown-dark{
  color: #212529;
}

/* navbar end */
