.sticky-menu {
  position: relative;
  &__label {
    @extend .h3;
    color: $black;
    padding-left: 1.5rem;
    display: inline-block;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  &__sub-menu {
    .sticky-menu {
      &__link {
        &.active {
          border-left-width: 4px !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &:after {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: map-get($theme-colors, "primary");
    }
  }
}

//.sticky-menu {
//	margin-bottom: 25px;
//	margin-top: 10px;
//
//	&.freeze {
//		position: fixed!important;
//		height: 600px;
//		overflow: auto;
//	}
//
//	a {
//		&:hover, &:focus {
//			text-decoration: none!important;
//		}
//	}
//
//	&__label {
//		@include menu-sub-font();
//		font-weight: bold;
//		color: $maroon!important;
//		font-size: 1.8rem;
//		line-height : 110%;
//		width: 100%;
//		display: inline-block;
//		border-top: 1px solid $warm-gray;
//		border-bottom: 1px solid $warm-gray;
//		padding : 10px 0;
//		min-height : 65px;
//		@include media-breakpoint-up(lg) {
//			@include font-newsreader-base();
//			font-size: 3rem;
//			border-top: none;
//			border-bottom: 2px solid $gold;
//			letter-spacing: 0;
//			text-transform: none;
//			font-weight: normal;
//			padding: 0 0 10px 0;
//			margin-bottom : 10px;
//			max-width: 260px;
//		}
//
//		&:before {
//			@include carlson-icons($icon-plus);
//            color: $dark-gray;
//			font-size: 2.5rem;
//
//			@include media-breakpoint-up(lg) {
//                display: none;
//            }
//		}
//
//		&--inside {
//			word-wrap: break-word;
//			white-space: normal;
//			padding-left: 25px;
//			padding-top: 0;
//			display: inline-block;
//			max-width: 100%;
//			margin-top: 9px;
//			position: absolute;
//
//			@include media-breakpoint-up(lg) {
//				padding: 0;
//				position: relative;
//			}
//		}
//
//		&--opened {
//			&:before {
//				@include carlson-icons($icon-minus);
//			}
//		}
//
//		&--single {
//			@include font-sans-serif-base();
//			text-transform: uppercase;
//			letter-spacing: 1.5px;
//		}
//	}
//
//	&__nav {
//		list-style-type: none;
//		padding: 0;
//		transition: opacity .5s;
//		max-width: 90%;
//		margin-left: auto;
//		margin-right: auto;
//
//		@include media-breakpoint-up(lg) {
//			max-width: 100%;
//		}
//
//		&--closed {
//			display: none;
//			opacity: 0;
//
//			@include media-breakpoint-up(lg) {
//				display: block;
//				opacity: 1;
//            }
//		}
//
//		&--opened {
//			display: block;
//			opacity: 1;
//		}
//	}
//
//	&__item {
//		width: 100%;
//		@include font-sans-serif-base();
//		font-weight: normal;
//		line-height : 130%;
//		border-bottom: 1px solid $warm-gray;
//
//		cursor: pointer;
//
//		@include media-breakpoint-up(lg) {
//			border-bottom: none;
//		}
//
//		a {
//			padding: 10px 5px;
//			color: $slate;
//			word-wrap: break-word;
//			white-space: normal;
//			display: inline-table;
//			max-width: 100%;
//			text-decoration: none;
//			max-width: 260px;
//			width: 100%;
//			&:hover, &:focus {
//				color : $maroon;
//				font-weight: bold;
//				text-decoration : underline;
//				background: $lightergray;
//			}
//		}
//
//		&:before {
//			color: $maroon;
//			position: absolute;
//			font-size: 1rem;
//			right: 0;
//			margin-right: 45px;
//			margin-top : 2px;
//			@include media-breakpoint-up(sm) {
//				margin-right: 7%;
//			}
//
//			@include media-breakpoint-up(lg) {
//				margin: 0;
//				padding: 0;
//				left: 0;
//				right: inherit;
//				position: relative;
//				padding-right: 5px;
//				top: -2px;
//			}
//		}
//
//		&--active-trail {
//			font-weight: bold;
//			a.is-active {
//				border-left: 4px solid $gold;
//				padding-left: 5px;
//			}
//
//
//			&:before {
//
//				@include media-breakpoint-up(lg) {
//				}
//			}
//		}
//
//		&--extra {
//			.is-active {
//				display: none;
//			}
//			@include media-breakpoint-up(lg) {
//				display: none;
//			}
//		}
//
//		&--has-submenu {
//			.subnav {
//				display: none;
//				list-style-type: none;
//				padding: 0;
//				width: 100%;
//
//				@include media-breakpoint-up(lg) {
//					width: calc(100% - 15px);
//					line-height: 2rem;
//					margin-left: 15px;
//				}
//
//				&--opened {
//					display: inline-block;
//					@include media-breakpoint-up(lg) {
//						margin-top: 10px;
//					}
//				}
//
//				.sticky-menu__item {
//
//					text-transform: none;
//					letter-spacing: 0;
//
//					@include media-breakpoint-up(lg) {
//						line-height: 2rem;
//					}
//				}
//			}
//		}
//
//		&:last-child {
//			border-bottom: none;
//		}
//	}
//
//	&__additional {
//		max-width: 260px;
//		.additional-divider {
//			color: $light-gray;
//			max-width: 180px;
//		}
//		a {
//			&::after {
//				@include carlson-icons($icon-external-link);
//				padding-left: 5px;
//    			font-size: 1.2rem;
//			}
//			&:hover, &:focus {
//				color: $gold;
//			}
//		}
//	}
//
//}

.inner_nav {
	.block {
		width: 100%;
		> label {
			@include sr-only();
		}
		.nav {
			justify-content: center;
			width: 100%;
			@include media-breakpoint-up(lg){
				//border-bottom: 1px solid $warm-gray;
			}
			.nav-item {
				width: 100%;
				position:relative;
				border-top:1px solid transparent;

				@include media-breakpoint-up(lg){
					//flex: 1 1;
          width: auto;
				}
				.nav-link {
					padding: 1.5rem 3rem;
					text-transform: uppercase;
					color: $primary;
					//font-size: 1.3rem;
					//line-height: 1.6rem;
					letter-spacing: 0.08em;
					border-top: 1px solid $warm-gray;
					@include media-breakpoint-up(lg){
						padding: 3rem 4rem;
						height: 100%;
						text-align: center;
						border-top-width: 0;
						border-right: 1px solid $primary;
					}
					&:hover, &:focus {
						color: $maroon;
						background-color: transparent;
					}
				}

				&.menu-item--active-trail {
					.nav-link {
						background-color: $lightergray;
						color: $maroon;
						border-bottom: 3px solid $maroon;
					}
				}
				&:last-child .nav-link {
					border-right-width: 0;
				}
				&.menu-item--expanded {
					> .nav-link {
						//padding-right: 4.8rem;
						&:after {
							position: absolute;
							right: 3rem;
							top: calc(50% - .7rem);
							color: $maroon;
							@include media-breakpoint-up(lg){
								top: calc(50% - 1.4rem);
							}
						}
					}
					.menu {
						list-style-type: none;
						padding-left: 2.8rem;
						.nav-item {
							.nav-link {
								text-transform: none;
								letter-spacing: initial;
								//font-weight: bold;
                font-size: 1.4rem;
                color: $slate;
							}
						}
					}
					@include media-breakpoint-up(lg){
						.menu {
							.nav-item {
								display: none;
							}
						}
						&:hover, &:focus {
							position: relative;
							border-style: solid;
							border-color: $primary;
							border-width: 1px 0 0 0;
							> .nav-link {
								&:after {
									transform: rotate(180deg);
								}
							}
							.menu {
								position: absolute;
								background: $white;
								left: -1px;
								width: calc(100% + 1px);
								z-index: 1;
								padding-left: 0;
								border-style: solid;
								border-color: $primary;
								border-width: 0 1px 1px 1px;
								padding: 0 2.8rem;
								.nav-item {
									display: inline-block;
									width: 100%;
									border-top: 1px solid $warm-gray;
									.nav-link {
										width: 100%;
										display: inline-block;
										padding: 2rem 0;
										border: none;
									}
								}
							}

						}
					}
					&.menu-item--active-trail {
						@include media-breakpoint-up(lg){
							&:hover, &:focus {
								.menu {
									background: $lightergray;
								}
							}
						}
					}
				}
				&:first-child {
					&.menu-item--expanded {
						&:hover, &:focus {
							border-left-width: 1px;
						}
					}
				}
        &:last-child {
          &.menu-item--expanded {
            &:hover, &:focus {
              border-right-width: 1px;
            }
          }
        }
			}
		}
	}
	&--accordion {
		border-bottom: 1px solid $warm-gray;
		@include media-breakpoint-up(lg){
			border-bottom-width: 0;
		}
		.accordion {
			margin-bottom: 0;
			.card {
				.card-header {
					@include media-breakpoint-up(lg){
						display: none;
					}
					.btn-link {
						background: transparent;
						@include bold_link(1.6rem, $maroon);
						line-height: 2rem;
						&:before {
							color: $slate;
							font-size: 2rem;
						}
					}
				}
				.card-body {
					padding: 0 1.25rem;
				}
				.inner {
					background-image: none;
					@include media-breakpoint-up(lg){
						opacity: 1;
						display: block;
					}
				}
			}
		}
	}
}
.menu-title{
	display:none;
}
.node--type-executive-ed-program{
	.menu-title{
			display:block;
	}
}
// Fix for EE menu Dropdowns
.accordion{
	&#block-executiveedcation-menu-link{
		.card{
			overflow:visible;
		}
	}
}

.inner_nav--accordion {
	.accordion {
		.card {
			overflow: visible;
		}
	}
}

