.sticky-menu {
  // NOTE: sticky-menu must appear inside sticky-sidebar, and all inner divs
  // sticky-sidebar and sticky-menu must have height: 100% (i.e. class h-100)
  // for the stickiness to take effect on scroll.

  &.is-stuck {
    position: sticky;
    top: 0; // overridden by inline styles from sticky-menu.js
  }

  &__label {
    @extend .h3;
    color: $maroon;
    padding-left: 2rem;
    font-size: 3.2rem;
    display: block;
    border-bottom: 2px solid $menu-line-grey;
    margin-bottom: 2.5rem;
    padding-bottom: 0.8rem;
    &:hover {
      color: $maroon;
      text-decoration: none;
    }
  }
  &__nav {
    &--closed {
      display: none;
      opacity: 0;
    }
    &--opened {
      display: block;
      opacity: 1;
    }
  }

  &__link {
    border-left: 6px solid transparent;
    transition: border-left 300ms ease-out;

    &.is-active {
      border-left-color: $gold;
    }
  }

  @include media-breakpoint-up(lg) {
    &__label {
      display: block;
    }
    &__nav {
      &--closed {
        @include media-breakpoint-up(lg) {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    &__label {
      &::before {
        @include accordion-icon($icon-plus, $maroon);
        font-weight: bold;
        @include rfs(2rem);
        vertical-align: middle;
        padding-bottom: 0.8rem;
        display: inline-block;
      }
      &:hover,
      &:focus,
      &:active {
        color: $body-color;
      }
      &--opened {
        &::before {
          content: $icon-minus;
        }
      }
    }
  }
}

.inner_nav {
  .block {
    width: 100%;
    > label {
      @include sr-only();
    }
    .nav {
      justify-content: space-between;
      width: 100%;
      @include media-breakpoint-up(lg){
        border-bottom: 1px solid $warm-gray;
      }
      .nav-item {
        width: 100%;
        position:relative;
        border-top:1px solid transparent;
        margin-bottom: 0;

        @include media-breakpoint-up(lg){
          flex: 1 1;
        }
        .nav-link {
          padding: 1.6rem 2.8rem;
          text-transform: uppercase;
          color: $slate;
          font-size: 1.3rem;
          line-height: 1.6rem;
          letter-spacing: 1.39px;
          border-top: 1px solid $warm-gray;
          @include media-breakpoint-up(lg){
            padding: 2.8rem;
            height: 100%;
            text-align: center;
            border-top-width: 0;
            border-right: 1px solid $warm-gray;
          }
          &:hover, &:focus {
            color: $maroon;
            background-color: transparent;
          }
        }

        &.menu-item--active-trail {
          .nav-link {
            background-color: $lightergray;
            color: $maroon;
            border-bottom: 3px solid $maroon;
          }
        }
        &:last-child .nav-link {
          border-right-width: 0;
        }
        &.menu-item--expanded {
          > .nav-link {
            padding-right: 4.8rem;
            &:after {
              position: absolute;
              right: 3rem;
              top: calc(50% - .7rem);
              color: $maroon;
              @include media-breakpoint-up(lg){
                top: calc(50% - 1.4rem);
              }
            }
          }
          .menu {
            list-style-type: none;
            padding-left: 2.8rem;
            .nav-item {
              .nav-link {
                text-transform: none;
                letter-spacing: initial;
                font-weight: bold;
              }
            }
          }
          @include media-breakpoint-up(lg){
            .menu {
              .nav-item {
                display: none;
              }
            }
            &:hover, &:focus {
              position: relative;
              border-style: solid;
              border-color: $warm-gray;
              border-width: 1px 0 0 0;
              > .nav-link {
                &:after {
                  -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
              }
              .menu {
                position: absolute;
                background: $white;
                left: -1px;
                width: calc(100% + 1px);
                z-index: 1;
                padding-left: 0;
                border-style: solid;
                border-color: $warm-gray;
                border-width: 0 1px 1px 1px;
                padding: 0 2.8rem;
                .nav-item {
                  display: inline-block;
                  width: 100%;
                  border-top: 1px solid $warm-gray;
                  .nav-link {
                    width: 100%;
                    display: inline-block;
                    padding: 2rem 0;
                    border: none;
                  }
                }
              }

            }
          }
          &.menu-item--active-trail {
            @include media-breakpoint-up(lg){
              &:hover, &:focus {
                .menu {
                  background: $lightergray;
                }
              }
            }
          }
        }
        &:first-child {
          &.menu-item--expanded {
            &:hover, &:focus {
              border-left-width: 1px;
            }
          }
        }
      }
    }
  }
  &--accordion {
    border-bottom: 1px solid $warm-gray;
    @include media-breakpoint-up(lg){
      border-bottom-width: 0;
    }
    .accordion {
      margin-bottom: 0;
      .card {
        .card-header {
          @include media-breakpoint-up(lg){
            display: none;
          }
          .btn-link {
            background: transparent;
            @include bold_link(1.6rem, $maroon);
            line-height: 2rem;
            &:before {
              color: $slate;
              font-size: 2rem;
            }
          }
        }
        .card-body {
          padding: 0 1.25rem;
        }
        .inner {
          background-image: none;
          @include media-breakpoint-up(lg){
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }
}
.menu-title{
	display:none;
}
.node--type-executive-ed-program{
	.menu-title{
			display:block;
	}
}
// Fix for EE menu Dropdowns
.accordion{
	&#block-executiveedcation-menu-link{
		.card{
			overflow:visible;
		}
	}
}

.inner_nav--accordion {
	.accordion {
		.card {
			overflow: visible;
		}
	}
}

