.page-node-type-alumni-landing-page .space-above-child > div,
.page-node-type-alumni-default-page .space-above-child > div {
  padding-top: 15px !important; }
  @media (min-width: 768px) {
    .page-node-type-alumni-landing-page .space-above-child > div,
    .page-node-type-alumni-default-page .space-above-child > div {
      padding-top: 30px !important; } }

.page-node-type-alumni-landing-page .space-below,
.page-node-type-alumni-default-page .space-below {
  padding-bottom: 10px; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .space-below,
    .page-node-type-alumni-default-page .space-below {
      padding-bottom: 20px; } }

.page-node-type-alumni-landing-page .basic-hero__title-inner,
.page-node-type-alumni-default-page .basic-hero__title-inner {
  padding: 0; }

.page-node-type-alumni-landing-page .alumni-landing-page,
.page-node-type-alumni-landing-page .alumni-default-page,
.page-node-type-alumni-default-page .alumni-landing-page,
.page-node-type-alumni-default-page .alumni-default-page {
  margin-top: 0 !important; }
  .page-node-type-alumni-landing-page .alumni-landing-page .space-above,
  .page-node-type-alumni-landing-page .alumni-default-page .space-above,
  .page-node-type-alumni-default-page .alumni-landing-page .space-above,
  .page-node-type-alumni-default-page .alumni-default-page .space-above {
    padding-top: 10px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .space-above,
      .page-node-type-alumni-landing-page .alumni-default-page .space-above,
      .page-node-type-alumni-default-page .alumni-landing-page .space-above,
      .page-node-type-alumni-default-page .alumni-default-page .space-above {
        padding-top: 20px; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .column__img img,
  .page-node-type-alumni-landing-page .alumni-default-page .column__img img,
  .page-node-type-alumni-default-page .alumni-landing-page .column__img img,
  .page-node-type-alumni-default-page .alumni-default-page .column__img img {
    box-shadow: none; }
  .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns,
  .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns,
  .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns,
  .page-node-type-alumni-default-page .alumni-default-page .fluid-columns {
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns {
        flex-wrap: wrap;
        justify-content: space-between; } }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns-container:not(:last-child),
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns-container:not(:last-child) {
      padding-bottom: 0 !important; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns-container:not(:first-child),
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns-container:not(:first-child) {
      padding-top: 0 !important; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item {
      justify-content: flex-start;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      box-shadow: none; }
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__link,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__link,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__link,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__link {
        margin-top: auto;
        color: #363230;
        letter-spacing: 1.78px;
        text-transform: capitalize; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__img,
        .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__img,
        .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__img,
        .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__img {
          height: 100%; } }
      .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns__item .column__content,
      .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns__item .column__content,
      .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns__item .column__content,
      .page-node-type-alumni-default-page .alumni-default-page .fluid-columns__item .column__content {
        height: 100%;
        display: flex;
        flex-direction: column; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__inner,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__inner {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff; }
    .page-node-type-alumni-landing-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-landing-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-default-page .alumni-landing-page .fluid-columns.gray-bg .fluid-columns__item .column__content,
    .page-node-type-alumni-default-page .alumni-default-page .fluid-columns.gray-bg .fluid-columns__item .column__content {
      padding: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .parallax,
  .page-node-type-alumni-landing-page .alumni-default-page .parallax,
  .page-node-type-alumni-default-page .alumni-landing-page .parallax,
  .page-node-type-alumni-default-page .alumni-default-page .parallax {
    background-attachment: fixed; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .alumni-landing-page .basic-paragraph .narrow,
    .page-node-type-alumni-landing-page .alumni-default-page .basic-paragraph .narrow,
    .page-node-type-alumni-default-page .alumni-landing-page .basic-paragraph .narrow,
    .page-node-type-alumni-default-page .alumni-default-page .basic-paragraph .narrow {
      padding-left: 20%;
      padding-right: 20%; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-landing-page .alumni-default-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-default-page .alumni-landing-page .landing-page__content-components > .container:first-child,
  .page-node-type-alumni-default-page .alumni-default-page .landing-page__content-components > .container:first-child {
    padding-top: 0;
    padding-bottom: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .landing-page__content-components > .container,
  .page-node-type-alumni-landing-page .alumni-default-page .landing-page__content-components > .container,
  .page-node-type-alumni-default-page .alumni-landing-page .landing-page__content-components > .container,
  .page-node-type-alumni-default-page .alumni-default-page .landing-page__content-components > .container {
    padding-top: 30px;
    padding-bottom: 30px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-landing-page .alumni-default-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-default-page .alumni-landing-page .quote-group .slick--skin--carlson-slick,
  .page-node-type-alumni-default-page .alumni-default-page .quote-group .slick--skin--carlson-slick {
    padding-bottom: 0; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-dotted.slick-slider,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-dotted.slick-slider,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-dotted.slick-slider,
  .page-node-type-alumni-default-page .alumni-default-page .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote-flex,
  .page-node-type-alumni-landing-page .alumni-default-page .quote-flex,
  .page-node-type-alumni-default-page .alumni-landing-page .quote-flex,
  .page-node-type-alumni-default-page .alumni-default-page .quote-flex {
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px !important;
    background-image: url("../../images/bg/alumni-hero-bg.png");
    background-color: #fc3;
    background-size: 18%;
    background-position: top left;
    background-repeat: no-repeat; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .quote-flex,
      .page-node-type-alumni-landing-page .alumni-default-page .quote-flex,
      .page-node-type-alumni-default-page .alumni-landing-page .quote-flex,
      .page-node-type-alumni-default-page .alumni-default-page .quote-flex {
        padding: 100px 150px !important; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote__text,
  .page-node-type-alumni-landing-page .alumni-default-page .quote__text,
  .page-node-type-alumni-default-page .alumni-landing-page .quote__text,
  .page-node-type-alumni-default-page .alumni-default-page .quote__text {
    padding: 0;
    border: 0;
    line-height: 2em; }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text p,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text p,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text p,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text p {
      line-height: 165%;
      font-size: 1em; }
      @media (min-width: 992px) {
        .page-node-type-alumni-landing-page .alumni-landing-page .quote__text p,
        .page-node-type-alumni-landing-page .alumni-default-page .quote__text p,
        .page-node-type-alumni-default-page .alumni-landing-page .quote__text p,
        .page-node-type-alumni-default-page .alumni-default-page .quote__text p {
          font-size: 1em; } }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text::before,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text::before,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text::before,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text::before {
      display: none; }
    .page-node-type-alumni-landing-page .alumni-landing-page .quote__text__quotation,
    .page-node-type-alumni-landing-page .alumni-default-page .quote__text__quotation,
    .page-node-type-alumni-default-page .alumni-landing-page .quote__text__quotation,
    .page-node-type-alumni-default-page .alumni-default-page .quote__text__quotation {
      font: 12em/1.08em "Georgia", Times, "Times New Roman", serif;
      height: 10rem;
      color: #efa403;
      text-align: left; }
  .page-node-type-alumni-landing-page .alumni-landing-page .quote__image-bg,
  .page-node-type-alumni-landing-page .alumni-default-page .quote__image-bg,
  .page-node-type-alumni-default-page .alumni-landing-page .quote__image-bg,
  .page-node-type-alumni-default-page .alumni-default-page .quote__image-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .alumni-landing-page .quote__image-bg,
      .page-node-type-alumni-landing-page .alumni-default-page .quote__image-bg,
      .page-node-type-alumni-default-page .alumni-landing-page .quote__image-bg,
      .page-node-type-alumni-default-page .alumni-default-page .quote__image-bg {
        height: 100%; } }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-dots,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-dots,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-dots,
  .page-node-type-alumni-default-page .alumni-default-page .slick-dots {
    padding-left: 200px;
    text-align: left;
    margin-bottom: 100px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-arrow.slick-prev,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-arrow.slick-prev,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-arrow.slick-prev,
  .page-node-type-alumni-default-page .alumni-default-page .slick-arrow.slick-prev {
    margin-left: 20px; }
  .page-node-type-alumni-landing-page .alumni-landing-page .slick-arrow.slick-next,
  .page-node-type-alumni-landing-page .alumni-default-page .slick-arrow.slick-next,
  .page-node-type-alumni-default-page .alumni-landing-page .slick-arrow.slick-next,
  .page-node-type-alumni-default-page .alumni-default-page .slick-arrow.slick-next {
    margin-right: 20px; }

@media (min-width: 992px) {
  .page-node-type-alumni-landing-page .view-event-channels .event-items__item,
  .page-node-type-alumni-default-page .view-event-channels .event-items__item {
    transition: all 0.3s ease-in-out; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item::before,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item::before {
      display: none; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item::after,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item::after {
      display: none; }
    .page-node-type-alumni-landing-page .view-event-channels .event-items__item:hover, .page-node-type-alumni-landing-page .view-event-channels .event-items__item:focus,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item:hover,
    .page-node-type-alumni-default-page .view-event-channels .event-items__item:focus {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .page-node-type-alumni-landing-page .view-event-channels .event-items__item:hover::after, .page-node-type-alumni-landing-page .view-event-channels .event-items__item:focus::after,
      .page-node-type-alumni-default-page .view-event-channels .event-items__item:hover::after,
      .page-node-type-alumni-default-page .view-event-channels .event-items__item:focus::after {
        background: #fc3;
        border: solid 1px #fc3; } }

.page-node-type-alumni-landing-page .view-display-id-block_14,
.page-node-type-alumni-default-page .view-display-id-block_14 {
  margin: 0 !important; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .view-display-id-block_14 .view-content,
    .page-node-type-alumni-default-page .view-display-id-block_14 .view-content {
      justify-content: center; }
    .page-node-type-alumni-landing-page .view-display-id-block_14 .event-items__item--row,
    .page-node-type-alumni-default-page .view-display-id-block_14 .event-items__item--row {
      flex: 0 0 100%; }
    .page-node-type-alumni-landing-page .view-display-id-block_14 .form-actions,
    .page-node-type-alumni-default-page .view-display-id-block_14 .form-actions {
      margin-left: auto;
      margin-right: auto; } }

.page-node-type-alumni-landing-page .event-items__item,
.page-node-type-alumni-default-page .event-items__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px #e6d8d6;
  display: flex;
  flex-wrap: nowrap; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .event-items__item,
    .page-node-type-alumni-default-page .event-items__item {
      padding-right: 0 !important; } }
  .page-node-type-alumni-landing-page .event-items__item--row,
  .page-node-type-alumni-default-page .event-items__item--row {
    padding-top: 10px;
    padding-bottom: 10px; }
    .page-node-type-alumni-landing-page .event-items__item--row .featured,
    .page-node-type-alumni-default-page .event-items__item--row .featured {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: capitalize; }
  .page-node-type-alumni-landing-page .event-items__item--featured, .page-node-type-alumni-landing-page .event-items__item--location,
  .page-node-type-alumni-default-page .event-items__item--featured,
  .page-node-type-alumni-default-page .event-items__item--location {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px; }
  .page-node-type-alumni-landing-page .event-items__item.node--sticky,
  .page-node-type-alumni-default-page .event-items__item.node--sticky {
    border-top: solid 8px #fc3;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .event-items__item.node--sticky,
      .page-node-type-alumni-default-page .event-items__item.node--sticky {
        border-top: solid 1px #e6d8d6;
        border-left: solid 8px #fc3;
        padding-left: 0;
        padding-right: 0; } }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page .event-items__item .remove-left-gold-margin,
    .page-node-type-alumni-default-page .event-items__item .remove-left-gold-margin {
      margin-left: -8px; } }
  .page-node-type-alumni-landing-page .event-items__item .event-content,
  .page-node-type-alumni-default-page .event-items__item .event-content {
    margin-left: 15px; }
    @media (min-width: 992px) {
      .page-node-type-alumni-landing-page .event-items__item .event-content,
      .page-node-type-alumni-default-page .event-items__item .event-content {
        margin-left: 0; } }
  .page-node-type-alumni-landing-page .event-items__item--date,
  .page-node-type-alumni-default-page .event-items__item--date {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #7a0019;
    text-transform: capitalize; }
  .page-node-type-alumni-landing-page .event-items__item .date-cal,
  .page-node-type-alumni-default-page .event-items__item .date-cal {
    margin: 0 15px; }
    .page-node-type-alumni-landing-page .event-items__item .date-cal__item--day,
    .page-node-type-alumni-default-page .event-items__item .date-cal__item--day {
      line-height: 6rem; }
    .page-node-type-alumni-landing-page .event-items__item .date-cal__item--month,
    .page-node-type-alumni-default-page .event-items__item .date-cal__item--month {
      color: #363230; }
      .page-node-type-alumni-landing-page .event-items__item .date-cal__item--month::after,
      .page-node-type-alumni-default-page .event-items__item .date-cal__item--month::after {
        margin-left: 20px;
        margin-right: 20px; }
  @media (max-width: 991.98px) {
    .page-node-type-alumni-landing-page .event-items__item--image,
    .page-node-type-alumni-default-page .event-items__item--image {
      margin-top: 10px;
      margin-bottom: 15px;
      width: 100%; } }
  .page-node-type-alumni-landing-page .event-items__item--title,
  .page-node-type-alumni-default-page .event-items__item--title {
    font-size: 1.6em; }
  .page-node-type-alumni-landing-page .event-items__item--desc,
  .page-node-type-alumni-default-page .event-items__item--desc {
    max-width: 75ch; }
  .page-node-type-alumni-landing-page .event-items__item a,
  .page-node-type-alumni-default-page .event-items__item a {
    padding-top: 1rem;
    display: block;
    width: 100%;
    height: 100%; }
    .page-node-type-alumni-landing-page .event-items__item a h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a h4.event-items__item--title {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      line-height: 150%;
      font-size: 2.4rem;
      font-weight: 700;
      color: #333;
      cursor: default; }
    .page-node-type-alumni-landing-page .event-items__item a:hover h4.event-items__item--title, .page-node-type-alumni-landing-page .event-items__item a:focus h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a:hover h4.event-items__item--title,
    .page-node-type-alumni-default-page .event-items__item a:focus h4.event-items__item--title {
      text-decoration: none; }
    .page-node-type-alumni-landing-page .event-items__item a span.event-items__item--link,
    .page-node-type-alumni-default-page .event-items__item a span.event-items__item--link {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: capitalize; }

.page-node-type-alumni-landing-page .event-items__details,
.page-node-type-alumni-default-page .event-items__details {
  width: 100%;
  display: block; }

.page-node-type-alumni-landing-page h4,
.page-node-type-alumni-default-page h4 {
  font-size: 2.4rem;
  line-height: 170%; }

.page-node-type-alumni-landing-page a.gold-solid-button,
.page-node-type-alumni-default-page a.gold-solid-button {
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .page-node-type-alumni-landing-page a.gold-solid-button,
    .page-node-type-alumni-default-page a.gold-solid-button {
      margin-top: 0;
      margin-bottom: 0; } }

/*# sourceMappingURL=alumni-landing-page.css.map */