.history-view .centennial h1 {
  font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #7a0019;
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: 0.88px;
  line-height: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem; }
  .history-view .centennial h1 + h2 {
    margin-top: -2.5rem;
    margin-bottom: 3rem; }

.history-view .centennial h2 {
  font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #fc3;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.83px;
  line-height: 3.8rem;
  text-transform: uppercase;
  text-align: center; }

.history-view .centennial h3 {
  font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #cc2027;
  font-size: 2rem;
  letter-spacing: 0.83px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 3rem; }

.history-view .centennial__home--headline, .history-view .centennial__about--headline, .history-view .centennial__events--headline, .history-view .centennial__timeline--headline, .history-view .centennial__news--headline {
  border-bottom: 0; }

.history-view .centennial__home--content, .history-view .centennial__about--content, .history-view .centennial__events--content, .history-view .centennial__timeline--content, .history-view .centennial__news--content {
  padding: 60px 0; }

.history-view .centennial__home--hero-left {
  padding-right: 0; }

.history-view .centennial__home--hero-middle {
  text-align: center;
  background-color: #fec057;
  margin-bottom: -10px;
  display: flex; }
  @media (min-width: 576px) {
    .history-view .centennial__home--hero-middle {
      margin-bottom: -20px; } }
  @media (min-width: 992px) {
    .history-view .centennial__home--hero-middle {
      margin-bottom: -30px; } }
  .history-view .centennial__home--hero-middle img {
    margin: auto;
    max-height: 100px; }
    @media (min-width: 576px) {
      .history-view .centennial__home--hero-middle img {
        max-height: 150px; } }
    @media (min-width: 768px) {
      .history-view .centennial__home--hero-middle img {
        max-height: 200px; } }
    @media (min-width: 992px) {
      .history-view .centennial__home--hero-middle img {
        max-height: 300px; } }

.history-view .centennial__home--hero-right {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  place-content: center center; }
  .history-view .centennial__home--hero-right > * {
    flex: 0 0 auto; }
  .history-view .centennial__home--hero-right h2 {
    color: #7a0019;
    font-weight: 600;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.4rem; }
    @media (min-width: 576px) {
      .history-view .centennial__home--hero-right h2 {
        font-size: 1.7rem;
        line-height: 2.2rem; } }
    @media (min-width: 768px) {
      .history-view .centennial__home--hero-right h2 {
        font-size: 2.5rem;
        line-height: 3.2rem; } }
    @media (min-width: 992px) {
      .history-view .centennial__home--hero-right h2 {
        font-size: 3.2rem;
        line-height: 4rem; } }
    @media (min-width: 1200px) {
      .history-view .centennial__home--hero-right h2 {
        font-size: 3.8rem;
        line-height: 4.2rem; } }
    .history-view .centennial__home--hero-right h2 .subtitle {
      color: #cc2027;
      font-weight: 300;
      font-size: 1.2rem; }
      @media (min-width: 576px) {
        .history-view .centennial__home--hero-right h2 .subtitle {
          font-size: 2.1rem; } }
      @media (min-width: 768px) {
        .history-view .centennial__home--hero-right h2 .subtitle {
          font-size: 3rem; } }
      @media (min-width: 992px) {
        .history-view .centennial__home--hero-right h2 .subtitle {
          font-size: 4rem; } }
      @media (min-width: 1200px) {
        .history-view .centennial__home--hero-right h2 .subtitle {
          font-size: 4.2rem; } }

.history-view .centennial__timeline--headline {
  margin-bottom: 0; }
  .history-view .centennial__timeline--headline h1 {
    display: none; }
  .history-view .centennial__timeline--headline img {
    width: 100%;
    height: 100%; }

.history-view .centennial__timeline--content h1 {
  text-align: left; }

.history-view .centennial__timeline--nav {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1.39px;
  background: #fff; }
  @media (min-width: 768px) {
    .history-view .centennial__timeline--nav {
      overflow: visible;
      white-space: normal;
      overflow-x: visible;
      height: auto;
      display: flex;
      justify-content: center;
      flex-flow: wrap; } }
  .history-view .centennial__timeline--nav-container {
    background: #fff;
    position: relative;
    display: inline-block;
    height: 60px;
    width: calc(100% - 187px);
    overflow: visible;
    margin: 30px 0; }
    .history-view .centennial__timeline--nav-container::after {
      font-family: "carlson-icons" !important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e921";
      color: #7a0019;
      font-size: 2rem;
      right: 2rem;
      top: 2rem;
      position: absolute; }
      @media (min-width: 768px) {
        .history-view .centennial__timeline--nav-container::after {
          display: none; } }
    .history-view .centennial__timeline--nav-container.choose-year {
      height: 400px;
      z-index: 99999;
      box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.1); }
      @media (min-width: 768px) {
        .history-view .centennial__timeline--nav-container.choose-year {
          height: 60px;
          overflow-y: hidden;
          z-index: inherit; } }
      .history-view .centennial__timeline--nav-container.choose-year::after {
        display: none; }
      .history-view .centennial__timeline--nav-container.choose-year .centennial__timeline--nav {
        height: 100%;
        overflow: auto; }
  .history-view .centennial__timeline--nav-item, .history-view .centennial__timeline--nav-anchor, .history-view .centennial__timeline--nav-logo {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 60px; }
  .history-view .centennial__timeline--nav-logo {
    width: 183px; }
    .history-view .centennial__timeline--nav-logo img {
      vertical-align: top; }
  .history-view .centennial__timeline--nav-item {
    text-align: center;
    width: 100%; }
    @media (min-width: 768px) {
      .history-view .centennial__timeline--nav-item {
        width: 100px; } }
    .history-view .centennial__timeline--nav-item-anchor {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-size: 13px;
      color: #363230;
      margin: 0 auto;
      width: 90%;
      display: inline-block;
      height: 60px; }
      @media (min-width: 768px) {
        .history-view .centennial__timeline--nav-item-anchor {
          width: 72px; } }
      .history-view .centennial__timeline--nav-item-anchor.active-anchor {
        border-bottom: 6px solid #fc3; }
      .history-view .centennial__timeline--nav-item-anchor:hover, .history-view .centennial__timeline--nav-item-anchor:focus {
        text-decoration: none;
        border-bottom: 6px solid #eaecef; }
    .history-view .centennial__timeline--nav-item::before {
      display: none; }
  .history-view .centennial__timeline--nav-wrapper {
    height: 60px;
    background: #fff; }

.history-view .centennial__timeline--story-group {
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0; }
  .history-view .centennial__timeline--story-group:first-child {
    margin-top: 20px; }
  .history-view .centennial__timeline--story-group--label {
    background-color: #7a0019;
    color: #fff;
    text-align: left;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    letter-spacing: 0.88px;
    font-size: 2.8rem;
    text-transform: none;
    line-height: 3.8rem;
    font-weight: 700;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .history-view .centennial__timeline--story-group--label::before {
      display: none; }
    @media (min-width: 768px) {
      .history-view .centennial__timeline--story-group--label {
        font-size: 2.5rem; } }
  .history-view .centennial__timeline--story-group--title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 2rem 3rem; }
    .history-view .centennial__timeline--story-group--title h2 {
      flex: 0 0 auto;
      text-align: left;
      color: #212529;
      font-weight: 600;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      letter-spacing: 0.83px;
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 2.8rem;
      margin-bottom: 0; }
  .history-view .centennial__timeline--story-group--image {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 200px; }
    @media (min-width: 992px) {
      .history-view .centennial__timeline--story-group--image {
        min-height: 350px; } }
  .history-view .centennial__timeline--story-group--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px; }
    .history-view .centennial__timeline--story-group--content > * {
      flex: 0 0 auto; }
  .history-view .centennial__timeline--story-group-wrapper {
    padding-top: 60px; }
    .history-view .centennial__timeline--story-group-wrapper:last-child {
      padding-bottom: 60px; }

.history-view .centennial__timeline--stories {
  padding-top: 20px;
  min-height: 224px; }

.history-view .centennial__timeline--story {
  padding-top: 30px; }
  .history-view .centennial__timeline--story-year {
    font-size: 28px;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: #7a0019;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .history-view .centennial__timeline--story-year {
        max-width: 100px;
        margin-bottom: 0; } }
  .history-view .centennial__timeline--story-image {
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .history-view .centennial__timeline--story-image {
        max-width: 213px;
        margin-bottom: 0; } }
  .history-view .centennial__timeline--story h3 {
    text-transform: uppercase;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #363230;
    margin-top: 0; }

.history-view .centennial__events--hero, .history-view .centennial__about--hero, .history-view .centennial__news--hero {
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.2);
  margin: 0; }
  .history-view .centennial__events--hero h1, .history-view .centennial__about--hero h1, .history-view .centennial__news--hero h1 {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    color: #7a0019;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.2rem; }
    @media (min-width: 992px) {
      .history-view .centennial__events--hero h1, .history-view .centennial__about--hero h1, .history-view .centennial__news--hero h1 {
        font-size: 2.8rem;
        line-height: 3.2rem; } }
    .history-view .centennial__events--hero h1 .subtitle, .history-view .centennial__about--hero h1 .subtitle, .history-view .centennial__news--hero h1 .subtitle {
      color: #cc2027;
      letter-spacing: 0.83px;
      font-weight: 300;
      display: block; }
      @media (min-width: 992px) {
        .history-view .centennial__events--hero h1 .subtitle, .history-view .centennial__about--hero h1 .subtitle, .history-view .centennial__news--hero h1 .subtitle {
          font-size: 2rem; } }
  .history-view .centennial__events--hero h2, .history-view .centennial__about--hero h2, .history-view .centennial__news--hero h2 {
    color: #cc2027;
    letter-spacing: 0.83px;
    font-weight: 300;
    text-align: left;
    line-height: 2.2rem;
    margin-bottom: 1rem !important; }
    @media (min-width: 992px) {
      .history-view .centennial__events--hero h2, .history-view .centennial__about--hero h2, .history-view .centennial__news--hero h2 {
        font-size: 2rem; } }
  .history-view .centennial__events--hero-image-100, .history-view .centennial__about--hero-image-100, .history-view .centennial__news--hero-image-100 {
    text-align: center;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    .history-view .centennial__events--hero-image-100 img, .history-view .centennial__about--hero-image-100 img, .history-view .centennial__news--hero-image-100 img {
      flex: 0 0 auto;
      margin: auto;
      max-height: 100px; }
      @media (min-width: 576px) {
        .history-view .centennial__events--hero-image-100 img, .history-view .centennial__about--hero-image-100 img, .history-view .centennial__news--hero-image-100 img {
          max-height: 150px; } }
      @media (min-width: 768px) {
        .history-view .centennial__events--hero-image-100 img, .history-view .centennial__about--hero-image-100 img, .history-view .centennial__news--hero-image-100 img {
          max-height: 200px; } }
      @media (min-width: 992px) {
        .history-view .centennial__events--hero-image-100 img, .history-view .centennial__about--hero-image-100 img, .history-view .centennial__news--hero-image-100 img {
          max-height: 300px; } }
  .history-view .centennial__events--hero-image, .history-view .centennial__about--hero-image, .history-view .centennial__news--hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0; }
    @media (min-width: 992px) {
      .history-view .centennial__events--hero-image, .history-view .centennial__about--hero-image, .history-view .centennial__news--hero-image {
        padding: 0 15px; } }
    .history-view .centennial__events--hero-image img, .history-view .centennial__about--hero-image img, .history-view .centennial__news--hero-image img {
      width: 100%; }
      @media (min-width: 992px) {
        .history-view .centennial__events--hero-image img, .history-view .centennial__about--hero-image img, .history-view .centennial__news--hero-image img {
          display: none; } }

.history-view .centennial__events--headline, .history-view .centennial__about--headline, .history-view .centennial__news--headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 20px;
  margin-bottom: 0;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top; }
  @media (min-width: 992px) {
    .history-view .centennial__events--headline, .history-view .centennial__about--headline, .history-view .centennial__news--headline {
      padding: 55px 55px 45px; } }
  @media (max-width: 991.98px) {
    .history-view .centennial__events--headline, .history-view .centennial__about--headline, .history-view .centennial__news--headline {
      background-image: none !important; } }
  .history-view .centennial__events--headline > *, .history-view .centennial__about--headline > *, .history-view .centennial__news--headline > * {
    flex: 0 0 auto; }

.history-view .centennial__about--headline, .history-view .centennial__events--headline {
  background: url("../images/centennial/swoosh-hero.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom; }

.history-view .centennial__about--hero-image-100 {
  background-color: #fc3; }

.history-view .centennial__about--content h3 {
  font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #7a0019;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem; }
  @media (min-width: 992px) {
    .history-view .centennial__about--content h3 {
      font-size: 2.8rem;
      line-height: 3.2rem; } }

.history-view .centennial__about--pillars {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.history-view .centennial__about--pillar {
  margin: 2rem 0; }
  .history-view .centennial__about--pillar-icon {
    max-width: 14.2rem;
    padding: 0 3rem; }
    .history-view .centennial__about--pillar-icon img {
      max-width: 100%; }
  .history-view .centennial__about--pillar-content--title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0; }

.history-view .centennial__events--hero h1 {
  margin-bottom: 1rem; }

.history-view .centennial__events--hero-image-100 {
  background-color: #7a0019; }

.history-view .centennial__events--content .department-event-block {
  background-color: transparent; }
  .history-view .centennial__events--content .department-event-block .view-content {
    background-color: transparent; }
    .history-view .centennial__events--content .department-event-block .view-content .event-items__item {
      background-color: #fff; }

.history-view .centennial__events--content h2 {
  color: #363230;
  font-family: "Newsreader", serif;
  text-transform: none;
  text-align: left;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    .history-view .centennial__events--content h2 {
      font-size: 4.8rem; } }

.history-view .centennial__news--headline {
  background: #7a0019; }
  .history-view .centennial__news--headline p {
    color: #fff; }

.history-view .centennial__news--hero h1 {
  margin-bottom: 1rem;
  color: #fff; }
  .history-view .centennial__news--hero h1 .subtitle {
    color: #fc3; }

.history-view .centennial__news--content .department-event-block {
  background-color: transparent; }
  .history-view .centennial__news--content .department-event-block .view-content {
    background-color: transparent; }
    .history-view .centennial__news--content .department-event-block .view-content .event-items__item {
      background-color: #fff; }

.history-view .centennial__news--content h2 {
  color: #363230;
  font-family: "Newsreader", serif;
  text-transform: none;
  text-align: left;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    .history-view .centennial__news--content h2 {
      font-size: 4.8rem; } }

.history-view .centennial__nav {
  margin-bottom: -40px;
  text-align: center;
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.1); }
  .history-view .centennial__nav-item {
    border-style: solid;
    border-color: rgba(90, 84, 80, 0.1);
    border-width: 0 0 1px;
    padding: 15px 30px 0;
    background: #fff;
    background-position: bottom;
    transition: all 0.3s ease-in-out; }
    .history-view .centennial__nav-item:last-child {
      border-bottom: 0; }
    @media (min-width: 768px) {
      .history-view .centennial__nav-item {
        border-width: 0 1px 0 0; }
        .history-view .centennial__nav-item:last-child {
          border-right: 0; } }
    .history-view .centennial__nav-item-icon {
      color: #e6d8d6; }
      .history-view .centennial__nav-item-icon.home {
        font-size: 40px;
        padding-bottom: 30px;
        padding-top: 25px; }
      .history-view .centennial__nav-item-icon.about {
        font-size: 80px;
        padding-top: 0;
        padding-bottom: 15px; }
      .history-view .centennial__nav-item-icon.timeline {
        font-size: 65px;
        padding-bottom: 15px;
        padding-top: 15px; }
      .history-view .centennial__nav-item-icon.events {
        font-size: 45px;
        padding-bottom: 30px;
        padding-top: 20px; }
      .history-view .centennial__nav-item-icon.news {
        font-size: 45px;
        padding-bottom: 30px;
        padding-top: 20px; }
    .history-view .centennial__nav-item-title {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.55px;
      line-height: 27px;
      margin-bottom: 10px;
      text-transform: uppercase;
      overflow-wrap: break-word; }
      @media (min-width: 992px) {
        .history-view .centennial__nav-item-title {
          font-size: 18px; } }
      @media (min-width: 1200px) {
        .history-view .centennial__nav-item-title {
          font-size: 24px; } }
    .history-view .centennial__nav-item-content {
      color: #363230;
      padding-bottom: 30px; }
      @media (min-width: 768px) {
        .history-view .centennial__nav-item-content {
          padding-bottom: 130px;
          height: 220px; } }
    .history-view .centennial__nav-item:hover, .history-view .centennial__nav-item:focus {
      margin-top: -20px;
      box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.1);
      z-index: 4;
      background-image: url("../images/centennial/swoosh.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%; }
    .history-view .centennial__nav-item a:focus, .history-view .centennial__nav-item a:hover {
      text-decoration: none; }
      .history-view .centennial__nav-item a:focus .centennial__nav-item-icon, .history-view .centennial__nav-item a:hover .centennial__nav-item-icon {
        color: #cc2027; }
    .history-view .centennial__nav-item.active-nav {
      background-image: url("../images/centennial/swoosh.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%; }
      .history-view .centennial__nav-item.active-nav .centennial__nav-item-icon {
        color: #cc2027; }

.history-view .centennial__floating-nav {
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.1); }
  .history-view .centennial__floating-nav-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 114px;
    z-index: 1; }
    @media (min-width: 768px) {
      .history-view .centennial__floating-nav-wrapper {
        max-height: 87px;
        max-width: 1600px; } }
  .history-view .centennial__floating-nav .centennial__nav-item {
    padding: 1rem;
    text-align: center;
    border-width: 0 1px 0 0; }
    @media (max-width: 415px) {
      .history-view .centennial__floating-nav .centennial__nav-item {
        padding: 1rem 0; } }
    .history-view .centennial__floating-nav .centennial__nav-item a {
      display: inline-block; }
    .history-view .centennial__floating-nav .centennial__nav-item:hover, .history-view .centennial__floating-nav .centennial__nav-item:focus {
      margin-top: 0;
      background-image: none; }
    .history-view .centennial__floating-nav .centennial__nav-item.active-nav {
      background-image: none; }
    .history-view .centennial__floating-nav .centennial__nav-item-icon {
      display: inline-block;
      height: 37px; }
      @media (min-width: 768px) {
        .history-view .centennial__floating-nav .centennial__nav-item-icon {
          height: auto; } }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.home, .history-view .centennial__floating-nav .centennial__nav-item-icon.about, .history-view .centennial__floating-nav .centennial__nav-item-icon.timeline, .history-view .centennial__floating-nav .centennial__nav-item-icon.events, .history-view .centennial__floating-nav .centennial__nav-item-icon.news {
        padding: 0;
        vertical-align: middle; }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.home {
        font-size: 2.2rem; }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.about {
        font-size: 3.7rem; }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.timeline {
        font-size: 3.2rem; }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.events {
        font-size: 2.9rem; }
      .history-view .centennial__floating-nav .centennial__nav-item-icon.news {
        font-size: 2.9rem; }
    .history-view .centennial__floating-nav .centennial__nav-item-title {
      display: block;
      margin-bottom: 0;
      text-align: center;
      font-size: 1.2rem; }
      @media (max-width: 415px) {
        .history-view .centennial__floating-nav .centennial__nav-item-title {
          font-size: 1rem; } }
      @media (min-width: 768px) {
        .history-view .centennial__floating-nav .centennial__nav-item-title {
          padding-left: 15px;
          text-align: left;
          display: inline-block;
          vertical-align: middle; } }
      @media (min-width: 992px) {
        .history-view .centennial__floating-nav .centennial__nav-item-title {
          font-size: 2rem; } }

.history-view .sticky-wrapper.is-sticky .centennial__timeline--nav-wrapper {
  margin-top: 75px; }

/*# sourceMappingURL=centennial-history.css.map */