.comparison-table__container .remove-float {
  font-weight: 400; }
  .comparison-table__container .remove-float .column-header-button {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #fc3;
    border: 0;
    font-size: 25px;
    line-height: 10px; }
    .comparison-table__container .remove-float .column-header-button i {
      color: #fff; }
    .comparison-table__container .remove-float .column-header-button:hover, .comparison-table__container .remove-float .column-header-button:focus, .comparison-table__container .remove-float .column-header-button:active {
      background: #e6e0d2; }
      .comparison-table__container .remove-float .column-header-button:hover i, .comparison-table__container .remove-float .column-header-button:focus i, .comparison-table__container .remove-float .column-header-button:active i {
        color: #363230; }

.comparison-table {
  table-layout: fixed;
  width: 100%; }
  .comparison-table tr {
    background: #fff; }
  .comparison-table th {
    color: #363230; }
  .comparison-table thead th {
    color: #fff; }
  .comparison-table th,
  .comparison-table td {
    width: 25%;
    white-space: normal; }
  .comparison-table td {
    white-space: normal; }
  .comparison-table__header .no-data {
    background: #7a0019; }
  .comparison-table__header .column-header {
    background: #7a0019; }
    .comparison-table__header .column-header.certificate-degree, .comparison-table__header .column-header.column-no-content {
      background: #7a0019; }
    .comparison-table__header .column-header-text {
      width: 100%;
      font-size: 1.5rem;
      white-space: normal; }
      @media (min-width: 641px) {
        .comparison-table__header .column-header-text {
          font-size: 2rem; } }
      @media (min-width: 992px) {
        .comparison-table__header .column-header-text {
          font-size: 2.5rem; } }
    .comparison-table__header .column-header .remove-float {
      width: 100%;
      font-size: 1.5rem;
      height: 40px; }
      .comparison-table__header .column-header .remove-float span {
        float: right; }
    .comparison-table__header .column-header.column-no-content .remove-float {
      display: none; }
  @media (max-width: 640px) {
    .comparison-table thead th:nth-child(n + 3).column-no-content, .comparison-table thead th:nth-child(n + 4).column-no-content,
    .comparison-table thead td:nth-child(n + 3).column-no-content,
    .comparison-table thead td:nth-child(n + 4).column-no-content {
      display: none; } }
  .comparison-table tbody tr:nth-of-type(odd) {
    background: rgba(230, 216, 214, 0.3); }
    .comparison-table tbody tr:nth-of-type(odd) th,
    .comparison-table tbody tr:nth-of-type(odd) td {
      background: rgba(230, 216, 214, 0.3); }
  .comparison-table tbody tr:nth-of-type(even) {
    background: transparent; }
    .comparison-table tbody tr:nth-of-type(even) th,
    .comparison-table tbody tr:nth-of-type(even) td {
      background: transparent; }
  .comparison-table tbody tr th.comparison-table__category {
    background: #e6e0d2; }
  .comparison-table tbody tr th,
  .comparison-table tbody tr td {
    white-space: normal; }
    @media (max-width: 640px) {
      .comparison-table tbody tr th:nth-child(n + 3).column-no-content, .comparison-table tbody tr th:nth-child(n + 4).column-no-content,
      .comparison-table tbody tr td:nth-child(n + 3).column-no-content,
      .comparison-table tbody tr td:nth-child(n + 4).column-no-content {
        display: none; } }
    .comparison-table tbody tr th .tablesaw-cell-label .remove-float,
    .comparison-table tbody tr td .tablesaw-cell-label .remove-float {
      display: none; }
  @media (max-width: 640px) {
    .comparison-table tbody tr th.comparison-table__category {
      background: #7a0019;
      color: #fff; }
    .comparison-table tbody tr td:nth-of-type(odd) {
      background: rgba(230, 216, 214, 0.3); }
    .comparison-table tbody tr td:nth-of-type(even) {
      background: transparent; } }

.comparison-menu {
  width: 100%; }
  .comparison-menu__header {
    text-align: center;
    font-size: 2rem;
    white-space: normal; }
    @media (min-width: 641px) {
      .comparison-menu__header {
        font-size: 2.5rem; } }
    @media (min-width: 992px) {
      .comparison-menu__header {
        font-size: 3rem; } }
  .comparison-menu__breakline {
    width: 50px;
    border: 1px solid #7a0019; }
  .comparison-menu__ui {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: end; }
  .comparison-menu .comparison-select__fieldset {
    flex-basis: 500px; }
  .comparison-menu__label {
    font-weight: 700; }
  .comparison-menu__add-program #comparison-add {
    margin: 0 20px; }
  @media (min-width: 992px) {
    .comparison-menu.full-table {
      display: none; } }
  .comparison-menu.full-table .comparison-menu__add-program {
    display: none;
    max-width: 500px;
    margin: auto; }
  .comparison-menu .comparison-menu__mobile-header {
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 641px) {
      .comparison-menu .comparison-menu__mobile-header {
        display: none; } }
    .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container {
      width: 100%;
      padding: 10px; }
      .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container:nth-of-type(odd) {
        background: rgba(230, 216, 214, 0.3); }
      .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container:nth-of-type(even) {
        background: transparent; }
      .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container .column-header-text__mobile {
        float: left; }
      .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container .remove-float {
        float: right;
        font-size: 1.5rem; }
    .comparison-menu .comparison-menu__mobile-header .column-header_mobile-container.column-no-content {
      display: none; }

@media (max-width: 640px) {
  .tablesaw-stack th.comparison-table__category {
    text-align: center; } }

@media (max-width: 640px) {
  .tablesaw-stack th.comparison-table__category .tablesaw-cell-label {
    width: 0;
    padding: 0; } }

@media (max-width: 640px) {
  .tablesaw-stack th.comparison-table__category .tablesaw-cell-content {
    width: 100%; } }

.scroll-to-button {
  position: sticky;
  background: #fc3;
  bottom: 0;
  right: 0;
  float: right;
  padding: 20px 20px 30px;
  text-transform: uppercase; }
  .scroll-to-button a {
    font-size: 2rem;
    line-height: 2rem; }
  .scroll-to-button .horizontal-divider {
    font-weight: 100;
    padding: 0 10px; }
  @media (max-width: 991.98px) {
    .scroll-to-button {
      padding: 10px 10px 15px; }
      .scroll-to-button a {
        font-size: 1.5rem;
        line-height: 1; } }

/*# sourceMappingURL=comparison-table.css.map */