.ee-program__top {
  position: relative;
  overflow: hidden; }
  .ee-program__top .hero-program {
    margin-bottom: 0; }
    .ee-program__top .hero-program__img {
      width: 100%; }
      @media (max-width: 991.98px) {
        .ee-program__top .hero-program__img {
          height: 100%; }
          .ee-program__top .hero-program__img > div {
            height: 100%; } }
      .ee-program__top .hero-program__img img {
        padding-top: 50px;
        padding-right: 50px; }
        @media (max-width: 991.98px) {
          .ee-program__top .hero-program__img img {
            padding-right: 0; }
            .ee-program__top .hero-program__img img > div {
              height: 100%; } }
      .ee-program__top .hero-program__img .contextual-region {
        width: 100%; }
        @media (max-width: 991.98px) {
          .ee-program__top .hero-program__img .contextual-region {
            height: 100%; } }
    .ee-program__top .hero-program__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      padding-top: 100px;
      padding: 0; }
      .ee-program__top .hero-program__content .hero-program__title {
        color: #000;
        text-align: left; }
        .ee-program__top .hero-program__content .hero-program__title::after {
          content: none; }
      .ee-program__top .hero-program__content p {
        color: #000; }
      .ee-program__top .hero-program__content h3 {
        color: #fff; }
      .ee-program__top .hero-program__content .ee-program__details p,
      .ee-program__top .hero-program__content .ee-program__details h3 {
        color: #212529; }
    .ee-program__top .hero-program__teaser {
      padding-right: 50px; }
      @media (max-width: 991.98px) {
        .ee-program__top .hero-program__teaser {
          padding-right: 0; } }

.ee-program__details {
  max-width: 500px;
  color: #212529;
  height: fit-content;
  align-self: flex-end;
  margin: auto; }
  .ee-program__details--actions {
    order: 1; }
  .ee-program__details--brochure {
    order: 2; }
  .ee-program__details h3.details-title {
    display: block;
    text-align: left; }
  .ee-program__details .course_details {
    display: flex;
    margin-bottom: 5px; }
    .ee-program__details .course_details label {
      font-weight: 700;
      margin-right: 10px;
      margin-bottom: 0;
      font-size: inherit;
      line-height: inherit;
      text-transform: capitalize;
      letter-spacing: inherit; }
  .ee-program__details .btn {
    display: block;
    width: 100%; }
  .ee-program__details--label {
    font-family: "Newsreader", serif;
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: normal; }

.ee-program__dates .ee-program__date {
  border-bottom: 1px solid #e6d8d6; }
  .ee-program__dates .ee-program__date:last-child {
    border-bottom: 0; }

.ee-program__date .date-cal {
  display: flex;
  margin-bottom: 5px; }

@media (min-width: 992px) {
  .ee-program__date--dates {
    margin-bottom: 0; } }

.ee-program__date--details {
  border-top: 1px solid #e6d8d6;
  padding-top: 3rem; }
  @media (min-width: 992px) {
    .ee-program__date--details {
      border-top: 0;
      border-left: 1px solid #e6d8d6;
      padding-top: 0;
      padding-left: 3.5rem; } }
  .ee-program__date--details--view-only-btn, .ee-program__date--details--action-btn {
    margin: 0.5rem 0; }
  .ee-program__date--details--action-btn.do-show {
    display: inline-block !important; }

.ee-program__date--teaser .date-cal {
  text-transform: uppercase; }
  .ee-program__date--teaser .date-cal__divider {
    margin: 0 0.5rem; }

.ee-program__faculty--title {
  margin-bottom: 3rem; }

.ee-program__bottom {
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem; }
  .ee-program__bottom--item {
    justify-content: flex-start;
    display: flex;
    flex-direction: column; }
    .ee-program__bottom--item .column__link {
      margin-top: auto; }

.ee-program .contact-cta {
  margin-bottom: 0; }

.ee-program__teaser {
  padding: 3rem 0;
  border-bottom: 1px solid #e6d8d6; }
  .ee-program__teaser--title {
    font-family: "Newsreader", serif;
    font-size: 3.4rem;
    line-height: 3.4rem; }
    @media (min-width: 992px) {
      .ee-program__teaser--title {
        font-size: 3.4rem;
        line-height: 3.4rem; } }
    .ee-program__teaser--title a {
      color: #363230; }
      .ee-program__teaser--title a:hover, .ee-program__teaser--title a:focus {
        color: #7a0019; }
  .ee-program__teaser--link {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #7a0019;
    text-transform: uppercase; }

.ee-program__content {
  margin-top: 40px; }
  .ee-program__content .component-paragraph {
    padding: 0 15px;
    margin: 0; }
    .ee-program__content .component-paragraph h2 {
      text-align: left;
      margin-bottom: 25px; }
      .ee-program__content .component-paragraph h2::after {
        content: none; }
  .ee-program__content .ee_contact-cta.contact-cta {
    padding: 0;
    margin: 30px 15px;
    border: 1px solid #7a0019; }
    .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact {
      background: none;
      padding: 25px; }
      .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact--heading {
        margin: 0 0 10px; }
      .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact--subheading {
        margin: 0 0 5px; }
      .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact--person {
        font-weight: 700;
        color: #363230;
        letter-spacing: 1.78px;
        text-transform: uppercase;
        margin: 5px 0 10px; }
      .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact .list-inline {
        margin: 0; }
        .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact .list-inline li {
          display: block;
          margin: 0 0 5px; }
      .ee-program__content .ee_contact-cta.contact-cta .contact-cta__contact .contact-cta__contact--email + .contact-cta__contact--phone::before {
        content: none; }
  .ee-program__content .ee-program_brochure {
    margin: 0 15px; }
    .ee-program__content .ee-program_brochure .btn {
      width: 100%; }

.ee-program .ee-flexible_features .quote-group__wrap .quote__content.bg-default {
  background-color: #e6e0d2 !important; }

.ee-program .ee-flexible_features .video-textbelow__media {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1); }

.ee-program .ee-flexible_features .component-paragraph {
  margin-bottom: 0; }

.ee-program__details-bottom {
  position: relative;
  background-color: #fc3;
  padding: 50px;
  margin: 0 -15px -40px; }
  .ee-program__details-bottom .ee-program__content .ee-program__details--actions {
    display: none; }
  .ee-program__details-bottom .ee-program__actions {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px; }
    .ee-program__details-bottom .ee-program__actions .ee-program__date {
      display: none; }
  .ee-program__details-bottom h3.details-title {
    display: block;
    font-size: 3.4rem;
    color: #363230;
    text-align: left;
    line-height: 31px;
    font-family: "Newsreader", serif;
    padding-bottom: 15px;
    margin-bottom: 25px; }
  .ee-program__details-bottom .course_details {
    margin-bottom: 1rem;
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.78px;
    font-size: 1.85rem;
    line-height: 1.6rem;
    color: #7a0019; }
    .ee-program__details-bottom .course_details label {
      margin-bottom: 1rem;
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.39px;
      color: #363230;
      font-size: 1.85rem;
      line-height: 1.6rem;
      margin-right: 15px; }
  .ee-program__details-bottom .btn {
    display: block;
    width: 100%; }
  .ee-program__details-bottom--label {
    font-family: "Newsreader", serif;
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: normal; }
  .ee-program__details-bottom--brochure {
    margin: 20px -30px 0;
    padding: 20px 30px 0;
    background: #fff; }
    .ee-program__details-bottom--brochure a {
      color: #fc3; }

.node__content.ee-program .block-views ul:not([class]) li::before {
  top: 1.1em; }

.node--type-executive-ed-program .faculty-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center; }
  .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper {
    padding: 0 1rem 2rem;
    width: 100%;
    max-width: 400px; }
    .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper:nth-child(1):nth-last-child(1) {
      max-width: 1000px; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper:nth-child(1):nth-last-child(1) .staff-faculty__item > .row {
        flex-direction: row; }
        @media (min-width: 768px) {
          .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper:nth-child(1):nth-last-child(1) .staff-faculty__item > .row [class*="col-"].staff-faculty__item--image {
            max-width: 40%; } }
        .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper:nth-child(1):nth-last-child(1) .staff-faculty__item > .row [class*="col-"].staff-faculty__item--image img {
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3); }
        .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper:nth-child(1):nth-last-child(1) .staff-faculty__item > .row [class*="col-"] {
          display: block;
          max-width: max-content;
          flex: 0 1 60%; }
    .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row {
      flex-direction: row; }
      @media (min-width: 768px) {
        .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row {
          flex-direction: column; } }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .row {
        flex-direction: column; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row [class*="col-"].staff-faculty__item--image {
        display: block;
        max-width: 30%;
        margin: 0;
        padding: 0; }
        @media (min-width: 768px) {
          .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row [class*="col-"].staff-faculty__item--image {
            max-width: 100%;
            padding: 0 2.5rem 2.5rem; } }
        .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row [class*="col-"].staff-faculty__item--image img {
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3); }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--name {
        font-size: 2.5rem;
        padding: 10px 5px 5px 10px; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--position,
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--phone,
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--email,
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--address,
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--bio,
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--bio-link {
        font-weight: 400;
        padding: 0 10px 5px; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--position {
        font-size: 1.7rem;
        padding-bottom: 20px;
        font-style: italic; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--bio-link .btn-secondary {
        font-size: 1.4rem;
        padding: 8px 12px; }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--bio {
        display: none; }
        @media (min-width: 768px) {
          .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row .staff-faculty__item--bio {
            display: block; } }
      .node--type-executive-ed-program .faculty-wrapper .staff-faculty__wrapper .staff-faculty__item > .row [class*="col-"] {
        display: block;
        max-width: max-content;
        flex: 0 1 70%; }

.node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .accordion-content-inner {
  padding: 0; }

.node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu {
  background: rgba(230, 216, 214, 0.1);
  margin: 20px 30px 0;
  border: 1px solid #e6d8d6; }
  .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu h3 {
    display: block;
    margin: 20px 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6d8d6;
    font-size: 3rem; }
  .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 3rem; }
    .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item {
      width: 100%;
      border: 1px solid #e6d8d6;
      border-width: 0 0 1px; }
      .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item:last-child {
        border-width: 0; }
      .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item > a.nav-link {
        text-align: left;
        padding: 2rem 1rem 2rem 50px;
        border: 0;
        font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
        font-size: 2rem;
        text-transform: none;
        font-weight: 700; }
      .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item .menu {
        position: relative;
        display: none;
        background: #f8f9fa;
        width: 100%;
        z-index: 1;
        left: 0;
        padding-left: 0;
        padding: 0;
        border: 0; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item .menu .nav-item {
          display: block;
          text-align: left;
          border-width: 1px 0 0; }
      .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded {
        position: relative;
        border: 1px solid #e6d8d6;
        border-width: 0 0 1px; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded:hover, .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded:focus {
          border: 1px solid #e6d8d6;
          border-width: 0 0 1px; }
          .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded:hover > .nav-link::after, .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded:focus > .nav-link::after {
            content: none; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded .submenu-toggle {
          position: absolute;
          display: block;
          height: 35px;
          width: 40px;
          margin-top: 10px;
          transition: all 0.3s ease;
          cursor: pointer; }
          .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded .submenu-toggle::before {
            content: "\f054";
            display: block;
            font-family: "FontAwesome";
            color: #7a0019;
            font-size: 2rem;
            text-align: center;
            line-height: 35px; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded .nav-link {
          font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
          width: 100%;
          display: inline-block;
          padding: 2rem 1rem 2rem 50px;
          font-size: 2rem;
          text-transform: none;
          border: 0;
          font-weight: 700; }
          .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded .nav-link::after {
            content: none; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded.open .submenu-toggle {
          transform: rotate(90deg); }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded > .menu .nav-link {
          font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
          font-weight: 700;
          padding: 2rem 1rem 2rem 6rem; }
        .node--type-executive-ed-program .inner_nav .block .inner_nav--accordion .sidebar-menu .nav .nav-item.menu-item--expanded::after {
          content: none; }

.ee-program__content .component-paragraph,
.ee-program__content .accordion, .ee-course_info .component-paragraph,
.ee-course_info .accordion {
  margin-bottom: 0; }

.ee-audience .content, .ee-benefits .content {
  padding: 30px; }

.ee-audience, .ee-benefits {
  margin: 20px; }
  .ee-audience h2, .ee-benefits h2 {
    display: block;
    color: #7a0019;
    text-align: center; }
  .ee-audience ul:not([class]) li, .ee-benefits ul:not([class]) li {
    margin-bottom: 10px; }

@media (max-width: 993px) {
  .ee-program__details {
    position: relative;
    width: 100%; }
  .ee-program__content {
    margin-bottom: 40px; } }

@media (max-width: 992px) {
  .ee-program__top .hero-program__content .hero-program__title {
    font-size: 4.8rem;
    line-height: 48px; }
  .faculty-wrapper .staff-faculty__wrapper {
    padding: 0 1rem; }
  .ee-program__details-bottom {
    padding: 15px; } }

@media (max-width: 500px) {
  .ee-program__top .hero-program__content .hero-program__title {
    font-size: 3.6rem;
    line-height: 36px; } }

.view-id-ee_program_faculty .staff-faculty__item--name {
  padding: 0 15px 15px 30px; }
  .view-id-ee_program_faculty .staff-faculty__item--name::after {
    content: "";
    height: 100px;
    width: 2px;
    display: block;
    background: #fc3;
    margin-top: 0;
    position: absolute;
    top: -40px;
    left: 15px; }

/*# sourceMappingURL=ee-program.css.map */