.faculty-profile__top--headshot img {
  object-position: top; }

.faculty-profile__contact span.icon {
  max-width: 25px;
  width: 100%;
  text-align: center; }

.faculty-profile__contact--address span.icon::before {
  font-size: 1.8rem; }

.faculty-profile__contact--phone span.icon::before {
  font-size: 1.8rem; }

.faculty-profile__contact--email span.icon::before {
  font-size: 1.2rem; }

.faculty-profile__contact--cvc span.icon::before {
  font-size: 1.8rem; }

.faculty-profile__expertise--item, .faculty-profile__education--item {
  line-height: 2.5rem; }
  .faculty-profile__expertise--item--type, .faculty-profile__education--item--type {
    font-weight: 700; }

.faculty-profile__experience__bg__inner {
  clip-path: polygon(0 25%, 100% calc(25% + 30px), 100% 100%, 0 100%); }

.faculty-profile__edit {
  text-align: center;
  padding: 1rem;
  line-height: 23px;
  font-size: 23px;
  float: right;
  margin-bottom: 5rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: #7a0019;
  border: 0;
  background: #fff; }
  .faculty-profile__edit::before {
    font-family: "carlson-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e920"; }
  .faculty-profile__edit:hover, .faculty-profile__edit:focus {
    text-decoration: none; }
    .faculty-profile__edit:hover::before, .faculty-profile__edit:focus::before {
      color: #363230; }
  .faculty-profile__edit.modal-show {
    display: none; }

.faculty-profile__buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px; }
  @media (min-width: 768px) {
    .faculty-profile__buttons {
      flex-wrap: nowrap; } }

.faculty-profile__column {
  padding-bottom: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .faculty-profile__column {
      flex-basis: 50%; } }

.faculty-profile__close {
  color: #7a0019;
  float: right;
  cursor: pointer; }

.faculty-profile__confirm {
  display: none;
  position: static;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  color: -internal-light-dark(#000, #fff);
  margin: 0 0 0 auto;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 1em;
  background: -internal-light-dark(#fff, #000);
  z-index: 9999999; }
  .faculty-profile__confirm.modal-show {
    display: block; }

.node__content .faculty-profile__works ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .node__content .faculty-profile__works ul {
      margin-left: 40px;
      margin-right: 50px; } }
  .node__content .faculty-profile__works ul li {
    margin: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-left: 15px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .node__content .faculty-profile__works ul li:last-child {
      border-bottom: 0; }
    .node__content .faculty-profile__works ul li::before {
      display: none; }

/*# sourceMappingURL=faculty-profile.css.map */