.hub-landing-page__hero--image {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.3);
  position: relative; }
  .hub-landing-page__hero--image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(54, 50, 48, 0.5);
    position: absolute;
    top: 0;
    left: 0; }
  .hub-landing-page__hero--image h1,
  .hub-landing-page__hero--image p {
    color: #fff;
    display: block; }
  .hub-landing-page__hero--image h1::after {
    content: "";
    height: 2px;
    width: 100px;
    display: block;
    background: #fc3;
    margin-top: 1.6rem; }
  .hub-landing-page__hero--image > div {
    flex-basis: auto; }
  @media (min-width: 768px) {
    .hub-landing-page__hero--image {
      height: 30rem; }
      .hub-landing-page__hero--image h1 {
        line-height: 7.5rem; } }
  @media (min-width: 992px) {
    .hub-landing-page__hero--image {
      height: 41.8rem; } }

.hub-landing-page__social {
  margin-top: 5rem;
  background: #e6e0d2;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media (min-width: 768px) {
    .hub-landing-page__social {
      margin-top: 6rem; } }

.hub-landing-page .block-views:not(:last-child) {
  margin-bottom: 2.5rem;
  border-bottom: solid 1px #e6e0d2;
  padding-bottom: 2.5rem; }

.hub-landing-page .block-views .news-hub-block__results--featured .card::after {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e905";
  color: #7a0019;
  font-size: 4rem;
  right: 20px;
  bottom: 10px;
  position: absolute;
  cursor: pointer; }

@media (min-width: 992px) {
  .hub-landing-page .block-views:nth-child(even) .news-hub-block__results--featured {
    order: 2; }
  .hub-landing-page .block-views:nth-child(even) .news-hub-block__results--items {
    order: 1;
    margin-left: 0;
    margin-right: 8.33333%; } }

.hub-landing-page .program-cta {
  background-image: url("../../images/centennial/swoosh-long-lr.png");
  background-position: bottom left;
  background-size: cover; }

.views-field.views-field-field-featured-news h3 {
  font-size: 2rem; }
  @media (min-width: 768px) {
    .views-field.views-field-field-featured-news h3 {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    .views-field.views-field-field-featured-news h3 {
      font-size: 4rem; } }

.views-field.views-field-field-featured-news .field-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem; }
  .views-field.views-field-field-featured-news .field-content .card {
    box-sizing: border-box;
    margin: 1rem 0.25rem;
    flex: 1 0 100%;
    background: none;
    border: 0; }
  @media (min-width: 768px) {
    .views-field.views-field-field-featured-news .field-content {
      flex-wrap: nowrap; }
      .views-field.views-field-field-featured-news .field-content .card {
        max-width: calc(33% - 1rem); } }

/*# sourceMappingURL=hub-landing-page.css.map */