.news-hub-block__results--link {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem; }
  .news-hub-block__results--link:hover {
    text-decoration: none; }
  .disabled.news-hub-block__results--link, .news-hub-block__results--link:disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none; }
  .news-hub-block__results--link svg {
    display: inline-block;
    height: .85em;
    width: auto;
    vertical-align: -0.08em; }

.news-hub-block__results--link {
  background-color: #fc3;
  border-color: #fc3;
  color: #212529;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .news-hub-block__results--link:not(:disabled):hover,
  .show > .dropdown-toggle.news-hub-block__results--link {
    background-color: #ffc20d;
    border-color: #f2b600;
    color: #000; }
  .news-hub-block__results--link:not(:disabled):active {
    background-color: #f2b600;
    border-color: #f2b600;
    color: #000; }

.hub-landing-page__hero--image {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.3);
  position: relative; }
  .hub-landing-page__hero--image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(54, 50, 48, 0.5);
    position: absolute;
    top: 0;
    left: 0; }
  .hub-landing-page__hero--image h1,
  .hub-landing-page__hero--image p {
    color: #fff;
    display: block; }
  .hub-landing-page__hero--image h1::after {
    content: "";
    height: 2px;
    width: 100px;
    display: block;
    background: #fc3;
    margin-top: 1.6rem; }
  .hub-landing-page__hero--image > div {
    flex-basis: auto; }
  @media (min-width: 768px) {
    .hub-landing-page__hero--image {
      height: 30rem; }
      .hub-landing-page__hero--image h1 {
        line-height: 7.5rem; } }
  @media (min-width: 992px) {
    .hub-landing-page__hero--image {
      height: 41.8rem; } }

.hub-landing-page__social {
  margin-top: 5rem;
  background: #e6e0d2;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media (min-width: 768px) {
    .hub-landing-page__social {
      margin-top: 6rem; } }

.hub-landing-page .block-views:not(:last-child) {
  margin-bottom: 2.5rem;
  border-bottom: solid 1px #e6e0d2;
  padding-bottom: 2.5rem; }

.hub-landing-page .block-views .news-hub-block__results--featured .card::after {
  font-family: "carlson-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e905";
  color: #7a0019;
  font-size: 4rem;
  right: 20px;
  bottom: 10px;
  position: absolute;
  cursor: pointer; }

@media (min-width: 992px) {
  .hub-landing-page .block-views:nth-child(even) .news-hub-block__results--featured {
    order: 2; }
  .hub-landing-page .block-views:nth-child(even) .news-hub-block__results--items {
    order: 1;
    margin-left: 0;
    margin-right: 8.33333%; } }

.hub-landing-page .program-cta {
  background-image: url("../../images/centennial/swoosh-long-lr.png");
  background-position: bottom left;
  background-size: cover; }

.news-hub-block {
  width: 100%; }
  .news-hub-block__results {
    margin-top: 3rem; }
    .news-hub-block__results--featured div[class*="hub-card"] {
      box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 2.5rem; }
    .news-hub-block__results--featured .date-cal {
      margin: 0 auto; }
    .news-hub-block__results--title {
      margin-bottom: 2.5rem; }
      .news-hub-block__results--title h2 {
        color: #7a0019;
        text-transform: uppercase;
        font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
        letter-spacing: 0.88px;
        font-size: 2.8rem;
        font-weight: 700; }
    .news-hub-block__results--items > div {
      margin-bottom: 1.8rem; }
    .news-hub-block__results--items .event-items__item {
      margin-left: -15px !important;
      margin-right: -15px !important;
      border: 0; }
      .news-hub-block__results--items .event-items__item .date-cal {
        justify-content: center; }
        .news-hub-block__results--items .event-items__item .date-cal__item {
          flex: 1; }
    .news-hub-block__results--link {
      display: inline-block; }
    .news-hub-block__results .news-items__item--title {
      text-transform: capitalize; }
    @media (max-width: 767.98px) {
      .news-hub-block__results .video-items__item--image,
      .news-hub-block__results .news-items__item--image {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .news-hub-block__results .video-items__item--text,
      .news-hub-block__results .news-items__item--text {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; } }
    @media (min-width: 576px) {
      .news-hub-block__results .video-items__item--image,
      .news-hub-block__results .news-items__item--image,
      .news-hub-block__results .date-cal {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0; }
      .news-hub-block__results .video-items__item--text,
      .news-hub-block__results .news-items__item--text,
      .news-hub-block__results .event-items__details {
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 15px;
        padding-left: 15px; } }

.hub-card--news,
.hub-card--video,
.hub-card--blog {
  border: 0;
  border-bottom: 5px solid;
  border-bottom-color: #7a0019;
  background-color: #f0f0f0; }
  .hub-card--news:hover, .hub-card--news:focus,
  .hub-card--video:hover,
  .hub-card--video:focus,
  .hub-card--blog:hover,
  .hub-card--blog:focus {
    border-bottom-color: #fc3; }

.hub-card--news,
.hub-card--event,
.hub-card--video,
.hub-card--post,
.hub-card--blog {
  display: inline-block;
  width: 100%; }
  .hub-card--news .card,
  .hub-card--event .card,
  .hub-card--video .card,
  .hub-card--post .card,
  .hub-card--blog .card {
    position: relative; }
    .hub-card--news .card__title,
    .hub-card--event .card__title,
    .hub-card--video .card__title,
    .hub-card--post .card__title,
    .hub-card--blog .card__title {
      font-family: "Newsreader", serif;
      font-size: 2rem;
      line-height: 125%;
      margin: 1.25rem 1rem; }
      @media (min-width: 992px) {
        .hub-card--news .card__title,
        .hub-card--event .card__title,
        .hub-card--video .card__title,
        .hub-card--post .card__title,
        .hub-card--blog .card__title {
          font-size: 2.5rem;
          line-height: 125%; } }
      .hub-card--news .card__title--link,
      .hub-card--event .card__title--link,
      .hub-card--video .card__title--link,
      .hub-card--post .card__title--link,
      .hub-card--blog .card__title--link {
        color: #363230; }
        .hub-card--news .card__title--link:hover,
        .hub-card--event .card__title--link:hover,
        .hub-card--video .card__title--link:hover,
        .hub-card--post .card__title--link:hover,
        .hub-card--blog .card__title--link:hover {
          transition: color 0.3s ease-in-out;
          text-decoration: none;
          color: #7a0019; }
    .hub-card--news .card__text,
    .hub-card--event .card__text,
    .hub-card--video .card__text,
    .hub-card--post .card__text,
    .hub-card--blog .card__text {
      margin: 1rem; }
    .hub-card--news .card__link,
    .hub-card--event .card__link,
    .hub-card--video .card__link,
    .hub-card--post .card__link,
    .hub-card--blog .card__link {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: uppercase;
      margin: 1.5rem 1rem; }
  .hub-card--news:hover, .hub-card--news:focus,
  .hub-card--event:hover,
  .hub-card--event:focus,
  .hub-card--video:hover,
  .hub-card--video:focus,
  .hub-card--post:hover,
  .hub-card--post:focus,
  .hub-card--blog:hover,
  .hub-card--blog:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out; }

.hub-card--event .card__date {
  background-color: #7a0019;
  background-blend-mode: multiply;
  background-size: cover; }
  .hub-card--event .card__date .date-cal {
    padding-top: 20%; }
    .hub-card--event .card__date .date-cal__item {
      margin: 0 auto;
      width: 120px; }
      .hub-card--event .card__date .date-cal__item--day {
        color: #fc3;
        font-size: 9rem;
        line-height: 9rem; }
      .hub-card--event .card__date .date-cal__item--month {
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: 1.89px;
        color: #fff; }
        .hub-card--event .card__date .date-cal__item--month::after {
          background: #fff;
          height: 5px;
          margin-top: 2.2rem; }

.hub-card--video .card__img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../images/news-hub-video.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.3s ease-in-out; }

.hub-card--video:hover .card__img::before, .hub-card--video:active .card__img::before, .hub-card--video:focus .card__img::before {
  background-image: url("../images/news-hub-video-gold.svg"); }

.hub-card--blog .card__body.no-img {
  padding-top: 40px; }

.hub-card--blog .card__body::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  height: 35px;
  width: 35px;
  background-image: url("../images/news-hub-blog.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.hub-post-items__item {
  margin-bottom: 2rem; }
  .hub-post-items__item--title {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 700; }
  .hub-post-items__item--link {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #7a0019;
    text-transform: uppercase; }

.video-items__item {
  margin-bottom: 2rem; }
  .video-items__item--image::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("../images/news-hub-video.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    transition: all 0.3s ease-in-out; }
  .video-items__item--image:hover .card__img::before, .video-items__item--image:active .card__img::before, .video-items__item--image:focus .card__img::before {
    background-image: url("../images/news-hub-video-gold.svg"); }
  .video-items__item--title {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 700; }
  .video-items__item--link {
    font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: #7a0019;
    text-transform: uppercase; }

.views-field.views-field-field-featured-news h3 {
  font-size: 2rem; }
  @media (min-width: 768px) {
    .views-field.views-field-field-featured-news h3 {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    .views-field.views-field-field-featured-news h3 {
      font-size: 4rem; } }

.views-field.views-field-field-featured-news .field-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e6d8d6;
  margin-bottom: 3rem; }
  .views-field.views-field-field-featured-news .field-content .card {
    box-sizing: border-box;
    margin: 1rem 0.25rem;
    flex: 1 0 100%;
    background: none;
    border: 0; }
  @media (min-width: 768px) {
    .views-field.views-field-field-featured-news .field-content {
      flex-wrap: nowrap; }
      .views-field.views-field-field-featured-news .field-content .card {
        max-width: calc(33% - 1rem); } }

/*# sourceMappingURL=news-hub-content.css.map */