@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8hg1rx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8hg1rx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?8hg1rx') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8hg1rx') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8hg1rx') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8hg1rx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrot-down {
  &:before {
    content: $icon-carrot-down; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-request {
  &:before {
    content: $icon-request; 
  }
}
.icon-attend {
  &:before {
    content: $icon-attend; 
  }
}
.icon-apply {
  &:before {
    content: $icon-apply; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-in-square {
  &:before {
    content: $icon-arrow-in-square; 
  }
}
.icon-button-play {
  &:before {
    content: $icon-button-play; 
  }
}
.icon-carrot {
  &:before {
    content: $icon-carrot; 
  }
}
.icon-menu-close {
  &:before {
    content: $icon-menu-close; 
  }
}
.icon-menu-hamburger {
  &:before {
    content: $icon-menu-hamburger; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-location-arrow {
  &:before {
    content: $icon-location-arrow; 
  }
}
.icon-data-line {
  &:before {
    content: $icon-data-line; 
  }
}
.icon-dollar-sign {
  &:before {
    content: $icon-dollar-sign; 
  }
}
.icon-grids {
  &:before {
    content: $icon-grids; 
  }
}
.icon-hands {
  &:before {
    content: $icon-hands; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor; 
  }
}
.icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-rotate-arrow {
  &:before {
    content: $icon-rotate-arrow; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}

