$icomoon-font-family: "carlson-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-centennial-swoosh: "\e927";
$icon-centennial-onehundredalt: "\e914";
$icon-centennial-news: "\e926";
$icon-centennial-about: "\e922";
$icon-centennial-events: "\e923";
$icon-centennial-onehundred: "\e924";
$icon-centennial-timeline: "\e925";
$icon-carrot-down: "\e921";
$icon-edit: "\e920";
$icon-request: "\e91d";
$icon-attend: "\e91e";
$icon-apply: "\e91f";
$icon-plus: "\e900";
$icon-minus: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-down: "\e903";
$icon-arrow-up: "\e904";
$icon-arrow-right: "\e905";
$icon-arrow-in-square: "\e906";
$icon-button-play: "\e907";
$icon-carrot: "\e908";
$icon-menu-close: "\e909";
$icon-menu-hamburger: "\e90a";
$icon-quote: "\e90b";
$icon-download: "\e90c";
$icon-location-arrow: "\e90d";
$icon-data-line: "\e90e";
$icon-dollar-sign: "\e90f";
$icon-grids: "\e910";
$icon-hands: "\e911";
$icon-lightbulb: "\e912";
$icon-monitor: "\e913";
$icon-mobile-phone: "\e937";
$icon-link: "\e915";
$icon-map-pin: "\e916";
$icon-envelope: "\e917";
$icon-linkedin: "\e918";
$icon-rotate-arrow: "\e919";
$icon-facebook: "\e91a";
$icon-youtube: "\e91b";
$icon-twitter: "\e91c";
$icon-external-link: "\e938";

