$icomoon-font-family: "carlson-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-video-play: unquote('"\\e928"');
$icon-external-link: unquote('"\\e938"');
$icon-centennial-swoosh: unquote('"\\e927"');
$icon-centennial-onehundredalt: unquote('"\\e914"');
$icon-centennial-news: unquote('"\\e926"');
$icon-centennial-about: unquote('"\\e922"');
$icon-centennial-events: unquote('"\\e923"');
$icon-centennial-onehundred: unquote('"\\e924"');
$icon-centennial-timeline: unquote('"\\e925"');
$icon-carrot-down: unquote('"\\e921"');
$icon-edit: unquote('"\\e920"');
$icon-request: unquote('"\\e91d"');
$icon-attend: unquote('"\\e91e"');
$icon-apply: unquote('"\\e91f"');
$icon-plus: unquote('"\\e900"');
$icon-minus: unquote('"\\e901"');
$icon-arrow-left: unquote('"\\e902"');
$icon-arrow-down: unquote('"\\e903"');
$icon-arrow-up: unquote('"\\e904"');
$icon-arrow-right: unquote('"\\e905"');
$icon-arrow-in-square: unquote('"\\e906"');
$icon-button-play: unquote('"\\e907"');
$icon-carrot: unquote('"\\e908"');
$icon-menu-close: unquote('"\\e909"');
$icon-menu-hamburger: unquote('"\\e90a"');
$icon-quote: unquote('"\\e90b"');
$icon-download: unquote('"\\e90c"');
$icon-location-arrow: unquote('"\\e90d"');
$icon-data-line: unquote('"\\e90e"');
$icon-dollar-sign: unquote('"\\e90f"');
$icon-grids: unquote('"\\e910"');
$icon-hands: unquote('"\\e911"');
$icon-lightbulb: unquote('"\\e912"');
$icon-monitor: unquote('"\\e913"');
$icon-mobile-phone: unquote('"\\e937"');
$icon-link: unquote('"\\e915"');
$icon-map-pin: unquote('"\\e916"');
$icon-envelope: unquote('"\\e917"');
$icon-facebook: unquote('"\\e91a"');
$icon-linkedin: unquote('"\\e918"');
$icon-rotate-arrow: unquote('"\\e919"');
$icon-youtube: unquote('"\\e91b"');
$icon-twitter: unquote('"\\e91c"');
$icon-instagram: unquote('"\\e92e"');
$icon-arrow-left2: unquote('"\\e92c"');
$icon-arrow-right2: unquote('"\\e92b"');
$icon-arrow-right-3: unquote('"\\e92d"');
$icon-next: unquote('"\\e929"');
$icon-prev: unquote('"\\e92a"');
$icon-play2: unquote('"\\ea15"');
$icon-person: unquote('"\\e92f"');
$icon-request-circle: unquote('"\\e930"');

