.carlson-nav {
    border-bottom: 1px solid $menu-line-grey;
    min-height: 110px;
    background: $white;

    @include media-breakpoint-up(lg) {
        max-width: 100%;
        margin: auto;
        min-height: 75px;
    }


.navbar-brand {
    padding: 0;
    margin: 0;
    margin-top: 35px;
    max-width: 260px;
    float: inherit;
    width: 260px;
    height: auto;

    @include media-breakpoint-up(lg) {
        margin-top: 21px;
        max-width: 223px;
        width: 223px;
    }
}

.overlay {
    background: none;
}

.btn-close {
    top: 145px;
    right: 4px;
    background: $white;
    box-shadow: none;
    width: 70px;
    height: 82px;
    border-radius: 0px;
    text-align: center;
    animation: none;
    transition: none;
    z-index: 35;
    display: block;
    visibility: visible!important;
    opacity: 1!important;

    &.sticky {
        top: 13px;
    }

    @include media-breakpoint-up(sm) {
        top: 88px;
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &:before,
    &:after {
        background-color: $hamburger-grey;
        top: 37%;
        margin-left: -14px;
        width: 30px;
    }

    label {
        @include font-lato-base();
        font-size: 1.2rem;
        color: $maroon;
        margin-top: 49px;
    }
}
}





#carlson-navbar {
  border-bottom: 1px solid $menu-line-grey;
  min-height: 110px;
  background: $white;
  @include media-breakpoint-up(lg) {
      max-width: 100%;
      margin: auto;
      min-height: 75px;
  }
  .navbar {
    #carlson-navbar--brand {
      padding: 0;
      margin: 0;
      margin-top: 35px;
      max-width: 260px;
      float: inherit;
      width: 260px;
      height: auto;

      @include media-breakpoint-up(lg) {
          margin-top: 21px;
          max-width: 223px;
          width: 223px;
      }
    }
    .navbar-nav {
      > .nav-item {
        @include media-breakpoint-up(lg) {
          margin-left : 3em;
        }
        > .nav-link {
          text-transform: uppercase;
          color : $dark-gray;
        }
        .dropdown-menu {
          border : 0px;
          border-radius : 0px;
          @include media-breakpoint-up(lg) {
            background-color : $lightergray;
            padding : 0px;
            margin : 0px;
          }
        }
        > .dropdown-menu /* second-level */ {
        }
      }
      .dropdown-item {
        @include media-breakpoint-up(lg) {
          background-color : $lightergray;
          &:hover, &:focus {
            background-color : $gold;
          }
        }
      }
    }

  }
}


@include media-breakpoint-up(lg) {
  .carlson-navbar--animate {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  @keyframes slideIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(-1rem);
      -webkit-opacity: 0;
    }
  }

  .carlson-navbar--slide {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
}


.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}
