.sticky-sidebar {
	.block-menu {
		.nav {
			.sticky-menu {
				&__item {
					width: 100%;
					.menu {
						height: 0;
						overflow: hidden;
					}
					&--active-trail {
						.menu {
							height: initial;
						}
					}
				}
			}
		}
	}
}