/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

@mixin sans-serif-font($size) {
	font-family: $font-lato;
	font-size: $size;
}

@mixin serif-font($size) {
	font-family: $font-crimson;
	font-size: $size;
}

@mixin heading-title($size: $font-medium, $color: $gold, $align:'center') {
  @include serif-font($size);
  font-weight: 400;
  line-height: $size;
  position: relative;
  margin-bottom: 2.4rem;
  &:after{
    content: '';
    height: 2px;
    width: 100px;
    display: block;
    background: $color;
    @if ($align == 'center') {
        margin: 0 auto;
    } @else {
    }
    margin-top: 1.6rem;
  }
}