/* MIXINS */

@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

/* Font mixins embellished headings */
@mixin heading-title($size: $font-medium, $color: $gold, $align:'center') {
    @include font-crimson-base();
    line-height: $size;
    position: relative;
    margin-bottom: 2.4rem;
    &:after{
        content: '';
        height: 2px;
        width: 100px;
        display: block;
        background: $color;
        @if ($align == 'center') {
            margin: 0 auto;
        } @else {
        }
        margin-top: 1.6rem;
    }
}

@mixin font-crimson-base() {
    font-family: $font-crimson;
    font-weight: 400;
}

@mixin font-lato-base() {
    font-family: $font-lato;
    font-weight: 400;
}

@mixin sans-serif-font($size) {
    @include font-lato-base();
    font-size: $size;
}

@mixin serif-font($size) {
    @include font-crimson-base();
    font-size: $size;
}

@mixin menu-title-font() {
    @include font-crimson-base();
    font-size: 3em;
    text-shadow: none;
    color: $black!important;
}

@mixin menu-sub-font() {
    @include font-lato-base();
    font-size: 1.2em;
    text-shadow: none;
    color: $menu-grey!important;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 1.3em;
}

/** SVG Icons. **/

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function url-encode($string) {
    $map: (
        "%": "%25",
        "<": "%3C",
        ">": "%3E",
        " ": "%20",
        "!": "%21",
        "*": "%2A",
        "'": "%27",
        '"': "%22",
        "(": "%28",
        ")": "%29",
        ";": "%3B",
        ":": "%3A",
        "@": "%40",
        "&": "%26",
        "=": "%3D",
        "+": "%2B",
        "$": "%24",
        ",": "%2C",
        "/": "%2F",
        "?": "%3F",
        "#": "%23",
        "[": "%5B",
        "]": "%5D"
    );
    $new: $string;
    @each $search, $replace in $map {
        $new: str-replace($new, $search, $replace);
    }
    @return $new;
}

@function inline-svg($string) {
    @return url('data:image/svg+xml;utf8,#{url-encode($string)}');
}

@mixin base-icon() {
    background-size: 70%;
    background-repeat: no-repeat;
    width: 35px;
    height: 25px;
}

@mixin plus-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="' + $color + '"><path d="M15.059 15.059v-15.059h1.882v15.059h15.059v1.882h-15.059v15.059h-1.882v-15.059h-15.059v-1.882z"></path></svg>');
    @include base-icon();
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/plus-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@mixin minus-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="' + $color + '"><path d="M0 32v-32h544v32z"></path></svg>');
    @include base-icon();
    height: 2px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/minus-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@mixin long-right-arrow-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="32" viewBox="0 0 64 32" fill="' + $color + '"><path d="M59.474 17.166h-59.474v-2.331h59.291l-13.925-13.131 1.575-1.703 17.058 16.085-16.875 15.915-1.577-1.703z"></path></svg>');
    @include base-icon();
    background-size: 100%;
    width: 28px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/long-right-arrow-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@mixin long-left-arrow-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="32" viewBox="0 0 64 32" fill="' + $color + '"><path d="M4.526 14.834h59.474v2.331h-59.291l13.925 13.131-1.575 1.703-17.058-16.085 16.875-15.915 1.577 1.703z"></path></svg>');
    @include base-icon();
    background-size: 100%;
    width: 28px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/long-left-arrow-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}