/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

@mixin font-lato-base() {
    font-family: "Lato", Arial, Verdana, sans-serif;
    font-weight: 400;
}

@mixin menu-title-font() {
    font-family: "Crimson Text", serif;
    font-size: 30px!important;
    text-shadow: none;
    color: black!important;
}

@mixin menu-sub-font() {
    font-family: "Lato", Arial, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.3em !important;
    text-shadow: none;
    color: black !important;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.5em;
    line-height: 1.3em;
}

/** SVG Icons. **/

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function url-encode($string) {
    $map: (
        "%": "%25",
        "<": "%3C",
        ">": "%3E",
        " ": "%20",
        "!": "%21",
        "*": "%2A",
        "'": "%27",
        '"': "%22",
        "(": "%28",
        ")": "%29",
        ";": "%3B",
        ":": "%3A",
        "@": "%40",
        "&": "%26",
        "=": "%3D",
        "+": "%2B",
        "$": "%24",
        ",": "%2C",
        "/": "%2F",
        "?": "%3F",
        "#": "%23",
        "[": "%5B",
        "]": "%5D"
    );
    $new: $string;
    @each $search, $replace in $map {
        $new: str-replace($new, $search, $replace);
    }
    @return $new;
}

@function inline-svg($string) {
    @return url('data:image/svg+xml;utf8,#{url-encode($string)}');
}

@mixin base-icon() {
    background-size: 70%;
    background-repeat: no-repeat;
    width: 35px;
    height: 25px;
}

@mixin plus-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="' + $color + '"><path d="M15.059 15.059v-15.059h1.882v15.059h15.059v1.882h-15.059v15.059h-1.882v-15.059h-15.059v-1.882z"></path></svg>');
    @include base-icon();
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/plus-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@mixin minus-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="' + $color + '"><path d="M0 32v-32h544v32z"></path></svg>');
    @include base-icon();
    height: 2px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: url('../images/svg/minus-icon.svg');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@mixin line-marker($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="' + $color + '"><path d="M0 32v-32h544v32z"></path></svg>');
    background-position: 36px 30px;
    background-size: cover;
}

@mixin right-arrow-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="21" height="32" viewBox="0 0 21 32" fill="' + $color + '"><path d="M1.646 5.55l2.427-2.599 15.614 14.581-15.454 14.432-2.427-2.599 12.671-11.833z"></path></svg>');
    @include base-icon();
}

@mixin atom-icon($color) {
    background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="43" height="32" viewBox="0 0 43 32" fill="' + $color + '"><path d="M36.339 7.846l-5.495 7.403-0.636-0.463 5.449-7.341c-1.029-0.748-1.698-1.961-1.698-3.331 0-2.272 1.842-4.114 4.114-4.114s4.114 1.842 4.114 4.114c0 2.272-1.842 4.114-4.114 4.114-0.619 0-1.207-0.137-1.734-0.382v0zM17.943 14.362l6.026 2.496c0.575-1.578 2.089-2.705 3.866-2.705 2.272 0 4.114 1.842 4.114 4.114s-1.842 4.114-4.114 4.114c-2.272 0-4.114-1.842-4.114-4.114 0-0.203 0.015-0.403 0.043-0.598l-6.263-2.594c-0.752 0.977-1.934 1.606-3.262 1.606-2.272 0-4.114-1.842-4.114-4.114s1.842-4.114 4.114-4.114c2.272 0 4.114 1.842 4.114 4.114 0 0.643-0.148 1.252-0.411 1.795l-0-0zM5.787 23.868l5.511-8.286 0.625 0.46-5.46 8.208c1.067 0.743 1.765 1.979 1.765 3.378 0 2.272-1.842 4.114-4.114 4.114s-4.114-1.842-4.114-4.114c0-2.272 1.842-4.114 4.114-4.114 0.596 0 1.162 0.127 1.673 0.354v-0zM4.114 30.919c1.818 0 3.291-1.474 3.291-3.291s-1.474-3.291-3.291-3.291c-1.818 0-3.291 1.474-3.291 3.291s1.474 3.291 3.291 3.291zM14.239 15.859c1.818 0 3.291-1.474 3.291-3.291s-1.474-3.291-3.291-3.291c-1.818 0-3.291 1.474-3.291 3.291s1.474 3.291 3.291 3.291zM27.836 21.559c1.818 0 3.291-1.474 3.291-3.291s-1.474-3.291-3.291-3.291c-1.818 0-3.291 1.474-3.291 3.291s1.474 3.291 3.291 3.291z"></path></svg>')
}