$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            6 !default;
@import "abstracts/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/mixins/grid";

.page-node-type-quiz {
  background: #F3EEEC;
  &:not(.page-node-type-quiz-results) {
    .breadcrumb {
      display: none;
    }
    #main {
      max-width: none;
      margin: 0;
      overflow-x: hidden;
    }
  }
  .footer {
    margin-top: 0;
  }
  &-results {
    .breadcrumb {
      padding-left: 15px !important;
    }
    .component-paragraph {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-only(lg) {
    &-results {
      .breadcrumb.col {
        margin-left: 0;
      }
    }
  }
}

.quiz {
  .quiz {
    &--headline {
      font-size: 3.4rem;
      line-height: 4.2rem;
    }
    &--webform {
      .webform-button--submit {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0;
      }
    }
  }
  &--main-img {
    &--inner {
      >div {
        width: 100%;
        height: calc(100vh - 70px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &--question {
    legend {
      display: none;
    }
    &--title-wrapper {
      &:not(:first-of-type) {
        margin-top: 100px;
      }
    }
    &--title-prefix {
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 1.13px;
    }
    &--title {
      > p, div {
        display: inline;
      }
    }
    &--multiple-label {
      font-style: italic;
      font-size: 2rem;
      line-height: 2.3rem;
    }
    &--info-btn {
      width: 15px;
      height: 15px;
      background-image: url("../images/svg/info.svg");
      background-size: contain;
    }
    .js-webform-checkboxes,
    .js-webform-radios {
      @include make-row();
    }
    &.stacked {
      .js-webform-checkboxes,
      .js-webform-radios {
        margin-left: 0;
        margin-right: 0;
      }
      .quiz--answer {
        .description {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    &--next {
      &:after {
        content: '';
        width: 14px;
        height: 11px;
        background: url("../images/svg/checkmark.svg");
        display: inline-block;
        margin-left: 15px;
        transition: all 0.3s ease-in-out;
      }
      &:hover,
      &:focus {
        &:after {
          background: url("../images/svg/checkmark-maroon.svg");
        }
      }
    }
  }
  &--answer {
    background: white;
    display: flex !important;
    align-items: center;
    border: 1px solid #E2D9DC;
    padding: 15px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    .description {
      order: 1;
      margin-right: 10px;
    }
    label {
      order: 2;
      flex-grow: 1;
      text-transform: initial;
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 10px;
      cursor: pointer;
    }
    input {
      margin: 0;
      position: static;
      order: 3;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      background: #F3EEEC;
      width: 20px;
      height: 20px;
      border: 1px solid #85807D;
      display: grid;
      place-content: center;
      &[type='radio'] {
        border-radius: 50%;
        &::before {
          content: "";
          width: 12px;
          height: 12px;
          background: $maroon;
          border-radius: 50%;
          transform: scale(0);
        }
        &:checked {
          border-color: $maroon;
          &::before {
            transform: scale(1);
          }
        }
      }
      &[type='checkbox'] {
        border-radius: 2px;
        &::before {
          content: "";
          width: 13px;
          height: 10px;
          background: url("../images/svg/checkmark.svg");
          transform: scale(0);
        }
        &:checked {
          border-color: $maroon;
          background: $maroon;
          &::before {
            transform: scale(1);
          }
        }
      }
      &:focus {
        outline: 0;
      }
    }
    &.checked {
      border-color: $maroon;
      border-width: 2px;
      border-left-width: 4px;
    }
    &--popover-btn {
      position: relative;
      left: -10px;
      bottom: -10px;
      z-index: 0;
    }
    &.disabled {
      opacity: 0.8;
      cursor: not-allowed;
      label {
        cursor: not-allowed;
      }
      input {
        cursor: not-allowed;
      }
    }
  }
  &--webform {
    padding-bottom: 170px;
  }
  &--progress-bar {
    z-index: 34;
    &--bar {
      height: 5px;
      width: 100%;
      background: #F3EEEC;
      border-top: 1px solid #E2D9DC;
      border-bottom: 1px solid #E2D9DC;
      &--seek {
        height: 7px;
        width: var(--seek-width);
        margin: -1px 0;
        background: $maroon;
        transition: width 0.3s ease;
      }
    }
    &--title {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
    &--progress {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1.13px
    }
  }
  .js-webform-states-hidden {
    .quiz--question--title-wrapper {
        margin-top: 100px;
    }
  }
  .was-validated {
    .form-check-input:invalid ~ .form-check-label,
    .form-check-input.is-invalid ~ .form-check-label {
      color: inherit;
    }
    .form-check-input:valid ~ .form-check-label,
    .form-check-input.is-valid ~ .form-check-label {
      color: inherit;
    }
    .webform-button--submit:valid,
    .webform-button--submit.is-valid {
      border: 2px solid $maroon;
      background-image: none;
      padding-left: 3rem;
      padding-right: 3rem;
      &:focus {
        border-color: $maroon;
        box-shadow: 0 15px 30px 0 rgba($black, 0.2);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .quiz {
      &--headline {
        font-size: 4.2rem;
        line-height: 4.6rem;
      }
    }
    &--content {
      max-width: 620px !important;
    }
    &--body,
    &--body p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    &--question {
      &--title-wrapper {
        &:not(:first-of-type) {
          margin-top: 100px;
        }
      }
      &--title-prefix {
        font-size: 1.3rem;
        line-height: 1.6rem;
        letter-spacing: 1.22px;
      }
      &--info-btn {
        width: 20px;
        height: 20px;
      }
      &.three_cols {
        .quiz--answer {
          flex-direction: column;
          margin-bottom: 0;
          text-align: center;
          .description {
            margin-bottom: 10px;
            margin-right: 0;
          }
          label {
            margin-bottom: 10px;
            margin-right: 0;
          }
          &.checked {
            border-left-width: 2px;
            border-bottom-width: 4px;
          }
          &--popover-btn {
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    &--answer {
      label {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
    &--progress-bar {
      &--bar {
        height: 7px;
        &--inner {
          height: 9px;
        }
      }
      &--title {
        font-size: 2.5rem;
        line-height: 2.8rem;
      }
      &--progress {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-transform: initial;
        letter-spacing: 1.5px;
      }
    }
    .js-webform-states-hidden {
      .quiz--question--title-wrapper {
        margin-top: 100px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &--question {
      &--title {
        h3 {
          font-size: 2.5rem;
          line-height: 3.2rem;
        }
      }
      &.three_cols {
        .js-webform-checkboxes,
        .js-webform-radios {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &--answer {
      .description {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  @include media-breakpoint-only(xs) {
    .quiz {
      &--webform {
        .webform-button--submit {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
    .was-validated {
      .form-control:valid,
      .form-control.is-valid {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

.quiz-results {
  .quiz-results {
    &--title {
      font-size: 3.4rem;
      line-height: 4.2rem;
    }
    &--result {
      &--title {
        font-size: 2.5rem;
        line-height: 2.8rem;
      }
    }
  }
  &--title-prefix {
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 1.22px;
  }
  &--result {
    box-shadow: 2px 4px 7px 0 rgba(54,50,48,0.1);
    &--compare-checkbox {
      appearance: none;
      -webkit-appearance: none;
      background: #F3EEEC;
      width: 20px;
      height: 20px;
      border: 1px solid #85807D;
      display: grid;
      place-content: center;
      border-radius: 2px;
      &::before {
        content: "";
        width: 13px;
        height: 10px;
        background: url("../images/svg/checkmark.svg");
        transform: scale(0);
      }
      &:checked {
        border-color: $maroon;
        background: $maroon;
        &::before {
          transform: scale(1);
        }
      }
      &-label {
        text-transform: initial;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: normal;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .quiz-results {
      &--title {
        font-size: 4.2rem;
        line-height: 4.6rem;
      }
      &--result {
        &--title {
          font-size: 3.4rem;
          line-height: 3.7rem;
        }
      }
    }
    &--result-wrapper {
      &.quiz-results--result-wrapper-alt {
        .quiz-results {
          &--result {
            &--compare-checkbox-wrapper {
              position: relative;
              z-index: 1;
            }
            &--content {
              border-right: 1px solid #dee2e6 !important;
            }
            &--img {
              img {
                max-width: 315px;
              }
            }
            &--description {
              border-bottom: 0 !important;
            }
          }
        }
      }
      &.quiz-results--result-wrapper-alt-2 {
        .quiz-results {
          &--result {
            &--img {
              position: relative;
              &:before {
                content: '';
                padding-top: 47.42%;
                display: block;
              }
              .media {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }
}

.popover {
  border-radius: 4px;
  .popover-body {
    padding: 15px 20px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    p, a {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    a {
      text-decoration: underline;
    }
  }
}

.media--loading:not([data-animation])::before,
.is-b-loading:not([data-animation])::before {
  background: $maroon;
}

.box-shadow {
  box-shadow: 2px 4px 7px 0 rgba(54,50,48,0.1);
}
