/* TYPOGRAPHY */

p{
  @include font-lato-base();
  @include media-breakpoint-up(lg) {
    font-size: $font-base;
  }
}

h1{
  @include font-crimson-base();
  @include media-breakpoint-up(lg) {
    font-size: $font-large;
  }
}

h2{
  @include font-crimson-base();
  @include media-breakpoint-up(lg) {
    font-size: $font-medium;
  }
}

h3{
  @include font-crimson-base();
  @include media-breakpoint-up(lg) {
    font-size: $font-small;
  }
}

h4,h5,h6{
  @include font-crimson-base();
  @include media-breakpoint-up(lg) {
    font-size: $font-base;
  }
}