/* TYPOGRAPHY */

p{
  font-family: $font-lato;
}

h1{
  font-family: $font-crimson;
}
h2{
  font-family: $font-crimson;
}
h3{
  font-family: $font-crimson;
}
h4,h5,h6{
  font-family: $font-crimson;
}