/* TYPOGRAPHY */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');

html{
  width: 100%;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'lato', sans-serif !important;
  font-size: inherit !important;
}

p{
  color: black;
  font-size: 1.2rem;
}

a{
  color: blue;
}

h1{
  font-size: 3.8rem;
  font-family: "Crimson Text";
  font-weight: 400;
}

h2{
  font-size: 2.4rem;
  font-family: "Crimson Text";
  font-weight: 400;
}

h3{
  font-size: 2.2rem;
  font-family: "Crimson Text";
  font-weight: 400;
}

h4{
  font-size: 2.0rem;
  font-family: "Crimson Text";
  font-weight: 400;
}

h5{
  font-size: 1.8rem;
  font-family: "Crimson Text";
  font-weight: 400;
}

h6{
  font-size: 1.7rem;
  font-family: "Crimson Text";
  font-weight: 400;
}
