/* VARIABLES */
// UMN Branding Colors ////////
$black: rgb(0, 0, 0);
$white: #ffffff;
$darkgray: rgb(51, 51, 51);
$header-dark-gray: #8a8a8a;
$darkmedgray: rgb(83, 83, 83);
$mediumgray: rgb(204, 204, 204);
$header-gray: #dbdbdb;
$lightgray: #f0efee;
$lightergray: #f0f0f0;
$white: rgb(255, 255, 255);
$gold: #FFCC33;
$slate: #404d5b;
$light-slate: #eaecef;
$burgundy: rgb(144, 0, 33);
$maroon: #7a0019;
/* Carlson Colors */
$slate: #363230;
$mid-gray: #F7F4F2;
$light-gray: #e6d8d6;
$warm-gray: $light-gray;
$dark-gray: #5A5450;
$another-gray: #E6DBD6;

/* Table colors */
$light-yellow: #ffe7a7;
$light-orange:#edc6a6;
$light-blue:#b4d8e2;
$light-green:#dbeabd;

// Navigation
$hamburger-grey: $dark-gray;
$menu-gold: $gold;
$menu-grey: #363230;
$menu-line-grey: #D8D8D8;

// colors
$primary-shade: #A8CF45;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: $maroon;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);

// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;

// Body
//
// Settings for the `<body>` element.
//$body-bg: $white;
//$body-color: $gray-dark;
$inverse-bg: $primary-shade;
//$inverse-color: $gray-lighter;

// Links
//
// Style anchor elements.
$link-color: $maroon;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

/* Icon font paths */
$icomoon-font-path: "../carlson-icons/fonts";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');
/**/

/* Font families */
$font-lato: 'Lato', Arial, Verdana, sans-serif;
$font-crimson: 'Crimson Text', serif;

/* Font sizes */
$font-large: 7.5rem;
$font-medium: 4.8rem;
$font-small: 3.4rem;
$font-smaller: 2.8rem;
$font-base: 1.6rem;

/* Mobile font sizes */
$font-large-mobile: 3.4rem;
$font-medium-mobile: 2.8rem;
$font-small-mobile: 1.8rem;
$font-smaller-mobile: 1.6rem;
$font-base-mobile: 1.4rem;

/* Widths for page components that vary */
$inset-narrow: 1060px;
$inset-wide: 1330px;