// Visual styles for comments in Barrio.
.alert {
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background: $mid-gray-3;
  }

  &.success {
    background: $green;

    p {
      margin-bottom: 0;
      color: $white;
      font-family: "Lato", sans-serif;
    }
  }

  &.warning {
    background: $red;

    p {
      margin-bottom: 0;
      color: $white;
      font-family: "Lato", sans-serif;
    }
  }

  &.sitewide-alert {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    > span {
      width: calc(100% - 30px);

      > p {
        text-align: center;
      }
    }

    > button {
      width: 30px;
    }

    &.alert-maroon {
      background: $maroon;
      color: $white;

      a {
        color: $gold;
      }

      &:hover,
      &:focus {
        background: $maroon;
      }
    }

    &.alert-burgundy {
      background: $burgundy;
      color: $white;

      a {
        color: $gold;
      }

      &:hover,
      &:focus {
        background: $burgundy;
      }
    }

    &.alert-gold {
      background: $gold;
      color: $black;

      &:hover,
      &:focus {
        background: $gold;
      }
    }
  }
}

div[data-sitewide-alert] {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
