// Feed icon styles for Bootstrap Barrio.

.feed-icon {
  border-bottom: 0;
  display: inline-block;
  padding: $spacer 0 0 0;
  background: url("/../../images/feed.svg") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: $font-size-base;
  height: $font-size-base;
}
