// Default style for file module.

// File icons.

.file {
  padding-left: 3rem;
  min-height: 1.6rem;
  display: inline-block;
  min-height: $font-size-base;
  background-repeat: no-repeat;
  background-position: 1rem center;
  vertical-align: baseline;
}

.file--general,
.file--application-octet-stream,
.file--application-x-executable {
  background-image: url("../images/icons/application-x-executable.svg");
}

.file--package-x-generic {
  background-image: url("../images/icons/package-x-generic.svg");
}

.file--x-office-spreadsheet {
  background-image: url("../images/icons/x-office-spreadsheet.svg");
}

.file--x-office-document {
  background-image: url("../images/icons/x-office-document.svg");
}

.file--x-office-presentation {
  background-image: url("../images/icons/x-office-presentation.svg");
}

.file--text-x-script {
  background-image: url("../images/icons/text-x-script.svg");
}

.file--text-html {
  background-image: url("../images/icons/text-html.svg");
}

.file--text-plain {
  background-image: url("../images/icons/text-plain.svg");
}

.file--application-pdf {
  background-image: url("../images/icons/application-pdf.svg");
}

.file--audio {
  background-image: url("../images/icons/audio-x-generic.svg");
}

.file--video {
  background-image: url("../images/icons/video-x-generic.svg");
}

.file--text {
  background-image: url("../images/icons/text-x-generic.svg");
}

.file--image {
  background-image: url("../images/icons/image-x-generic.svg");
}
