/**
 * @file
 * Visual styles for Bootstrap Barrio's form components.
 */

.form-required::after {
    content: '';
    vertical-align: super;
    display: inline-block;
    background-image: url(../images/required.svg);
    background-repeat: no-repeat;
    background-size: .5em .5em;
    width: .5em;
    height: .5em;
    margin: 0 .3em;
}
