// ------------------ Header ------------------

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba($white, .75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba($white, .5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba($black, .7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba($black, .5);
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.carlson-nav {
  .we-mega-menu-ul {
    .dropdown-menu {
      .dropdown-menu{
        .second-level{
          border: 0;
          box-shadow: none !important;
          background: transparent !important;
          top: 0 !important;
          padding-top: 0;
          @media (max-width: 991px){
            padding-bottom: 0;
            width: 50% !important;
          }
          .we-mega-menu-submenu-inner{
            padding-right: 15px;
            a{
              color: $slate;
              font-family: "Lato" !important;
              font-size: 14px !important;
              font-weight: 400 !important;
              line-height: 40px !important;
              text-transform: uppercase;
              letter-spacing: 1.5px;
              transition: all .3s ease-in-out;
              padding-left: 0;
              &:hover, &:focus, &:active{
                padding-left: 15px;
              }
              &:after{
                display: none !important;
                width: 0 !important
              }
            }
            .nav-tabs{
              display: flex;
              justify-content: flex-start !important;
              align-items: flex-start !important;
              flex-direction: column;
              text-align: left !important;
              position: relative;
              float: left;
              width: 100%;
              border-left: 1px solid $another-gray;
              .we-mega-menu-li{
                width: 100%;
                display: flex;
                justify-content: flex-start !important;
                padding-left: 0;
                margin: 0;
                padding: 0;
                a{
                  padding-left: 0;
                  &:after{
                    display: none !important;
                  }
                  &:hover, &:focus{
                    padding-left: 15px !important;
                  }
                }
              }
            }
          }
        }
        &:first-child{
          >.we-mega-menu-submenu{
            border: 0;
            box-shadow: none !important;
            background: transparent !important;
            top: 0 !important;
            padding-top: 0;
            @media (max-width: 991px){
              width: 50% !important;
            }
            .nav-tabs:first-child{
              display: flex;
              justify-content: flex-start !important;
              align-items: flex-start !important;
              flex-direction: column;
              text-align: left !important;
              position: relative;
              float: left;
              width: auto;
              .we-mega-menu-li{
                padding: 0;
                width: auto;
                a{
                  padding-left: 0;
                  &:after{
                    display: none !important;
                  }
                  &:hover, &:focus{
                    padding-left: 15px !important;
                    text-decoration: underline;
                    text-underline-position: below;
                  }
                }
                &.active{
                  a{
                    padding-left: 0;
                    &:after{
                      content: '';
                      display: block;
                      width: 0;
                      height: 2px;
                      background: $black;
                      transition: width .3s;
                    }
                    &:hover , &:focus{
                      padding-left: 15px !important;
                    }
                  }
                }
                &:first-child{
                  width: 100%;
                  display: flex;
                  justify-content: flex-start !important;
                  padding-left: 0;

                }
              }
            }
          }
          .we-mega-menu-submenu-inner{
            padding-right: 15px;
            a{
              color: $slate;
              font-family: "Lato" !important;
              font-size: 14px !important;
              font-weight: 400 !important;
              line-height: 40px !important;
              text-transform: uppercase;
              letter-spacing: 1.5px;
              transition: all .3s ease-in-out;
              padding-left: 0;
              &:hover, &:focus, &:active{
                padding-left: 15px;

              }

            }

          }
        }
      }
    }
  }
}
.carlson-nav{
  .we-mega-menu-ul{
    position: static !important;
    @media (max-width: 991px){
      width: 100%;
    }
    .we-mega-menu-li{
      border-left: 0;
      display: inline-block;
      position: relative;
      min-width: auto;
      border:0;
      box-shadow: none;
      padding: .5rem 0;
      // font-size: 1.2vw;
      font-size: calc( .72vw + (12 - 10) * (100vw - 400px) / (800 - 400) );
      line-height: calc( 1.2vw + (18 - 12) * (100vw - 400px) / (800 - 400) );
      &:hover, &:focus{
        a.we-mega-menu-li{
          &:after{
            content: '';
            opacity: 1;
          }
        }
      }
      a.we-mega-menu-li, a.active{
        display: flex;
        justify-content: center;
        flex: 0 1 auto;
        padding: 15px;
        margin: 0;
        background-color: transparent !important;
        cursor: pointer !important;
        color: $slate !important;
        @media screen and (max-width: 992px){
          padding: 15px 7px;
        }
        &:before{
          display: none;
        }
        &:after{
          content: '';
          position: absolute;
          border-bottom: 10px solid $gold;
          display: block;
          top: auto;
          bottom: -12px;
          left: 0;
          right: 0;
          opacity: 0;
          width: 100%;
          transition: all .3s ease-in-out;
          height: 0;
          background-image: none;
          margin-top: 0 !important;
          @media (max-width: 991px){
            bottom: 0;
          }
        }
        &:hover:after , &:focus:after{
          content: '';
          opacity: 1;
        }
        @media (max-width: 991px){
          border: 0;
          justify-content: flex-start;
          color: $slate;
          @include font-newsreader-base();
          font-size: 30px;
          font-weight: 400;
          line-height: 48px;
        }
      }
    }
  }
  .nav-tabs{
    border-bottom: 0;
  }
  .dropdown-menu{
    position: static !important;
    border-left: 0;
    background: transparent !important;
    &:first-child > .we-mega-menu-submenu {
      background-color: $white;
      box-shadow: 0 3px 15px rgba($black, .11765) !important;
      width: 100%;
      top: calc(100% - 27%);

      @media (max-width: 991px){
        top: 100%;
      }
    }
    .we-mega-menu-submenu{
      width: 100% !important;
      overflow: hidden;
      padding-bottom: 100%;
      background-color: transparent;
      border: 0;
      box-shadow: none !important;
      margin-top: 0 !important;
      top: 0;

      background-color: $white;
      box-shadow: 0 3px 15px rgba($black, .11765) !important;
      height: 100%;
      top: calc(100% - 27%);
      @media (max-width: 991px){
        top: 100%;
      }

      .we-mega-menu-submenu-inner{
        width: 100%;
        float: left;
        position: relative;
        .we-mega-menu-row{
          .we-mega-menu-col{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            .nav-tabs{
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              text-align: right;
              position: absolute;
              width: 50%;
              // border-right: 1px solid $another-gray;
              @media (max-width: 991px){
                width: 100%;
                justify-content: flex-start !important;
                align-items: flex-start !important;
                padding-left: 0 !important;
              }
              .we-mega-menu-li{
                width: auto;
                display: flex;
                justify-content: flex-end;
                position: relative;
                &:hover, &:focus{
                  a, span{
                    &:after{
                      content: '';
                      transform: rotate(0deg) !important;
                      opacity: 1 !important;
                    }
                  }
                }

                a, span{
                  color: $slate;
                  @include font-newsreader-base();
                  font-size: 30px;
                  font-weight: 400;
                  line-height: 48px;
                  cursor: pointer;
                  border: 0;
                  position: relative;
                  display: inline-block;
                  text-align: right;
                  width: auto;
                  padding: 0;
                  margin: 0 15px;
                  &:before, &:after{
                    display: none;
                  }
                  &:hover, &:focus, &:active{
                    background-color: transparent;
                    color: $slate;
                    border: 0;
                  }
                  &:after{
                    content: '';
                    transition: all .3s ease-in-out;
                    transform: rotate(0deg) !important;
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background: $gold;
                    display: block !important;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    z-index: -1;
                    margin-top: -1.05rem !important;
                    background-image: none;
                    bottom: auto;
                    @media (max-width: 991px){
                      top: auto;
                      bottom: 0;
                    }
                  }
                    &:hover:after , &:focus:after{
                      content: '';
                      transform: rotate(0deg) !important;
                      opacity: 1 !important;
                    }
                }
                &.active{
                > a{
                  &:after{
                    content: '';
                    transition: all .3s ease-in-out;
                    transform: rotate(0deg) !important;
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background: $gold;
                    display: block !important;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    z-index: -1;
                    margin-top: -1.05rem !important;
                    background-image: none;
                  }
                    &:hover:after, &:focus:after{
                      content: '';
                      transform: rotate(0deg) !important;
                      opacity: 1 !important;
                    }
                  }
                }
                @media (max-width: 991px){
                  width: 100%;
                }
                span{
                  @media (max-width: 991px){
                    width: 50%;
                  }
                }
              }
            }
            &.span6{
              .nav-tabs{
                width: 100%;
                .we-mega-menu-li{
                  a.we-mega-menu-li{
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .dropdown-menu{
    margin-top: 0 !important;
  }
}

.carlson-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all .3s ease-in-out;
  background: $white;
  .navbar-brand{
    height: auto !important;
  }
  &.compressed{
    position: fixed;
    z-index: 7777;
    width: 100%;
    background: $white;
    top: 64px;
  }
  .carlson-nav{
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    #block-mainnavigation{
      position: static;
    }
  }
}

.umnhf-campus-tc{
  transition: all .3s ease-in-out;
  &.compressed{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
  }
}

#umnhf-h-search #umnhf-h-sb{
  min-width: auto;
  background: transparent url(../images/branding/sprites/lock-search-maroon.png) 0 -12px no-repeat !important;
  &:hover, &:focus{
    border: 2px none !important;
    background: transparent url(../images/branding/sprites/lock-search-maroon.png) 0 -12px no-repeat !important;
    color: $white !important;
    box-shadow: none;
  }
}

body.toggled .close-btn {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=true);
    opacity: 1;
    visibility: visible;
    display: block;
    right: 24px;
}

.navbar-we-mega-menu.navbar.mobile-main-menu{
  @media (max-width: 991px){
    display: flex;
    height: 100vh;
    width: 100%;
    top: 96px;
    background: $white;
    opacity: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}
body.toggled .mobile-main-menu{
  opacity: 1 !important;
}

.navbar-we-mega-menu.navbar{
  @media (max-width: 991px){
    position: absolute;
    right: -100%;
  }
}

.close-btn{
  position: fixed;
  right: 24px;
  top: 112px;
  color: $maroon;
  @include font-sans-serif-base();
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all .3s ease-in-out;
  animation-fill-mode: both;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-name: fadeInFromNone;
  animation-delay: 0s;
  z-index: 2001;
}

.btn-close{
  top: 64px;
  right: 0;
  background: $white;
  box-shadow: none;
  width: 100px;
  height: 100px;
  border-radius: 0;
  animation-fill-mode: both;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-name: fadeInFromNone;
  animation-delay: 0s;
  &:before{
    width: 25px;
    height: 2px;
    background-color: $header-icon-gray;
    top: 30px;
  }
  &:after{
    width: 25px;
    height: 2px;
    background-color: $header-icon-gray;
    top: 30px;
  }
}
.region-we-mega-menu{
  position: static;
  background: transparent;

  .navbar-toggle{
    @media (max-width: 991px){
      background: transparent;
      display: flex !important;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      &:after{
        content: 'MENU';
        color: $maroon;
        @include font-sans-serif-base();
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .icon-bar{
        background-color: $header-icon-gray;
        width: 29px;
        + .icon-bar{
            margin-top: 6px;
        }
      }
    }
  }
  .container-fluid{
    @media screen and (max-width: 991px){
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
      width: 100% !important;
    }
  }
}

body.toggled {
    right: 0 !important;
}
body.toggled .navbar-toggle{
  visibility: visible !important;
}
.img-col{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  .type-of-block{
    width: 100%;
    padding: 0 15px;
    border-left: 1px solid $another-gray;
  }
}

.col-auto{
  padding: 0;
}

#block-mainnavigation{
  white-space: wrap;
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar{
  background: transparent;
  position: static;
}

.navbar-we-mega-menu.navbar .nav-tabs>li.active>a, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:focus, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:hover,
.navbar-we-mega-menu.navbar .nav .open>a, .navbar-we-mega-menu.navbar .nav .open>a:focus, .navbar-we-mega-menu.navbar .nav .open>a:hover{
  border-top: 0 !important;
  color: $slate !important;
}
