// More link style.
.more-link {
  display: block;
  padding: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;

  a {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.78px;
    text-transform: uppercase;
    padding: 0;
  }
}
