// Visual styles for Bootstrap Barrio's node component.

// View mode teaser styles.

.node--view-mode-teaser {
  border-bottom: $border-width solid $border-color;
  margin-bottom: $spacer;
  padding-bottom: $spacer;
}

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba($black, 0.024);
  border: $border-width solid $border-color;
  padding: 0 $spacer $spacer;
}

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// Node metadata styles.

.node__meta {
  font-size: $font-size-sm;
  margin-bottom: -5px;
}

.node__meta .field--name-field-user-picture img {
  float: left;
  margin: 1px $spacer 0 0;
}

// Node links styles.

.node__links {
  text-align: right;
  font-size: $font-size-base;
}
