// Visual styles for the Shortcut action link in Bootstrap Barrio.

.shortcut-wrapper {
  margin: 2.2em 0 1.1em; // Same as usual .page-title margin.
}

.shortcut-wrapper .page-title {
  float: left;
  margin: 0;
}

.shortcut-action {
  border-bottom: 0;
  margin-left: 0.5em;
  padding-top: 0.35em;
}

.shortcut-action:hover,
.shortcut-action:active,
.shortcut-action:focus {
  border-bottom: 0;
}
