.sr-only {
  // Ensure inner table are not visible or padded.
  * {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@mixin ckeditor-sr-only-container-visible {
  position: relative !important;
  width: initial !important;
  height: initial !important;
  padding: 0.3rem !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: initial !important;
  white-space: normal !important;
  border: 0 !important;
  font-style: italic !important;
  font-weight: 400 !important;
  color: #dc0477 !important;
  border-radius: 0.3rem !important;
  background: repeating-linear-gradient(
    -55deg,
    #dfdfdf,
    #dfdfdf 10px,
    #eaeaea 10px,
    #eaeaea 20px
  ) !important;
}

@mixin ckeditor-sr-only-label {
  display: flex;
  content: "screenreader only";
  font-size: 1rem;
  color: $black;
  width: auto;
  height: auto;
  padding-left: 1.6rem;
  // https://icons.getbootstrap.com/icons/universal-access-circle/
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-universal-access-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z'/%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 1.2rem 1.2rem;
}

@mixin ckeditor-sr-only-content {
  border: 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.6rem !important;
  font-style: italic !important;
  font-weight: 400 !important;
  color: #dc0477 !important;
}

.ck.ck-content {
  .sr-only {
    @include ckeditor-sr-only-container-visible;

    * {
      @include ckeditor-sr-only-content;
    }

    &::before {
      @include ckeditor-sr-only-label;
    }
  }
}
