// Tablesort indicator styles.

.tablesort {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin: 1px 0 0 5px;
}

.tablesort-heading > a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &,
  &:hover,
  &:focus {
    color: inherit;
  }
}

.tablesort-heading > a:not(:has(.tablesort--asc, .tablesort--desc)) {
  background-image: url("../images/sort-inactive.svg");
  width: 100%;
  background-image: url("../images/sort.svg");
  padding-right: 22px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 14px;
}

.tablesort--asc {
  background-image: url("../images/sort-asc.svg");
}

.tablesort--desc {
  background-image: url("../images/sort-desc.svg");
}
