// UMN Unit Footer
// WARNING: This file is currently unused and is kept here for reference only.
#umnhf-uf.umnhf {
  border-top: 1px solid $lightgray;
  overflow: hidden;
  position: relative;

  p {
    margin: 0;
  }

  p,
  li,
  h3 {
    color: $slate;
  }

  h2 {
    &.umnhf-f-title {
      margin: 0 0 15px;
      padding: 16px 8px 16px 54px;
      text-transform: uppercase;
      color: $slate;
      border-bottom: 1px solid $header-gray;
      font-family:
        Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
  }

  h3,
  p {
    &.umnhf-f-title {
      margin: 0;
      text-transform: uppercase;
      color: $slate;
      font-family:
        Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

#umnhf-uf-sm {
  clear: both;
  float: left;
  font-style: normal;
  margin-top: 10px;
  padding: 0;
  width: 40%;

  @media screen and (max-width: 750px) {
    width: 50%;
  }

  p {
    line-height: 1.5em;
  }

  abbr {
    border-bottom: 0;
  }
}

#umnhf-uf-ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;

  ul {
    float: right;
    margin: 0;
    padding: 30px 0 5px;
    list-style-type: none;
    text-align: right;

    li {
      line-height: 1.5em;
    }
  }

  @media screen and (max-width: 609px) {
    position: relative;

    ul {
      float: none;
      text-align: inherit;
      padding-top: 0;

      li {
        line-height: 3em;
      }
    }
  }
}

@media screen and (max-width: 609px) {
  #umnhf-uf-ci,
  #umnhf-uf-sm,
  #umnhf-uf-ul {
    display: block;
    float: none;
    width: 100%;
  }
}

#umnhf-uf-sm {
  clear: both;
  float: left;
  font-style: normal;
  padding: 0;
  margin: 10px 0;
  width: 40%;

  @media screen and (max-width: 750px) {
    width: 50%;
  }

  .social-media-footer-links {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: url("../branding/sprites/social.png") no-repeat;
    background-size: 160px 16px;

    @media only screen and (min-device-pixel-ratio: 1.25),
      (min-resolution: 192dpi) {
      background-size: auto 16px;
    }

    &:first-child {
      margin-left: 0;
    }

    &.facebook {
      background-position: 0 0;
    }

    &.twitter {
      background-position: -16px 0;
    }

    &.google-plus {
      background-position: -32px 0;
    }

    &.linkedin {
      background-position: -48px 0;
    }

    &.youtube {
      background-position: -64px 0;
    }

    &.instagram {
      background-position: -80px 0;
    }

    &.flickr {
      background-position: -97px 0;
    }

    &.pinterest {
      background-position: -111px 0;
    }

    &.tumblr {
      background-position: -128px 0;
    }

    &.rss {
      background-position: -144px 0;
    }
  }

  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    transition:
      background-color 0.3s ease 0s,
      border-color 0.3s ease 0s;
    opacity: 1;

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: $light-slate;
      opacity: 0.75;
    }
  }
}
