// UMN Footer
.umnhf-f {
  border-top: 1px solid $lightergray;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 15px;
  padding: 15px 0 0;

  a {
    color: $slate;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    vertical-align: baseline;
  }

  &-ql {
    display: none;
  }

  &-links,
  &-copyright {
    display: block;
    padding: 5px 54px;
  }

  @include media-breakpoint-down(sm) {
    &-ql {
      display: block;
      margin: 0 0 8px;

      a {
        display: inline-block;
        font-size: 1.4rem;
        margin: 0;
        padding: 5px 15px;
      }
    }

    &-links,
    &-copyright {
      padding: 5px 15px;
    }
  }
}
