// UMN Header Wrapper
.umnhf-hw {
  background: $white;
}

// UMN Header
.umnhf-h {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gold;
}

// UMN Header Mast
.umnhf-h-mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1340px;
  padding: 0 25px;
  width: 100%;
}

// UMN Wordmark
.umnhf-h-wm {
  display: flex;
  align-items: center;
  margin: 0 0 0 3px;
  // 18px is the height of the svg logo, 18+13+13 = 44px
  padding: 13px;
}

// Quick links
.umnhf-h-ql {
  list-style-type: none;
  margin: 0 -1em 0 0;
  padding: 0;
  width: auto;
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  a {
    font-weight: 400;
    font-size: 1.4rem;
    min-width: 44px;
    min-height: 44px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    color: $black;
  }

  svg {
    width: .8em;
    height: .8em;
    margin-left: .2em;
    vertical-align: baseline;
  }
}

// Site identity
.umnhf-h-si {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  place-items: center space-between;
  margin: 0 auto;
  padding: 20px 25px;
  list-style-type: none;
  text-align: center;
  width: 100%;
  max-width: 1340px;
}
