// Google Custom search
.umn-search-form {
  margin: 8px 0 40px;
}

.gsc-control-cse {
  padding: 0 !important;

  main & {
    margin-bottom: 100px;
  }
}

form.gsc-search-box {
  main & {
    display: block !important;
    margin-bottom: 40px !important;
    margin-top: 0 !important;
  }

  margin-bottom: 0 !important;

  tbody,
  tr {
    border: 0;
  }

  table,
  table tr,
  table td,
  &,
  table.gsc-search-box td.gsc-input {
    background-color: transparent !important;
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .gsc-input-box {
    background: $white;
    border: 1px solid $header-dark-gray;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    box-shadow: 0 -4px 8px 0 rgba($darkmedgray, 0.15) inset;
    padding: 0;

    input.gsc-input {
      margin: 0 !important;
      font-size: 1.6rem;
      background: transparent !important;
      padding: 15px 20px !important;
      height: 54px !important;
      line-height: 1.5;

      @include media-breakpoint-down(md) {
        padding: 10px 15px !important;
        height: 44px !important;
      }
    }

    .gsst_b {
      margin: 0;
      padding: 0;
    }

    .gsst_a {
      padding: 10px 15px;
      height: 54px;
      margin: 0;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding: 10px 15px !important;
        height: 44px !important;
      }

      .gscb_a {
        color: $header-dark-gray;
      }
    }
  }

  .gsc-search-button-v2 {
    padding: 15px;
    border: 1px solid $maroon;
    background: $maroon;
    border-radius: 0;
    margin: 0;
    height: 56px;

    @include media-breakpoint-down(md) {
      padding: 11px !important;
      height: 46px !important;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

table.gstl_50.gssb_c {
  margin: 0;
}

.gssb_c .gsc-completion-container {
  width: 100%;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  border: 0 !important;

  td {
    border: 0;
  }

  tbody tr {
    background: transparent !important;
  }

  .gssb_a {
    padding: 0;
  }

  .gsq_a {
    padding: 10px 15px;
  }

  .gsc-completion-selected .gsq_a {
    background: $light-ivory;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor {
  .gsc-cursor-page {
    color: #555;
  }

  .gsc-cursor-current-page {
    color: #333;
  }
}
