// UMN Footer
#umnhf-f.umnhf {
  border-top: 1px solid $lightergray;
  font-size: 14px;
  margin: 0 auto 5px;
  padding: 15px 0 0;

  #umnhf-f-myu {
    display: none;
  }

  small {
    display: block;
    padding: 5px 54px;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.15em;
  }

  @media screen and (max-width: 775px) {
    #umnhf-f-myu {
      display: block;
      ul {
        margin: 0 0 16px;
        padding: 0;
        list-style: none;
        line-height: 3em;
        span {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: transparent url("../branding/sprites/lock-search-gold.png") 0 0 no-repeat;
          @media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) {
            background: transparent url("../branding/sprites/lock-search-gold@2x.png") 0 0 no-repeat;
            background-size: 22px 34px;
          }
        }
      }
    }

    small {
      padding: 5px 17px;
    }
  }
}
