.sr-only {
  // Ensure inner table are not visible or padded.
  * {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.ck-content .sr-only {
  position: initial !important;
  width: initial !important;
  height: inital !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: none !important;
  white-space: normal !important;
  border: 0 !important;
  font-style: italic;
  border-radius: 4px;
  background: repeating-linear-gradient(
      -55deg,
      #dfdfdf,
      #dfdfdf 10px,
      #eaeaea 10px,
      #eaeaea 20px
    ) !important;
  &,
  * {
    border: 0 !important;
    background: transparent !important;
    color: #dc0477 !important;
    border-radius: 4px !important;
    padding: 0.1em 0.3em !important;
    margin: 0 !important;
  }
}
