/**
 * @file
 * Theme styling for tabs.
 */
.nav-tabs {
  border-color: $maroon;

  .nav-item > .nav-link,
  .nav-item.active > .nav-link {
    font-weight: 600;
  }

  .nav-link {
    margin-bottom: 0;
    background: $ivory;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 0;
    padding: 2rem 4rem;

    @include hover-focus() {
      background: $light-ivory;
      border-bottom-color: $gold;
    }

    &.active {
      font-weight: 600;
      background: $maroon;
      border-bottom-color: $maroon;
      color: $white;
    }
  }
}
