/**
 * @file
 * Theme styling for tabs.
 */
.nav-tabs {
  border-color: $maroon;

  .nav-item > .nav-link {
    font-weight: 400;
  }

  .nav-item.active > .nav-link {
    font-weight: 600;
  }

  .nav-link {
    margin-bottom: 0;
    background: $ivory;
    color: $black;
    text-decoration: none;
    letter-spacing: normal;
    border: 0;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    line-height: 1.2;

    @include hover-focus() {
      border-bottom-color: $gold;
      background: $light-ivory;
      color: $maroon;
      text-decoration: none;
    }

    &.active {
      font-weight: bold;
      background: $maroon;
      border-bottom-color: $maroon;
      color: $white;
    }
  }
}
