/**
* @file
* Visual styles for comments in Barrio.
*/

/*
Centered Text Block


Markup: ../../../templates/components/centered-text-block.html.twig


Style guide: components.centeredTextBlock
*/
.centered-text-wrapper{
  .col-centered {
    margin: 0 auto;

    .centered-text-block{
      text-align: center;
      .title-wrapper{


        h2{
          font-family: "Crimson Text";
          font-size: 6vw;
          line-height: 6.5vw;
          margin-bottom: 15px;
          &:after{
            content: '';
            height: 2px;
            width: 100px;
            margin: 0 auto;
            display: block;
            background: #ffcc33;
          }
        }
      }
      .text-wrapper{
        margin-top: 15px;
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}
