/**
* @file
* Visual styles for comments in Barrio.
*/

/*
Centered Text Block


Markup: ../../../templates/components/centered-text-block.html.twig


Style guide: components.centeredTextBlock
*/
.centered-text-wrapper{
  .col-centered {
    margin: 0 auto;

    .centered-text-block{
      text-align: center;
      .title-wrapper{

        &:after{
          content: '';
          height: 2px;
          width: 100px;
          margin: 0 auto;
          display: block;
          background: #ffcc33;
        }
        h2{
          font-family: "Crimson Text";
          font-size: 6vw;
          margin-bottom: 15px;
        }
      }
      .text-wrapper{
        margin-top: 15px;
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}
