/* Styles when there is only one block in the node_bottom_right/left regions */
.node__bottom--single {
	@include media-breakpoint-up(lg) {
		.news-items__item--row {
			flex: 0 0 50%;
	    max-width: 50%;
		}		
	}
}

.view-event-channels {
	@include media-breakpoint-up(lg) {
		.event-items__item {
			transition: all 0.3s ease-in-out;
			&::before {
				  content: "";
				  position: absolute;
				  background: $warm-gray;
				  left: 15px;
				  top: 0;
				  width: 2px;
				  height: 100%;
			}
			&::after {
				  content: "";
				  position: absolute;
				  background: $white;
				  border: solid 1px $warm-gray;
				  left: 9px;
				  top: 40%;
				  width: 15px;
				  height: 15px;
				  border-radius: 50%;
			}
			&:hover {
				@include box-shadow(0,6px,20px, 0.20);
				cursor: pointer;
				&::after {
					background: $gold;
				  border: solid 1px $gold;
				}
			}
		}
	}
}
