@import "../../abstracts/import";
@import "../../abstracts/extensions";

// Views page
.news-hub-search {
  margin-top: 1rem;

  .card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;

    .card {
      box-sizing: border-box;
      margin: 0 .25rem 2rem;
      flex: 100%;
      flex-basis: 100%;
      flex-grow: 0;

      .card__tags {
        .card__tag {
          display: inline-block;
          width: min-content;
          font-size: 14px;
          padding: 3px 6px;
          margin-bottom: 5px;
          background-color: $ivory;
          color: black;
          white-space: nowrap;
        }
      }
    }
  }

  &.in-the-media {
    .in-the-media__header {
      text-align: center;
      padding-bottom: 3rem;
      border-bottom: 1px solid $light-gray;
      margin-bottom: 3rem;
      p {
        max-width: 1080px;
        margin: auto;
        @include font-sans-serif-base();
      }
    }
    .in-the-media__filter {
      .form-row {
        flex-wrap: wrap;
        gap: 1.6rem;
      }
    }
    .card-columns {
      .card {
        .card__body {
          margin: 2rem;
          h3.card__title {
            margin-left: 0;
          }
        }
        &.hub-card--news,
        &.hub-card--video,
        &.hub-card--blog {
          border-bottom: none;
          .card__title--link::after{
              content: unset;
          }
        }
        margin: 0.5rem 0 ;
        h4.card__source {
          font-family: "Lato",Arial,Verdana,sans-serif;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: bolder;
        }
        .card__text {
          font-family: "Lato",Arial,Verdana,sans-serif;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: bolder;
          margin: 0rem;
        }
        a.card__text {
          color: $maroon;
        }
        .card__bar {
          margin: 0.5rem 0;
          width: 20rem;
          border: 3px solid $maroon;
          border-radius: 3px 3px 3px 3px;
        }

      }
      @include media-breakpoint-up(lg) {
        .card {
          max-width: calc(50% - 1rem);
        }
      }
      @include media-breakpoint-up(xl) {
        .card {
          max-width: calc(50% - 1rem);
        }
      }
    }
  }

  header {
    h1 {
      font-size: $font-medium-mobile;

      @include media-breakpoint-up(lg) {
        font-size: $font-medium;
      }
    }
  }

  &__link {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
  }
  // Filters
  &__filter {
    padding: 0 10px;

    .form-row {
      flex-wrap: nowrap;
      gap: 1.6rem;

      > * {
        margin: 0;
      }

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;

        > fieldset,
        > details,
        > div {
          width: 100%;
        }
      }
    }

    .form-group input[type="submit"] {
      margin-bottom: 10px;
      transition: none;

      &:hover,
      &:focus {
        transition: all 0.3s ease-in-out;
      }

      &#edit-reset {
        color: $maroon;
        height: auto;
        line-height: 2.4rem;
        padding: 0;
        background: none;
        border: 0;
        text-align: right;
        box-shadow: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    #edit-search-api-fulltext,
    #edit-keyword {
      background-image: url("../images/svg/spy-glass-maroon.svg");
      background-repeat: no-repeat;
      padding-left: 40px;
      background-position: 10px;
    }

    @include media-breakpoint-up(md) {
      fieldset.form-type-textfield,
      fieldset.form-type-select {
        width: 100%;
      }
    }

    @include media-breakpoint-up(lg) {
      fieldset.form-type-textfield,
      fieldset.form-type-select {
        width: 100%;
      }
    }

    #edit-actions {
      @include media-breakpoint-up(lg) {
        width: min-content;
        display: flex;
        gap: 10px;
        align-self: flex-start;
        margin-top: 3rem;
      }
    }

    #edit-submit-hub-search-page {
      @extend %btn-base;
      @extend %btn-primary;

      background: $white;
      width: 100%;
    }

    details.form-item {
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        margin-top: 3rem;
        min-width: 270px;
      }
    }

    #edit-keyword,
    select.form-control {
      color: $dark-gray;
      font-family: $font-family-sans-serif;
    }
  }
  // Content
  &__results {
    margin-top: 0;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    nav {
      width: 100%;
    }
  }
}
