@import "../abstracts/import";


//degrees/master-business-administration/compare
//degrees/master-business-administration/online-mba/academic-experience/program-comparison
//degrees/compare-programs
//graduate/resources/compare-programs

.comparison-table__container {
  .remove-float {
    font-weight: 400;

    .column-header-button {
      height: 25px;
      width: 25px;
      border-radius: 25px;
      background: $gold;
      border: 0;
      font-size: 25px;
      line-height: 10px;

      i {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        i {
          color: $slate;
        }

        background: $ivory;
      }
    }
  }
}

.comparison-table {
  table-layout: fixed;
  width: 100%;

  tr {
    background: $white;
  }

  th {
    color: $slate;
  }

  thead {
    th {
      color: $white;
    }
  }

  th,
  td {
    width: 25%;
    white-space: normal;
  }

  td {
    white-space: normal;
  }

  &__header {
    .no-data {
      background: $maroon;
    }

    .column-header {
      background: $maroon;

      &.certificate-degree,
      &.column-no-content {
        background: $maroon;
      }

      &-text {
        width: 100%;
        font-size: 1.5rem;
        white-space: normal;

        @media (min-width: 641px) {
          font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }
      }

      .remove-float {
        width: 100%;
        font-size: 1.5rem;
        height: 40px;

        span {
          float: right;
        }
      }

      &.column-no-content {
        .remove-float {
          display: none;
        }
      }
    }
  }

  thead {
    th,
    td {
      &:nth-child(n + 3),
      &:nth-child(n + 4) {
        &.column-no-content {
          @media (max-width: 640px) {
            display: none;
          }
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background: rgba($light-gray, 0.3);

        th,
        td {
          background: rgba($light-gray, 0.3);
        }
      }

      &:nth-of-type(even) {
        background: transparent;

        th,
        td {
          background: transparent;
        }
      }

      th.comparison-table__category {
        background: $ivory;
      }

      th,
      td {
        white-space: normal;

        &:nth-child(n + 3),
        &:nth-child(n + 4) {
          &.column-no-content {
            @media (max-width: 640px) {
              display: none;
            }
          }
        }

        .tablesaw-cell-label {
          .remove-float {
            display: none;
          }
        }
      }

      @media (max-width: 640px) {
        th.comparison-table__category {
          background: $maroon;
          color: $white;
        }

        td {
          &:nth-of-type(odd) {
            background: rgba($light-gray, 0.3);
          }

          &:nth-of-type(even) {
            background: transparent;
          }
        }
      }
    }
  }
}

.comparison-menu {
  width: 100%;

  &__header {
    text-align: center;
    font-size: 2rem;
    white-space: normal;

    @media (min-width: 641px) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  &__breakline {
    width: 50px;
    border: 1px solid $maroon;
  }

  &__ui {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: end;
  }

  .comparison-select__fieldset {
    flex-basis: 500px;
  }

  &__label {
    font-weight: 700;
  }

  &__add-program {
    #comparison-add {
      margin: 0 20px;
    }
  }

  &.full-table {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    .comparison-menu__add-program {
      display: none;
      max-width: 500px;
      margin: auto;
    }
  }

  .comparison-menu__mobile-header {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 641px) {
      display: none;
    }

    .column-header_mobile-container {
      width: 100%;
      padding: 10px;

      &:nth-of-type(odd) {
        background: rgba($light-gray, 0.3);
      }

      &:nth-of-type(even) {
        background: transparent;
      }

      .column-header-text__mobile {
        float: left;
      }

      .remove-float {
        float: right;
        font-size: 1.5rem;
      }
    }

    .column-header_mobile-container.column-no-content {
      display: none;
    }
  }
}

.tablesaw-stack th.comparison-table__category {
  @media (max-width: 640px) {
    text-align: center;
  }

  .tablesaw-cell-label {
    @media (max-width: 640px) {
      width: 0;
      padding: 0;
    }
  }

  .tablesaw-cell-content {
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.scroll-to-button {
  position: sticky;
  background: $gold;
  bottom: 0;
  right: 0;
  float: right;
  padding: 20px 20px 30px;
  text-transform: uppercase;

  a {
    font-size: 2rem;
    line-height: 2rem;
  }

  .horizontal-divider {
    font-weight: 100;
    padding: 0 10px;
  }

  @include media-breakpoint-down(md) {
    padding: 10px 10px 15px;

    a {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}
