@import "../abstracts/import";

.faq {
    color: black;
}

.faq-question-block {
    .views-block-title {
        @include font-sans-serif-base();
        font-size: 2rem;
        text-decoration: none;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.view-faq-question-blocks, .view-faq-all-question-components {
    .view-content {
        .views-row:not(:last-child)  {
            .accordion {
                margin-bottom: 1rem;
            }
        }
    }
}
