@import "../abstracts/import";

.fees-table {
  // Education Abroad Fee Tables styles.
  // Imported from https://umabroad.umn.edu/sites/umabroad.umn.edu/themes/lac/assets/main.css
  margin-bottom: 4rem;

  td {
    padding: 0.5rem 0.625rem 0.625rem;
  }

  thead,
  tbody,
  tfoot {
    border: 1px solid #e6e6e6;
  }

  thead th {
    text-align: center;
  }

  tbody tr {
    background-color: rgba($black, 0);
    border-top: 1px solid #e6e6e6;
  }

  tbody th {
    text-align: left;
    background-color: $maroon;
    padding: 1rem 0.625rem;
  }

  tbody th h2,
  tbody th h3,
  tbody th .snapshot-label,
  tbody th h4,
  tbody th h5 {
    color: $gold;
    margin-bottom: 0;
  }

  tbody th ul {
    color: $gold;
    margin-bottom: 0;
    margin-left: 1.25rem;
    padding-left: 0.5rem;
    font-weight: 400;

    li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  tr td + td {
    text-align: right;
  }

  tr.total-row {
    background-color: #e6e6e6;
  }

  tr.total-row td {
    font-weight: 700;
  }

  tr.title-row {
    background-color: #f6f6f6;
  }

  tr.notes td {
    font-size: 0.8125rem;
  }

  td h2,
  th h2 {
    padding-top: 0;
  }

  td small {
    display: block;
  }

  // Education Abroad Fee Tables custom styles.
  td,
  th {
    h2 {
      font-size: 3.2rem;
    }

    h3 {
      font-size: 2.4rem;
    }
  }

  thead {
    background-color: $ivory;

    th:has(ul) {
      text-align: left;
    }

    // hide additional information
    display: none;
  }

  tbody th {
    text-align: left;
    background-color: $maroon;

    h2 {
      color: $gold;
    }
  }

  tr.notes td {
    font-size: 1.4rem;
  }
}

.fees-tabs {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

  .tabs-title {
    float: none;
    list-style-type: none;

    > a {
      font-weight: 300;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
      color: #343538;
      background: #fefefe;
      border-bottom: 0;
      display: block;
      padding: 1.25rem 1.5rem;
      line-height: 1;
      // Override Education Abroad styles.
      font-size: 1.5rem;

      &:hover {
        background-color: #f6f6f6;
      }

      &[aria-selected="true"] {
        border-bottom: 4px solid $gold;
        font-weight: 600;
        background-color: #f6f6f6;
      }
    }
  }
}

.fees-tabs-content {
  .tabs-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
