@import "../abstracts/import";
@import "../abstracts/extensions";

// News Hub Landing Page
.hub-landing-page {
  &__hero {
    &--image {
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      box-shadow: 0 15px 60px 0 rgba($black, 0.3);

      position: relative;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: rgba($slate, 0.5);
        position: absolute;
        top: 0;
        left: 0;
      }

      h1,
      p {
        color: $white;
        display: block;
      }

      h1::after {
        content: "";
        height: 2px;
        width: 100px;
        display: block;
        background: $gold;
        margin-top: 1.6rem;
      }

      > div {
        flex-basis: auto;
      }

      @include media-breakpoint-up(md) {
        height: 30rem;

        h1 {
          line-height: 7.5rem;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 41.8rem;
      }
    }
  }

  &__social {
    margin-top: 5rem;
    background: $ivory;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(md) {
      margin-top: 6rem;
    }
  }
  // View block zig zag
  .block-views {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
      border-bottom: solid 1px $ivory;
      padding-bottom: 2.5rem;
    }

    .news-hub-block__results--featured {
      .card::after {
        @include carlson-icons($icon-arrow-right);

        color: $maroon;
        font-size: 4rem;
        right: 20px;
        bottom: 10px;
        position: absolute;
        cursor: pointer;
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(even) {
        .news-hub-block__results--featured {
          order: 2;
        }

        .news-hub-block__results--items {
          order: 1;
          margin-left: 0;
          margin-right: 8.33333%;
        }
      }
    }
  }

  .program-cta {
    background-image: url("../../images/centennial/swoosh-long-lr.png");
    background-position: bottom left;
    background-size: cover;
  }
}

.views-field.views-field-field-featured-news {
  h3 {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  .field-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 3rem;

    .card {
      box-sizing: border-box;
      margin: 1rem 0.25rem;
      flex: 1 0 100%;
      background: none;
      border: 0;
    }

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;

      .card {
        max-width: calc(33% - 1rem);
      }
    }
  }
}
