@import "../abstracts/import";
@import "../abstracts/extensions";

// News Teaser styles
.news__teaser {
  padding: 3rem 0;
  border-top: 1px solid $warm-gray;

  &:last-child {
    border-bottom: 1px solid $warm-gray;
  }

  &--heading {
    a {
      color: $slate;

      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  &--created {
    text-transform: capitalize;
  }

  &--learn-more {
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1.78px;
  }
}
