@import "../abstracts/import";
@import "../abstracts/extensions";

// Login page styles.
.page-user-login main,
.page-user-password main {
  max-width: 400px;
  background: $white;
  padding: $spacer $spacer;
  margin: 0 auto;
  border-radius: $border-radius-lg;
}

.simplesamlphp-auth-login-link {
  @extend %btn-base;
  @extend %btn-primary;
  margin: 3rem 0;
}

.crumbs,
.nav-tabs--primary {
  display: none;
}

h1.title {
  font-size: 3rem;
}
