/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Landing Page Tags


Markup: ../../../templates/components/landing-page-tags.html.twig


Style guide: components.landing-page-tags
*/
.page-tags-container{
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  border-top: 1px solid #e6dbd6;
  border-bottom: 1px solid #e6dbd6;
  .page-tags-intro-container{


    .page-tags-intro{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .tags-title{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 34px;
        font-weight: 400;
        line-height: 31px;
        padding-right: 15px;
      }
      .tag-list{
        display: inherit;
        margin: 0;
        li{
          color: #7a0019;
          font-family: "Lato";
          font-size: 16px;
          line-height: 30px;
          padding-right: 7px;
          font-style: italic;
          &:last-of-type{
            &:after{
              content: '' !important;
            }
          }
          &:after{
            content: ', ';
            display: inline;
          }
        }
      }
      p{
        color: #363230;
        font-family: "Crimson Text";
        font-size: 34px;
        font-weight: 400;
        line-height: 31px;
        margin: 0;
      }
    }
  }
  .page-tags-link-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .page-tags-link{
      .share-title{
        color: #363230;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.78px;
      }
      .social-media{
        margin-bottom: 0px;
        li{}
      }
    }
  }
}
