@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "bootstrap/scss/mixins/_grid";
//@import "bootstrap/scss/utilities/_spacing";
@import "../abstracts/variables";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: $white;
  color: $slate;

  @media (max-width: 1339px) {
    font-size: calc(1.285rem + 0.3764vw);
    font-size: Min(1.6rem, calc(1.285rem + 0.3764vw));
  }
}

body,
.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

header,
main,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  font-weight: 600;
  color: $maroon;

  &:hover {
    text-decoration-thickness: auto;
    text-underline-position: from-font;
  }
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
}

.dropdown-menu,
.mm-menu,
:where(#off-canvas),
.off-canvas-wrapper,
.skip-link,
.sr-only,
.visually-hidden {
  display: none;
}

@import "../base/typography";
@import "../base/umn-branding";
@import "../base/site-branding";
@import "../components/site-nav";
@import "../components/crumbs";

.clearfix::after {
  display: block;
  clear: both;
  content: ""
}

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li,
.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}
