@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "bootstrap/scss/mixins/_grid";
@import "bootstrap/scss/utilities/_spacing";
@import "../abstracts/variables";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  text-size-adjust: 100%;
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: $white;
  color: $slate;
}

@media (max-width: 1339px) {
  body {
    font-size: calc(1.285rem + 0.3764vw);
    font-size: Min(1.6rem, calc(1.285rem + 0.3764vw));
  }
}

.mm-menu_offcanvas:not(.mm-menu_opened) {
  display: none;
}

@font-face {
  font-family: "boxicons";
  font-weight: 400;
  font-style: normal;
  src: url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot");
  src:
    url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.eot")
    format("embedded-opentype"),
    url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/fonts/boxicons.woff2")
    format("woff2"),
    url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.woff")
    format("woff"),
    url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.ttf")
    format("truetype"),
    url("/sites/carlsonschool.umn.edu/themes/custom/carlson_refresh/carlson-icons/fonts/boxicons.svg?#boxicons")
    format("svg");
}

.bx {
  font-family: "boxicons" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bxs-map::before {
  content: "\ee17";
}

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.col-auto {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  min-height: 1px;
}

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  min-height: 1px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }

  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }

  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }

  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }

  .container,
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1340px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1340.001px;
  }
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-12,
  .col-4,
  .col-8,
  .col-lg-6,
  .col-xl-5 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

header,
main,
nav,
section {
  display: block;
}

h1,
h2,
p,
ul {
  margin-top: 0;
}

p,
ul {
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
  list-style-type: disc;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  font-weight: 600;
  color: $maroon;

  &:hover {
    text-decoration-thickness: auto;
    text-underline-position: from-font;
  }
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
}

[type="button"],
button {
  // stylelint-disable-next-line
  appearance: button;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-file-upload-button {
  font: inherit;
  // stylelint-disable-next-line
  appearance: button;
}

.h5,
h1,
h2 {
  margin-bottom: 0.5rem;
  font-family: Newsreader, serif;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1339px) {
  h1 {
    font-size: calc(1.625rem + 4.03286vw);
  }

  h2 {
    font-size: calc(1.545rem + 3.17252vw);
  }

  .h5 {
    font-size: calc(1.325rem + 0.80657vw);
  }
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container,
.container-fluid,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 992px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px;
}

.col-12,
.col-4,
.col-8,
.col-lg-6,
.col-xl-5 {
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 500;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@import "../base/skip-link";
@import "../base/umn-branding";
@import "../base/site-branding";
@import "../components/site-nav";
@import "../components/crumbs";

.umn-search-form {
  margin: 8px 0 40px;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 5rem;
}

@media (max-width: 1339px) {
  h1 {
    font-size: Min(5rem, calc(1.625rem + 4.03286vw));
  }
}

h2 {
  font-size: 4.2rem;
}

h2 a {
  font-weight: 300;
}

.h5 {
  font-size: 2rem;
}

@media (max-width: 1339px) {
  h2 {
    font-size: Min(4.2rem, calc(1.545rem + 3.17252vw));
  }

  .h5 {
    font-size: Min(2rem, calc(1.325rem + 0.80657vw));
  }
}

.list-inline li,
.row::after,
.row::before {
  display: inline-block;
}

ul li {
  margin-bottom: 1rem;
}

.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

.img-fluid,
.view-display-id-top_feature .view-content > div {
  width: 100%;
}

.btn,
.gold-solid-button,
.maroon-outline-button {
  border-radius: 0;
}

.btn.d-flex > * + * {
  margin-left: 4px;
}

.btn-md {
  padding: 0.5em 1em;
  font-size: 1.1em;
}

.off-canvas-wrapper {
  display: none;
}


.dropdown {
  position: relative;
}

.dropdown-item {
  text-decoration: none;
  font-weight: 400;

  &.is-active,
  &.in-active-trail {
    font-weight: 700;
  }
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  float: left;
  min-width: 10rem;
  color: $black;
  text-align: left;
  list-style: none;
  background-color: $ivory;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 5px 5px 15px 0 rgba($black, 0.2);
  font-size: 16px;
  z-index: 200;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown--mega-menu {
  position: initial;
}

.dropdown--mega-menu > .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  .basic-hero__title {
    text-align: left;
  }
}

.basic-hero__title {
  margin-bottom: 3rem;

  h1 {
    padding-bottom: 2rem;
    border-bottom: solid 1px #d8d8d8;
  }
}
