//Bootstrap
.embed-responsive {
  img {
    @extend .embed-responsive-item;
  }

  img,
  video {
    object-fit: cover;
  }

  .contextual-region {
    position: static;
  }
}

.text-white {
  a {
    color: inherit;
  }
}

.text-black {
  a {
    color: inherit;
    text-decoration: underline;
  }
}
