//Bootstrap
.embed-responsive {
  img {
    @extend .embed-responsive-item;
  }

  img,
  video {
    object-fit: cover;
  }

  .contextual-region {
    position: static;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;

  > a {
    text-decoration: none;
  }
}

.text-white {
  a {
    color: inherit;
  }
}

.text-black {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

#umnhf-f-myu {
  @include media-breakpoint-down(md) {
    ul {
      display: flex;
      justify-content: center;

      li {
        padding: 0 15px;
      }
    }
  }
}
