//Bootstrap
.embed-responsive {
  img {
    @extend .embed-responsive-item;
  }
  img,
  video {
    object-fit: cover;
  }
  .contextual-region {
    position: static;
  }
}

.btn,
[class^='btn-'],
[class*='btn-'] {
  text-transform: uppercase;
}
