@import "./abstracts/import";

.page-node-type-alumni-landing-page,
.page-node-type-alumni-default-page {
  .space-above-child {
    > div {
      padding-top: 15px !important;

      @include media-breakpoint-up(md) {
        padding-top: 30px !important;
      }
    }
  }

  .space-below {
    padding-bottom: 10px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
    }
  }

  .basic-hero__title-inner {
    padding: 0;
  }

  .alumni-landing-page,
  .alumni-default-page {
    margin-top: 0 !important;

    .space-above {
      padding-top: 10px;

      @include media-breakpoint-up(lg) {
        padding-top: 20px;
      }
    }

    .column {
      &__img {
        img {
          box-shadow: none;
        }
      }
    }

    .fluid-columns {
      @include media-breakpoint-up(md) {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      margin-bottom: 0;

      &-container {
        &:not(:last-child) {
          padding-bottom: 0 !important;
        }

        &:not(:first-child) {
          padding-top: 0 !important;
        }
      }

      &__item {
        justify-content: flex-start;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        box-shadow: none;

        .column__link {
          margin-top: auto;
          color: $slate;
          letter-spacing: 1.78px;
          text-transform: uppercase;
        }

        .column__img {
          //ie11 height bug apply rule to only ie11
          @include target-metro {
            height: 100%;
          }
        }

        .column__content {
          //background-color: $gray-200;
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }

      &.gray-bg {
        .fluid-columns__item {
          .column__inner {
            box-shadow: 0 4px 4px rgba($black, 0.25);
            background-color: $white;
          }

          .column__content {
            padding: 30px;
          }
        }
      }
    }

    .parallax {
      background-attachment: fixed;
    }

    // TODO - add this to the wysiwyg and don't change the global .basic-paragraph style
    .basic-paragraph {
      .narrow {
        @include media-breakpoint-up(lg) {
          padding-left: 20%;
          padding-right: 20%;
        }
      }
    }

    .landing-page__content {
      &-components > .container:first-child {
        padding-top: 0;
        padding-bottom: 30px;
      }

      &-components > .container {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    .quote-group .slick--skin--carlson-slick {
      padding-bottom: 0;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .quote {
      &-flex {
        flex-direction: column;
        justify-content: center;
        padding: 30px 50px !important;

        @include media-breakpoint-up(lg) {
          padding: 100px 150px !important;
        }

        background-image: url("../images/bg/alumni-hero-bg.png");
        background-color: $gold;
        background-size: 18%;
        background-position: top left;
        background-repeat: no-repeat;
      }

      &__text {
        p {
          line-height: 165%;
          font-size: 1em;

          @include media-breakpoint-up(lg) {
            font-size: 1em;
          }
        }

        &::before {
          display: none;
        }

        padding: 0;
        border: 0;
        line-height: 2em;

        &__quotation {
          font: 12em/1.08em $font-georgia;
          height: 10rem;
          color: $gold-darker;
          text-align: left;
        }
      }

      &__image-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 300px;

        @include media-breakpoint-up(lg) {
          height: 100%;
        }
      }
    }

    .slick-dots {
      padding-left: 200px;
      text-align: left;
      margin-bottom: 100px;
    }

    .slick-arrow {
      &.slick-prev {
        margin-left: 20px;
      }

      &.slick-next {
        margin-right: 20px;
      }
    }
  }

  .view-event-channels {
    @include media-breakpoint-up(lg) {
      .event-items__item {
        transition: all 0.3s ease-in-out;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        &:hover,
        &:focus {
          @include box-shadow(0, 6px, 20px, 0.2);

          cursor: pointer;

          &::after {
            background: $gold;
            border: solid 1px $gold;
          }
        }
      }
    }
  }

  .view-display-id-block_14 {
    margin: 0 !important;

    @include media-breakpoint-up(lg) {
      .view-content {
        justify-content: center;
      }

      .event-items__item--row {
        flex: 0 0 100%;
      }

      .form-actions {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // Event Teaser Compact styles
  .event-items {
    &__item {
      @include media-breakpoint-up(lg) {
        padding-right: 0 !important;
      }

      padding-top: 10px;
      padding-bottom: 10px;
      border: solid 1px $warm-gray;
      display: flex;
      flex-wrap: nowrap;

      &--row {
        padding-top: 10px;
        padding-bottom: 10px;
        //margin: 10px 15px;
        .featured {
          @include bold_link();
        }
      }

      &--featured,
      &--location {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        letter-spacing: 1.78px;

        .bx {
          margin-bottom: 3px;
        }
      }

      &.node--sticky {
        border-top: solid 8px $menu-gold;
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(lg) {
          border-top: solid 1px $warm-gray;
          border-left: solid 8px $menu-gold;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .remove-left-gold-margin {
        @include media-breakpoint-up(lg) {
          margin-left: -8px;
        }
      }

      .event-content {
        margin-left: 15px;

        @include media-breakpoint-up(lg) {
          margin-left: 0;
        }
      }

      &--date {
        @include bold_link();
      }

      .date-cal {
        margin: 0 15px;

        &__item {
          &--day {
            line-height: 6rem;
          }

          &--month {
            color: $slate;

            &::after {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
        }
      }

      &--image {
        @include media-breakpoint-down(md) {
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
        }
      }

      &--title {
        font-size: 1.6em;
      }

      &--desc {
        max-width: 75ch;
      }

      a {
        padding-top: 1rem;
        display: block;
        width: 100%;
        height: 100%;

        h4.event-items__item--title {
          @include font-sans-serif-base();

          line-height: 150%;
          font-size: 2.4rem;
          font-weight: 700;
          color: $darkgray;
          cursor: default;
        }

        &:hover,
        &:focus {
          h4.event-items__item--title {
            text-decoration: none;
          }
        }

        span.event-items__item--link {
          @include bold_link();
        }
      }
    }

    &__details {
      width: 100%;
      display: block;
    }
  }

  .bx {
    font-size: 1.5em;
    vertical-align: middle;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 170%;
  }

  a.gold-solid-button {
    margin-top: 10px;
    margin-bottom: 10px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
