@import "./abstracts/import";

.fees-table {
  td, th {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
  }
  thead {
    background-color: $ivory;
    th:has(ul) {
      text-align: left;
    }
  }
  tbody th {
    text-align: left;
    background-color: $maroon;
    h2 {
      color: $gold;
    }
  }
  tr.notes td {
    font-size: 14px;
  }
  table tr {
    
  }
}

.fees-tabs .tabs-title>a {
  font-size: 15px;
}