@import "./abstracts/import";

body.path-magazine #block-barrio-carlson-page-title,
body.page-node-105116 #block-barrio-carlson-page-title {
  display: none;
}

.magazine {
  &--section {
    &-heading {
      font-family: $font-family-sans-serif;
      font-size: 15px;
      font-weight: 600;
      //letter-spacing: 0.4px;
      line-height: 100%;
      text-transform: uppercase;
      //color: $white;
      background-color: $gold;
      padding: 10px 20px;
      margin-left: 15px;
      text-align: left;
      display: inline-block;
      min-width: 60%;
      max-width: 80%;
    }

    &-top {
      h2.magazine--section-heading {
        margin-left: 0;
      }
    }

    &-item {
      padding: 15px;
      background-color: $white;

      &:focus,
      &:hover {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;

        @include box-shadow(0, 8px, 16px, 0.2);

        transition: all 0.3s ease-in-out;
      }

      &--summary {
        font-size: 1.75rem;
        line-height: 135%;
        // font-family: $font-crimson;

        h3.magazine--section-item--title {
          margin: 0 0 10px;
          font-size: 24px !important;
          line-height: 120%;
          letter-spacing: -0.4px;

          a {
            font-size: 24px !important;
          }

          .magazine--line {
            height: 2px;
            width: 175px;
            background: linear-gradient(
              to right,
              rgba($gold, 1) 0%,
              rgba($gold, 0) 100%
            );
            position: absolute;
            top: -10px;
          }
        }
      }
    }
  }

  &--featured {
    .hub-card--news {
      border-bottom: 0;
      //background-color: $maroon !important;
      //color: $white;
      .card__title {
        font-size: 2.2rem;
        margin: 30px 30px 15px;
      }

      .card__title--link {
        //color: $white;
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
      }

      .card__text {
        margin: 0 30px 30px;
      }
    }
  }

  &--intro {
    position: relative;
    // font-family: $font-crimson;

    h3 {
      margin: 10px 0;
      line-height: 125%;
      letter-spacing: -0.4px;
    }

    p {
      margin: 0 0 30px;
    }

    &-profileimg {
      max-width: 33%;
      float: left;
      padding: 0 15px 15px 0;

      img {
        border-radius: 50%;
      }
    }

    .collapse:not(.show) {
      height: 460px !important;
      overflow: hidden;
      display: block;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .collapsing {
      min-height: 460px !important;
    }

    .magazine--intro-collapse-link {
      position: absolute;
      bottom: 0;
      width: calc(100% - 50px) !important;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;
      height: 125px;
      font-family: $font-family-sans-serif;

      &::after {
        display: block;
        width: 100% !important;
        background: linear-gradient(
          to bottom,
          rgba($white, 0) 0%,
          rgba($white, 1) 80%,
          rgba($white, 1) 100%
        );
        padding: 105px 30px 0;
        line-height: 20px;
        content: "Read more";
      }

      &:not(.collapsed)::after {
        display: block;
        width: 100% !important;
        background: transparent;
        padding: 125px 30px 0;
        line-height: 20px;
        content: "Show less";
      }
    }
  }

  &--sidebar {
    background-color: $ivory;

    .view-id-magazine_archives.view-display-id-block_3 .view-content {
      border-bottom: 1px dotted $mediumgray;
    }

    .view-magazine-archives {
      .item-list {
        li {
          border-bottom: 1px dotted $mediumgray;
        }

        li:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &--pdf {
    background-color: $white;
    //border-bottom: 5px solid $maroon;

    h2 {
      font-family: $font-family-sans-serif;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      //border-bottom: 1px solid $lightgray;
      color: $dark-gray;
    }

    figure {
      img {
        box-shadow: 0 0 15px 0 rgba($black, 0.2);
      }
    }

    .btn-primary--yellow {
      font-size: 90%;

      i.fas {
        color: $gold;
      }

      &:focus,
      &:hover {
        i.fas {
          color: white;
        }
      }
    }
  }

  article.magazine--magazine-card {
    h3 {
      a {
        font-family: $font-lato !important;
        font-size: 20px;
      }

      font-family: $font-lato !important;
      font-size: $font-smaller !important;
    }
  }
}

.magazine--faces--card {
  transform: scale(0.96);
  transition: all 0.5s ease-in-out;

  &:focus,
  &:hover {
    background-color: $lightergray;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
  }

  .card-body {
    h2.magazine--faces--card--body-h2 {
      text-transform: uppercase !important;
      font-weight: bold !important;
      font-family: $font-lato !important;
      font-size: 22px;
      letter-spacing: -0.5px;
      color: $darkgray;
    }

    h3 {
      text-transform: uppercase;
      font-weight: normal;
      font-family: $font-lato;
      font-size: 15px;
      letter-spacing: -0.5px;
      color: $header-dark-gray;
    }

    img {
      max-height: 230px;
      width: auto;
      margin: 0 auto;
    }
  }
}

.magazine--faces--modal {
  // font-family: $font-crimson;
  font-size: 18px;
  line-height: 140%;

  img {
    max-height: 33vh;
    width: auto;
    max-width: 320px;
  }

  h1 {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-family: $font-lato !important;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: $darkgray;
  }

  h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: $font-lato;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: $header-dark-gray;
  }
}

.page-node-104056 #main .form-row > fieldset {
  max-width: 100%;
}

.magazine--cover-angle {
  transform: rotate(-3deg);
}

.magazine--promobar {
  background-color: $ivory;
  border-bottom: 5px solid $maroon;

  h2 {
    font-size: 1.85em;
    font-style: italic;
  }

  .magazine--cover-angle {
    margin-top: -45px;
    margin-left: -30px;
    margin-right: 30px;
    box-shadow: 0 0 15px 0 rgba($black, 0.2);
    width: 140px;
    height: auto;
  }
}

.page-node-103561 {
  .view-id-magazine_archives.view-display-id-block_3 {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;

    .view-content {
      border-bottom: 0;
    }
  }
}

.magazine--section-item--title--alumni-position {
  position: absolute;
  top: 15px;
}

.magazine--sections-discovery .magazine--section-item--title--alumni-position {
  position: relative;
  top: 0;
}

.magazine--sections-discovery .magazine--section {
  .magazine--section-item {
    position: relative;
    overflow: visible;
    max-height: none;
    height: auto;
    min-height: auto;

    &:focus,
    &:hover {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .image-style-crop-feature-one {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .magazine--section-item--summary {
      h3.magazine--section-item--title {
        padding: 0 0 15px;
        position: relative;

        .magazine--line {
          height: 2px;
          width: 80%;
          background: linear-gradient(
            to right,
            rgba($mediumgray, 1) 0%,
            rgba($mediumgray, 0) 100%
          );
          position: absolute;
          bottom: 0;
          top: auto;
          right: 0;
          left: 0 !important;
        }
      }
    }
  }
}

.magazine--discovery-header {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
  }

  @include media-breakpoint-up(xl) {
    height: 70px;
    min-height: 70px;
    max-height: 70px;
  }

  &-bg {
    background-color: $maroon;
    background-image: url("../images/magazine-discovery-desktop-bg.png");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    h1 {
      font-family: $font-lato;
      color: $white;
      line-height: 70%;

      @include media-breakpoint-up(lg) {
        font-size: 42px;
        line-height: 45px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 52px;
        line-height: 55px;
      }
    }
  }

  &-mobile {
    max-width: 320px;
    height: auto;
  }
}
