/* ---------- General Layout ---------- */

// systemfontstack.com
$sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
$serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

body {
  font-family: $serif;
  background: none;
  color: black;
}

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
.site-nav,
.site-nav__mbl,
.umnhf-h,
.umnhf-f-links,
.footer__logo,
.footer__links,
.footer__connect,
.inner-menu,
.page-links,
.share-this,
.site-footer,
.tabs,
.mm-menu,
.shortcut-action {
  display: none;
}

.footer {
  background: none;

  &__info {
    width: 100%;
    margin: 0 auto;

    &,
    a {
      color: #000;
    }
  }
}

.btn,
[type="submit"],
.inline-contact__btn {
  background: none;
  border-color: currentColor;
  color: #000;
  font-family: $sans-serif;
}

#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer {
  display: none;
}
.entry a:after {
  content: " [" attr(href) "] ";
}
#printed-article {
  border: 1px solid #666;
  padding: 10px;
}
