@import "./abstracts/import";

.header {
  .strategic-plan-image {
    width: 100%;
  }
}

.container-full {
  max-width: none;
  width: 100%;
}

.row.full-width {
  margin-right: 0;
  margin-left: 0;
  width: 100%;

  main {
    max-width: 100%;
  }
}

.strategic-plan {
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: $font-family-sans-serif;
  }

  .h2 {
    font-size: 6rem;
  }
  // 1rem = 10px;

  .header {
    &--gold {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $maroon;
      font-weight: 200;
      background: url("../images/strategic-plan/goldglobebanner.png");
      background-size: cover;
      width: 100%;
      height: 200px;
      background-position: right bottom;

      h1,
      h2 {
        text-align: center;
        font-size: 4rem;

        @include media-breakpoint-up(lg) {
          font-size: 6rem;
        }

        font-weight: 100;
      }
    }
  }

  .purpose-section {
    display: flex;
    justify-content: center;
    background: url("../images/strategic-plan/strategic-plan-header.png");
    background-size: cover;
    background-position: center center;

    .purpose-header {
      font-size: 6rem;
      text-transform: uppercase;
      text-align: center;
      color: $maroon;
      font-weight: 100;
      margin-bottom: 4rem;
    }

    .purpose-text {
      font-weight: 200;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    .purpose-header.long-header {
      font-size: 4.9rem;
      margin: 10rem 0 4rem;
      font-weight: 100;
    }

    .alignment-text {
      font-weight: 200;
      font-size: 2.4rem;
      line-height: 3.7rem;
    }
  }

  .purpose-gradient {
    max-width: 150rem;
    padding: 3rem 5rem;

    @include media-breakpoint-up(md) {
      padding: 4rem 10rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 6rem 20rem;
    }

    justify-content: center;
    background-image: linear-gradient(
      to bottom,
      rgba($white, 1),
      rgba($white, 0.8)
    );
  }

  .promises-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .promise-icon {
      height: 75px;
    }

    .promise-item {
      width: 490px;
      display: flex;
      align-items: center;
      margin: 3rem;

      p {
        border: 3px solid $maroon;
        padding: 1rem 3rem;
        margin-left: -1rem;
        font-size: 2.4rem;
        line-height: 3.7rem;

        .promise-highlight {
          color: $maroon;
          font-weight: 700;
        }
      }
    }
  }

  .platform-intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .platform-intro-card {
      text-align: center;
      background: $light-slate;
      border-bottom: 2rem solid $maroon;
      margin: 0.5rem;
      width: 100%;

      @include media-breakpoint-up(md) {
        width: calc((100% - 2rem) / 2);
      }

      @include media-breakpoint-up(lg) {
        width: calc((100% - 3rem) / 3);
      }

      @media (min-width: 1500px) {
        width: calc((100% - 5rem) / 5);
      }

      .platform-intro-number {
        font-size: 6rem;
        line-height: 6.5rem;
        margin: 2rem auto;
        border: 1px solid $maroon;
        height: 7rem;
        width: 7rem;
        border-radius: 3.5rem;
        color: white;
        background: $maroon;
      }

      .platform-intro-text {
        color: $maroon;
        padding: 3rem;
        font-size: 2.4rem;
        line-height: 3.7rem;
        font-weight: 100;

        .platform-highlight {
          text-decoration: underline;
          text-decoration-color: $gold;
          font-weight: 700;
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;
        background: $maroon;

        .platform-intro-number {
          color: $maroon;
          border: 1px solid $gold;
          background: $gold;
        }

        .platform-intro-text {
          color: $white;

          .platform-highlight {
            text-decoration: underline;
            text-decoration-color: $gold;
            font-weight: 700;
          }
        }
      }
    }
  }

  .platform-nav {
    background: $gold;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 110px;
    z-index: 1000;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }

    @include media-breakpoint-up(xl) {
      top: 75px;
    }

    .nav-message {
      color: $maroon;
      font-size: 2.5rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      font-weight: 100;
      margin: 0.5rem;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }

      @include media-breakpoint-up(xl) {
        font-size: 2.9rem;
      }
    }

    .nav-number-container {
      display: flex;

      .nav-number {
        &:hover,
        &:focus {
          text-decoration: none;
        }

        font-size: 2rem;
        line-height: 2.5rem;
        border: 1px solid $maroon;
        margin: 0.5rem 1rem;
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        color: $maroon;
        text-align: center;

        @include media-breakpoint-up(md) {
          margin: 0.5rem;
        }
      }

      .nav-number.highlight {
        color: $gold;
        background: $maroon;
      }
    }
  }

  .platform-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .platform-top {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      @include media-breakpoint-up(lg) {
        flex-flow: row;
      }

      .platform-image {
        height: 300px;
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-up(md) {
          height: 400px;
        }

        @include media-breakpoint-up(lg) {
          height: 100%;
          width: 400px;
        }

        @media (min-width: 1500px) {
          width: 550px;
        }

        flex-shrink: 0;
      }

      .platform-card {
        width: 100%;
        background: $maroon;
        border-bottom: 2rem solid $gold;

        .platform-card-inner {
          display: flex;
          padding: 2rem 1.5rem;

          @include media-breakpoint-up(md) {
            padding: 4rem 3rem;
          }

          @include media-breakpoint-up(lg) {
            padding: 6rem 4.5rem;
          }

          @include media-breakpoint-up(xl) {
            padding: 8rem 6rem;
          }

          .platform-number {
            border: 1px solid $gold;
            font-size: 4rem;
            line-height: 4.5rem;
            height: 5rem;
            width: 5rem;
            border-radius: 2.5rem;
            color: $gold;
            text-align: center;
            flex-shrink: 0;

            @include media-breakpoint-up(lg) {
              font-size: 6rem;
              line-height: 6.5rem;
              border: 1px solid $gold;
              height: 7rem;
              width: 7rem;
              border-radius: 3.5rem;
            }
          }

          .platform-header-card {
            padding-left: 2rem;

            .platform-header {
              color: $gold;
              font-weight: 200;
              text-transform: uppercase;
              font-size: 3rem;

              @include media-breakpoint-up(lg) {
                font-size: 6rem;
              }
            }

            .platform-header-text {
              color: $white;
              font-size: 2rem;
              line-height: 3rem;
              font-weight: 200;
              padding-left: 0.8rem;
              padding-top: 2rem;

              @include media-breakpoint-up(lg) {
                font-size: 2.2rem;
                line-height: 3.4rem;
              }

              @include media-breakpoint-up(xl) {
                font-size: 2.8rem;
                line-height: 4.2rem;
              }
            }
          }
        }
      }
    }

    .initiative-card {
      max-width: 140rem;
      padding: 5rem;

      .initiative-header {
        font-size: 2.4rem;
        line-height: 4.1rem;
        text-transform: uppercase;
        color: $maroon;
      }

      .initiative-list {
        border-left: 0.5rem solid $gold;
        font-size: 2rem;
        line-height: 3rem;

        @include media-breakpoint-up(lg) {
          font-size: 2.4rem;
        }

        li {
          padding: 1.2rem 0;

          ul {
            padding-top: 1.2rem;
          }
        }
      }
    }
  }
}
