/**
* @file
* Visual styles for comments in Barrio.
*/

.accordion-content {
  &__heading {
    margin-bottom: 2.2rem;
  }
}

.accordion {
  color: #363230;
  @include font-lato-base();
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  .card{
    border: 0px none;
    .card-header{
      background: transparent;
      border-bottom: 1px solid #e6dbd6;
      h5{
        .btn-link{
          color: #363230;
          @include font-crimson-base();
          font-size: 34px;
          font-weight: 400;
          line-height: 31px;
          text-align: left;
          &:hover, &:focus, &:active, &:visited{
            text-decoration: none;
            outline: none;
          }
        }
      }
    }
      .inner{
        opacity: 0;
        transition: all 0.26s ease-in-out;
        background-image: linear-gradient(180deg, #f7f4f2 0%, #ffffff 100%);
        .card-body{
          ul {
            list-style: none;
            margin-left: 40px;
            margin-bottom: 0px;
            padding: 0;

            li {
              margin: 0;
              margin-bottom: 1em;
              padding-left: 15px;
              position: relative;
              color: #363230;
              @include font-lato-base();
              font-size: 16px;
              font-weight: 400;

              &:before {
                content: '';
                height: .4em;
                width: .4em;
                background: #7a0019;
                display: block;
                position: absolute;
                transform: rotate(45deg);
                top: .52em;
                left: 0;
              }

            }

          }
        }
        &.show{
          opacity: 1;
        }
      }
    }



}
