/**
* @file
* Visual styles for comments in Barrio.
*/

.accordion-content {
  &__heading {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
  }
}

.accordion {
  margin-bottom: 30px;
  .card{
    border: 0px none;
    .card-header{
      background-color: transparent;
      padding: 0;
      border-top: 1px solid $light-gray;
      border-bottom: 0;
      position: relative;
      .btn-link{
        background: $mid-gray;
        cursor: pointer;
        @include font-crimson-base();
        word-break: break-word;
        font-size: $font-medium-mobile;
        line-height: $font-medium-mobile;
        padding: 2rem;
        color: $slate;
        width: 100%;
        text-align: left;
        white-space: normal;
        @include media-breakpoint-up(md) {
            font-size: $font-small;
            line-height: $font-small;
        }
        &::before {
            background: none;
            height: auto;
            width: auto;
            top: unset;
            @include accordion-icon($icon-minus, $maroon);
        }
        &:hover, &:focus, &:active, &:visited{
          text-decoration: none;
          outline: none;
        }
        &.collapsed {
          background: transparent;
          &::before {
            content: $icon-plus;
          }

          &:hover, &:focus {

        background: $mid-gray;
          }
        }
      }
    }
      .inner{
        opacity: 0;
        transition: all 0.26s ease-in-out;
        background-image: linear-gradient(180deg, $mid-gray 0%, $white 100%);
        &.show{
          opacity: 1;
        }
      }
    }
}
