.basic-paragraph {

}

.node__content {
    blockquote {
        margin: 2rem 0rem;
        padding: 3rem 4rem;
        background-color: rgb(247,243,241);
        border-left: 5px solid $gold;
        border-right: 5px solid rgb(247,243,241);
        font-family: $font-crimson;
        font-style: italic;
        line-height: 1.4;
        font-weight: 500;
        p {
            font-size: 1.6rem !important;
            @media (min-width: 992px){
                font-size: 1.9rem !important;
            }
        }
        
        
    }
}