/**
 * @file
 * Visual styles for Carlson Advantages in Barrio.
 */

.carlson-advantages {

  img{
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
  }

  label {
    color: #363230;
    @include font-crimson-base();
    font-size: 48px;
    font-weight: 400;
    line-height: 42px;
    &:after {
      content: '';
      height: 2px;
      width: 100px;
      display: block;
      background: #ffcc33;
      margin: 15px 0;
    }
  }
  &__item {
    justify-content: space-between;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
  }
  &__label {
    padding: 30px 15px;
    &:last-of-type{
      text-align: right;
    }
    span{
      color: $light-gray;
      @include font-lato-base();
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.56px;
      margin: 0;
      &:before{}
      &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        float: left;
        background: $light-gray;
      }
    }
  }
}
