/**
* @file
* Visual styles for column in Barrio.
*/

.column {
  &__img {
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
      img {
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
      }
  }

  &__heading {
    @include heading-title($font-small, $gold, 'left');
    line-height: 110%;
  }

  &__markup {
    color: #363230;
    @include font-lato-base();
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__link {
    margin-top : 0px;
  }
  &__link > * {
    /*display: block;*/
  }
}
