.paragraph--type--featured-link-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        box-sizing: border-box;
        margin: 0 1rem 2rem;
        flex-basis: 100%;
        flex-grow: 1;

        @include media-breakpoint-up(md) {
			flex-basis: calc(50% - 2rem);
            flex-grow: 0;
		}
    }
}