.paragraph--type--featured-link-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        box-sizing: border-box;
        margin: 0 1rem 2rem;
        flex-basis: 100%;

        @include media-breakpoint-up(md) {
			flex-basis: 48%;
            flex-grow: 1;
		}
    }
}