.fluid-columns {
	&__item {
		justify-content: flex-start;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    .column__link {
    	margin-top: auto;
    }
    .column__img {
      height: 100%;//ie11 height bug
    }
	}
}