.link-list {
    &__collection {
        list-style: none;
        padding: .85em;
        column-count: 1;
        @include media-breakpoint-up(md) {
            column-count: 2;
            column-gap: 3rem;
        }
        @include media-breakpoint-up(lg) {
            column-gap: 5rem;
        }
    }
    &__item {
        padding: 0;
        background: $mid-gray;
        border-bottom: 3px solid $white;

        a {
            color: #333;
            padding: .75em 1em;
            text-decoration: none;
            display: block;
            position: relative;
            border-bottom: none;
            &:hover, &:focus {
                color: $maroon;
                background: $mediumgray;
            }
        }
    }
}