/**
 * @file
 * Visual styles for Program CTA in Barrio.
 */
.program-cta {
  padding: 30px;
  background-color: #ffcc33;
  background-image: url('../images/bg/page_cta_bg.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  &__intro {
    > *          {
      font-weight: 400;
      @include serif-font($font-medium);
    }
    margin-bottom: 2rem;
  }
  &__link {
    text-align: center;
    text-transform: uppercase;
    a {
      line-height: 40px;
      font-weight: bold;
      color: $slate;
      letter-spacing: 1.78px;
      margin-right: 41px;
      &:hover {
        text-decoration: none;
        color: $maroon;
      }
      &:after{
        color: $maroon;
        font-size: 2.8rem;
        top: 5px;
        margin-left: 1.5rem;
        border: solid 2px $maroon;
        padding: 4px;
        @include carlson-icons($icon-arrow-right);
      }
      &:hover:after {
        color: $white;
        background: $maroon;
      }
    }
  }
  @include media-breakpoint-up(lg) {
      background-size: contain;
      &__intro {
        margin-bottom: 0;
      }
      &__link {
        text-align: right;
      }
  }
}
