/**
* @file
* Visual styles for quotes in Barrio.
*/

.quote{
  margin-top: 3rem;
  margin-bottom : 3rem;
  background-image: linear-gradient(180deg, $mid-gray 0%, $white 100%);
  padding: 2rem 2rem 1rem;
  @include media-breakpoint-up(md){
    padding: 5rem 5rem 3rem;
  }
  &__img{
    position : relative;
    img{
      border-radius: 100%;
      border: 1px solid transparent;
      width: 10rem;
      margin: 0 auto 15px auto;
      @include media-breakpoint-up(md){
        width: 12rem;
      }
      @include media-breakpoint-up(lg){
        width: 14rem;
      }
    }
    &--icon {
      display: inline;
      position : absolute;
      left : -60px;
      bottom : -40px;
      font-size: 4rem;
      color: $light-gray;
      @include media-breakpoint-up(md){
      }
    }
  }

  &__text p {
    font-style: italic;
    @include font-crimson-base();
    font-size: 2rem;
    line-height: 140%;
    margin-bottom : 20px;
    letter-spacing : -.7px;
    @include media-breakpoint-up(md){
      font-size: 2.5rem;
      line-height : 140%;
    }
    @include media-breakpoint-up(lg){
      font-size: 2.875rem;
    }
  }

  &__text {
    border-width: 0;
    border-style: solid;
    border-top: 6px solid $gold;
    padding: 1em 0 0;
    color: $maroon;
    font-size: 1.9em;
    line-height: 1.5em;
    @include media-breakpoint-up(md){
      padding: 1em 1em 0;
    }
  }

  &__text:before {
    font: 6em/1.08em Georgia,Times,Times New Roman,serif;
    content: "\201C";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #F7F4F2;
    width: 12rem;
    height: 6rem;
    color: $gold;
    text-align: center;
  }

  &__source {
    color: $slate;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }

}

.quote-group {
  &__wrap {
    background: linear-gradient(180deg,#F7F4F2 0%,white 100%);
  }
  .slick--skin--carlson-slick {
    padding-bottom: 3rem;
    padding-top: 0;
    .quote {
      margin: 0;
      width: 100%;
      display: inline-block;
    }
  }
}
