/**
* @file
* Visual styles for quotes in Barrio.
*/

.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(180deg, #f7f4f2 0%, #ffffff 100%);
  &__img{
    padding-top: 5rem;
    img{
      border-radius: 100%;
      border: 1px solid transparent;
      width: 155px;
    }
    &--icon {
      color: #e6dbd6;
      font-size: 4rem;
    }
  }

  &__text p {
    font-style: italic;
    @include font-crimson-base();
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
  }

  &__source {
    color: #e6dbd6;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

}
