/**
* @file
* Visual styles for quotes in Barrio.
*/

.quote{
  margin-top: 30px;
  margin-bottom : 30px;
  background-image: linear-gradient(180deg, $mid-gray 0%, $white 100%);
  padding: 30px 60px;
  &__img{
    position : relative;
    img{
      border-radius: 100%;
      border: 1px solid transparent;
      width: 11rem;
      margin: 0 auto 15px auto;
      @include media-breakpoint-up(md){
        width: 12rem;
      }
      @include media-breakpoint-up(lg){
        width: 15.5rem;
      }
    }
    &--icon {
      display: inline;
      position : absolute;
      left : -60px;
      bottom : -40px;
      font-size: 4rem;
      color: $light-gray;
      @include media-breakpoint-up(md){
      }
    }
  }

  &__text p {
    font-style: italic;
    @include font-crimson-base();
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom : 20px;
    letter-spacing : -.7px;
    @include media-breakpoint-up(md){
      font-size: 2.875rem;
      line-height : 140%;
    }
  }

  &__source {
    color: $maroon;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }

}

.quote-group {
  &__wrap {
    background: linear-gradient(180deg,#F7F4F2 0%,white 100%);
  }
  .slick--skin--carlson-slick {
    padding-bottom: 3rem;
    padding-top: 0;
    .quote {
      margin: 0;
      width: 100%;
      display: inline-block;
    }
  }
}
