.schedule {
	border-bottom: solid 1px $light-gray;
	&__row {
		border-bottom: solid 1px $light-gray;
		margin-bottom: 1rem;
	}
	&__item {
		&--time {
			@include serif-font($font-medium);
			margin-bottom: 1rem;
		}
		&--details {
			div {
				padding: 2rem 2rem 1rem 2rem;
				margin-bottom: 1rem;
			}
			.color-1 {
				background: $light-yellow;
			}
			.color-2 {
				background:  $light-blue;
			}
			.color-3 {
				background: $light-green;
			}
			.color-4 {
				background: $light-orange;
			}
			.color-5 {
				background: $light-gray;;
			}
		}
	}
}