.slideshow{
    &__main-caption {
        color: $dark-gray;
        opacity: .5;
        @include font-lato-base();
        font-size: 1.6rem;
        font-weight: normal;
        font-style: italic;
        margin-top: -15px;
    }
}