/* Styles for speaker paragraph bundle */

.speaker {
	&__heading {
		border-bottom: solid 1px $light-gray;
		margin-bottom: 3rem;
		&--title {
			@include heading-title($font-medium, $gold, 'center');
			margin-bottom: 3rem;
		}
	}
	&__img {
		img {

		}
	}
	&__bio {
		&--name {

		}
		&--title {

		}
	}
}