/**
 * @file
 * Visual styles for Videos in Barrio.
 */

.video-textright {
	&__left{
  
	}

  &__link{

    &::before {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include carlson-icons($icon-button-play);
      font-size: 30px;
      color: $white;
      z-index: 1;
      border-radius: 50%;
      padding: 60px 65px;
      border: solid 2px $gold;
      background: rgba(54, 50, 48, .8);
      transition: all 0.3s ease-in-out;
    }
    &:hover::before,
    &:active::before,
    &:focus::before {
        background: $gold;
    }
    &::after {
      position: absolute;
      content: '';
      height: 25%;
      background: #FFCC33;
      width: 2px;
      bottom: -10px;
      right: 50%;
    }
  }
  &__heading {
    margin-top: 2rem;
    font-style: italic;
    @include serif-font($font-medium);
  }  
  &__caption {
    margin-top: 1.5rem;
    color: $dark-gray;
    line-height: 25px;
    @include font-crimson-base();
    text-align: center;
    font-style: italic;
    margin-left:auto;
    margin-right: auto;
  }



  @include media-breakpoint-up(md) {
    &__link{
      &::after {
        height: 2px;
        background: #FFCC33;
        width: 30%;
        top: 50%;
        right: 0;
      }
    }
  }
}

.video-textbelow {
	img {
    width: 100%;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
  }
  &__inner {
    max-width: 800px;
  }
  &__media {
    position:relative;
    &--link{
      &::before {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        @include carlson-icons($icon-button-play);
        font-size: 30px;
        color: $white;
        z-index: 2;
        border-radius: 50%;
        padding: 60px 65px;
        border: solid 2px $gold;
        background: rgba(54, 50, 48, .8);
        transition: all 0.3s ease-in-out;
      }
      &:hover::before,
      &:active::before,
      &:focus::before {
          background: $gold;
      }
    }
    &--overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(90, 84, 80, .7);
      top: 0;
    }
  }
  &__details {
    &--heading {  
        font-style: italic;
        margin-top: 2rem;
        @include serif-font($font-medium);
      }
      &--caption {
        color: $dark-gray;
        line-height: 25px;
        @include font-crimson-base();
        text-align: center;
        font-style: italic;
      }
  }

  @include media-breakpoint-up(md){
    &__media {
      &--link{
        &::before {
          top: 40%;
        }
      }
    }
    &__details {
      position: relative;
      z-index: 1;
      margin-top: -18rem;
      &--heading {
        color: $white;
        &::after {
          position: absolute;
          content: '';
          height: 100px;
          background: #FFCC33;
          width: 2px;
          bottom: 26%;
          right: 50%;
        }
      }
      &--caption {
        margin-top: 13rem;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.fullwidth-video,
.fullwidth-image {
	display: flex;
	justify-content: center;

	&__image{
		height: 100%;
		width: 100%;
		box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
	}

	&__link{

    &::before {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include carlson-icons($icon-button-play);
      font-size: 30px;
      color: $white;
      z-index: 1;
      border-radius: 50%;
      padding: 60px 65px;
      border: solid 2px $gold;
      background: rgba(54, 50, 48, .8);
      transition: all 0.3s ease-in-out;
    }
    &:hover::before,
    &:active::before,
    &:focus::before {
        background: $gold;
    }
  }
	&__caption {
    margin-top: 1.5rem;
		color: rgba(90, 84, 80, .6);
    line-height: 25px;
		@include font-crimson-base();
		text-align: center;
    font-style: italic;
    margin-left:auto;
    margin-right: auto;
	}
	img{
		width: 100%;
		height: auto;
	}
  @include media-breakpoint-up(md) {
    &__link{
      &::before {
      }
    }
    &__caption {
      max-width: 80%;
    }
  }
}
