.view-ed-abroad-program-finder {
    //background: $gold;
    //margin-left: -1.5rem;
    //margin-right: -1.5rem;
    //background-image: url('../images/bg/program-finder_bg.png');
    //background-position: top left;
    //background-repeat: no-repeat;
    .view-header {
        padding: 3rem;
    }
    .view-filters {
        padding: 0 3rem 4rem 3rem;
        .form-row {
            margin-left: 0;
            margin-right: 0;
            --row-gap: 1.6rem;
            gap: var(--row-gap);
            > details,
            > fieldset,
            .form-actions {
                @include make-col(12);
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
                @include media-breakpoint-up(md){
                    @include make-col(6);
                    flex: 0 0 calc(50% - var(--row-gap));
                    max-width: calc(50% - var(--row-gap));
                }
                @include media-breakpoint-up(lg){
                    //@include make-col(4);
                    flex: 0 0 calc(33.33333% - var(--row-gap));
                    max-width: calc(33.33333% - var(--row-gap));
                }
            }
            > details {

            }
        }
      .chosen-container {
        padding: 0;
        .chosen-choices {
          height: 100%;
          border: 0;
          background-image: none;
        }
      }
    }
    .view-content, nav {
        background: $white;
    }
}
//in the case of having a sticky-sidebar
.landing-page__content-components.col-lg-9 .view-ed-abroad-program-finder {
    .view-filters {
        .form-row {
            > fieldset,
            .form-actions {
                @include make-col(12);
                @include media-breakpoint-up(md){
                    @include make-col(12);
                }
                @include media-breakpoint-up(lg){
                    @include make-col(6);
                }
                @include media-breakpoint-up(xl){
                    @include make-col(4);
                }
            }
        }
    }
}
