#block-views-block-event-channels-block-2,
#block-views-block-event-channels-block-4,
#block-views-block-event-channels-block-16,
.department-event-block {
    //background: $gold;
    //margin-left: -1.5rem;
    //margin-right: -1.5rem;
    //background-image: url('../images/bg/program-finder_bg.png');
    //background-position: top left;
    //background-repeat: no-repeat;
    //box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    .view-header {
        padding: 3rem 0;
    }
    .view-filters {
        padding: 0 0 3rem 0;
    }
    .view-content {
        padding-top: 3rem;
    }
    .view-content, nav {
        background: $white;
    }
    @include media-breakpoint-up(lg) {
        .view-content {
            justify-content: center;
        }
        .event-items__item--row {
            flex: 0 0 100%;
        }
        .form-actions {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#block-views-block-event-channels-block-2,
#block-views-block-event-channels-block-4,
.department-event-block {
    .view-filters {
        .form-row {
            > fieldset,
            .form-actions {
                @include make-col(12);
                @include media-breakpoint-up(md){
                    @include make-col(6);
                }
                @include media-breakpoint-up(lg){
                    @include make-col(4);
                }
            }
        }
    }
}

#block-views-block-event-channels-block-2 {
    .view-filters {
        .form-row {
            > fieldset,
            .form-actions {
                @include make-col(12);
                @include media-breakpoint-up(md){
                    @include make-col(6);
                }
                @include media-breakpoint-up(lg){
                    @include make-col(4);
                }
            }
            > fieldset:not(.js-form-wrapper) {
                @include media-breakpoint-up(lg){
                    margin-top: 30px;
                }
            }
            > fieldset.js-form-wrapper {
                @include make-col(12);
                @include media-breakpoint-up(md){
                    @include make-col(12);
                }
                @include media-breakpoint-up(lg){
                    @include make-col(8);
                }
                .fieldset-legend {
                    letter-spacing: 1.39px;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                }
                > .fieldset-wrapper {
                    display: flex;
                    flex-flow: row wrap;

                    > fieldset {
                        padding-right: 5px;
                        @include make-col(12);
                        @include media-breakpoint-up(md){
                            @include make-col(6);
                        }
                        @include media-breakpoint-up(lg){
                            @include make-col(6);
                        }
                    }
                }
            }
        }
    }
}

#block-views-block-event-channels-block-16 {
    .view-filters {
        .form-row {
            > fieldset,
            .form-actions {
                @include make-col(12);
                @include media-breakpoint-up(lg){
                    @include make-col(6);
                }
                @include media-breakpoint-up(xl){
                    @include make-col(3);
                }
            }
        }
    }
}

.view-id-event_channels.view-display-id-block_2 {
  .view-filters {
    margin-bottom: 3rem;
    .form-row {
      @include make-row();
      align-items: baseline;
    }
    .form-item-title {
      @include make-col(12);
      @include make-col-ready();
    }
    .form-item {
      @include make-col(12);
      @include make-col-ready();
      .fieldset-wrapper {
        @include make-row();
        fieldset {
          @include make-col(12);
          @include make-col-ready();
        }
        .description {
          @include make-col(12);
          @include make-col-ready();
        }
      }
    }
    .form-actions {
      @include make-col(12);
      @include make-col-ready();
    }
  }
  @include media-breakpoint-up(lg) {
    .view-filters {
      .form-item-title {
        @include make-col(3);
      }
      .form-item {
        @include make-col(6);
        .fieldset-wrapper {
          fieldset {
            @include make-col(6);
          }
        }
      }
      .form-actions {
        @include make-col(3);
        align-self: center;
        margin-top: 26px;
      }
    }
  }
}

.view-id-event_channels.view-display-id-block_2,
.view-id-event_channels.view-display-id-block_16 {
  .view-filters {
    margin-bottom: 3rem;
    .form-row {
      @include make-row();
      align-items: baseline;
    }
    .form-item-title {
      @include make-col(12);
      @include make-col-ready();
    }
    .form-item-field-event-location-category-target-id-1 {
      @include make-col(12);
      @include make-col-ready();
    }
    .form-item {
      @include make-col(12);
      @include make-col-ready();
      .fieldset-wrapper {
        @include make-row();
        fieldset {
          @include make-col(12);
          @include make-col-ready();
        }
        .description {
          @include make-col(12);
          @include make-col-ready();
        }
      }
    }
    .form-actions {
      @include make-col(12);
      @include make-col-ready();
    }
  }
  @include media-breakpoint-up(lg) {
    .view-filters {
      .form-item-title {
        @include make-col(3);
      }
      .form-item-field-event-location-category-target-id-1 {
        @include make-col(3);
      }
      .form-item {
        @include make-col(4);
        .fieldset-wrapper {
          fieldset {
            @include make-col(6);
          }
        }
      }
      .form-actions {
        @include make-col(2);
        align-self: center;
        margin-top: 26px;
      }
    }
  }
}
