#block-views-block-news-channels-block-4,
#block-views-block-news-channels-block-8,
#block-views-block-news-channels-block-11 {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
	border-bottom: solid 1px $warm-gray;
}
/* Discovery Carlson Block */
#block-views-block-news-channels-block-8 {
	.more-link {
		margin-top: 2rem;
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}
}

.news-features {
	&__item {
		&--thumb {
			@include profile-image-box-shadow();
			margin-bottom: 2rem;
		}
		&--title {
			a {
				color: $slate;
				&:hover, &:focus {
					color: $maroon;
				}
			}
			margin-bottom: 2rem;
		}
		&--body {
			margin-bottom: 2rem;
		}
		&--link {
			display: inline-block;
			a {
				@include button-outline($menu-gold);
    		background-color: transparent;
			}
		}
	}
}