/* Views page */
.program-filter {
	margin-top: 1rem;

	.card-columns, .card-columns .views-infinite-scroll-content-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card {
			box-sizing: border-box;
			margin: 0 .25rem 2rem;
			flex: 100%;
			flex-basis: 100%;
			flex-grow: 0;

			&:active, &:hover, &:focus {
				border: 1px solid $maroon;
			}
		}

		@include media-breakpoint-up(lg) {
			.card {
				flex-basis: calc(50% - 1.2rem);
			}
		}
	}

	/* Header */
	header {
		h1 {
		  font-size: $font-medium-mobile;

		  @include media-breakpoint-up(lg) {
		    font-size: $font-medium;
		  }
		}
	}
	&__link {
		font-size: 1.5rem;
		padding: 1.5rem 1rem;
		text-transform: uppercase;
	}

	/* Filters */
	&__filter {
		padding: 0px 10px;

		.form-group input[type="submit"] {
			transition: none;
			&:hover, &:focus {
				transition: all 0.3s ease-in-out;
			}
			&#edit-reset {
				color: #7a0019;
				height: auto;
				line-height: 2.4rem;
				padding: 0rem;
				background: none;
				border: none;
				text-align: right;
				box-shadow: none;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		.form-group select {
			//display: none;
		}
		.form-item-search-api-fulltext,
		.form-item-keyword {
			width: 100%;
		}
		#edit-search-api-fulltext,
		#edit-keyword {
			background-image: url(../images/svg/spy-glass-maroon.svg);
			background-repeat: no-repeat;
			padding-left: 40px;
			background-position: 10px;
		}
		fieldset.form-type-select {
			width: 100%;
		}
		.chosen-container {
			width: 100% !important;
			height: auto;
			//border-color: #e6d8d6;
			border: 1px solid #e6d8d6;
			margin-top: 0;
			min-height: 3.8rem;
			line-height: 3.8rem;
			font-size: 1.6rem;
			color: #5A5450;
			border-radius: 0.25rem;
			padding: 0;
		}
    .form-item-topic {
      .chosen-container {
        .chosen-choices {
          background-image: none;
          border: 0;
          padding: 0 40px;
        }
      }
    }
		@include media-breakpoint-up(md) {
			fieldset.form-type-select {
				width: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			fieldset.form-type-select {
				width: 100%;
			}
		}

		#edit-actions {
			border-bottom: 1px solid $light-gray;
    		padding-bottom: 20px;
			@include media-breakpoint-up(lg) {
				width: 100%;
			}
		}
		#edit-submit-hub-search-page {
			@include button-outline($maroon);
			background: $white;
			width: 100%;
		}

		#edit-keyword,
		select.form-control {
			color: $dark-gray;
			font-family: $font-lato;
		}

		#edit-topic {
			display: none;
		}

		.chosen-container-multi .chosen-choices {
			border-color: $light-gray;
			li.search-choice  {
				line-height: 24px;
			}
			li.search-field input[type=text],
			.form-control {
				color: $dark-gray;
				font-family: $font-lato;
				font-weight: 600;
			}
		}
	}
	/* Content */
	&__results {
		margin-top: 0rem;
		@include media-breakpoint-up(md) {
			margin-top: 0rem;
		}
		nav {
			width: 100%;
		}
	}

	&-card {
		&--category {
			padding-bottom: 10px;
		}
		&--info-wrapper {
			display: flex;
			padding: 15px 0 10px;
			flex-flow: wrap;
		}
		&--info-block {
			width: 50%;
			text-align: center;
			padding-bottom: 10px;
		}
		&--label {
			font-size: 12px;
		}
		&--value {
			font-size: 12px;
			color: $maroon;
		}
	}

	legend {
		text-transform: uppercase;
	}

	.form-check {
		display: flex;
		vertical-align: middle;
		height: 25px;
	}
	.form-check-label {
		padding-left: 1rem;
		font-size: 1.5rem;
	}

}
