/* Claro width overwrite */
:root {
  --layout-region-edit-width: 100%;
  --layout-region-edit-extended-width: 100%;
}

@media (min-width: 61rem) {
  .layout-form {
    display: block;
  }
  .layout-node-form {
      grid-template-columns: 100%;
  }
}

.layout-region--node-main .layout-region__content,
.layout-region--node-footer .layout-region__content {
    max-width: none;
}

/* CLARO CHOSEN CSS */
.form-element.chosen-container-single {
    padding: 0;
}

.form-element.chosen-container-single .chosen-single {
    min-width: 160px;
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 1.5rem;
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
}

.form-element.chosen-container-single .chosen-single b {
    background: none !important;
}

.form-element.chosen-container-multi {}

.form-element.chosen-container-multi .chosen-choices {
    min-width: 160px;
    border: 0 none;
    background: none;
    box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background: none !important;
    border: 0 none !important;
}

.chosen-container-multi.chosen-with-drop .chosen-drop {
    left: 0;
}



/* TODO: tweaks to adjust hidden chosen fields and weird extra padding */

.js .vertical-tabs .vertical-tabs__item {
    overflow:visible !important;
}

.claro-details__wrapper--vertical-tabs-item::before {
    display:none !important;
}

.js .paragraph-top {
    -ms-grid-columns: auto auto 1fr auto;
    grid-template-columns: auto auto 1fr auto;
}


/* Add transparency layer behind images in Media Library */
.media-library-item__attributes {
  width: 100%;
  min-height: 1.75rem;
}

.media-library-item__preview .field--name-thumbnail img,
.media-library-item__preview .field--name-field-media-file img {
  height: 11.25rem;
  object-fit: contain;
  object-position: center center;
  width: 100%;
}

.media-library-item--grid .media-library-item__preview .field--name-thumbnail,
.media-library-item--grid .media-library-item__preview .field--name-field-media-file {
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.media-library-item__preview {
  background-color: transparent;
  background-image:
    linear-gradient(-45deg, var(--color-pattern) 25%, transparent 26%),
    linear-gradient(-45deg, var(--color-pattern) 25%, transparent 26%),
    linear-gradient(135deg, var(--color-pattern) 25%, transparent 26%),
    linear-gradient(135deg, var(--color-pattern) 25%, transparent 26%);
  background-position:
    0 0,
    var(--size-pattern-square) var(--size-pattern-square),
    var(--size-pattern-square) var(--size-pattern-square),
    0 0;
  background-size: calc(var(--size-pattern-square) * 2) calc(var(--size-pattern-square) * 2);
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.media-library-item__preview-wrapper {
  height: 100%;
  position: relative;
  border-radius: 2px;
  box-shadow: var(--details-box-shadow);
  border: 1px solid #dbdbdb;
  overflow: hidden;
  margin-bottom: 1rem;
  max-width: 225px;
}

.media-library-item .media-library-item__preview-wrapper {
  max-width: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
}

.media-library-item__preview div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
