.layout-region--node-main, .layout-region--node-footer {
    float: unset;
    width: 100%;
}

.layout-region--node-secondary {
    float: unset;
    width: 100%;
}

.layout-region--node-main .layout-region__content,
.layout-region--node-footer .layout-region__content {
    max-width: none;
}