parameters:
	ignoreErrors:
		-
			message: "#^Call to static method decode\\(\\) on an unknown class kornrunner\\\\Blurhash\\.$#"
			count: 1
			path: web/modules/contrib/blurhash/src/BlurhashService.php

		-
			message: "#^Call to static method encode\\(\\) on an unknown class kornrunner\\\\Blurhash\\.$#"
			count: 1
			path: web/modules/contrib/blurhash/src/BlurhashService.php

		-
			message: "#^Parameter \\$file of method Drupal\\\\blurhash\\\\BlurhashService\\:\\:fromFile\\(\\) has invalid type Drupal\\\\file\\\\Entity\\\\File\\.$#"
			count: 1
			path: web/modules/contrib/blurhash/src/BlurhashService.php

		-
			message: "#^Parameter \\$file of method Drupal\\\\blurhash\\\\BlurhashServiceInterface\\:\\:fromFile\\(\\) has invalid type Drupal\\\\file\\\\Entity\\\\File\\.$#"
			count: 1
			path: web/modules/contrib/blurhash/src/BlurhashServiceInterface.php
