.view-executive-ed-program-finder {
    background: $dark-gray;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    //background-image: url('../images/bg/program-finder_bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    .view-header {
        color: $white;
        padding: 1rem 3rem;
    }
    .view-filters {
        padding: 0 3rem;
        .form-row {
            > fieldset,
            .form-actions {
                @include make-col(12);
                @include media-breakpoint-up(md){
                    @include make-col(6);
                }
            }
            .form-item-field-ee-business-topic-target-id,
            .form-item-field-ee-level-target-id {
                @include media-breakpoint-up(lg){
                    @include make-col(6);
                }
                @include media-breakpoint-up(md){
                    @include make-col(6);
                }
            }
            .form-item-sort-bef-combine,
            .form-item-field-ee-course-location-value,  
            div[id^='edit-actions'] {
                @include media-breakpoint-up(lg){
                    @include make-col(4);
                }
                @include media-breakpoint-up(md){
                    @include make-col(4);
                }
            }
        }
        select.form-control {
            background-color: $header-gray;
            height: 7rem;
        }
        .form-group input[type="submit"] {
            @include button-solid($submit-gold);
            margin-top: 0;
            padding: 2.1rem 3rem;
            padding: 1.5rem 3rem;
            margin: 0.6rem 0rem;
        
            color: $maroon;
            // &:hover {
            //     background: $maroon;
            // }
        }
        label {
            display: none;
        }
    }
    .view-content, nav {
        background: $white;
    }
    @include media-breakpoint-up(lg) {
        .form-actions {
            margin-left: auto;
            margin-right: auto;
        }
    }
}