.faculty-directory {
	@include media-breakpoint-up(md) {
		.faculty-profile__teaser {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.view-filters {
		border-style: solid;
		border-color: $light-gray;
		border-width: 1px 0;
		margin-bottom: 4.5rem;
		.accordion {
			padding: 0;
			margin: 0;
			.card {
				.card-header {
					border-top: 0;
					@include media-breakpoint-up(lg){
						display: none;
					}
					.btn-link {
						background: transparent;
						padding-left: 5.5rem;
						color: $maroon;
						text-transform: uppercase;
						font-family: $font-lato;
						font-size: 1.6rem;
						&::before {
							@include accordion-minus($slate);
							left: 0.5rem;
						}
						&.collapsed {
							&::before {
								@include plus-icon($slate);
								top: 2.2rem;
							}
						}
					}
				}
				.card-body {
					padding: 1.25rem 0;
				}
				.inner {
					background-image: none;
					&.show {
						background-image: none;
					}
					@include media-breakpoint-up(lg){
						opacity: 1;
						display: block;
					}
				}
			}
		}
		.form-row {
			display: flex;
			justify-content: center;
			flex-direction: column;
			@include media-breakpoint-up(lg){
				flex-direction: row;
			}
			> fieldset {
				@include media-breakpoint-up(lg){
					margin-right: .5rem;
				}
			}
			input[type="submit"] {
				margin: 0;
				padding: 1rem;
			}
			#edit-actions {
				width: 100%;
				@include media-breakpoint-up(lg){
					width: auto;
				}
			}
		}
	}
}