/* Views page */
.news-hub-search {
	/* Cards */
	// .card-columns {
    // column-gap: 3rem;
    // @include media-breakpoint-up(md) {
    // 	column-count: 2;
    // }
    // @include media-breakpoint-up(lg) {
    // 	column-count: 3;
    // }
    // .card {
    // 	margin-bottom: 3rem;
	// }
	margin-top: 1rem;

	.card-columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card {
			box-sizing: border-box;
			margin: 0 .25rem 2rem;
			flex: 100%;
		}

		@include media-breakpoint-up(lg) {
			.card {
				max-width: calc(50% - 1rem);
			}
		}
		@include media-breakpoint-up(xl) {
			.card {
				max-width: calc(33% - 1rem);
			}
		}
	}

	/* Header */
	header {
		h1 {
		  font-size: $font-medium-mobile;

		  @include media-breakpoint-up(lg) {
		    font-size: $font-medium;
		  }
		}
	}
	&__link {
		font-size: 1.5rem;
		padding: 1.5rem 1rem;
		text-transform: uppercase;
	}
	&.centennial-hub {
		header {
			h1 {
				@include font-lato-base();
				text-align: center;
				color: $maroon;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 2rem;
				letter-spacing: 1.17px;
			}
		}		
	}
	/* Filters */
	&__filter {
		padding: 0px 10px;

		.form-group input[type="submit"] {
			transition: none;
			&:hover {
				transition: all 0.3s ease-in-out;
			}
			&#edit-reset {
				color: #7a0019;
				height: auto;
				line-height: 2.4rem;
				padding: 0rem;
				background: none;
				border: none;
				text-align: right;
				box-shadow: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.form-group select {
			//display: none;
		}
		.form-item-search-api-fulltext,
		.form-item-keyword {
			width: 100%;
		}
		#edit-search-api-fulltext,
		#edit-keyword {
			background-image: url(../images/svg/spy-glass-maroon.svg);
			background-repeat: no-repeat;
			padding-left: 40px;
			background-position: 10px;
		}
		fieldset.form-type-select {
			width: 100%;
		}
		.chosen-container {
			width: 100% !important;
			border-color: #e6d8d6;
			margin-top: 0;
			height: 3.8rem;
			line-height: 3.8rem;
			font-size: 1.6rem;
			color: #5A5450;
			border-radius: 0.25rem;
		}
		@include media-breakpoint-up(md) {
			fieldset.form-type-select {
				width: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			fieldset.form-type-select {
				width: 100%;
			}
		}
		label {
			display: none;
			font-weight: normal;
		}
		#edit-actions {
			border-bottom: 1px solid $light-gray;
    		padding-bottom: 20px;
			@include media-breakpoint-up(lg) {
				width: 100%;
			}
		}
		#edit-submit-hub-search-page {
			@include button-outline($maroon);
			background: $white;
			width: 100%;
		}

		#edit-keyword,
		select.form-control {
			color: $dark-gray;
			font-family: "Lato",Arial,Verdana,sans-serif;
		}

		.chosen-container-multi .chosen-choices {
			border-color: $light-gray;
			li.search-choice  {
				line-height: 24px;
			}
			li.search-field input[type=text],
			.form-control {
				color: $dark-gray;
				font-family: "Lato",Arial,Verdana,sans-serif;
			}
		}
	}
	/* Content */
	&__results {
		margin-top: 0rem;
		@include media-breakpoint-up(md) {
			margin-top: 0rem;
		}
		nav {
			width: 100%;
		}
	}
	/* Centennial */
	&__centennial-footer {
		background: $mid-gray;
	}
}