/* Views page */
.news-hub-search {
	/* Cards */
	// .card-columns {
    // column-gap: 3rem;
    // @include media-breakpoint-up(md) {
    // 	column-count: 2;
    // }
    // @include media-breakpoint-up(lg) {
    // 	column-count: 3;
    // }
    // .card {
    // 	margin-bottom: 3rem;
	// }
	margin-top: 1rem;

	.card-columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card {
			box-sizing: border-box;
			margin: 0 .25rem 2rem;
			flex: 100%;
			flex-basis: 100%;
			flex-grow: 0;
		}

		@include media-breakpoint-up(lg) {
			.card {
				flex-basis: calc(50% - 1.2rem);
			}
		}
		@include media-breakpoint-up(xl) {
			.card {
				flex-basis: calc(33.3333% - 1.5rem);
			}
		}
	}

	&.in-the-media {
		.in-the-media__header {
			text-align: center;
			padding-bottom: 3rem;
			border-bottom: 1px solid $light-gray;
			margin-bottom: 3rem;
			p {
				max-width: 1080px;
				margin: auto;
				@include font-lato-base();
			}
		}
		.card-columns {
			.card {
				.card__body {
					margin: 2rem;
					h3.card__title {
						margin-left: 0;
					}
				}
				&.hub-card--news,
				&.hub-card--video,
				&.hub-card--blog {
					border-bottom: none;
					.card__title--link::after{
							content: unset;
					}
				}
				margin: 0.5rem 0 ;
				h4.card__source {
					font-family: "Lato",Arial,Verdana,sans-serif;
					font-size: 1.5rem;
					text-transform: uppercase;
					font-weight: bolder;
				}
				.card__text {
					font-family: "Lato",Arial,Verdana,sans-serif;
					font-size: 1.5rem;
					text-transform: uppercase;
					font-weight: bolder;
					color: $maroon;
					margin: 0rem;
				}
				.card__bar {
					margin: 0.5rem 0;
					width: 20rem;
					border: 3px solid $maroon;
					border-radius: 3px 3px 3px 3px;
				}

			}
			@include media-breakpoint-up(lg) {
				.card {
					max-width: calc(50% - 1rem);
				}
			}
			@include media-breakpoint-up(xl) {
				.card {
					max-width: calc(50% - 1rem);
				}
			}
		}
	}

	/* Header */
	header {
		h1 {
		  font-size: $font-medium-mobile;

		  @include media-breakpoint-up(lg) {
		    font-size: $font-medium;
		  }
		}
	}
	&__link {
		font-size: 1.5rem;
		padding: 1.5rem 1rem;
		text-transform: uppercase;
	}
	&.centennial-hub, &.in-the-media {
		header {
			h1 {
				@include font-lato-base();
				text-align: center;
				color: $maroon;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 2rem;
				letter-spacing: 1.17px;
			}
		}		
	}
	/* Filters */
	&__filter {
		padding: 0px 10px;

		.form-group input[type="submit"] {
			transition: none;
			&:hover, &:focus {
				transition: all 0.3s ease-in-out;
			}
			&#edit-reset {
				color: #7a0019;
				height: auto;
				line-height: 2.4rem;
				padding: 0rem;
				background: none;
				border: none;
				text-align: right;
				box-shadow: none;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		.form-group select {
			//display: none;
		}
		.form-item-search-api-fulltext,
		.form-item-keyword {
			width: 100%;
		}
		#edit-search-api-fulltext,
		#edit-keyword {
			background-image: url(../images/svg/spy-glass-maroon.svg);
			background-repeat: no-repeat;
			padding-left: 40px;
			background-position: 10px;
		}
		fieldset.form-type-select {
			width: 100%;
		}
		.chosen-container {
			width: 100% !important;
			border-color: #e6d8d6;
			margin-top: 0;
			min-height: 3.8rem;
			line-height: 3.8rem;
			font-size: 1.6rem;
			color: #5A5450;
			border-radius: 0.25rem;
		}
		@include media-breakpoint-up(md) {
			fieldset.form-type-select {
				width: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			fieldset.form-type-select {
				width: 100%;
			}
		}
		label {
			display: none;
			font-weight: normal;
		}
		#edit-actions {
			border-bottom: 1px solid $light-gray;
    		padding-bottom: 20px;
			@include media-breakpoint-up(lg) {
				width: 100%;
			}
		}
		#edit-submit-hub-search-page {
			@include button-outline($maroon);
			background: $white;
			width: 100%;
		}

		#edit-keyword,
		select.form-control {
			color: $dark-gray;
			font-family: $font-lato;
		}

		.chosen-container-multi .chosen-choices {
			border-color: $light-gray;
			li.search-choice  {
				line-height: 24px;
			}
			li.search-field input[type=text],
			.form-control {
				color: $dark-gray;
				font-family: $font-lato;
			}
		}
	}
	/* Content */
	&__results {
		margin-top: 0rem;
		@include media-breakpoint-up(md) {
			margin-top: 0rem;
		}
		nav {
			width: 100%;
		}
	}
	/* Centennial */
	&__centennial-footer {
		background: $mid-gray;
	}
}

.featured-news-header {
    font-family: $font-lato;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight:bolder;
    color: $maroon;
}
.featured-news-line {
    border-color: $maroon;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: 1rem;
    width: 20rem;
}