#block-views-block-student-profiles-block-1 {
	margin-top: 4rem;
	h2 {
		text-align: center;
		@include heading-title($font-medium,$gold, 'center');
	}
}
.student-ambassadors {
	&__item {
		margin-bottom: 3rem;
		img {
			@include profile-image-box-shadow();
		}
		a {
			color: $slate;
		}
        &--name {
            margin:1rem 3rem 1rem 5rem;
            @include serif-font($font-small);
            color: $slate;
            display: block;
            &:hover,
            &:active,
            &:focus {
                color: $maroon;
            }
            &::before {
                content: '';
                position: absolute;
                width: 2px;
                left: 45px;
                background: #FFCC33;
                height: 100px;
                bottom: 30px;
            }
        }
	}
}