/**
 * @file
 * Styling for Views in Bartik.
 */

.views-element-container {
  width: 100%;
}

/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $link-color;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: #F9F9F9;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $link-color;
}
/* Misc overrides */
.node__content .view-list-format ul:not([class]) li:before {
	top: 1.1em;
}
.views-block-title {
	@include serif-font($font-medium);
	margin-bottom: 3.7rem;
	margin-left: 1.5rem;
}
.block-views {
    .more-link {
        padding-left: 0;
        a {
            @include button-link-secondary();
            display: inline-block;
        }
    }
}