.dropbutton {
  border: 1px solid transparent;
  background-color: #7a0019; }
  .dropbutton,
  .dropbutton li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .dropbutton li,
  .dropbutton a {
    display: block;
    outline: none;
    color: #fff; }
  .dropbutton a:hover,
  .dropbutton a:focus {
    outline: initial;
    text-decoration: none; }
  .dropbutton a:hover {
    color: #fff;
    background-color: #47000f;
    text-decoration: none; }
  .dropbutton li:not(.dropbutton-toggle) a {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    white-space: nowrap; }
  .dropbutton-wrapper, .dropbutton-widget {
    position: relative;
    display: block; }
  .dropbutton-wrapper,
  .dropbutton-wrapper div {
    box-sizing: border-box; }
  .dropbutton-widget {
    background-color: #7a0019;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0.125em 0;
    overflow: hidden; }
  .dropbutton-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 2em;
    white-space: nowrap;
    text-indent: 110%;
    border-left: 1px solid; }
    .dropbutton-toggle button {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 1.3rem .5rem;
      cursor: pointer;
      border: 0;
      background: #7a0019; }
      .dropbutton-toggle button:hover, .dropbutton-toggle button:focus {
        outline: initial; }
      .dropbutton-toggle button:hover {
        background-color: #47000f; }
  .dropbutton-arrow {
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    line-height: 0;
    background-image: url("data:image/svg+xml,%3Csvg class='icon-chevron-down-sm' aria-hidden='true' focusable='false' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='1.75'%3E%3Cpath d='M5 8L10 12L15 8'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .open .dropbutton-arrow {
      background-image: url("data:image/svg+xml,%3Csvg class='icon-chevron-up-sm' aria-hidden='true' focusable='false' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='1.75'%3E%3Cpath d='M5 12L10 8L15 12'/%3E%3C/svg%3E%0A"); }
  .dropbutton-multiple .dropbutton-action > * {
    margin-right: 30px; }
  .dropbutton-multiple .secondary-action {
    display: none; }
  .dropbutton-multiple.open {
    z-index: 100;
    max-width: none; }
    .dropbutton-multiple.open .dropbutton-widget {
      max-width: none; }
    .dropbutton-multiple.open .dropbutton .secondary-action {
      display: block; }
  .dropbutton .secondary-action {
    border-top: 1px solid #f0efee; }

td .dropbutton-wrapper {
  min-height: 2em; }

td .dropbutton-widget {
  position: absolute; }

td .dropbutton-multiple {
  padding-right: 10em;
  margin-right: 2em;
  max-width: 100%; }
  td .dropbutton-multiple .dropbutton-widget {
    position: absolute; }
  td .dropbutton-multiple .dropbutton-action a,
  td .dropbutton-multiple .dropbutton-action input,
  td .dropbutton-multiple .dropbutton-action button {
    width: auto; }

.form-actions .dropbutton-widget {
  position: static; }

@media screen and (max-width: 600px) {
  .dropbutton-wrapper {
    width: 100%; } }

@media screen and (min-width: 600px) {
  .form-actions .dropbutton-wrapper {
    float: left; } }

/*# sourceMappingURL=dropbutton.css.map */