.node__content:not(.ee-program) .hero-program video {
  position: absolute;
  width: 100%;
  object-fit: cover; }

.node__content:not(.ee-program) .hero-program__img {
  margin-bottom: 3rem; }
  .node__content:not(.ee-program) .hero-program__img img {
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3); }
  .node__content:not(.ee-program) .hero-program__img--alumni {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 400px; }
    @media (min-width: 992px) {
      .node__content:not(.ee-program) .hero-program__img--alumni {
        height: 514px; } }
    .node__content:not(.ee-program) .hero-program__img--alumni img {
      box-shadow: none;
      padding-left: -15px; }

.node__content:not(.ee-program) .hero-program__image-overlay::after {
  content: "";
  background: url("../images/pattern.png") left top/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.node__content:not(.ee-program) .hero-program__content--wrapper {
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between; }
  .node__content:not(.ee-program) .hero-program__content--wrapper > div {
    flex: 1 1 auto; }
  .node__content:not(.ee-program) .hero-program__content--wrapper .container {
    margin-bottom: -45px; }
  @media (max-width: 1199.98px) {
    .node__content:not(.ee-program) .hero-program__content--wrapper {
      position: static; } }
  .node__content:not(.ee-program) .hero-program__content--wrapper--mobile {
    position: static; }

.node__content:not(.ee-program) .hero-program__content--lead-in {
  flex: 1 1; }

@media (min-width: 992px) {
  .node__content:not(.ee-program) .hero-program__content--alumni {
    position: relative;
    z-index: 20; } }

.node__content:not(.ee-program) .hero-program__title--no-bar {
  font-family: "Newsreader", serif;
  font-size: 3.4rem;
  line-height: 1.15em;
  font-weight: 300;
  word-break: break-word;
  font-size: 3.4rem;
  position: relative;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .node__content:not(.ee-program) .hero-program__title--no-bar {
      font-size: 4.2rem; } }

.node__content:not(.ee-program) .hero-program__title {
  font-family: "Newsreader", serif;
  font-size: 3.4rem;
  line-height: 1.15em;
  font-weight: 300;
  word-break: break-word;
  font-size: 3.4rem;
  position: relative;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .node__content:not(.ee-program) .hero-program__title {
      font-size: 4.2rem; } }
  .node__content:not(.ee-program) .hero-program__title::after {
    content: "";
    height: 2px;
    width: 100px;
    display: block;
    background: #7a0019;
    margin-top: 1.6rem; }

.node__content:not(.ee-program) .hero-program__link {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.5;
  margin-top: 1rem;
  font-weight: 700;
  color: #363230;
  letter-spacing: 1.78px;
  display: inline-block; }
  @media (min-width: 992px) {
    .node__content:not(.ee-program) .hero-program__link {
      margin-right: 41px; } }
  .node__content:not(.ee-program) .hero-program__link:hover, .node__content:not(.ee-program) .hero-program__link:focus {
    text-decoration: none;
    color: #7a0019; }
  .node__content:not(.ee-program) .hero-program__link svg {
    margin-bottom: 3px; }

.node__content:not(.ee-program) .hero-program__link-inner {
  background-color: #fc3;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 20px 30px; }
  .node__content:not(.ee-program) .hero-program__link-inner--alumni {
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 20px 30px; }
    @media (min-width: 992px) {
      .node__content:not(.ee-program) .hero-program__link-inner--alumni {
        padding: 40px 60px;
        width: calc(100% + 150px); } }

@media (min-width: 992px) {
  .node__content:not(.ee-program) .hero-program__title {
    margin-top: 2rem; }
  .node__content:not(.ee-program) .hero-program__link {
    text-align: right; } }

/*# sourceMappingURL=hero-program.css.map */