.hub-card--news,
.hub-card--video,
.hub-card--blog {
  border: 0;
  border-bottom: 5px solid;
  border-bottom-color: #7a0019;
  background-color: #f0f0f0; }
  .hub-card--news:hover, .hub-card--news:focus,
  .hub-card--video:hover,
  .hub-card--video:focus,
  .hub-card--blog:hover,
  .hub-card--blog:focus {
    border-bottom-color: #fc3; }

.hub-card--news,
.hub-card--event,
.hub-card--video,
.hub-card--post,
.hub-card--blog {
  display: inline-block;
  width: 100%; }
  .hub-card--news .card,
  .hub-card--event .card,
  .hub-card--video .card,
  .hub-card--post .card,
  .hub-card--blog .card {
    position: relative; }
    .hub-card--news .card__title,
    .hub-card--event .card__title,
    .hub-card--video .card__title,
    .hub-card--post .card__title,
    .hub-card--blog .card__title {
      font-family: "Newsreader", serif;
      font-size: 2rem;
      line-height: 125%;
      margin: 1.25rem 0; }
      @media (min-width: 992px) {
        .hub-card--news .card__title,
        .hub-card--event .card__title,
        .hub-card--video .card__title,
        .hub-card--post .card__title,
        .hub-card--blog .card__title {
          font-size: 2.5rem;
          line-height: 125%; } }
      .hub-card--news .card__title--link,
      .hub-card--event .card__title--link,
      .hub-card--video .card__title--link,
      .hub-card--post .card__title--link,
      .hub-card--blog .card__title--link {
        color: #363230; }
        .hub-card--news .card__title--link:hover,
        .hub-card--event .card__title--link:hover,
        .hub-card--video .card__title--link:hover,
        .hub-card--post .card__title--link:hover,
        .hub-card--blog .card__title--link:hover {
          transition: color 0.3s ease-in-out;
          text-decoration: none;
          color: #7a0019; }
    .hub-card--news .card__text,
    .hub-card--event .card__text,
    .hub-card--video .card__text,
    .hub-card--post .card__text,
    .hub-card--blog .card__text {
      margin: 1rem; }
    .hub-card--news .card__link,
    .hub-card--event .card__link,
    .hub-card--video .card__link,
    .hub-card--post .card__link,
    .hub-card--blog .card__link {
      font-family: "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
      font-weight: 700;
      letter-spacing: 1.78px;
      color: #7a0019;
      text-transform: uppercase;
      margin: 1.5rem 1rem; }
  .hub-card--news:hover, .hub-card--news:focus,
  .hub-card--event:hover,
  .hub-card--event:focus,
  .hub-card--video:hover,
  .hub-card--video:focus,
  .hub-card--post:hover,
  .hub-card--post:focus,
  .hub-card--blog:hover,
  .hub-card--blog:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out; }

.hub-card--event .card__date {
  background-color: #7a0019;
  background-blend-mode: multiply;
  background-size: cover; }
  .hub-card--event .card__date .date-cal {
    padding-top: 20%; }
    .hub-card--event .card__date .date-cal__item {
      margin: 0 auto;
      width: 120px; }
      .hub-card--event .card__date .date-cal__item--day {
        color: #fc3;
        font-size: 9rem;
        line-height: 9rem; }
      .hub-card--event .card__date .date-cal__item--month {
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: 1.89px;
        color: #fff; }
        .hub-card--event .card__date .date-cal__item--month::after {
          background: #fff;
          height: 5px;
          margin-top: 2.2rem; }

.hub-card--video .card__img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../images/news-hub-video.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.3s ease-in-out; }

.hub-card--video:hover .card__img::before, .hub-card--video:active .card__img::before, .hub-card--video:focus .card__img::before {
  background-image: url("../images/news-hub-video-gold.svg"); }

.hub-card--blog .card__body.no-img {
  padding-top: 40px; }

.hub-card--blog .card__body::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  height: 35px;
  width: 35px;
  background-image: url("../images/news-hub-blog.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.card__tags .card__tag {
  display: inline-block;
  width: min-content;
  font-size: 1.4rem;
  padding: 3px 6px;
  margin-bottom: 5px;
  background-color: #e6e0d2;
  color: black;
  white-space: nowrap; }

/*# sourceMappingURL=hub-card.css.map */