.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6; }
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5; }

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5; }

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem; }

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

.pagination {
  position: relative;
  justify-content: center; }
  .pagination .page-item .page-link {
    border: 0;
    color: #7a0019;
    text-decoration: underline; }
  .pagination .page-item.active .page-link {
    color: #363230;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none; }
  .pagination .page-item--go-to-previous, .pagination .page-item--go-to-next {
    padding: 0 1px; }
    .pagination .page-item--go-to-previous .page-link, .pagination .page-item--go-to-next .page-link {
      font-size: 4rem;
      line-height: 5.8rem;
      vertical-align: middle;
      text-decoration: none;
      border: 1px solid #e6d8d6;
      border-radius: 4rem;
      height: 6.5rem;
      width: 6.5rem; }
      .pagination .page-item--go-to-previous .page-link,
      .pagination .page-item--go-to-previous .page-link span, .pagination .page-item--go-to-next .page-link,
      .pagination .page-item--go-to-next .page-link span {
        display: flex;
        justify-content: center;
        align-items: center; }
    .pagination .page-item--go-to-previous.disabled, .pagination .page-item--go-to-next.disabled {
      cursor: not-allowed; }
      .pagination .page-item--go-to-previous.disabled .page-link, .pagination .page-item--go-to-next.disabled .page-link {
        opacity: 0.2;
        border-color: #212529;
        color: #212529; }
  .pagination .page-item--ellipses {
    font-weight: 700; }
  .pagination.full-pagination {
    margin: 0 -2.3rem;
    padding: 9rem 0; }
    @media (min-width: 576px) {
      .pagination.full-pagination {
        margin: 0;
        padding: 2rem 0; } }
    .pagination.full-pagination .page-item--go-to-previous, .pagination.full-pagination .page-item--go-to-next {
      position: absolute;
      left: calc(50% - 4rem); }
      @media (min-width: 576px) {
        .pagination.full-pagination .page-item--go-to-previous, .pagination.full-pagination .page-item--go-to-next {
          position: relative;
          left: unset; } }
    .pagination.full-pagination .page-item--go-to-previous {
      top: 1rem; }
      @media (min-width: 576px) {
        .pagination.full-pagination .page-item--go-to-previous {
          top: -1.5rem;
          margin-right: 4rem; } }
    .pagination.full-pagination .page-item--go-to-next {
      bottom: 1rem; }
      @media (min-width: 576px) {
        .pagination.full-pagination .page-item--go-to-next {
          bottom: unset;
          top: -1.5rem;
          margin-left: 4rem; } }
  .pagination.mini-pagination {
    margin: 0;
    padding: 2rem 0; }
    .pagination.mini-pagination .page-item--go-to-previous {
      top: -1.5rem;
      margin-right: 4rem; }
    .pagination.mini-pagination .page-item--go-to-next {
      bottom: unset;
      top: -1.5rem;
      margin-left: 4rem; }
    .pagination.mini-pagination .page-item .page-link {
      line-height: 5.3rem; }

/*# sourceMappingURL=pagination.css.map */