.site-nav {
  display: none; }
  @media (min-width: 992px) {
    .site-nav {
      display: block; } }
  .site-nav__p, .site-nav__s {
    position: relative; }
  .site-nav__p {
    background-color: #7a0019;
    color: #fff;
    z-index: 35; }
  .site-nav__s {
    background-color: #e6e0d2;
    color: #1a1a1a; }
  .site-nav__sbl {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
  .site-nav__mbl {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    @media (min-width: 992px) {
      .site-nav__mbl {
        display: none; } }
  .site-nav__ddt {
    appearance: none;
    border: 0;
    background: none;
    color: #8a8a8a;
    padding: 1.4rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .site-nav__p + .site-nav__s {
    z-index: 30; }
  .site-nav__i {
    padding: 0;
    max-width: 1340px;
    margin: 0 auto; }
  .site-nav__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
  .site-nav__li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    position: relative; }
    @media (min-width: 1200px) {
      .site-nav__li + .site-nav__li {
        margin-left: 1rem; } }
    .site-nav__li svg {
      margin-bottom: 2px; }
  .site-nav__pl-btn, .site-nav__pl-lnk, .site-nav__sl-btn, .site-nav__sl-lnk {
    appearance: none;
    color: inherit;
    border: 0;
    background: none;
    display: block;
    padding: 1.4rem 2.5rem;
    margin: 0;
    font: inherit;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 120ms ease-out, color 120ms ease-out;
    position: relative;
    background-color: transparent;
    text-decoration: none; }
    .site-nav__pl-btn.is-active, .site-nav__pl-lnk.is-active, .site-nav__sl-btn.is-active, .site-nav__sl-lnk.is-active {
      text-decoration: underline; }
    .site-nav__pl-btn.in-active-trail, .site-nav__pl-lnk.in-active-trail, .site-nav__sl-btn.in-active-trail, .site-nav__sl-lnk.in-active-trail {
      font-weight: 700; }
    .site-nav__pl-btn:has(+ .dropdown-toggle), .site-nav__pl-lnk:has(+ .dropdown-toggle), .site-nav__sl-btn:has(+ .dropdown-toggle), .site-nav__sl-lnk:has(+ .dropdown-toggle) {
      padding-right: 0; }
  .site-nav__pl-btn:hover, .site-nav__pl-lnk:hover {
    text-decoration: none; }
  .site-nav__pl-btn.has-dropdown::before, .site-nav__pl-lnk.has-dropdown::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 120ms ease-out;
    background-color: #973c49; }
  .site-nav__pl-btn.has-dropdown:not([aria-expanded="true"]):hover::before, .site-nav__pl-lnk.has-dropdown:not([aria-expanded="true"]):hover::before {
    height: 0.4rem; }
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-btn.in-active-trail),
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-lnk.in-active-trail),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-btn[aria-expanded="true"]),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-lnk[aria-expanded="true"]) {
    color: #000;
    background-color: #e6e0d2; }
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-btn:hover),
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-lnk:hover),
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-btn:focus),
  .site-nav :where(.site-nav__ul:not(:has(.show))) :where(.site-nav__pl-lnk:focus),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-btn:not([aria-expanded="true"]):hover),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-lnk:not([aria-expanded="true"]):hover),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-btn:not([aria-expanded="true"]):focus),
  .site-nav :where(.site-nav__ul:has(.show)) :where(.site-nav__pl-lnk:not([aria-expanded="true"]):focus) {
    color: #fff;
    background-color: #973c49;
    z-index: 1001; }
  .site-nav__pl-btn {
    padding: 1.4rem 1.6rem; }
    .site-nav__pl-btn--apply {
      padding: 1.4rem 0; }
      .site-nav__pl-btn--apply:hover, .site-nav__pl-btn--apply:focus, .site-nav__pl-btn--apply.in-active-trail {
        background-color: transparent; }
      .site-nav__pl-btn--apply.is-active {
        text-decoration: none; }
  .site-nav__pl-btn-inner {
    padding: 4px 10px;
    margin: -2px 0;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 1px solid currentColor;
    display: flex;
    gap: 4px; }
    @media (min-width: 992px) and (max-width: 1100px) {
      .site-nav__pl-btn-inner {
        font-size: 1.2rem; } }
    .site-nav__pl-btn-inner svg {
      margin-bottom: 0;
      height: 1.5em; }
    .site-nav__pl-btn-inner--apply {
      color: #7a0019;
      border-color: #fc3;
      background-color: #fc3;
      text-transform: none; }
  .site-nav__sl a {
    display: inline-block;
    color: inherit;
    font-size: 1.8rem;
    padding: 1.4rem 2.5rem;
    margin: 0;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 700; }
    .site-nav__sl a:hover {
      color: inherit; }
  .site-nav__sl-btn:hover, .site-nav__sl-lnk:hover {
    color: #000; }
  @media (min-width: 992px) and (max-width: 1100px) {
    .site-nav__pl-btn, .site-nav__pl-lnk, .site-nav__sl-btn, .site-nav__sl-lnk,
    .site-nav__sl a {
      font-size: 1.6rem;
      padding: 1.4rem 2rem; } }

/*# sourceMappingURL=site-nav.css.map */