@import "../../abstracts/variables";
@import "bootstrap/scss/mixins/breakpoints";

.front-top-features {
  min-height: 42.8571vw;

  @include media-breakpoint-up(xl) {
    min-height: 500px;
  }

  &__image-overlay {
    @include media-breakpoint-up(lg) {
      position: absolute !important;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
    }

    &.right svg {
      transform: scaleX(-1);
      left: initial;
      right: 0;
    }
  }
}
