@import "../../abstracts/variables";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/mixins";

.programs {
  &__item {
    position: relative;

    &__link {
      clip-path: polygon(
        0 0,
        calc(100% - 45px) 0%,
        100% 25px,
        100% 100%,
        0 100%
      );

      &,
      &:hover {
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(lg) {
      .embed-responsive {
        &::before {
          padding-top: 56.25%;
        }
      }
    }
  }
}
