@import "../../abstracts/variables";
@import "bootstrap/scss/mixins/breakpoints";

.quote-group {
  .slick-list {
    max-width: 100vw;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    width: 100%;
  }

  .slick-dots {
    margin-top: -5rem;
    margin-bottom: 3rem;
    position: relative;
  }

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

  .slide {
    height: inherit !important;
  }

  img {
    height: 100%;
  }
}

.quote {
  @include media-breakpoint-up(lg) {
    &__content {
      clip-path: polygon(0 60px, 60px 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
