@import "../../abstracts/import";
@import "../../abstracts/extensions";

.slideshow__main-caption {
  @extend %figcaption;
  margin-top: -15px;
}

.carlson-slideshow {
  .slick-arrow {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-prev {
    margin-left: 5px;
  }

  .slick-next {
    margin-right: 5px;
  }

  .slick-prev-icon,
  .slick-next-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $maroon;
    font-size: 1.8rem;
    font-weight: 700;

    &::before {
      font-family: "carlson-icons" !important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .slick-prev-icon::before {
    @include carlson-icons($icon-arrow-left2);
  }

  .slick-next-icon::before {
    @include carlson-icons($icon-arrow-right2);
  }

  @include media-breakpoint-up(lg) {
    .slick-arrow {
      width: 60px;
      height: 60px;
    }

    .slick-prev-icon,
    .slick-next-icon {
      font-size: 2.6rem;
    }
  }
}
