@import "../../abstracts/import";

@property --csom-stat-donut-percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --csom-stat-donut-percentage-100 {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.csom-stat-donut {
  // Override this with inline style attribute.
  --csom-stat-donut-percentage: 20;

  // Do not change these.
  --csom-stat-donut-percentage-100: 100;
  --csom-stat-donut-border-width: 22px;
  --csom-stat-donut-width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;

  &,
  &--col {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    .csom-banner--33-33 .section &,
    .csom-banner--33-66 .section &,
    .csom-banner--33-33-33 .section & {
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  &__circle {
    width: var(--csom-stat-donut-width);
    min-width: var(--csom-stat-donut-width);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    font-family: $font-family-sans-serif;
    text-align: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--csom-stat-donut-border-width)),
        #000 calc(100% - var(--csom-stat-donut-border-width))
      );
      mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--csom-stat-donut-border-width)),
        #000 calc(100% - var(--csom-stat-donut-border-width))
      );
    }

    &--maroon.animate {
      &::before {
        background:
          radial-gradient(farthest-side, transparent 98%, transparent)
            top/var(--csom-stat-donut-border-width)
            var(--csom-stat-donut-border-width) no-repeat,
          conic-gradient(
            $gold calc(var(--csom-stat-donut-percentage-100) * 1%),
            transparent 0
          );
        background-size:
          0 0,
          auto;
      }

      &::after {
        background:
          radial-gradient(farthest-side, $maroon-light 98%, transparent)
            top/var(--csom-stat-donut-border-width)
            var(--csom-stat-donut-border-width) no-repeat,
          conic-gradient(
            $maroon-light calc(var(--csom-stat-donut-percentage) * 1%),
            transparent 0
          );
        background-size:
          0 0,
          auto;
      }
    }

    &--gold.animate {
      &::before {
        background:
          radial-gradient(farthest-side, transparent 98%, transparent)
            top/var(--csom-stat-donut-border-width)
            var(--csom-stat-donut-border-width) no-repeat,
          conic-gradient(
            $white calc(var(--csom-stat-donut-percentage-100) * 1%),
            transparent 0
          );
        background-size:
          0 0,
          auto;
      }

      &::after {
        background:
          radial-gradient(farthest-side, $gold 98%, $white)
            top/var(--csom-stat-donut-border-width)
            var(--csom-stat-donut-border-width) no-repeat,
          conic-gradient(
            $gold calc(var(--csom-stat-donut-percentage) * 1%),
            transparent 0
          );
        background-size:
          0 0,
          auto;
      }
    }

    &.animate {
      &::before {
        animation: csom-stat-donut-animate-percent 0.8s 0.5s both ease-in-out;
      }

      &::after {
        animation: csom-stat-donut-animate-percent
          calc(var(--csom-stat-donut-percentage) * 0.008s) 0.5s both ease-in-out;
      }
    }
  }

  &__title {
    text-align: center;
    border: 0;
    margin: 0 0 0.8rem;
    padding: 0;
    font-family: $font-family-sans-serif;
    font-weight: 900;
  }

  &__description {
    padding: 15px;
    font-size: 1.3em;
  }

  &--row &__description {
    text-align: left;

    @media (max-width: 550px) {
      text-align: center;
      max-width: 340px;
    }
  }

  &--col &__description {
    text-align: center;
  }

  strong {
    color: $maroon;
  }

  .bg-primary &,
  &.bg-primary {
    background: $maroon;
    color: $white;

    strong {
      color: $gold;
    }
  }

  &__text,
  &__text-wrapper {
    line-height: 1em;
    display: block;
  }

  &__text-wrapper {
    padding: var(--csom-stat-donut-border-width);
  }

  &__text--14 {
    font-size: 1.4rem;
  }

  &__text--15 {
    font-size: 1.5rem;
  }

  &__text--16 {
    font-size: 1.6rem;
  }

  &__text--18 {
    font-size: 1.8rem;
  }

  &__text--20 {
    font-size: 2rem;
  }

  &__text--22 {
    font-size: 2.2rem;
  }

  &__text--24 {
    font-size: 2.4rem;
  }

  &__text--26 {
    font-size: 2.6rem;
  }

  &__text--28 {
    font-size: 2.8rem;
  }

  &__text--30 {
    font-size: 3rem;
  }

  &__text--32 {
    font-size: 3.2rem;
  }

  &__text--34 {
    font-size: 3.4rem;
  }

  &__text--36 {
    font-size: 3.6rem;
  }

}

@keyframes csom-stat-donut-animate-percent {
  from {
    --csom-stat-donut-percentage: 0;
    --csom-stat-donut-percentage-100: 0;
  }
}
