/**
 * @file
 * Visual styles for comments in Barrio.
 */

 /*
Alerts

Markup: ../../templates/components/alert.html.twig

.warning    - This is a warning message.
.happy      - This is a happy message.

Style guide: components.alerts
*/

.warning {
    background: red;
    color: $white;
}

.happy {
    background: purple;
    color: $white;
}