/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Alert

.warning   - This is a warning

Markup: <div class="alert {{modifier_class}}">This is an alert</div>

Style guide: components.alert
*/

.warning {
    background: red;
    color: $white;
}