/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Alert

.warning   - This is a warning

Markup: <div class="alert {{modifier_class}}">This is an alert</div>

Style guide: components.alert
*/

.alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.warning {
	background: red;
}