/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

 /*
Breadcrumb

.breadcrumb   - This is a breadcrumb

Markup: <div class="breadcrumb {{modifier_class}}">This is a breadcrump</div>

Style guide: components.breadcrumb
*/

.breadcrumb {
    font-size: 0.929em$font-size-sm;
}

.region-breadcrumb {
    padding: 0 15px 0.25em;
    width: 100%;
}