.carlson-nav {
    .region-we-mega-menu {
        width: 100%;
    }

    .we-mega-menu-li {
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: inherit;
        }
    }
}