/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.carlson-nav {
  .we-mega-menu-ul {
    .dropdown-menu {
      .dropdown-menu{
        &:first-child{
          >.we-mega-menu-submenu{
            border: 0px none;
            box-shadow: none !important;
            background: transparent !important;
            .nav-tabs:first-child{
              display: flex;
              justify-content: flex-start !important;
              align-items: flex-start !important;
              text-align: left !important;
              flex-direction: column;
              position: relative;
              float: left;
              width: 100%;
              border: 0px none;
              .we-mega-menu-li{
                &.active{
                  a{
                    &:after{
                      display: none !important;
                    }
                  }
                }
                &:first-child{
                  width: 100%;
                  display: flex;
                  justify-content: flex-start !important;
                }
              }
            }
          }
          .we-mega-menu-submenu-inner{
            padding-right: 15px;
            a{
              color: #363230;
              font-family: "Lato" !important;
              font-size: 14px !important;
              font-weight: 400 !important;
              line-height: 40px !important;
              text-transform: uppercase;
              letter-spacing: 1.5px;
              transition: all 0.3s ease-in-out;
              &:hover, &:focus, &:active{
                padding-left: 15px;
              }

            }

          }
        }
      }
    }
  }
}
.carlson-nav{
  .we-mega-menu-ul{
    position: static !important;
  }
  .nav-tabs{
    border-bottom: 0px none;
  }
  .dropdown-menu{
    position: static !important;
    border-left: 0px none;
    &:first-child > .we-mega-menu-submenu {
      background-color: #fff;
      box-shadow: 0 3px 15px rgba(0,0,0,0.11765) !important;
      width: 100%;
    }
    .we-mega-menu-submenu{
      width: 100% !important;
      overflow: hidden;
      padding-bottom: 100%;
      background-color: transparent;
      border: 0px none;
      box-shadow: none !important;

      .we-mega-menu-submenu-inner{
        width: 100%;
        float: left;
        .we-mega-menu-row{
          .we-mega-menu-col{
            .nav-tabs{
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              text-align: right;
              flex-direction: column;
              position: absolute;
              width: 50%;
              border-right: 1px solid #e6dbd6;
              .we-mega-menu-li{
                width: 100%;
                display: flex;
                justify-content: flex-end;

                a{
                  margin-right: 30px;
                  color: #363230;
                  font-family: "Crimson Text";
                  font-size: 30px;
                  font-weight: 400;
                  line-height: 48px;
                  cursor: pointer;
                  border: 0px none;
                  position: relative;
                  display: inline-block;
                  text-align: right;
                  width: auto;
                  &:before{
                    display: none;
                  }
                  &:hover, &:focus, &:active{
                    background-color: transparent;
                    color: #363230;
                    border: 0px none;
                  }
                }
                &.active{
                > a{
                    &:after{
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 10px;
                      background: #ffcc33;
                      display: block !important;
                      transform: rotate(0deg) !important;
                      top: 100%;
                      left: 0;
                      opacity: 1 !important;
                      z-index: -1;
                      margin-top: -1.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .dropdown-menu{
    margin-top: 0px !important;
  }
}

.carlson-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .navbar-brand{
    height: auto !important;
  }
  &.compressed{
    position: fixed;
    z-index: 7777;
    width: 100%;
    background: #fff;
    top: 64px;
  }
  .carlson-nav{
    padding: 15px 0;
  }
}

.umnhf-campus-tc{
  &.compressed{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0px;
  }
}
