/**
 * @file
 * Visual styles for comments in Barrio.
 */

/*
Stats

Markup: ../../templates/components/stats.html.twig

.stats  - This is a stats component

Style guide: components.stats
*/
.stats{
  background-image: linear-gradient(180deg, #f7f4f2 0%, #ffffff 100%);
  h2{
    color: #363230;
  font-family: "Crimson Text";
  font-size: 48px;
  font-weight: 400;
  line-height: 42px;
  }
  p{
    color: #363230;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  }
  .stats-col-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    div{
        .stats-col-container{
          box-shadow: 0 6px 30px rgba(230, 219, 214, 0.7);
          background-color: #f7f4f2;
          padding: 15px;
        h5{
          color: #7a0019;
          font-family: "Crimson Text";
          font-size: 80px;
          font-weight: 400;
          line-height: 60px;
        }
        p{
          color: #363230;
          font-family: "Lato";
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}
